{include file="public/layout" /}
<body>
<div class="layui-fluid" id="LAY-component-layer-list">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="web-system">
                    <div class="layui-tab layui-tab-card">
                        {include file="system/bar" /}
                        <div class="layui-tab-content" style="padding:10px 0">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md12">
                                        <div class="layui-card">
                                            <div class="layui-card-body" pad15>
                                                <div class="layui-form" wid100>
                                                    <div class="layui-form-item">
                                                        <label class="layui-form-label">会员中心</label>
                                                        <div class="layui-input-block">
                                                            <input type="checkbox" lay-filter="users_open_register" lay-skin="switch" lay-text="开启|关闭" {if condition="!isset($info.users_open_register) OR $info.users_open_register eq 1"}checked{/if}>
                                                            <input type="hidden" id="users_open_register" name="users[users_open_register]" value="{$info.users_open_register|default='0'}" />
                                                        </div>
                                                    </div>
                                                    <div class="layui-form-item">
                                                        <label class="layui-form-label">注册验证</label>
                                                        <div class="layui-input-inline" style="width: 430px;">
                                                            {volist name="users_verification_list" id="vo"}
                                                            <input type="radio"  name="users[users_verification]"  {eq name="$info.users_verification" value="$key"}checked="checked"{/eq} value="{$key}"  title="{$vo}">
                                                            {/volist}
                                                        </div>
                                                    </div>

                                                    <div class="layui-form-item layui-form-text ey-text">
                                                        <label class="layui-form-label">禁止注册用户名</label>
                                                        <div class="layui-input-inline">
                                                            <textarea id="users_reg_notallow" name="users[users_reg_notallow]" class="layui-textarea ey-input" placeholder="建议不超过200个字符" data-num="200">{$info.users_reg_notallow|default=''}</textarea>
                                                        </div>
                                                        <div class="layui-input-inline layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">前台注册时禁止注册的用户名列表，以逗号(,)分隔开</div>
                                                    </div>
                                                    <div class="layui-form-item ">
                                                        <label class="layui-form-label">订单有效时长</label>
                                                        <div class="layui-input-inline">
                                                            <input id="users_order_validity" style="width: 90%;float: left;" name="users[users_order_validity]" placeholder="以秒为单位"  value="{$info.users_order_validity|default='900'}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onpaste="this.value=this.value.replace(/[^0-9]/g,'');"  class="layui-input" type="text"/>
                                                            <span style="float: left;padding-left: 10px;">秒</span>
                                                        </div>
                                                        <div class="layui-input-inline layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">订单有效时长，以秒为单位</div>
                                                    </div>
                                                    <div class="layui-form-item layui-form-text ey-text">
                                                        <label class="layui-form-label">经纪人标签</label>
                                                        <div class="layui-input-inline">
                                                            <textarea id="users_label_value" name="users[users_label_value]" class="layui-textarea ey-input" placeholder="建议不超过200个字符" data-num="200">{$info.users_label_value|default=''}</textarea>
                                                        </div>
                                                        <div class="layui-input-inline layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">经纪人标签，以英文逗号(,)分隔开</div>
                                                    </div>
                                                    <div class="layui-form-item ">
                                                        <label class="layui-form-label">快捷登陆方式</label>
                                                        <div class="layui-input-inline">
                                                            <input lay-ignore type="checkbox" name="qq[login_show]" value="1" {if condition="isset($qqinfo.data.login_show) AND $qqinfo.data.login_show eq 1"}checked="true"{/if} > QQ登陆
                                                            <input lay-ignore type="checkbox" name="wx[login_show]" value="1" {if condition="isset($wxinfo.data.login_show) AND $wxinfo.data.login_show eq 1"}checked="true"{/if}  >微信登陆
                                                        </div>
                                                        <div class="layui-input-inline layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">可以选择qq和微信快速登陆</div>
                                                    </div>
                                                    <div class="layui-form-item layadmin-layer-demo">
                                                        <label class="layui-form-label">绑定本站账号</label>
                                                        <div class="layui-input-inline">
                                                            <input type="checkbox" lay-filter="bind_all" lay-skin="switch" lay-text="开启|关闭" {if condition="isset($qqinfo.data.bind) AND $qqinfo.data.bind eq 1"}checked{/if}>
                                                            <input type="hidden" id="bind_all" name="bind_all" value="{$qqinfo.data.bind|default='0'}" />
                                                        </div>
                                                        <div class="layui-input-inline layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">可以绑定之前注册的账号</div>
                                                    </div>

                                                    <div class="layui-form-item none"  >
                                                        <label class="layui-form-label"><b>*</b>QQ应用appid</label>
                                                        <div class="layui-input-inline">
                                                            <input id="appid" name="qq[appid]"   value="{$qqinfo.data.appid|default=''}" class="layui-input" type="text"/>
                                                        </div>
                                                        <div class="layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">请输入您的QQ应用appid。</div>
                                                    </div>
                                                    <div class="layui-form-item none"  >
                                                        <label class="layui-form-label"><b>*</b>QQ应用appkey</label>
                                                        <div class="layui-input-inline">
                                                            <input id="appkey" name="qq[appkey]"   value="{$qqinfo.data.appkey|default=''}" class="layui-input" type="text"/>
                                                        </div>
                                                        <div class="layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">请输入您的QQ应用appkey。</div>
                                                    </div>
                                                    <div class="layui-form-item none"  >
                                                        <label class="layui-form-label"><b>*</b>微信应用appid</label>
                                                        <div class="layui-input-inline">
                                                            <input id="appid_wx" name="wx[appid]" value="{$wxinfo.data.appid|default=''}" class="layui-input" type="text"/>
                                                        </div>
                                                        <div class="layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">请输入您的微信应用appid。</div>
                                                    </div>
                                                    <div class="layui-form-item none"  >
                                                        <label class="layui-form-label"><b>*</b>微信应用secret</label>
                                                        <div class="layui-input-inline">
                                                            <input id="secret_wx" name="wx[secret]"   value="{$wxinfo.data.secret|default=''}" class="layui-input" type="text"/>
                                                        </div>
                                                        <div class="layui-form-mid layui-word-aux ey_helptips"></div>
                                                        <div class="layui-form-inline2 ey_helptips_txt">请输入您的微信应用secret。</div>
                                                    </div>

                                                    <div class="layui-form-item">
                                                        <input type="hidden" id="bind_qq" name="qq[bind]" value="{$qqinfo.data.bind|default='0'}" />
                                                        <input type="hidden" id="bind_wx" name="wx[bind]" value="{$wxinfo.data.bind|default='0'}" />
                                                        <div class="layui-input-block">
                                                            <button class="layui-btn" lay-submit lay-filter="formSubmit">确认提交</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="layui-col-md12">-->
                                        <!--<div class="layui-card">-->
                                            <!--<div class="layui-card-body" pad15>-->
                                                <!--<div class="layui-form" wid100 lay-filter="">-->
                                                    <!--<div class="layui-card-header">QQ登陆配置</div>-->
                                                    <!--<div class="layui-form-item layadmin-layer-demo">-->
                                                        <!--<label class="layui-form-label">前台登录页面</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input type="checkbox" lay-filter="login_show" lay-skin="switch" lay-text="显示|隐藏" {if condition="isset($qqinfo.data.login_show) AND $qqinfo.data.login_show eq 1"}checked{/if}>-->
                                                            <!--<input type="hidden" id="login_show" name="qq[login_show]" value="{$qqinfo.data.login_show|default='0'}" />-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item layadmin-layer-demo">-->
                                                        <!--<label class="layui-form-label">绑定已有账号功能</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input type="checkbox" lay-filter="bind_qq" lay-skin="switch" lay-text="开启|关闭" {if condition="isset($qqinfo.data.bind) AND $qqinfo.data.bind eq 1"}checked{/if}>-->
                                                            <!--<input type="hidden" id="bind_qq" name="qq[bind]" value="{$qqinfo.data.bind|default='0'}" />-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item "  >-->
                                                        <!--<label class="layui-form-label"><b>*</b>QQ应用appid</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input id="appid" name="qq[appid]"   value="{$qqinfo.data.appid|default=''}" class="layui-input" type="text"/>-->
                                                        <!--</div>-->
                                                        <!--<div class="layui-form-mid layui-word-aux ey_helptips"></div>-->
                                                        <!--<div class="layui-form-inline2 ey_helptips_txt">请输入您的QQ应用appid。</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item "  >-->
                                                        <!--<label class="layui-form-label"><b>*</b>QQ应用appkey</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input id="appkey" name="qq[appkey]"   value="{$qqinfo.data.appkey|default=''}" class="layui-input" type="text"/>-->
                                                        <!--</div>-->
                                                        <!--<div class="layui-form-mid layui-word-aux ey_helptips"></div>-->
                                                        <!--<div class="layui-form-inline2 ey_helptips_txt">请输入您的QQ应用appkey。</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item "  >-->
                                                        <!--<label class="layui-form-label"><b>*</b>回调地址</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input value="{$qqcallback}" class="layui-input" type="text" readonly/>-->
                                                        <!--</div>-->
                                                        <!--<a style="margin-top: -20px;" href="javascript:void(0);" onclick="showtext('qqcallback');" class="ncap-btn ncap-btn-green qqcallback" data-clipboard-text="{$qqcallback}">点击复制</a>-->
                                                        <!--<span class="err"></span>-->
                                                        <!--<p class="notic"></p>-->
                                                    <!--</div>-->
                                        <!--<div class="layui-form-item">-->
                                            <!--<div class="layui-input-block">-->
                                                <!--<button class="layui-btn" lay-submit lay-filter="formSubmitQqlogin">确认提交</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                                    <!--<div class="layui-col-md12">-->
                                        <!--<div class="layui-card">-->
                                            <!--<div class="layui-card-body" pad15>-->
                                                <!--<div class="layui-form" wid100 lay-filter="">-->
                                                    <!--<div class="layui-card-header">微信登陆配置</div>-->
                                                    <!--<div class="layui-form-item layadmin-layer-demo">-->
                                                        <!--<label class="layui-form-label">前台登录页面</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input type="checkbox" lay-filter="login_show_wx" lay-skin="switch" lay-text="显示|隐藏" {if condition="isset($wxinfo.data.login_show) AND $wxinfo.data.login_show eq 1"}checked{/if}>-->
                                                            <!--<input type="hidden" id="login_show_wx" name="wx[login_show]" value="{$wxinfo.data.login_show|default='0'}" />-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item layadmin-layer-demo">-->
                                                        <!--<label class="layui-form-label">绑定已有账号功能</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input type="checkbox" lay-filter="bind_wx" lay-skin="switch" lay-text="开启|关闭" {if condition="isset($wxinfo.data.bind) AND $wxinfo.data.bind eq 1"}checked{/if}>-->
                                                            <!--<input type="hidden" id="bind_wx" name="wx[bind]" value="{$wxinfo.data.bind|default='0'}" />-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item "  >-->
                                                        <!--<label class="layui-form-label"><b>*</b>微信应用appid</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input id="appid_wx" name="wx[appid]" value="{$wxinfo.data.appid|default=''}" class="layui-input" type="text"/>-->
                                                        <!--</div>-->
                                                        <!--<div class="layui-form-mid layui-word-aux ey_helptips"></div>-->
                                                        <!--<div class="layui-form-inline2 ey_helptips_txt">请输入您的微信应用appid。</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item "  >-->
                                                        <!--<label class="layui-form-label"><b>*</b>微信应用secret</label>-->
                                                        <!--<div class="layui-input-inline">-->
                                                            <!--<input id="secret_wx" name="wx[secret]"   value="{$wxinfo.data.secret|default=''}" class="layui-input" type="text"/>-->
                                                        <!--</div>-->
                                                        <!--<div class="layui-form-mid layui-word-aux ey_helptips"></div>-->
                                                        <!--<div class="layui-form-inline2 ey_helptips_txt">请输入您的微信应用secret。</div>-->
                                                    <!--</div>-->

                                                    <!--<div class="layui-form-item">-->
                                                        <!--<div class="layui-input-block">-->
                                                            <!--<button class="layui-btn" lay-submit lay-filter="formSubmitWxlogin">确认提交</button>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__SKIN__/js/clipboard.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            // 鼠标事件，加载查看大图和删除图片
            $(".upload-img").live('mouseover', function(){
                $(this).find('div.icaction').show();
                $(this).find('div.cover-bg').show();
            }).live('mouseout', function(){
                $(this).find('div.icaction').hide();
                $(this).find('div.cover-bg').hide();
            });
        });

        layui.config({
            base: '__SKIN__/' //静态资源所在路径
            ,version: '{$version}'
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function(){
            var $ = layui.$
                ,layer = layui.layer
                ,form = layui.form;

            tipsText();

            /* 触发事件 */
            var active = {
                customvar_index: function(){
                    //iframe窗
                    var iframes = layer.open({
                        type: 2,
                        title: '自定义变量列表',
                        fixed: true, //不固定
                        shadeClose: false,
                        shade: 0.3,
                        content: "{:url('System/customvar_index')}",
                        end: function(){
                            layer_loading();
                            window.location.reload();
                        }
                    });
                    layer.full(iframes);
                }
            };

            $('#LAY-component-layer-list .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] && active[type].call(this);
            });

            // 监听开关
            form.on('switch', function(data){
                var elemId = data.elem.attributes['lay-filter']['nodeValue'];
                if (data.elem.checked) {
                    this.value = 1;
                } else {
                    this.value = 0;
                }
                $("#"+elemId).val(this.value);
//                $("input[name='"+elemId+"']").val(this.value);
            });
            //选中绑定本站账号
            form.on('switch(bind_all)',function (obj) {
                console.log(obj);
                if ($(this).is(':checked')) {
                    $('#bind_wx').val(1);
                    $('#bind_qq').val(1);
                } else {
                    $('#bind_wx').val(0);
                    $('#bind_qq').val(0);
                }
            });
            //监听提交会员中心设置
            form.on('submit(formSubmit)', function(data){
                var load = layer_loading();
                data.field._ajax = 1;
                $.ajax({
                    type : 'post',
                    url : "{:url('UsersConfig/register')}",
                    data : data.field,
                    dataType : 'json',
                    success : function(res){
                        layer.close(load); //关闭loading
                        if(res.code == 1){
                            layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                                window.location.reload();
                            });
                        }else{
                            showErrorMsg(res.msg);
                        }
                    },
                    error: function(e){
                        layer.close(load); //关闭loading
                        showErrorAlert();
                    }
                });
                return false;
            });
            //监听提交qq登陆设置
            form.on('submit(formSubmitQqlogin)', function(data){
                var load = layer_loading();
                data.field._ajax = 1;
                $.ajax({
                    type : 'post',
                    url : "{:url('UsersConfig/qqlogin')}",
                    data : data.field,
                    dataType : 'json',
                    success : function(res){
                        layer.close(load); //关闭loading
                        if(res.code == 1){
                            layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                                window.location.reload();
                            });
                        }else{
                            showErrorMsg(res.msg);
                        }
                    },
                    error: function(e){
                        layer.close(load); //关闭loading
                        showErrorAlert();
                    }
                });
                return false;
            });
            //监听微信登陆提交
            form.on('submit(formSubmitWxlogin)', function(data){
                var load = layer_loading();
                data.field._ajax = 1;
                $.ajax({
                    type : 'post',
                    url : "{:url('UsersConfig/wxlogin')}",
                    data : data.field,
                    dataType : 'json',
                    success : function(res){
                        layer.close(load); //关闭loading
                        if(res.code == 1){
                            layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                                window.location.reload();
                            });
                        }else{
                            showErrorMsg(res.msg);
                        }
                    },
                    error: function(e){
                        layer.close(load); //关闭loading
                        showErrorAlert();
                    }
                });
                return false;
            });
        });
        function showtext(classname){
            var clipboard1 = new Clipboard("."+classname);clipboard1.on("success", function(e) {layer.msg("复制成功");});clipboard1.on("error", function(e) {layer.msg("复制失败！请手动复制", {icon:2});});
        }
    </script>
    {include file="public/footer" /}
