{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv">
            点击链接观看使用文档：<a href="http://note.youdao.com/noteshare?id=541d9db870e99199329de67e0ec23ec8" target="_blank">http://note.youdao.com/noteshare?id=541d9db870e99199329de67e0ec23ec8</a>
        </div>
    </div>
</div>
{include file="footer.htm" /}