*{margin: 0;padding: 0;}
body{width: 100%;max-width: 640px;margin: 0 auto !important; font-family: "微软雅黑"; font-size: 12px;}
.clearfix{ clear: left}
/*导航*/
a{cursor:pointer}
.m_nav{width:100%;height:43px;background-color: #F6F6F6;color: #000;text-align:center;font-size: 15px;/* position: relative; */line-height: 43px;}

.m_nav a {
    background: url(../images/nav.png) no-repeat;
    background-size: 136px auto;
}
.return{position: absolute;left:15px;top:12px;width:10px;height: 19px;}
.default_icon_fenxiang{position: absolute;right: 45px;top: 12px;width: 19px;height: 19px;background-position: -90px 0px !important;}
.catalog,.nav_close{display: block;position: absolute;right: 8px;top: 7px;width: 37px;height: 28px;background-position: -10px 5px !important;overflow: hidden;}

.catalog2{position: absolute;right: 50px;top:13px; display: none; height: 17px;width: 21px;line-height: 17px;cursor: pointer;float: right;background: none!important;font-size: 9pt;}
.catalog2 .default_icon{width: 20px;background: url(../images/default_nav_icon.png) no-repeat -82px 0;background-size:149px auto;height:17px;display:block;float:left;cursor:pointer}
/*公共*/
.font11{font-size: 11px;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.color000{color: #000;}
.colorff5200{color: #FF5200;}
.color757575{color:#757575;}
.bold{font-weight: bold;}
ul{list-style:none;margin:0;padding:0}
.cl{clear: both;}
.text-center{text-align: center;}
.pull-right{float: right;}
a{color:#333; text-decoration:none}
s{ text-decoration:none}
#cnzz_stat_icon_1255806361{display:none}
.hid{display:none;}
input[type="button"], input[type="submit"], input[type="reset"],input[type="search"] {
    -webkit-appearance: none;
}
.navbgn{display: none;width: 100%;height: 100%;background:rgba(0,0,0,.7);filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;position: fixed;left: 0;top: 0;z-index: 99999;overflow: hidden;}
#MEIQIA-BTN{background-color:#ff5200 !important}

/*菜单导航*/
#m_menu{display: none;position: absolute;top: 0;width: 100%;max-width: 640px;overflow-y: scroll;-webkit-overflow-scrolling: touch;z-index: 9999999;}
#subnav{display: none; position: absolute; top: 0; background: #fff; z-index: 99999; padding-bottom: 12%;}
#subnav .m_sub{display: block; padding: 0 15px; height: 55px; line-height: 55px; font-size: 16px; border-bottom: 1px solid #f4f4f4; overflow: hidden;}
#subnav .m_sub a:first-child{display: block; float: left;}
#subnav .m_sub a:last-child{display: block; float: right; padding-right: 15px; background: url(../images/renticon.png) no-repeat right center; background-size: 7px auto;}
#subnav ul{display: block; overflow: hidden;}
#subnav ul li{display: block; float: left; width: 25%; text-align: center; font-size: 12px; border-bottom: 1px solid #f4f4f4;}
#subnav ul li a{display: block; padding: 20px 0; color: #000;}
#subnav ul li a:active{color: #000 !important;}
#subnav ul li a p{height: 18px; margin-top: 8px;}
#subnav ul li a i{position:relative;display: block;margin: 0 auto;width: 45px;height: 45px;background: url(../images/menu1.png) no-repeat;background-size: 90px auto;}
#subnav ul li:nth-child(2) i{background-position: -46px 0;}
#subnav ul li:nth-child(3) i{background-position: 0 -44px;}
#subnav ul li:nth-child(4) i{background-position: -46px -43px;}
#subnav ul li:nth-child(5) i{background-position: 0 -88px;}
#subnav ul li:nth-child(6) i{background-position: 0 -223px;}
#subnav ul li:nth-child(7) i{background-position: 0px -135px;}
#subnav ul li:nth-child(8) i{background-position: -46px -133px;}
#subnav ul li:nth-child(9) i{background-position: 0 -177px;}
#subnav ul li:nth-child(10) i{background-position: -46px -177px;}
#subnav ul li:nth-child(11) i{background-position: -46px -89px;}
#subnav ul li:nth-child(12) i{background-position: -46px -219px;}
#subnav ul li:nth-child(13) i{background-position: 0 -272px;}
#subnav ul li:nth-child(14) i{background-position: -46px -272px;}
#subnav ul li:nth-child(15) i{background-position: 0 -313px;}
#subnav ul li:nth-child(16) i{background-position: -46px -310px;}
#subnav ul li:nth-child(17) i{background-position: 0 -356px;}
#subnav ul li:nth-child(18) i{background-position: -46px -356px;}
#subnav ul li:nth-child(19) i{background-position:0 -446px;}
#subnav ul li:nth-child(20) i{background-position:-46px -446px;}
#subnav ul li:nth-child(21) i{background-position: 0 -494px;}
#subnav ul li:nth-child(22) i{background-position:-46px -494px;}
#subnav ul li:nth-child(23) i{background-position: 0 -540px;}
/*#subnav ul li:nth-child(24) i{background-position: -46px -500px;}*/
/*#subnav ul li:nth-child(25) i{background-position: -0px -350px;}*/
/*#subnav ul li:nth-child(26) i{background-position: -45px -600px;}*/
/*#subnav ul li:nth-child(27) i{background-position: -0px -500px;}*/
#subnav .wxpro{width: 82%;margin: 20px auto;overflow: hidden;}
#subnav .wxpro img{width: 100%;}
#subnav .wxpro .wxcode{display: block;float: left;width: 74px;}
#subnav .wxpro .wxfont{display: block; float: right; font-size: 15px; line-height: 25px; padding-top: 15px;}
#subnav .wxpro .wxfont small{font-size: 13px; color: #666;}
#subnav .wxpro .wxfont p{margin: 0 !important; padding: 0 !important;}
#subnav .navdown{width: 86%; margin: 2% auto; margin-top: 10%; background: #fff; border-radius: 35px; padding: 5px 2%; -webkit-box-shadow:0 0 10px #999; -moz-box-shadow:0 0 10px #999; box-shadow:0 0 10px #999; position: relative; z-index: 999; overflow: hidden;}
#subnav .navdown .wxlogo{display: block; float: left; width: 40px;}
#subnav .navdown .wxlogo img{width: 100%;}
#subnav .navdown .wxfont{display: block;float: left;font-size: 14px;line-height: 20px;margin-left: 1%;padding-top: 3px;}
#subnav .navdown .wxfont small{font-size: 12px; color: #666;}
#subnav .navdown .wxfont p{margin: 0 !important; padding: 0 !important;}
#subnav .navdown .now{display: block;float: right;width: 24%;height: 40px;line-height: 40px;font-size: 12px;/* padding: 0 3%; */text-align: center;margin-top: 3px;background: #ff5200;border-radius: 25px;color: #fff;}
@media screen and (max-width:320px) {
    #subnav .wxpro{width: 80%;}
    #subnav .navdown .wxfont{margin: 0; font-size: 12px;}
    /*#subnav .navdown .now{padding: 0 10px;}*/
}

/*new*/
.m_nav ul{width: auto; margin: 0 auto;}
.m_nav ul li{width: 40px; display: inline-block; font-size: 16px; font-weight: normal; color: #666; line-height: 40px;}
.m_nav ul li a{background: none; padding: 0 3px; /*padding-bottom: 9px;*/}
.m_nav ul li.on a{color: #ef5200; border-bottom: 2px solid #ef5200; /*padding-bottom: 9px;*/}
.m_nav a{background-size: 139px auto; z-index: 999;}

/*登录引导框*/
#signGuide{display: none; z-index: 99999; overflow: hidden;}
#signGuide .sibgn{display: block; width: 100%; height: 100%; background:rgba(0, 0, 0,0.6);  position: fixed; top: 0; z-index: 99999; overflow: hidden;}
#signGuide .signGuide{position: fixed;top: 25%;left: 10%;max-width: 640px;width: 80%;background: #fff;z-index: 99999;border-radius: 10px; overflow: hidden;}
#signGuide .signGuide .signClose{position: absolute; top: 15px; right: 15px; width: 20px; cursor: pointer;}
#signGuide .signGuide span{display: block; color: #a86e63; font-size: 14px;}
#signGuide .signGuide span:nth-child(3){padding: 1% 12%;}
#signGuide .signGuide span i{display: block; font-size: 16px; font-style: normal; margin-bottom: 5px;}
#signGuide .signGuide span b{margin-right: 5px;}
#signGuide .signGuide span img{display: block; width: 100%;}
#signGuide .signGuide a{display: block; width: 80%; margin: 15px auto; line-height: 40px; background: #ff5200; border-radius: 5px; text-align: center; color: #fff;}

/*顶部APP下载*/
#apps{display: none; width: 100%; background: #f8f8f8; overflow: hidden;}
#apps .apps{width: 90%; margin: 3% auto; padding: 2% 3%; background: #fff; border: 1px solid #fff; background: #ffffff; box-shadow: 1px 3px 5px rgba(12,2,5,.07); border-radius: 10px; overflow: hidden;}
#apps .apps em{display: block; float: left; width: 42px; height: 42px; font-size: 0px;  background: url(../images/logo_app.png) no-repeat center; background-size: 35px 35px; border: 1px solid #cbcaca; border-radius: 10px;}
#apps .apps span{display: block; float: left; font-size: 15px; margin-left: 2%; line-height: 22px;}
#apps .apps span i{display: block; font-size: 13px; color: #888a92; font-style: normal;}
#apps .apps a{display: block; float: right; width: 22%; font-size: 14px; background: #ff5200; color: #fff; line-height: 30px; text-align: center; border-radius: 5px; margin-top: 8px;}
@media screen and (max-width:320px) {
    #apps .apps span{font-size: 12px;}
    #apps .apps span i{font-size: 12px;}
    #apps .apps a{font-size: 12px;}
}
/*二手房详情小区问答*/
.plotAsk{
    background:  #fff;
    margin-top: 10px;
    padding-bottom: 20px;
}
.plotAsk ul{
    width: 96%;
    margin: 0 auto;
}
.plotAsk ul li{
    overflow:  hidden;
    line-height: 18pt;
    color:  #999;
    font-size: 9pt;
}
.plotAsk ul li .Q-A{
    overflow:  hidden;
    font-size:  10pt;
    float:  left;
    width: 86%;
}
.plotAsk ul li h4{
    overflow:  hidden;
    text-overflow:  ellipsis;
    white-space: pre;
    width: 94%;
    font-weight:  normal;
    color:  #333;
    background: url(../images/villageqaicon1.jpg) no-repeat 0px 4px;
    background-size:  18px 18px;
    padding-left: 22px;
}
.plotAsk ul li .iconQ-A{color:#999}
.remind{ background-color:#f6f6f6}
.remind h1{font-size:13px;color:#4b78b8;width:91px;margin:0 auto;height:35px;line-height:35px;padding-left: 25px;background: url(../images/remind.png);background-repeat: no-repeat;background-size:  16px auto;background-position: left center;}

.home-device{position:relative}
.Advertisement{position:absolute;right: 5px;bottom: 7px;z-index:99;background-color:rgba(0,0,0,0.4);}
.Advertisement h1{font-size:12px;color: #fff;padding-left:  5px;padding-right:  5px;line-height: 20px;font-weight:  normal;}



/* 房源详情头部 改为透明板2018-10-22 */
.scrollShow {
    display: block;}
.house_information{
    height: 43px;
    background: #f6f6f600;
    display: block;
    position: fixed;
    top: 0;
    max-width: 640px;
    z-index: 99999;
    width:  100%;
}
.house_information .m_nav{display: block;position: fixed;top: 0;max-width: 640px;z-index: 99999;background: none;}
.scrollShow{
    /* display: none; */
}
.house_information .scrollShowBlock{
    display:  block;
    background: #F6F6F6;
    height:  43px;
}
.house_information .scrollShowBlock span{
    display:  block;
    overflow:  hidden;
    height: 39px;
    float:  left;
    width: 39px;
    margin-left: 40%;
    margin-top: 2px;
}
.house_information .scrollShowBlock span+span{
    margin-left: 10px;
    display: inline-block;
    height: 39px;
    float: left;
    width: 39px;
    margin-top:  2px;
}
.house_information .scrollShowBlock span+s span{margin-left: 10px;}
/*.scrollShow .pictures,.scrollShow .videos{display: none;}*/
.house_information .scrollShowBlock .videos{}
.house_information .scrollShowBlock .pictures{
    /* margin-left: 10px; */
    display:  block;
}
.house_information .scrollShowBlock span a{
    display:  block;
    width:  100%;
    position: relative;
    height:  100%;
}
.house_information .scrollShowBlock span a img{
    width:  100%;
    height:  100%;
}

.house_information .scrollShowBlock span a #prismBigPlayIcon{
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
}
.house_information .m_nav a{
    /*background: url(../images/navscrollshow.png);*/
    width: 30px;
    height: 30px;
    display:  block;
}
.house_information .m_nav .return{
    background: url(../images/navscrollshow_11.png) center;
    background-size:100%;
    background-position: 0 0 !important;
    background-size:  100% 100%;
    top: 6px;
}
.house_information .m_nav .afavorite{
    background: url(../images/navscrollshow_22.png) center;
    width: 30px;
    height: 30px;
    display: block;
    background-size:  100% 100%;
    background-position: 0 0 !important;
    right: 80px;
    top: 6px;
}
.house_information .m_nav .sharebtn{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_33.png) center;
    display: block;
    background-size:  100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .m_nav .cfavorite {
    position: absolute;
    right: 81px;
    cursor: pointer;
    float: right;
    background: url(../images/navscrollshow_22hover.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .m_nav .catalog{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_44.png) center no-repeat;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .scrollShowBlock .return{
    background: url(../images/navscrollshow_1.png) center;
    background-position: 0 0 !important;
    background-size: 100% 100%;
    top: 6px;
}
.house_information .scrollShowBlock .afavorite{
    background: url(../images/navscrollshow_2.png) center;
    widthh: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    right: 80px;
    top: 6px;
}
.house_information .scrollShowBlock .sharebtn{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_3.png) center;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
    position: fixed;
}
.house_information .scrollShowBlock .catalog{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_4.png) center no-repeat;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}

.house_information .scrollShowBlock  .cfavorite {
    position: absolute;
    right: 81px;
    cursor: pointer;
    float: right;
    background: url(../images/navscrollshow_2hover.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}

.no_pl{
    text-align: center !important;
    padding-top: 50% !important;
    font-size: 10pt !important;
    color: #999898;
    margin: 0 !important;
    width: 100%;
}
.no_pl img{
    width: 80%;
    margin-bottom: 23pt;
    margin-top: -40px;
}
.no_pl p{}
*{margin: 0;padding: 0;}
body{width: 100%;max-width: 640px;margin: 0 auto !important; font-family: "微软雅黑"; font-size: 12px;}
.clearfix{ clear: left}
/*导航*/
a{cursor:pointer}
.m_nav{width:100%;height:43px;background-color: #F6F6F6;color: #000;text-align:center;font-size: 15px;/* position: relative; */line-height: 43px;}

.m_nav a {
    background: url(../images/nav.png) no-repeat;
    background-size: 136px auto;
}
.return{position: absolute;left:15px;top:12px;width:10px;height: 19px;}
.default_icon_fenxiang{position: absolute;right: 45px;top: 12px;width: 19px;height: 19px;background-position: -90px 0px !important;}
.catalog,.nav_close{display: block;position: absolute;right: 8px;top: 7px;width: 37px;height: 28px;background-position: -10px 5px !important;overflow: hidden;}

.catalog2{position: absolute;right: 50px;top:13px; display: none; height: 17px;width: 21px;line-height: 17px;cursor: pointer;float: right;background: none!important;font-size: 9pt;}
.catalog2 .default_icon{width: 20px;background: url(../images/default_nav_icon.png) no-repeat -82px 0;background-size:149px auto;height:17px;display:block;float:left;cursor:pointer}
/*公共*/
.font11{font-size: 11px;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.color000{color: #000;}
.colorff5200{color: #FF5200;}
.color757575{color:#757575;}
.bold{font-weight: bold;}
ul{list-style:none;margin:0;padding:0}
.cl{clear: both;}
.text-center{text-align: center;}
.pull-right{float: right;}
a{color:#333; text-decoration:none}
s{ text-decoration:none}
#cnzz_stat_icon_1255806361{display:none}
.hid{display:none;}
input[type="button"], input[type="submit"], input[type="reset"],input[type="search"] {
    -webkit-appearance: none;
}
.navbgn{display: none;width: 100%;height: 100%;background:rgba(0,0,0,.7);filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;position: fixed;left: 0;top: 0;z-index: 99999;overflow: hidden;}
#MEIQIA-BTN{background-color:#ff5200 !important}

/*菜单导航*/
#m_menu{display: none;position: absolute;top: 0;width: 100%;max-width: 640px;overflow-y: scroll;-webkit-overflow-scrolling: touch;z-index: 9999999;}
#subnav{display: none; position: absolute; top: 0; background: #fff; z-index: 99999; padding-bottom: 12%;}
#subnav .m_sub{display: block; padding: 0 15px; height: 55px; line-height: 55px; font-size: 16px; border-bottom: 1px solid #f4f4f4; overflow: hidden;}
#subnav .m_sub a:first-child{display: block; float: left;}
#subnav .m_sub a:last-child{display: block; float: right; padding-right: 15px; background: url(../images/renticon.png) no-repeat right center; background-size: 7px auto;}
#subnav ul{display: block; overflow: hidden;}
#subnav ul li{display: block; float: left; width: 25%; text-align: center; font-size: 12px; border-bottom: 1px solid #f4f4f4;}
#subnav ul li a{display: block; padding: 20px 0; color: #000;}
#subnav ul li a:active{color: #000 !important;}
#subnav ul li a p{height: 18px; margin-top: 8px;}
#subnav ul li a i{position:relative;display: block;margin: 0 auto;width: 45px;height: 45px;background: url(../images/menu1.png) no-repeat;background-size: 90px auto;}
#subnav ul li:nth-child(2) i{background-position: -46px 0;}
#subnav ul li:nth-child(3) i{background-position: 0 -44px;}
#subnav ul li:nth-child(4) i{background-position: -46px -43px;}
#subnav ul li:nth-child(5) i{background-position: 0 -88px;}
#subnav ul li:nth-child(6) i{background-position: 0 -223px;}
#subnav ul li:nth-child(7) i{background-position: 0px -135px;}
#subnav ul li:nth-child(8) i{background-position: -46px -133px;}
#subnav ul li:nth-child(9) i{background-position: 0 -177px;}
#subnav ul li:nth-child(10) i{background-position: -46px -177px;}
#subnav ul li:nth-child(11) i{background-position: -46px -89px;}
#subnav ul li:nth-child(12) i{background-position: -46px -219px;}
#subnav ul li:nth-child(13) i{background-position: 0 -272px;}
#subnav ul li:nth-child(14) i{background-position: -46px -272px;}
#subnav ul li:nth-child(15) i{background-position: 0 -313px;}
#subnav ul li:nth-child(16) i{background-position: -46px -310px;}
#subnav ul li:nth-child(17) i{background-position: 0 -356px;}
#subnav ul li:nth-child(18) i{background-position: -46px -356px;}
#subnav ul li:nth-child(19) i{background-position:0 -446px;}
#subnav ul li:nth-child(20) i{background-position:-46px -446px;}
#subnav ul li:nth-child(21) i{background-position: 0 -494px;}
#subnav ul li:nth-child(22) i{background-position:-46px -494px;}
#subnav ul li:nth-child(23) i{background-position: 0 -540px;}
/*#subnav ul li:nth-child(24) i{background-position: -46px -500px;}*/
/*#subnav ul li:nth-child(25) i{background-position: -0px -350px;}*/
/*#subnav ul li:nth-child(26) i{background-position: -45px -600px;}*/
/*#subnav ul li:nth-child(27) i{background-position: -0px -500px;}*/
#subnav .wxpro{width: 82%;margin: 20px auto;overflow: hidden;}
#subnav .wxpro img{width: 100%;}
#subnav .wxpro .wxcode{display: block;float: left;width: 74px;}
#subnav .wxpro .wxfont{display: block; float: right; font-size: 15px; line-height: 25px; padding-top: 15px;}
#subnav .wxpro .wxfont small{font-size: 13px; color: #666;}
#subnav .wxpro .wxfont p{margin: 0 !important; padding: 0 !important;}
#subnav .navdown{width: 86%; margin: 2% auto; margin-top: 10%; background: #fff; border-radius: 35px; padding: 5px 2%; -webkit-box-shadow:0 0 10px #999; -moz-box-shadow:0 0 10px #999; box-shadow:0 0 10px #999; position: relative; z-index: 999; overflow: hidden;}
#subnav .navdown .wxlogo{display: block; float: left; width: 40px;}
#subnav .navdown .wxlogo img{width: 100%;}
#subnav .navdown .wxfont{display: block;float: left;font-size: 14px;line-height: 20px;margin-left: 1%;padding-top: 3px;}
#subnav .navdown .wxfont small{font-size: 12px; color: #666;}
#subnav .navdown .wxfont p{margin: 0 !important; padding: 0 !important;}
#subnav .navdown .now{display: block;float: right;width: 24%;height: 40px;line-height: 40px;font-size: 12px;/* padding: 0 3%; */text-align: center;margin-top: 3px;background: #ff5200;border-radius: 25px;color: #fff;}
@media screen and (max-width:320px) {
    #subnav .wxpro{width: 80%;}
    #subnav .navdown .wxfont{margin: 0; font-size: 12px;}
    /*#subnav .navdown .now{padding: 0 10px;}*/
}

/*new*/
.m_nav ul{width: auto; margin: 0 auto;}
.m_nav ul li{width: 40px; display: inline-block; font-size: 16px; font-weight: normal; color: #666; line-height: 40px;}
.m_nav ul li a{background: none; padding: 0 3px; /*padding-bottom: 9px;*/}
.m_nav ul li.on a{color: #ef5200; border-bottom: 2px solid #ef5200; /*padding-bottom: 9px;*/}
.m_nav a{background-size: 139px auto; z-index: 999;}

/*登录引导框*/
#signGuide{display: none; z-index: 99999; overflow: hidden;}
#signGuide .sibgn{display: block; width: 100%; height: 100%; background:rgba(0, 0, 0,0.6);  position: fixed; top: 0; z-index: 99999; overflow: hidden;}
#signGuide .signGuide{position: fixed;top: 25%;left: 10%;max-width: 640px;width: 80%;background: #fff;z-index: 99999;border-radius: 10px; overflow: hidden;}
#signGuide .signGuide .signClose{position: absolute; top: 15px; right: 15px; width: 20px; cursor: pointer;}
#signGuide .signGuide span{display: block; color: #a86e63; font-size: 14px;}
#signGuide .signGuide span:nth-child(3){padding: 1% 12%;}
#signGuide .signGuide span i{display: block; font-size: 16px; font-style: normal; margin-bottom: 5px;}
#signGuide .signGuide span b{margin-right: 5px;}
#signGuide .signGuide span img{display: block; width: 100%;}
#signGuide .signGuide a{display: block; width: 80%; margin: 15px auto; line-height: 40px; background: #ff5200; border-radius: 5px; text-align: center; color: #fff;}

/*顶部APP下载*/
#apps{display: none; width: 100%; background: #f8f8f8; overflow: hidden;}
#apps .apps{width: 90%; margin: 3% auto; padding: 2% 3%; background: #fff; border: 1px solid #fff; background: #ffffff; box-shadow: 1px 3px 5px rgba(12,2,5,.07); border-radius: 10px; overflow: hidden;}
#apps .apps em{display: block; float: left; width: 42px; height: 42px; font-size: 0px;  background: url(../images/logo_app.png) no-repeat center; background-size: 35px 35px; border: 1px solid #cbcaca; border-radius: 10px;}
#apps .apps span{display: block; float: left; font-size: 15px; margin-left: 2%; line-height: 22px;}
#apps .apps span i{display: block; font-size: 13px; color: #888a92; font-style: normal;}
#apps .apps a{display: block; float: right; width: 22%; font-size: 14px; background: #ff5200; color: #fff; line-height: 30px; text-align: center; border-radius: 5px; margin-top: 8px;}
@media screen and (max-width:320px) {
    #apps .apps span{font-size: 12px;}
    #apps .apps span i{font-size: 12px;}
    #apps .apps a{font-size: 12px;}
}
/*二手房详情小区问答*/
.plotAsk{
    background:  #fff;
    margin-top: 10px;
    padding-bottom: 20px;
}
.plotAsk ul{
    width: 96%;
    margin: 0 auto;
}
.plotAsk ul li{
    overflow:  hidden;
    line-height: 18pt;
    color:  #999;
    font-size: 9pt;
}
.plotAsk ul li .Q-A{
    overflow:  hidden;
    font-size:  10pt;
    float:  left;
    width: 86%;
}
.plotAsk ul li h4{
    overflow:  hidden;
    text-overflow:  ellipsis;
    white-space: pre;
    width: 94%;
    font-weight:  normal;
    color:  #333;
    background: url(../images/villageqaicon1.jpg) no-repeat 0px 4px;
    background-size:  18px 18px;
    padding-left: 22px;
}
.plotAsk ul li .iconQ-A{color:#999}
.remind{ background-color:#f6f6f6}
.remind h1{font-size:13px;color:#4b78b8;width:91px;margin:0 auto;height:35px;line-height:35px;padding-left: 25px;background: url(../images/remind.png);background-repeat: no-repeat;background-size:  16px auto;background-position: left center;}

.home-device{position:relative}
.Advertisement{position:absolute;right: 5px;bottom: 7px;z-index:99;background-color:rgba(0,0,0,0.4);}
.Advertisement h1{font-size:12px;color: #fff;padding-left:  5px;padding-right:  5px;line-height: 20px;font-weight:  normal;}



/* 房源详情头部 改为透明板2018-10-22 */
.scrollShow {
    display: block;}
.house_information{
    height: 43px;
    background: #f6f6f600;
    display: block;
    position: fixed;
    top: 0;
    max-width: 640px;
    z-index: 99999;
    width:  100%;
}
.house_information .m_nav{display: block;position: fixed;top: 0;max-width: 640px;z-index: 99999;background: none;}
.scrollShow{
    /* display: none; */
}
.house_information .scrollShowBlock{
    display:  block;
    background: #F6F6F6;
    height:  43px;
}
.house_information .scrollShowBlock span{
    display:  block;
    overflow:  hidden;
    height: 39px;
    float:  left;
    width: 39px;
    margin-left: 40%;
    margin-top: 2px;
}
.house_information .scrollShowBlock span+span{
    margin-left: 10px;
    display: inline-block;
    height: 39px;
    float: left;
    width: 39px;
    margin-top:  2px;
}
.house_information .scrollShowBlock span+s span{margin-left: 10px;}
/*.scrollShow .pictures,.scrollShow .videos{display: none;}*/
.house_information .scrollShowBlock .videos{}
.house_information .scrollShowBlock .pictures{
    /* margin-left: 10px; */
    display:  block;
}
.house_information .scrollShowBlock span a{
    display:  block;
    width:  100%;
    position: relative;
    height:  100%;
}
.house_information .scrollShowBlock span a img{
    width:  100%;
    height:  100%;
}

.house_information .scrollShowBlock span a #prismBigPlayIcon{
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
}
.house_information .m_nav a{
    /*background: url(../images/navscrollshow.png);*/
    width: 30px;
    height: 30px;
    display:  block;
}
.house_information .m_nav .return{
    background: url(../images/navscrollshow_11.png) center;
    background-size:100%;
    background-position: 0 0 !important;
    background-size:  100% 100%;
    top: 6px;
}
.house_information .m_nav .afavorite{
    background: url(../images/navscrollshow_22.png) center;
    width: 30px;
    height: 30px;
    display: block;
    background-size:  100% 100%;
    background-position: 0 0 !important;
    right: 80px;
    top: 6px;
}
.house_information .m_nav .sharebtn{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_33.png) center;
    display: block;
    background-size:  100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .m_nav .cfavorite {
    position: absolute;
    right: 81px;
    cursor: pointer;
    float: right;
    background: url(../images/navscrollshow_22hover.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .m_nav .catalog{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_44.png) center no-repeat;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .scrollShowBlock .return{
    background: url(../images/navscrollshow_1.png) center;
    background-position: 0 0 !important;
    background-size: 100% 100%;
    top: 6px;
}
.house_information .scrollShowBlock .afavorite{
    background: url(../images/navscrollshow_2.png) center;
    widthh: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    right: 80px;
    top: 6px;
}
.house_information .scrollShowBlock .sharebtn{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_3.png) center;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
    position: fixed;
}
.house_information .scrollShowBlock .catalog{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_4.png) center no-repeat;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}

.house_information .scrollShowBlock  .cfavorite {
    position: absolute;
    right: 81px;
    cursor: pointer;
    float: right;
    background: url(../images/navscrollshow_2hover.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}

.no_pl{
    text-align: center !important;
    padding-top: 50% !important;
    font-size: 10pt !important;
    color: #999898;
    margin: 0 !important;
    width: 100%;
}
.no_pl img{
    width: 80%;
    margin-bottom: 23pt;
    margin-top: -40px;
}
.no_pl p{}
*{margin: 0;padding: 0;}
body{width: 100%;max-width: 640px;margin: 0 auto !important; font-family: "微软雅黑"; font-size: 12px;}
.clearfix{ clear: left}
/*导航*/
a{cursor:pointer}
.m_nav{width:100%;height:43px;background-color: #F6F6F6;color: #000;text-align:center;font-size: 15px;/* position: relative; */line-height: 43px;}

.m_nav a {
    background: url(../images/nav.png) no-repeat;
    background-size: 136px auto;
}

/*新房详情图标位置及大小*/
.return{
    position: absolute;
    left: 23px;
    top: 12px;
    width: 10px;
    height: 19px;
}
.default_icon_fenxiang{position: absolute;right: 45px;top: 12px;width: 19px;height: 19px;background-position: -90px 0px !important;}
.catalog,.nav_close{
    display: block;
    position: absolute;
    right: 12px;
    top: 7px;
    width: 37px;
    height: 28px;
    background-position: -10px 5px !important;
    overflow: hidden;
}

.catalog2{position: absolute;right: 50px;top:13px; display: none; height: 17px;width: 21px;line-height: 17px;cursor: pointer;float: right;background: none!important;font-size: 9pt;}
.catalog2 .default_icon{width: 20px;background: url(../images/default_nav_icon.png) no-repeat -82px 0;background-size:149px auto;height:17px;display:block;float:left;cursor:pointer}
/*公共*/
.font11{font-size: 11px;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.color000{color: #000;}
.colorff5200{color: #FF5200;}
.color757575{color:#757575;}
.bold{font-weight: bold;}
ul{list-style:none;margin:0;padding:0}
.cl{clear: both;}
.text-center{text-align: center;}
.pull-right{float: right;}
a{color:#333; text-decoration:none}
s{ text-decoration:none}
#cnzz_stat_icon_1255806361{display:none}
.hid{display:none;}
input[type="button"], input[type="submit"], input[type="reset"],input[type="search"] {
    -webkit-appearance: none;
}
.navbgn{display: none;width: 100%;height: 100%;background:rgba(0,0,0,.7);filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;position: fixed;left: 0;top: 0;z-index: 99999;overflow: hidden;}
#MEIQIA-BTN{background-color:#ff5200 !important}

/*菜单导航*/
#m_menu{display: none;position: absolute;top: 0;width: 100%;max-width: 640px;overflow-y: scroll;-webkit-overflow-scrolling: touch;z-index: 9999999;}
#subnav{display: none; position: absolute; top: 0; background: #fff; z-index: 99999; padding-bottom: 12%;}
#subnav .m_sub{display: block; padding: 0 15px; height: 55px; line-height: 55px; font-size: 16px; border-bottom: 1px solid #f4f4f4; overflow: hidden;}
#subnav .m_sub a:first-child{display: block; float: left;}
#subnav .m_sub a:last-child{display: block; float: right; padding-right: 15px; background: url(../images/renticon.png) no-repeat right center; background-size: 7px auto;}
#subnav ul{display: block; overflow: hidden;}
#subnav ul li{display: block; float: left; width: 25%; text-align: center; font-size: 12px; border-bottom: 1px solid #f4f4f4;}
#subnav ul li a{display: block; padding: 20px 0; color: #000;}
#subnav ul li a:active{color: #000 !important;}
#subnav ul li a p{height: 18px; margin-top: 8px;}
#subnav ul li a i{position:relative;display: block;margin: 0 auto;width: 45px;height: 45px;background: url(../images/menu1.png) no-repeat;background-size: 90px auto;}
/*#subnav ul li a i{position:relative;display: block;margin: 0 auto;width: 45px;height: 45px;background: url(../images/menu1.png) no-repeat;background-size: 90px auto;}*/
#subnav ul li:nth-child(2) i{background-position: -46px 0;}
#subnav ul li:nth-child(3) i{background-position: 0 -44px;}
#subnav ul li:nth-child(4) i{background-position: -46px -43px;}
#subnav ul li:nth-child(5) i{background-position: 0 -88px;}
#subnav ul li:nth-child(6) i{background-position: 0 -223px;}
#subnav ul li:nth-child(7) i{background-position: 0px -135px;}
#subnav ul li:nth-child(8) i{background-position: -46px -133px;}
#subnav ul li:nth-child(9) i{background-position: 0 -177px;}
#subnav ul li:nth-child(10) i{background-position: -46px -177px;}
#subnav ul li:nth-child(11) i{background-position: -46px -89.5px;}
#subnav ul li:nth-child(12) i{background-position: -46px -219px;}
#subnav ul li:nth-child(13) i{background-position: 0 -272px;}
#subnav ul li:nth-child(14) i{background-position: -46px -272px;}
#subnav ul li:nth-child(15) i{background-position: 0 -313px;}
#subnav ul li:nth-child(16) i{background-position: -46px -310px;}
#subnav ul li:nth-child(17) i{background-position: 0 -356px;}
#subnav ul li:nth-child(18) i{background-position: -46px -356px;}
#subnav ul li:nth-child(19) i{background-position:0 -446px;}
#subnav ul li:nth-child(20) i{background-position:-46px -446px;}
#subnav ul li:nth-child(21) i{background-position: 0 -494px;}
#subnav ul li:nth-child(22) i{background-position:-46px -494px;}
#subnav ul li:nth-child(23) i{background-position: 0 -540px;}
/*#subnav ul li:nth-child(24) i{background-position: -46px -500px;}*/
/*#subnav ul li:nth-child(25) i{background-position: -0px -350px;}*/
/*#subnav ul li:nth-child(26) i{background-position: -45px -600px;}*/
/*#subnav ul li:nth-child(27) i{background-position: -0px -500px;}*/

#subnav .wxpro{width: 82%;margin: 20px auto;overflow: hidden;}
#subnav .wxpro img{width: 100%;}
#subnav .wxpro .wxcode{display: block;float: left;width: 74px;}
#subnav .wxpro .wxfont{display: block; float: right; font-size: 15px; line-height: 25px; padding-top: 15px;}
#subnav .wxpro .wxfont small{font-size: 13px; color: #666;}
#subnav .wxpro .wxfont p{margin: 0 !important; padding: 0 !important;}
#subnav .navdown{width: 86%; margin: 2% auto; margin-top: 10%; background: #fff; border-radius: 35px; padding: 5px 2%; -webkit-box-shadow:0 0 10px #999; -moz-box-shadow:0 0 10px #999; box-shadow:0 0 10px #999; position: relative; z-index: 999; overflow: hidden;}
#subnav .navdown .wxlogo{display: block; float: left; width: 40px;}
#subnav .navdown .wxlogo img{width: 100%;}
#subnav .navdown .wxfont{display: block;float: left;font-size: 14px;line-height: 20px;margin-left: 1%;padding-top: 3px;}
#subnav .navdown .wxfont small{font-size: 12px; color: #666;}
#subnav .navdown .wxfont p{margin: 0 !important; padding: 0 !important;}
#subnav .navdown .now{display: block;float: right;width: 24%;height: 40px;line-height: 40px;font-size: 12px;/* padding: 0 3%; */text-align: center;margin-top: 3px;background: #ff5200;border-radius: 25px;color: #fff;}
@media screen and (max-width:320px) {
    #subnav .wxpro{width: 80%;}
    #subnav .navdown .wxfont{margin: 0; font-size: 12px;}
    /*#subnav .navdown .now{padding: 0 10px;}*/
}

/*new*/
.m_nav ul{width: auto; margin: 0 auto;}
.m_nav ul li{width: 40px; display: inline-block; font-size: 16px; font-weight: normal; color: #666; line-height: 40px;}
.m_nav ul li a{background: none; padding: 0 3px; /*padding-bottom: 9px;*/}
.m_nav ul li.on a{color: #ef5200; border-bottom: 2px solid #ef5200; /*padding-bottom: 9px;*/}
.m_nav a{background-size: 139px auto; z-index: 999;}

/*登录引导框*/
#signGuide{display: none; z-index: 99999; overflow: hidden;}
#signGuide .sibgn{display: block; width: 100%; height: 100%; background:rgba(0, 0, 0,0.6);  position: fixed; top: 0; z-index: 99999; overflow: hidden;}
#signGuide .signGuide{position: fixed;top: 25%;left: 10%;max-width: 640px;width: 80%;background: #fff;z-index: 99999;border-radius: 10px; overflow: hidden;}
#signGuide .signGuide .signClose{position: absolute; top: 15px; right: 15px; width: 20px; cursor: pointer;}
#signGuide .signGuide span{display: block; color: #a86e63; font-size: 14px;}
#signGuide .signGuide span:nth-child(3){padding: 1% 12%;}
#signGuide .signGuide span i{display: block; font-size: 16px; font-style: normal; margin-bottom: 5px;}
#signGuide .signGuide span b{margin-right: 5px;}
#signGuide .signGuide span img{display: block; width: 100%;}
#signGuide .signGuide a{display: block; width: 80%; margin: 15px auto; line-height: 40px; background: #ff5200; border-radius: 5px; text-align: center; color: #fff;}

/*顶部APP下载*/
#apps{display: none; width: 100%; background: #f8f8f8; overflow: hidden;}
#apps .apps{width: 90%; margin: 3% auto; padding: 2% 3%; background: #fff; border: 1px solid #fff; background: #ffffff; box-shadow: 1px 3px 5px rgba(12,2,5,.07); border-radius: 10px; overflow: hidden;}
#apps .apps em{display: block; float: left; width: 42px; height: 42px; font-size: 0px;  background: url(../images/logo_app.png) no-repeat center; background-size: 35px 35px; border: 1px solid #cbcaca; border-radius: 10px;}
#apps .apps span{display: block; float: left; font-size: 15px; margin-left: 2%; line-height: 22px;}
#apps .apps span i{display: block; font-size: 13px; color: #888a92; font-style: normal;}
#apps .apps a{display: block; float: right; width: 22%; font-size: 14px; background: #ff5200; color: #fff; line-height: 30px; text-align: center; border-radius: 5px; margin-top: 8px;}
@media screen and (max-width:320px) {
    #apps .apps span{font-size: 12px;}
    #apps .apps span i{font-size: 12px;}
    #apps .apps a{font-size: 12px;}
}
/*二手房详情小区问答*/
.plotAsk{
    background:  #fff;
    margin-top: 10px;
    padding-bottom: 20px;
}
.plotAsk ul{
    width: 96%;
    margin: 0 auto;
}
.plotAsk ul li{
    overflow:  hidden;
    line-height: 18pt;
    color:  #999;
    font-size: 9pt;
}
.plotAsk ul li .Q-A{
    overflow:  hidden;
    font-size:  10pt;
    float:  left;
    width: 86%;
}
.plotAsk ul li h4{
    overflow:  hidden;
    text-overflow:  ellipsis;
    white-space: pre;
    width: 94%;
    font-weight:  normal;
    color:  #333;
    background: url(../images/villageqaicon1.jpg) no-repeat 0px 4px;
    background-size:  18px 18px;
    padding-left: 22px;
}
.plotAsk ul li .iconQ-A{color:#999}
.remind{ background-color:#f6f6f6}
.remind h1{font-size:13px;color:#4b78b8;width:91px;margin:0 auto;height:35px;line-height:35px;padding-left: 25px;background: url(../images/remind.png);background-repeat: no-repeat;background-size:  16px auto;background-position: left center;}

.home-device{position:relative}
.Advertisement{position:absolute;right: 5px;bottom: 7px;z-index:99;background-color:rgba(0,0,0,0.4);}
.Advertisement h1{font-size:12px;color: #fff;padding-left:  5px;padding-right:  5px;line-height: 20px;font-weight:  normal;}



/* 房源详情头部 改为透明板2018-10-22 */
.scrollShow {
    display: block;}
.house_information{
    height: 43px;
    background: #f6f6f600;
    display: block;
    position: fixed;
    top: 0;
    max-width: 640px;
    z-index: 99999;
    width:  100%;
}
.house_information .m_nav{display: block;position: fixed;top: 0;max-width: 640px;z-index: 99999;background: none;}
.scrollShow{
    /* display: none; */
}
.house_information .scrollShowBlock{
    display:  block;
    background: #F6F6F6;
    height:  43px;
}
.house_information .scrollShowBlock span{
    display:  block;
    overflow:  hidden;
    height: 39px;
    float:  left;
    width: 39px;
    margin-left: 40%;
    margin-top: 2px;
}
.house_information .scrollShowBlock span+span{
    margin-left: 10px;
    display: inline-block;
    height: 39px;
    float: left;
    width: 39px;
    margin-top:  2px;
}
.house_information .scrollShowBlock span+s span{margin-left: 10px;}
/*.scrollShow .pictures,.scrollShow .videos{display: none;}*/
.house_information .scrollShowBlock .videos{}
.house_information .scrollShowBlock .pictures{
    /* margin-left: 10px; */
    display:  block;
}
.house_information .scrollShowBlock span a{
    display:  block;
    width:  100%;
    position: relative;
    height:  100%;
}
.house_information .scrollShowBlock span a img{
    width:  100%;
    height:  100%;
}

.house_information .scrollShowBlock span a #prismBigPlayIcon{
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
}
.house_information .m_nav a{
    /*background: url(../images/navscrollshow.png);*/
    width: 30px;
    height: 30px;
    display:  block;
}
.house_information .m_nav .return{
    background: url(../images/navscrollshow_11.png) center;
    background-size:100%;
    background-position: 0 0 !important;
    background-size:  100% 100%;
    top: 6px;
}
.house_information .m_nav .afavorite{
    background: url(../images/navscrollshow_22.png) center;
    width: 30px;
    height: 30px;
    display: block;
    background-size:  100% 100%;
    background-position: 0 0 !important;
    right: 80px;
    top: 6px;
}
.house_information .m_nav .sharebtn{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_33.png) center;
    display: block;
    background-size:  100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .m_nav .cfavorite {
    position: absolute;
    right: 81px;
    cursor: pointer;
    float: right;
    background: url(../images/navscrollshow_22hover.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .m_nav .catalog{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_44.png) center no-repeat;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}
.house_information .scrollShowBlock .return{
    background: url(../images/navscrollshow_1.png) center;
    background-position: 0 0 !important;
    background-size: 100% 100%;
    top: 6px;
}
.house_information .scrollShowBlock .afavorite{
    background: url(../images/navscrollshow_2.png) center;
    widthh: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    right: 80px;
    top: 6px;
}
.house_information .scrollShowBlock .sharebtn{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_3.png) center;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
    position: fixed;
}
.house_information .scrollShowBlock .catalog{
    width: 30px;
    height: 30px;
    background: url(../images/navscrollshow_4.png) center no-repeat;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}

.house_information .scrollShowBlock  .cfavorite {
    position: absolute;
    right: 81px;
    cursor: pointer;
    float: right;
    background: url(../images/navscrollshow_2hover.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-size: 100% 100%;
    background-position: 0 0 !important;
    top: 6px;
}

.no_pl{
    text-align: center !important;
    padding-top: 50% !important;
    font-size: 10pt !important;
    color: #999898;
    margin: 0 !important;
    width: 100%;
}
.no_pl img{
    width: 80%;
    margin-bottom: 23pt;
    margin-top: -40px;
}
.no_pl p{}

/*二手房相关各列表竞价置顶标签*/
.icon_toTop{
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    width: 20px;
    height: 22.5px;
    background: url(../images/icon_totop.png) top center no-repeat;
    background-size: 100% 100%;
    z-index: 9;
}
.icon_biddPrice{
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    width: 20px;
    height: 22.5px;
    background: url(../images/icon_biddprice.png) top center no-repeat;
    background-size: 100% 100%;
    z-index: 9;
}
.title,.right_info{font-weight:normal}

/* 二手房相关视频，全景图标 */
.listIconOne{}
.uhouselist .listIconTwo{
    left: 18px;
    top: 28px;
}
.subHousesMain .listIconTwo{
    left: 18px;
    top: 28px;}
.listIconTwo{
    position: absolute;
    left: 26px;
    top: 36px;
    width: 72px;
    overflow: hidden;
}
.ListIconVr{
    background: url(../images/listiconvr.png);
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    left: 49px;
    top: 36px;
    background-size: 100% 100%;
}
.ListIconVideo{
    background: url(../images/listiconvideo.png);
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    left: 49px;
    top: 36px;
    background-size: 100% 100%;
}
.listIconOne .ListIconVr{}
.listIconOne .ListIconVideo{}
.listIconTwo .ListIconVr{
    position: initial;
    float: left;
}
.listIconTwo .ListIconVideo{
    position: initial;
    float: left;
    margin-left: 15px;
}

/* 二手房相关详情页 */
#stateShiftBtn{
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    z-index: 99;
    left: 50%;
    margin-left: -72px;
    display: none;
}
#stateShiftBtn div{
    float: left;
    width: 40px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: #222;
    margin: 0 4px;
}
.stateShiftBtnBtn3{
    margin-left: -75px !important;
}
.stateShiftBtnBtn2{
    margin-left: -48px !important;
}
#stateShiftBtn div.hover{
    background:#ff5200;
    background-image: linear-gradient(90deg, #ffa81f,#ff5300);
-webkit-linear-gradient(90deg, #ffa81f,#ff5300);
    color:#fff
}
.swImgNumShow{/* display: block !important; */}
.swImgNumHide{/* display: none !important; */}
#fxeHouseVideoIcon{
    position: absolute;
    top: 50%;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    height: 80px;
    margin-top: -55px;
}