<div class="footer_copy">免责声明：本站楼盘信息旨在为用户提供更多信息的无偿服务，最终信息以政府部门登记备案为准，请谨慎核查。</div>
<div class="ih" style="height:40px;"></div>
<div class="fixed-btns flexbox"> <a href="javascript:;" class="btn-left flexbox">
  <div class="avatar-frame"> {notempty name="$eju.field.saleman"} <img src="{$eju.field.saleman.saleman_pic}" alt="{$eju.field.saleman.saleman_name}"> {else /} <img src="{eju:global name='web_templets_pc' /}/skin/img/noavatar.jpg" alt="头像"> {/notempty} </div>
  <div class="text"> <span class="name">{$eju.field.sale_name}</span> </div>
  </a> <a href="tel:{$eju.field.sale_phone} {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}" class="btn-right">电话咨询</a> </div>