<div class="footer_copy">免责声明：本站楼盘信息旨在为用户提供更多信息的无偿服务，最终信息以政府部门登记备案为准，请谨慎核查。</div>
<div class="ih" style="height:40px;"></div>
<div class="y_puicfoot">
  <div class="y_puicfoot_main c">
    <div class="y_puicfoot_left c"> <a class="a_left" href="javascript:;" onclick="liquyouhui()"> <i><img src="{eju:global name='web_templets_m' /}/skin/img/ico_hang06.png" alt=""></i> <span>领取优惠</span> </a> </div>
    <div class="y_puicfoot_right c"> <a class="btn2 al_left" href="javascript:;" data-name="团购看房" data-buttom="立即报名" > <i><img src="{eju:global name='web_templets_m' /}/skin/img/ico_hang03.png" alt=""></i> <span>团购看房</span> </a> <a class="al_right" href="tel:{eju:global name='web_attr_2' /}" style="margin-left: 5%"> <i style="width:19px;"><img src="{eju:global name='web_templets_m' /}/skin/img/ico_hang041.gif" alt=""></i> <span>免费电话</span> </a> </div>
  </div>
</div>