<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="mobile">
{eju:static file="skin/css/public.css" /}
{eju:static file="skin/css/alert.css" /}
{eju:static file="skin/css/news_details.css" /}
{eju:static file="skin/css/swiper-3.4.2.min.css" /}
{eju:static file="skin/css/mobile.css" /}

{eju:static file="skin/css/jingjiren.css" /}
{eju:static file="skin/css/color.css" /}
</head>

<body>
<div id="serachBox2"> <img src="{$eju.field.litpic}" alt="" style="visibility:hidden;height:0;width:0;"> {eju:include file="header.htm" /}
  <div style="height:30px;" class="m_v2head"></div>
  <div class="content gsdetail native-scroll">
    <div class="gsbj">
      <div class="fl">
        <h2>王琴</h2>
        <p> <img src="https://house.08cms.com/bundles\house\images\defaultlevel\phone.gif"> <img src="https://house.08cms.com/bundles\house\images\defaultlevel\idcard.gif"> <img src="https://house.08cms.com/bundles\house\images\defaultlevel\license.gif"> <img src="https://house.08cms.com/bundles/house/images/defaultlevel/ico_5.gif"> </p>
      </div>
      <div class="fr"> <img src="https://house.08cms.com/uploads/house/000/00/00/1/000/005/3c11e3c644f169c176487e929be14624.jpg"> </div>
      <div class="gsdy pt0">
        <p> 服务区域 ：东莞市 - 万江区,南城区,东城区 </p>
        <p>从业年限 ：6年</p>
        <p>积分 ：0分</p>
        <p>访问量 ：2585次</p>
        <p>手机 ：13365487458</p>
        <p>邮箱：<a href="mailto:2548761245@qq.com" target="_blank">2548761245@qq.com</a></p>
        <p> 所属单位 ：烟花三月下扬州有限公司 </p>
        <p>上次登录时间：    2020-01-03</p>
      </div>
    </div>
    <div class="gsbj">
      <div class="gsbj-title"> 店铺公告 </div>
      <div class="gsbj-content"> 这里是店铺公告 </div>
    </div>
    <div class="gsbj">
      <div class="gsbj-title"> 店铺简介 </div>
      <div class="gsbj-content"> 这里是店铺简介 </div>
    </div>
  </div>
</div>

<!--底部开始-->

<nav class="bar bar-tab fixbom"> <a class="tab-item act" href="https://house.08cms.com/member/j_d_ds/155"> <span class="icon font-f-58"></span> <span class="tab-label"> 简介 </span> </a> <a class="tab-item" href="https://house.08cms.com/member/j_detail/155"> <span class="icon font-f-100"></span> <span class="tab-label"> 出售 </span> </a> <a class="tab-item" href="https://house.08cms.com/member/j_d_rent/155"> <span class="icon font-f-68"></span> <span class="tab-label"> 出租 </span> </a> <a class="tab-item" href="https://house.08cms.com/release/wthouse?mid=155&amp;models=rent"> <span class="icon font-f-68"></span> <span class="tab-label"> 委托 </span> </a> <a class="tab-item" href="https://house.08cms.com/member/j_d_ly/155"> <span class="icon font-f-23"></span> <span class="tab-label"> 店铺留言 </span> </a> </nav>
<!--底部结束--> 
{eju:static file="skin/js/jquery-3.2.1.min.js" /} 
{eju:static file="skin/js/swiper-3.4.2.min.js" /}
{eju:static file="skin/js/nav.js" /}
{eju:static file="skin/js/method.js" /}
{eju:static file="skin/css/layer-animate.css" /}
{eju:static file="skin/js/search_public.js" /} 
{eju:static file="skin/js/details.js" /}
</body>
</html>