<div id="InDiv2_zufang" style="width:100%; height:100%; position:fixed;z-index:9999;top:0;left:0;display: none">
  <div id="offDiv2_zufang" style=" width:100%; height:100%; left:0px; top:0px; position:fixed;z-index:9999;background: #f5f5f5;">
    <div id="Content2_zufang">
      <div id="serachBox" style="background:#fff; width:100%; height:100%;">
        <div class="search-header clear_c">
          <div class="back-btn_maing"> <a href="javascript:void(0);" class="back-btn" onclick="btnCloses2_zufang();"></a> </div>
          <div class="back_search_m">
            <div class="form"> 
             {eju:searchform channelid='13' typeid='12' type='default'}
              <form name="index_form" calss="index_form" method="get" action="{$field.action}">
                <input type="search" name="keywords" id="keywords" placeholder="请输入房源名称" class="y_headerscr header_searchs">
                <button type="submit"><span><img src="{eju:global name='web_templets_m' /}/skin/img/icon-search.png" alt=""></span></button>
                {$field.hidden}
              </form>
              {/eju:searchform}
              <div class="y_scriptm"> </div>
            </div>
          </div>
        </div>
        <div class="search-container"> 
         {eju:screening id='field' typeid='12' region='off' target='_blank' show='2' opencity='2' }
          {eju:volist name='$field.list' id='vo'}
          <div class="search-filter">
            <h2 class="title"><span class="title-icon"></span>{$vo.title}</h2>
            <ul class="filter-list clearfix clear_c">
              {eju:volist name='$vo.dfvalue' id='vo2'}
              <li class="filter-item"><a {$vo2.onClick}  title="{$vo2.name}"><span class="item-text">{$vo2.name}</span></a></li>
              {/eju:volist}
            </ul>
          </div>
          {/eju:volist}
          {$field.hidden}
          {/eju:screening} 
        </div>
      </div>
    </div>
  </div>
</div>