<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>{$eju.field.seo_title}-动态</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{eju:static file="skin/css/public.css" /}
{eju:static file="skin/css/alert.css" /}
{eju:static file="skin/css/swiper-3.4.2.min.css" /}
{eju:static file="skin/css/lpdetails.css" /}
{eju:static file="skin/css/recommend.css" /}
{eju:static file="skin/css/mobile.css" /}
{eju:static file="skin/css/lpindex.css" /}
{eju:static file="skin/css/color.css" /}
</head>

<body>
<div id="serachBox2">
  <div id="y_sidebarl">
    <div class="y_publichead">
      <div class="y_publicmain">
        <div class="y_publiccenter c">
          <div class="y_publicleft"><a href="javascript:history.back(-1)"><img src="{eju:global name='web_templets_m' /}/skin/img/ico_026.png" alt=""></a></div>
          <div class="y_publiccont"><a href="javascript:;">楼盘动态</a></div>
          <div class="y_publicright"><a href="javascript:;"><img src="{eju:global name='web_templets_m' /}/skin/img/ico_027.png" alt=""></a></div>
        </div>
      </div>
    </div>
    
    <!-- 侧边栏 --> 
    
    <!-- 侧边栏 -->
    
    {eju:include file="nav.htm"/} 
    <div style="height:105px;"></div>
    
    <!-- 导航 -->
    
    <div class="hu_nav">
      <div class="hu_nav_main">
        <ul class="c">
          <li {eju:empty name='$eju.param.column'} class="on"{/eju:empty}><a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath])}"> <span>楼盘首页</span> </a></li>
          <li {eju:notempty name='$eju.param.column'}{eju:eq name='$eju.param.column' value='detail'} class="on"{/eju:eq}{/eju:notempty}>
          <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'detail'])}"> <span>楼盘信息</span> </a>
          </li>
          <li {eju:notempty name='$eju.param.column'}{eju:eq name='$eju.param.column' value='information'} class="on"{/eju:eq}{/eju:notempty}>
          <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'information'])}"> <span>楼盘动态</span> </a>
          </li>
          <li {eju:notempty name='$eju.param.column'}{eju:eq name='$eju.param.column' value='huxing'} class="on"{/eju:eq}{/eju:notempty}>
          <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'huxing'])}"> <span>楼盘户型</span> </a>
          </li>
          <li {eju:notempty name='$eju.param.column'}{eju:eq name='$eju.param.column' value='photo'} class="on"{/eju:eq}{/eju:notempty}>
          <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'photo'])}"> <span>楼盘相册</span> </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="m_lpdata_box c"> <img src="{$eju.field.litpic}" alt="">
      <div class="m_lpdata">
        <div class="m_lpdata_title c"><em>{$eju.field.title}</em><i>{$eju.field.sale_status}</i></div>
        <div class="m_lpdata_jg"> <span>均价: {eju:notempty name="$eju.field.average_price"}<i>{$eju.field.average_price}</i>{$eju.field.price_units}{eju:else /}暂无{/eju:notempty}</span> <em>(有效期至：<i class="timew">{$eju.field.price_time|myDate='Y-m-d',###}</i>)</em> </div>
        <div class="m_lpdata_style">{eju:volist name='$eju.field.characteristic' id='vo'}<i>{$vo}</i>{/eju:volist}</div>
      </div>
    </div>
    
    <!-- 基本信息 -->
    
    <div class="m_dynamic_box">
      <div class="m_lphome_h">楼盘动态</div>
      <div class="m_hotnews_list">
        <ul>
          {eju:arclist typeid="4" joinaid="$eju.field.aid" limit="0,20" titlelen="30" orderby='new' orderWay='desc'}
          <li class="style1 c"> <a href="{$field.arcurl}">
            <div class="m_style1_tu"> <img src="{$field.litpic}" alt=""> </div>
            <div class="m_style1_text">
              <p class="m_title">{$field.title}</p>
              <p class="m_sjll"> <span class="m_ll"><i><img src="{eju:global name='web_templets_m' /}/skin/img/lpindexv2_10.png" alt=""></i>{$field.click}</span> <span class="m_sj">{$field.add_time|MyDate='Y-m-d',###}</span> </p>
            </div>
            </a> </li>
          {/eju:arclist}
        </ul>
      </div>
      <a name="m_Matching"></a> 
      
      <!-- 动态通知 -->
      
      <div class="y_lpyhtz">
        <div class="y_lpyhtz_main "> {eju:form formid="1"}
          <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
            <input class="y_lpyhtz_input" type="text" id="{$field.attr_1}" name="{$field.attr_1}" placeholder="请输入您的{$field.itemname_1}" style="border: 1px solid #DDD"  maxlength="11"  onKeyUp="chkNumber(this)" onafterpaste="chkNumber(this)">
            <button class="apply_subm2" type="submit">动态通知</button>
            <span><img src="{eju:global name='web_templets_m' /}/skin/img/lpindexv2_12.png" alt="">我们将以短信通知您全新楼盘动态，足不出户知房事</span> {$field.hidden}
          </form>
          {/eju:form} </div>
      </div>
      <div class="m_hotlP_gd"><a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'information'])}">更多动态</a></div>
    </div>
    
    <!-- <div class="y_sidebarbg"></div> --> 
    
  </div>
  
  
</div>

<!--底部开始-->

{eju:include file="footer.htm"/}
<!--底部结束-->
{eju:static file="skin/js/jquery-3.2.1.min.js" /} 
{eju:static file="skin/js/swiper-3.4.2.min.js" /} 
{eju:static file="skin/js/nav.js" /}
{eju:static file="skin/js/method.js" /}
{eju:static file="skin/css/layer-animate.css" /}
{eju:static file="skin/js/search_public.js" /} 
{eju:static file="skin/js/index.js" /} 
<!--底部优惠开始-->
{eju:include file="youhui.htm"/}
<!--底部优惠结束-->
{eju:static file="skin/js/slideout.js" /}
{eju:static file="skin/js/details.js" /}
{eju:static file="skin/js/recommend.js" /}
{eju:static file="skin/js/housenav.js" /}
<!--搜索弹出层开始-->
{eju:include file="so.htm"/}
<!--搜索弹出层结束-->
</body>
</html>