<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="mobile">
{eju:static file="skin/css/public.css" /}
{eju:static file="skin/css/alert.css" /}
{eju:static file="skin/css/news_details.css" /}
{eju:static file="skin/css/swiper-3.4.2.min.css" /}
{eju:static file="skin/css/mobile.css" /}

{eju:static file="skin/css/color.css" /}
</head>

<body>
<div id="serachBox2"> <img src="{$eju.field.litpic}" alt="" style="visibility:hidden;height:0;width:0;">
  {eju:include file="header.htm" /}
  <div style="height:50px;" class="m_v2head"></div>
  <div class="y_news_details">
    <div class="y_news_main">
      <div class="y_news_conter">
        <div class="y_newsdeta_h">{$eju.field.title}</div>
        <div class="y_newsdeta_hbottom c">
          <p class="y_left c">  <span>来源：{$eju.field.come_from}</span> <span>作者：{$eju.field.author}</span> </p>
          <p class="y_right">{$eju.field.add_time|MyDate='Y-m-d H:i:s',###}</p>
        </div>
        <div class="y_newsdata_cont">
          <div class="yv2Newsdeta_center" style="margin:25px 0px 0px;padding:0px;font-size:16px;font-family:微软雅黑;color:#333333;background-color:#FFFFFF;"> {$eju.field.content} </div>
        </div>
      </div>
    </div>
  </div>
  <div class="y_newsmore">
    <div class="y_newsmore_main">
      <div class="y_newsmore_cent"> 
        {eju:prenext get='pre' titlelen='20'}
        <div class="y_newsmore_li"> <a href="{$field.arcurl}" class="c"><span>上一篇: <em> {$field.title}</em></span><i><img src="{eju:global name='web_templets_m' /}/skin/img/ico_32.png" alt=""></i></a> </div>
        {eju:else /}
        <div class="y_newsmore_li" style="display: none;"> <a  class="c"><span>上一篇: <em> 没有了</em></span><i><img src="{eju:global name='web_templets_m' /}/skin/img/ico_32.png" alt=""></i></a> </div>
        {/eju:prenext}
        {eju:prenext get='next' titlelen='20'}
        <div class="y_newsmore_li"> <a href="{$field.arcurl}" class="c"><span>下一篇: <em> {$field.title}</em></span><i><img src="{eju:global name='web_templets_m' /}/skin/img/ico_32.png" alt=""></i></a> </div>
        {eju:else /}
        <div class="y_newsmore_li" style="display: none;"> <a  class="c"><span>下一篇: <em> 没有了</em></span><i><img src="{eju:global name='web_templets_m' /}/skin/img/ico_32.png" alt=""></i></a> </div>
        {/eju:prenext}
      </div>
    </div>
  </div>
  <div class="y_newsub">
    <div class="y_newsub_main">
      <div class="y_newsub_bg"> <img src="{eju:global name='web_templets_m' /}/skin/img/m1_ico_news_dy.png" alt=""> </div>
      <img src="{eju:global name='web_templets_m' /}/skin/img/m_zxxtb1.png" alt="" class="m_zxxtb">
      <div class="y_newsub_cent">
        <div class="y_newsub_h">订阅资讯，获取全国楼市最新信息</div>
        <div class="y_newsub_input">
         {eju:form formid="1"}
          <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
            <input type="text" id="{$field.attr_1}" name="{$field.attr_1}" class="y_input" placeholder="您的手机号">
            <input type="submit" class="y_submit apply_submit" value="">
          {$field.hidden}
		  </form>
	 	 {/eju:form}
          <img src="{eju:global name='web_templets_m' /}/skin/img/m_zxg1.png" alt="" class="m_zxg"> </div>
      </div>
    </div>
  </div>
  
  <!-- 看房定制 -->
  
  <div class="y_lpkfdz">
    <div class="y_lpkfdz_bg"> <img src="{eju:global name='web_templets_m' /}/skin/img/m_1ico_lptjbg.png" alt=""> </div>
    <div class="y_lpkfdz_main">
      <div class="y_lpkfdz_cent">
        <div class="y_lpkfdz_inplist">
          {eju:form formid="2"}
          <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
            <div class="y_lpkfdzinpund"> <i><img src="{eju:global name='web_templets_m' /}/skin/img/m_ico_dzxm1.png" alt=""></i>
              <input id="{$field.attr_3}" name="{$field.attr_3}" class="y_input" type="text" placeholder="您的{$field.itemname_3}">
            </div>
            <div class="y_lpkfdzinpund"> <i><img src="{eju:global name='web_templets_m' /}/skin/img/m_ico_dzxm3.png" alt=""></i>
              <input id="{$field.attr_2}" name="{$field.attr_2}" class="y_input" type="text" placeholder="您的{$field.itemname_2}">
            </div>
            <div class="y_lpkfdzsub"><input type="submit" value="立即报名" class="apply_submit"></div>
            {$field.hidden}
		  </form>
		 {/eju:form}
        </div>
        <div style="height:25px;"></div>
      </div>
    </div>
    <div class="y_lpkfdz_bg" id="m_lpkfdz_bg"> <img src="{eju:global name='web_templets_m' /}/skin/img/m_2ico_lptjbg.png" alt=""> </div>
  </div>
</div>

<!--底部开始-->

{eju:include file="footer.htm"/}
<!--底部结束-->
{eju:static file="skin/js/jquery-3.2.1.min.js" /} 
{eju:static file="skin/js/swiper-3.4.2.min.js" /}
{eju:static file="skin/js/nav.js" /}
{eju:static file="skin/js/method.js" /}
{eju:static file="skin/css/layer-animate.css" /}
{eju:static file="skin/js/search_public.js" /} 
<!--底部优惠开始-->
{eju:include file="youhui.htm"/}
<!--底部优惠结束-->
{eju:static file="skin/js/details.js" /}
<!--搜索弹出层开始-->
{eju:include file="so.htm"/}
<!--搜索弹出层结束-->
<div style="display: none;">{eju:arcclick /}</div>
</body>
</html>