<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>{$eju.field.seo_title}-相册</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{eju:static file="skin/css/public.css" /}
{eju:static file="skin/css/alert.css" /}
{eju:static file="skin/css/swiper-3.4.2.min.css" /}
{eju:static file="skin/css/lightgallery.css" /}
{eju:static file="skin/css/housephoto.css" /}
{eju:static file="skin/css/recommend.css" /}
{eju:static file="skin/css/mobile.css" /}
{eju:static file="skin/css/color.css" /}
</head>

<body class="">
<div id="serachBox2">
<div class="y_publichead">
  <div class="y_publicmain">
    <div class="y_publiccenter c">
      <div class="y_publicleft"><a href="javascript:history.back(-1)"><img src="{eju:global name='web_templets_m' /}/skin/img/ico_026.png" alt=""></a></div>
      <div class="y_publiccont"><a href="javascript:;">房源相册</a></div>
      <div class="y_publicright"><a href="javascript:;"><img src="{eju:global name='web_templets_m' /}/skin/img/ico_027.png" alt=""></a></div>
    </div>
  </div>
</div>

<!-- 侧边栏 --> 
{eju:include file="nav.htm"/} 
<div style="height:65px;"></div>
<!-- 侧边栏 -->

<div class="photo_box"> 
  <!-- 户型数量 -->
  <style type="text/css">
	.find_nav_list .in span{ color: #FFF }
  </style>
  <div class="hu_box bd" id="div_huxing">
    <ul class="c huxing_lightgallery" >
      {eju:volist name="$eju.field.photo_list" id="vo"}
      <li data-src="{$vo.photo_pic}" data-sub-html="{$vo.photo_title}">
        <p class="hu_img"><img  src="{$vo.photo_pic}" alt="{$vo.photo_title}" > </p>
      </li>
      {/eju:volist}
    </ul>
  </div>
  <!-- 列表 -->
  
  <div class="hu_box" id="zh_housetype-list"> </div>
</div>

<!--底部开始--> 

{eju:include file="footer.htm"/} 
<!--底部结束--> 
{eju:static file="skin/js/jquery-3.2.1.min.js" /} 
{eju:static file="skin/js/swiper-3.4.2.min.js" /}
{eju:static file="skin/js/nav.js" /}
{eju:static file="skin/js/method.js" /}
{eju:static file="skin/css/layer-animate.css" /}
{eju:static file="skin/js/search_public.js" /}
{eju:static file="skin/js/index.js" /}
<div class="m_swiper_xc" style="display: none;">
  <div class="m_swiper_ajax"> </div>
</div>
<!--底部优惠开始--> 
{eju:include file="youhui.htm"/} 
<!--底部优惠结束--> 
{eju:static file="skin/js/lightgallery.js" /}
{eju:static file="skin/js/album.js" /}
{eju:static file="skin/js/js.js" /}
{eju:static file="skin/js/recommend.js" /}
</body>
</html>