<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>{$eju.field.seo_title}-详情</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{eju:static file="skin/css/public.css" /}
{eju:static file="skin/css/alert.css" /}
{eju:static file="skin/css/swiper-3.4.2.min.css" /}
{eju:static file="skin/css/lpdetails.css" /}
{eju:static file="skin/css/recommend.css" /}
{eju:static file="skin/css/mobile.css" /}
{eju:static file="skin/css/color.css" /}
{eju:static file="skin/css/color.css" /}
</head>

<body>
<div id="serachBox2">
  <div id="y_sidebarl">
    <div class="y_publichead">
      <div class="y_publicmain">
        <div class="y_publiccenter c">
          <div class="y_publicleft"><a href="javascript:history.back(-1)"><img src="{eju:global name='web_templets_m' /}/skin/img/ico_026.png" alt=""></a></div>
          <div class="y_publiccont"><a href="javascript:;">楼盘详情</a></div>
          <div class="y_publicright"><a href="javascript:;"><img src="{eju:global name='web_templets_m' /}/skin/img/ico_027.png" alt=""></a></div>
        </div>
      </div>
    </div>
    
    <!-- 侧边栏 --> 
    
    <!-- 侧边栏 -->
    
    {eju:include file="nav.htm"/} 
    <div style="height:105px;"></div>
    
    <!-- 导航 -->
    
    <div class="hu_nav">
      <div class="hu_nav_main">
        <ul class="c">
          <li {eju:empty name='$eju.param.column'} class="on"{/eju:empty}><a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath])}"> <span>楼盘首页</span> </a></li>
          <li {eju:notempty name='$eju.param.column'}{eju:eq name='$eju.param.column' value='detail'} class="on"{/eju:eq}{/eju:notempty}>
          <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'detail'])}"> <span>楼盘信息</span> </a>
          </li>
          <li {eju:notempty name='$eju.param.column'}{eju:eq name='$eju.param.column' value='information'} class="on"{/eju:eq}{/eju:notempty}>
          <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'information'])}"> <span>楼盘动态</span> </a>
          </li>
          <li {eju:notempty name='$eju.param.column'}{eju:eq name='$eju.param.column' value='huxing'} class="on"{/eju:eq}{/eju:notempty}>
          <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'huxing'])}"> <span>楼盘户型</span> </a>
          </li>
          <li {eju:notempty name='$eju.param.column'}{eju:eq name='$eju.param.column' value='photo'} class="on"{/eju:eq}{/eju:notempty}>
          <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'photo'])}"> <span>楼盘相册</span> </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="m_lpdata_box c"> <img src="{$eju.field.litpic}" alt="">
      <div class="m_lpdata">
        <div class="m_lpdata_title c"><em>{$eju.field.title}</em><i>{$eju.field.sale_status}</i></div>
        <div class="m_lpdata_jg"> <span>均价: {eju:notempty name="$eju.field.average_price"}<i>{$eju.field.average_price}</i>{$eju.field.price_units}{eju:else /}暂无{/eju:notempty}</span> <em>(有效期至：<i class="timew">{$eju.field.price_time|myDate='Y-m-d',###}</i>)</em> </div>
        <div class="m_lpdata_style">{eju:volist name='$eju.field.characteristic' id='vo'}<i>{$vo}</i>{/eju:volist}</div>
      </div>
    </div>
    
    <!-- 基本信息 -->
    
    <div class="y_lpjbxx">
      <div class="y_lpjbxx_main" style="border-top:0;">
        <div class="y_lpjbxx_cent">
          <ul>
            <li class="c"><span>开&nbsp;&nbsp;发&nbsp;&nbsp;商：</span><em>{$eju.field.developer}</em></li>
            <li class="tese c"><span>项目特色：</span><em class="y_lptese_color"> {eju:volist name='$eju.field.characteristic' id='vo'}<i>{$vo}</i>{/eju:volist}</em></li>
            <li class="c"><span>建筑类别：</span><em>{$eju.field.building_type|implode=",",###} </em></li>
            <li class="c"><span>装修状况：</span><em>{$eju.field.fitment|implode=",",###} </em></li>
            <li class="c"><span>产权年限：</span><em>{$eju.field.property} </em></li>
            <li class="c"><span>楼盘地址：</span><em>{$eju.field.address}</em></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="y_lpjbxx">
      <div class="y_lpjbxx_main">
        <div class="y_lpjbxx_cent">
          <ul>
            <li class="c"><span>销售状态：</span><em>{$eju.field.sale_status}</em></li>
            <li class="c"><span>楼盘优惠：</span><em>{$eju.field.discount}</em></li>
            <li class="c"><span>开盘时间：</span><em>{$eju.field.opening_time|myDate='Y年m月d日',###}</em></li>
            <li class="c"><span>交房时间：</span><em>{$eju.field.complate_time|myDate='Y年m月d日',###}</em></li>
            <li class="c"><span>咨询电话：</span><em><a style="color:#FA4600;font-weight:600" href="tel:{$eju.field.sale_phone} {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}">{$eju.field.sale_phone} {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}</a></em></li>
            <li class="c"><span>主力户型：</span><em>{$eju.field.main_unit} </em></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="y_lpjbxx">
      <div class="y_lpjbxx_main">
        <div class="y_lpjbxx_cent">
          <ul>
            <li class="c"><span>占地面积：</span><em>{$eju.field.floor_area}{$eju.field.floor_area_unit}</em></li>
            <li class="c"><span>建筑面积：</span><em>{$eju.field.building_area}{$eju.field.building_area_unit}</em></li>
            <li class="c"><span>容&nbsp;&nbsp;积&nbsp;&nbsp;率：</span><em>{$eju.field.plot_ratio}{$eju.field.plot_ratio_unit}</em></li>
            <li class="c"><span>绿&nbsp;&nbsp;化&nbsp;&nbsp;率：</span><em>{$eju.field.greening_rate}{$eju.field.greening_rate_unit}</em></li>
            <li class="c"><span>停&nbsp;&nbsp;车&nbsp;&nbsp;位：</span><em>{$eju.field.carport}{$eju.field.carport_unit}</em></li>
            <li class="c"><span>楼栋总数：</span><em>{$eju.field.building_num}{$eju.field.building_num_unit}</em></li>
            <li class="c"><span>总&nbsp;&nbsp;户&nbsp;&nbsp;数：</span><em>{$eju.field.households}{$eju.field.households_unit}</em></li>
            <li class="c"><span>物业公司：</span><em>{$eju.field.manage_company}</em></li>
            <li class="c"><span>物&nbsp;&nbsp;业&nbsp;&nbsp;费：</span><em>{$eju.field.property_fee}{$eju.field.property_fee_unit}</em></li>
            <li class="c"><span>预售许可证：</span><em>{$eju.field.licence}</em></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- <div class="y_sidebarbg"></div> --> 
    
  </div>
  

</div>

<!--底部开始-->

{eju:include file="footer.htm"/}
<!--底部结束-->
{eju:static file="skin/js/jquery-3.2.1.min.js" /} 
{eju:static file="skin/js/swiper-3.4.2.min.js" /} 
{eju:static file="skin/js/nav.js" /}
{eju:static file="skin/js/method.js" /}
{eju:static file="skin/css/layer-animate.css" /}
{eju:static file="skin/js/search_public.js" /} 
{eju:static file="skin/js/index.js" /} 
<!--底部优惠开始-->
{eju:include file="youhui.htm"/}
<!--底部优惠结束-->
{eju:static file="skin/js/slideout.js" /}
{eju:static file="skin/js/details.js" /}
{eju:static file="skin/js/recommend.js" /}
{eju:static file="skin/js/housenav.js" /}
<!--搜索弹出层开始-->
{eju:include file="so.htm"/}
<!--搜索弹出层结束-->
</body>
</html>