<div class="msg-layer-bg kaipantz" style="display: none;"></div>
<div class="msg-layer showAlert kaipan" style="width: 300px; height: 243px; left:40px; top: 139.5px; display: none;"><h5 style="display: none;"></h5>
 <div class="msg-con">
  <div class="house-bm">
    <div class="c3">
      <h3>领取优惠，优惠实时知！</h3>
      <ul>
        {eju:form formid="2" success="closemsg"}
        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
          <li>
            <input type="text" id="{$field.attr_2}" name="{$field.attr_2}" class="input-1" placeholder="您的{$field.itemname_2}" maxlength="11" >
          </li>
          <li>
            <input type="text" id="{$field.attr_3}" name="{$field.attr_3}" class="input-1" placeholder="您的{$field.itemname_3}" maxlength="8">
          </li>
          <li>
            <input type="submit" value="立即领取" class="input-2">
            <input type="button" value="取消" class="input-3 input-kaipan">
          </li>
          {$field.hidden}
        </form>
        {/eju:form}
      </ul>
    </div>
  </div>
</div>
</div>

<div id="youhui" class="msg-layer-bg" style="display: none;"></div>
<div id="you" class="msg-layer showAlert" style="width: 300px; height: 243px; left:40px; top: 139.5px; display: none;"><h5 style="display: none;"></h5>
 <div class="msg-con">
  <div class="house-bm">
    <div class="c3">
      <h3>领取优惠，优惠实时知！</h3>
      <ul>
        {eju:form formid="2" success="closemsg"}
        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
          <li>
            <input type="text" id="{$field.attr_2}" name="{$field.attr_2}" class="input-1" placeholder="您的{$field.itemname_2}" maxlength="11" >
          </li>
          <li>
            <input type="text" id="{$field.attr_3}" name="{$field.attr_3}" class="input-1" placeholder="您的{$field.itemname_3}" maxlength="8">
          </li>
          <li>
            <input type="submit" value="立即领取" class="input-2">
            <input type="button" value="取消" class="input-3 input-you">
          </li>
          {$field.hidden}
        </form>
        {/eju:form}
      </ul>
    </div>
  </div>
</div>
</div>

<div id="jiangjia" class="msg-layer-bg" style="display: none;"></div>
<div id="jiangj" class="msg-layer showAlert" style="width: 300px; height: 243px; left:40px; top: 139.5px; display: none;"><h5 style="display: none;"></h5>
 <div class="msg-con">
  <div class="house-bm">
    <div class="c3">
      <h3>降价通知，优惠实时知！</h3>
      <ul>
        {eju:form formid="2" success="closemsg"}
        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
          <li>
            <input type="text" id="{$field.attr_2}" name="{$field.attr_2}" class="input-1" placeholder="您的{$field.itemname_2}" maxlength="11" >
          </li>
          <li>
            <input type="text" id="{$field.attr_3}" name="{$field.attr_3}" class="input-1" placeholder="您的{$field.itemname_3}" maxlength="8">
          </li>
          <li>
            <input type="submit" value="提交获取" class="input-2">
            <input type="button" value="取消" class="input-3 input-jiangjia">
          </li>
          {$field.hidden}
        </form>
        {/eju:form}
      </ul>
    </div>
  </div>
</div>
</div>
<div id="baoming" class="msg-layer-bg" style="display: none;"></div>
<div id="baom" class="msg-layer showAlert" style="width: 300px; height: 243px; left:40px; top: 139.5px; display: none;"><h5 style="display: none;"></h5>
 <div class="msg-con">
  <div class="house-bm">
    <div class="c3">
      <h3>报名看房</h3>
      <ul>
        {eju:form formid="2" success="closemsg"}
        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
          <li>
            <input type="text" id="{$field.attr_2}" name="{$field.attr_2}" class="input-1" placeholder="您的{$field.itemname_2}" maxlength="11" >
          </li>
          <li>
            <input type="text" id="{$field.attr_3}" name="{$field.attr_3}" class="input-1" placeholder="您的{$field.itemname_3}" maxlength="8">
          </li>
          <li>
            <input type="submit" value="点击报名" class="input-2">
            <input type="button" value="取消" class="input-3 input-baoming">
          </li>
          {$field.hidden}
        </form>
        {/eju:form}
      </ul>
    </div>
  </div>
</div>
</div>
<div class="msg-layer-bg tuangou" style="display: none;"></div>
<div class="msg-layer showAlert tuan" style="width: 300px; height: 243px; left:40px; top: 139.5px; display: none;"><h5 style="display: none;"></h5>
 <div class="msg-con">
  <div class="house-bm">
    <div class="c3">
      <h3>团购看房，实惠买好房！</h3>
      <ul>
        {eju:form formid="2" success="closemsg"}
        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
          <li>
            <input type="text" id="{$field.attr_2}" name="{$field.attr_2}" class="input-1" placeholder="您的{$field.itemname_2}" maxlength="11" >
          </li>
          <li>
            <input type="text" id="{$field.attr_3}" name="{$field.attr_3}" class="input-1" placeholder="您的{$field.itemname_3}" maxlength="8">
          </li>
          <li>
            <input type="submit" value="点击报名" class="input-2">
            <input type="button" value="取消" class="input-3 input-tuan">
          </li>
          {$field.hidden}
        </form>
        {/eju:form}
      </ul>
    </div>
  </div>
</div>
</div>
<div class="msg-layer-bg guanzhu" style="display: none;"></div>
<div class="msg-layer showAlert guan" style="width: 300px; height: 243px; left:40px; top: 139.5px; display: none;"><h5 style="display: none;"></h5>
 <div class="msg-con">
  <div class="house-bm">
    <div class="c3">
      <h3>关注小区</h3>
      <p class="subtit">此小区如有新消息，我们会及时通知您</p>
      <ul>
        {eju:form formid="2" success="closemsg"}
        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
          <li>
            <input type="text" id="{$field.attr_2}" name="{$field.attr_2}" class="input-1" placeholder="您的{$field.itemname_2}" maxlength="11" >
          </li>
          <li>
            <input type="text" id="{$field.attr_3}" name="{$field.attr_3}" class="input-1" placeholder="您的{$field.itemname_3}" maxlength="8">
          </li>
          <li>
            <input type="submit" value="确定" class="input-2">
            <input type="button" value="取消" class="input-3 input-guan">
          </li>
          {$field.hidden}
        </form>
        {/eju:form}
      </ul>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
	$(".btn3").on("click",function(){
		$(".kaipantz").show();
		$(".kaipan").show();

	});

	 $("body").delegate(".kaipantz","click",function(){
		 closemsgtuankaipan();

	});

	 $("body").delegate(".input-kaipan","click",function(){
		 closemsgtuankaipan();

	});
	function closemsgtuankaipan(){
		$(".kaipantz").hide();
		$(".kaipan").hide();	
	}
	
	$(".btn5").on("click",function(){
		$("#baoming").show();
		$("#baom").show();

	});

	 $("body").delegate("#baoming","click",function(){
		 closemsgbaoming();

	});

	 $("body").delegate(".input-baoming","click",function(){
		 closemsgbaoming();

	});
	function closemsgbaoming(){
		$("#baoming").hide();
		$("#baom").hide();	
	}
	
	$(".btn4").on("click",function(){
		$("#jiangjia").show();
		$("#jiangj").show();

	});

	 $("body").delegate("#jiangjia","click",function(){
		 closemsgjiangjia();

	});

	 $("body").delegate(".input-jiangjia","click",function(){
		 closemsgjiangjia();

	});
	function closemsgjiangjia(){
		$("#jiangjia").hide();
		$("#jiangj").hide();	
	}
	
	$(".a_left").on("click",function(){
		$("#youhui").show();
		$("#you").show();

	});

	 $("body").delegate("#youhui","click",function(){
		 closemsgyouhui();

	});

	 $("body").delegate(".input-you","click",function(){
		 closemsgyouhui();

	});
	function closemsgyouhui(){
		$("#youhui").hide();
		$("#you").hide();	
	}
	
	
	$(".btn2").on("click",function(){
		$(".tuangou").show();
		$(".tuan").show();

	});

	 $("body").delegate(".tuangou","click",function(){
		 closemsgtuan();

	});

	 $("body").delegate(".input-tuan","click",function(){
		 closemsgtuan();

	});
	function closemsgtuan(){
		$(".tuangou").hide();
		$(".tuan").hide();	
	}
	
	
	$(".btn6").on("click",function(){
		$(".guanzhu").show();
		$(".guan").show();

	});

	 $("body").delegate(".guanzhu","click",function(){
		 closemsgguan();

	});

	 $("body").delegate(".input-guan","click",function(){
		 closemsgguan();

	});
	function closemsgguan(){
		$(".guanzhu").hide();
		$(".guan").hide();	
	}
</script> 
  