<div class="topBar">
  <div class="comWidth clearfix">
    <div class="logo fl">
        <a href="{eju:global name='web_cmsurl' /}" title="{eju:global name='web_name' /}">
            <img src="{eju:global name='web_logo' /}" alt="{eju:global name='web_name' /}" />
        </a>
    </div>
    
    <div class="fl sele_city"> <a href="javascript:;"  class="sele_city_btn">{$eju.region.name}<img src="{eju:global name='web_templets_pc' /}/skin/img/icon15.png" alt="" class="icon"></a>
      <div class="city_list clearfix"> <i class="city-close">关闭</i>
        <dl class="clearfix">
          {eju:region type='selflevel' opencity='1,2,3' row='60' id='field' currentstyle="hot" groupby="initial"}
            <dd><a href="javascript:;">{$key}</a></dd>
            {eju:volist name="$field" id="vo"}
            <dd class="{$vo.currentstyle}"><a href="{$vo.domainurl}" title="{$vo.name}">{$vo.name}</a></dd>
            {/eju:volist}
          {/eju:region}
        </dl>
      </div>
    </div>

    <div class="navBar fl">
      <ul class="nav_list fl">
        {eju:navig position_id='2' type='top' currentstyle="active" id="field"} 
        <li class="{$field.currentstyle}"> <a href="{$field.navig_url}"  {$field.target} {$field.nofollow}>{$field.navig_name}</a>
         {eju:notempty name="$field.children"}
          <ul>
            {eju:navig name="$field.children" id="field2"}
            <li><a href="{$field2.navig_url}" {$field2.target} {$field2.nofollow}>{$field2.navig_name}</a></li>
            {/eju:navig}
          </ul>
          {/eju:notempty}
          </li>
        {/eju:navig}
      </ul>
    </div>
    <div class="log_link fr"> 
      <!-- 未登录状态 -->
      <div class="not_log"> 
       {eju:user type='open'}
        {eju:user type='login'} <a href="{$field.url}" id="{$field.id}">登录</a> / 
        {$field.hidden}
        {/eju:user}
        {eju:user type='reg'} <a href="{$field.url}" id="{$field.id}">注册</a> {$field.hidden}
        {/eju:user}
        {eju:user type='logout'} <a href="{$field.url}" id="{$field.id}">退出</a> {$field.hidden}
        {/eju:user}
        {/eju:user} </div>
    </div>
  </div>
</div>