<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 楼盘列表 S--> 
<!-- 搜索栏 S -->
<div class="searBar ">
  <div class="comWidth clearfix">
    <div class="sear_box fl"> 
     {eju:searchform channelid='15' type='default' typeid='25'}
      <form  method="get" action="{$field.action}">
        <div class="ipt_area fl">
          <input type="text" name="keywords" id="keywords" autocomplete="off" placeholder="请输入区域、板块开始找房" class="ipt">
          <span class="placeholder">请输入区域、板块开始找房</span>
          <ul id="search-box">
          </ul>
        </div>
        <div class="btn_area fl">
          <input type="submit" class="sbm_btn" value="搜索">
        </div>
        {$field.hidden}
      </form>
      {/eju:searchform} 
      </div>
     </div>
</div>
<!-- 搜索栏 E -->
<div class="cm_house">
  <div class="comWidth"> 
    <!-- 页面标识 S-->
    <div class="page_tit"> <a href="javascript:;" rel="nofollow">您的位置：</a> {eju:position style='' /} </div>
    <!-- 页面标识 E--> 
    <!-- 筛选栏 S -->
    {eju:screening id='field' addfields='province_id,city_id,area_id,total_price,area,characteristic,manage_type' currentstyle='active' domain='0' region='on' show='2' alltxt='全部' opencity='2'}
    <div class="seleBar">
      <div class="box">
      <div class="item clearfix">
          <h3>供求 :</h3>
          <ul class="list">
            {eju:channel type='sonself' currentstyle='active' id='field2' row='2'}
            <li><a class="{$field2.currentstyle}" href="{$field2.typeurl}">{$field2.typename}</a></li>
            {/eju:channel}
          </ul>
        </div>
       {eju:volist name='$field.list' id='vo'  }
        <div class="item clearfix">
          <h3>{$vo.title} :</h3>
          <ul class="list">
            {eju:volist name='$vo.dfvalue' id='vo2'}
            <li><a class="{$vo2.currentstyle}" {$vo2.onClick}>{$vo2.name}</a></li>
            {/eju:volist}
          </ul>
        </div>
        {/eju:volist}
        {$field.hidden}
       {/eju:screening} 
       <div class="item clearfix">
          <h3>更多 :</h3>
          {eju:screening id='field' currentstyle='hover' domain='0' region='on' show='2' alltxt='on' opencity='2' addfields='fitment'}
          {eju:volist name='$field.list' id='vo'}
          <div class="select_box">
            <div class="select_info"> {$vo.screen} </div>
            <ul>
              {eju:volist name='$vo.dfvalue' id='vo2'}
              <li> <a  class="{$vo2.currentstyle}" {$vo2.onClick}>{$vo2.name}</a> </li>
              {/eju:volist}
            </ul>
          </div>
          {/eju:volist} 
        </div>
        {$field.hidden}
        {/eju:screening} 
        </div>
    </div> {eju:screening id='field' currentstyle='active' domain='0' region='on' show='2' alltxt='全部' opencity='2'}
    <div class="container-super emptySearch" style="display: none;" id="emptySearch" >
      <div class="lp-pb-px">
        <div class="lp-pb-check1">当前找房条件：</div>
        <div class="lp-pb-check2">
          <ul>
            {eju:volist name='$field.list' id='vo'}
            {eju:notempty name="$vo.onName"}
            <li> <a class="select-no" {$vo.handle}><span>{$vo.onName}</span><b>×</b></a> </li>
            {/eju:notempty}
            {/eju:volist}
            <li class="rese"><a href="{$field.resetUrl}" title="清空全部"><span>清空全部</span></a></li>
          </ul>
        </div>
      </div>
    </div>
     {$field.hidden}
    {/eju:screening} 

    
    <!-- 筛选栏 E -->
    <div class="main clearfix"> 
      <!-- 房子列表 S -->
      <div class="houseList_wrap leftArea cm_leftArea newhouse">
       
        <div class="lp_count">
          <div class="lp_con"><a class="allHouses hover" href="{$eJu.field.typeurl}">全部房源</a></div>
          <div class="sort">
            <p id="sortParam"> 
             {eju:orderlist id='field' addfields='total_price' currentstyle='hover' upstyle='up' downstyle='down' alltxt='默认排序' }
              {eju:volist name='$field.list' id='vo'} 
              <a href="javascript:;" {$vo.onClick} class="{eju:neq name='$i' value='1'}sort_jg{/eju:neq} {$vo.currentstyle} {$vo.classstyle}">{$vo.title}</a> 
              {/eju:volist}
              {$field.hidden}
              {/eju:orderlist} 
             </p>
          </div>
          <div class="cl"></div>
        </div>
        <div class="cl"></div>
        <div class="list_con sh_house_list">
          <ul class="clearfix">
            {eju:list pagesize='10' titlelen='30' infolen='160' orderby='new'}
            <li> <span class="l_img fl"> <a href="{$field.arcurl}"> <img src="{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg" data-original="{$field.litpic}" class="lazy" alt="{$field.title}"> </a> </span> <span class="r_con fr">
              <h3> <a href="{$field.arcurl}"> {$field.title} </a> </h3>
              <p class="shop"> <span class="info">装修：{$field.fitment}</span><span class="info">类型：{$field.manage_type}</span> <span class="info">面积：{$field.area}{$field.area_unit}</span></p>
              <p class="shop"> <span class="address">{$field.area_id|get_area_name}-{$field.address} </span> </p>
              <p class="user-info shop"> <span><i class="iconfont">&#xe605;</i>置业顾问：{$field.sale_name}</span> </p>
              <span class="label_list clearfix"> {eju:volist name='$field.characteristic' id='vo'} <i class="item ">{$vo}</i> {/eju:volist} </span> 
              
              <span class="price">
              <h5>{eju:notempty name="$field.total_price"}<strong>{$field.total_price}</strong>{$field.price_units}{eju:else /}暂无{/eju:notempty}</h5>
              <h2>{eju:notempty name="$field.average_price"}{$field.average_price}{$field.average_price_unit}{eju:else /}暂无{/eju:notempty}</h2>
              </span> </span>  </li>
            {/eju:list}
          </ul>
        </div>
        <div style="display: none" id="countlist_none" data-count="{eju:countlist /}"></div>
        <script  type="text/javascript">
              $(function(){
                  var count = $("#countlist_none").data("count");
                  $("#search_count").html(count);
              });
          </script>
        <div class="page_list clearfix">
          <ul class="pagination">
            {eju:pagelist listitem="pageno,pre,next" listsize="2"/}
          </ul>
        </div>
      </div>
      <!-- 房子列表 E --> 
      <!-- 右边内容 S -->
      <div class="cm_rightArea rightArea"> 
        {eju:user type='login'}
        <a href="{$field.url}" class="sale_btn mt_25">我要出租</a> 
        <a href="{$field.url}" class="sale_btn ">我要出售</a> 
        {$field.hidden}
        {/eju:user}
        {eju:type typeid='33'}
        <a href="{$field.typeurl}" class="sale_btn ">商铺选址</a> 
        {/eju:type}
        <!-- 推荐楼盘 S -->
        <div class="rcmd_build mt_25">
          <div class="title"> <span></span>
            <h3>推荐楼盘</h3>
          </div>
          <div class="con_box">
            <ul class="list">
              {eju:arclist typeid='1' flag='c' orderby='new' limit='0,5' id='field' screen='0'}
              <li class="clearfix"> <a href="{$field.arcurl}">
                <div class="fl l_img"> <img src="{$field.litpic}" width="120" height="80" alt="{$field.title}"> </div>
                <div class="fr r_con">
                  <p class="name">{$field.title}</p>
                  <p class="address">{$field.city_id|get_city_name}</p>
                  <p class="price"><b>{eju:notempty name="$field.average_price"}{$field.average_price}{$field.price_units}{eju:else /}暂无{/eju:notempty}</b></p>
                </div>
                </a> </li>
              {/eju:arclist}
            </ul>
          </div>
        </div>
        <!-- 推荐楼盘 E --> 
      </div>
      <!-- 右边内容 E --> 
    </div>
  </div>
</div>
<!-- 楼盘列表 S--> 

<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/laytpl.js"></script> 
<script type="text/javascript">
    $(function(){
        if($(".select-no").length > 0) {
            $("#emptySearch").show();
        }
    });
</script>
<script type="text/javascript">
$(function(){

	$('body').on('click',function(){
		$('#search-box').hide();
	});
})
</script> 
{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
$("img.lazy").lazyload({
	threshold : 100,
	effect : "fadeIn"
	//event: "scrollstop"
});

</script>
</body>
</html>