<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S -->
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 搜索栏 S -->
<div class="searBar ">
  <div class="comWidth clearfix">
    <div class="sear_box fl">
     {eju:searchform channelid='12' type='default' typeid='11'}
      <form  method="get" action="{$field.action}">
        <div class="ipt_area fl">
          <input type="text" name="keywords" id="keywords" autocomplete="off" placeholder="输入房源名称" class="ipt">
          <span class="placeholder">输入房源名称</span>
          <ul id="search-box">
          </ul>
        </div>
        <div class="btn_area fl">
          <input type="submit" class="sbm_btn" value="搜索">
        </div>
        {$field.hidden}
      </form>
      {/eju:searchform}
    </div>
    <a href="{eju:diyurl type='mapershou' /}" class="map_btn fr">地图找房</a> </div>
</div>
<!-- 搜索栏 E --> 
<!-- 楼盘列表 S-->
<div class="cm_house">
  <div class="comWidth"> 
    <!-- 页面标识 S-->
    <div class="page_tit"> <a href="javascript:;" rel="nofollow">您的位置：</a> {eju:position style='' /} </div>
    <!-- 页面标识 E--> 
    <!-- 筛选栏 S -->
    {eju:screening id='field' addfields='province_id,city_id,area_id,total_price,characteristic,manage_type,room' currentstyle='active' domain='0' region='on' show='2' alltxt='全部' opencity='2'}
    <div class="seleBar">
      <div class="box">
       {eju:volist name='$field.list' id='vo'  }
        <div class="item clearfix">
          <h3>{$vo.title} :</h3>
          <ul class="list">
            {eju:volist name='$vo.dfvalue' id='vo2'}
            <li><a class="{$vo2.currentstyle}" {$vo2.onClick}>{$vo2.name}</a></li>
            {/eju:volist}
          </ul>
        </div>
        {/eju:volist}
        {$field.hidden}
       {/eju:screening} 
       <div class="item clearfix">
          <h3>更多 :</h3>
          {eju:screening id='field' currentstyle='hover' domain='0' region='on' show='2' alltxt='on' opencity='2' addfields='aspect,fitment,floo_type'}
          {eju:volist name='$field.list' id='vo'}
          <div class="select_box">
            <div class="select_info"> {$vo.screen} </div>
            <ul>
              {eju:volist name='$vo.dfvalue' id='vo2'}
              <li> <a  class="{$vo2.currentstyle}" {$vo2.onClick}>{$vo2.name}</a> </li>
              {/eju:volist}
            </ul>
          </div>
          {/eju:volist} 
        </div>
        {$field.hidden}
        {/eju:screening} 
        </div>
    </div>
   {eju:screening id='field' currentstyle='active' domain='0' region='on' show='2' alltxt='全部' opencity='2'}
    <div class="container-super emptySearch" style="display: none;" id="emptySearch" >
      <div class="lp-pb-px">
        <div class="lp-pb-check1">当前找房条件：</div>
        <div class="lp-pb-check2">
          <ul>
            {eju:volist name='$field.list' id='vo'}
            {eju:notempty name="$vo.onName"}
            <li> <a class="select-no" {$vo.handle}><span>{$vo.onName}</span><b>×</b></a> </li>
            {/eju:notempty}
            {/eju:volist}
            <li><a href="{$field.resetUrl}" id="emptySearch" title="清空全部"><span>清空全部</span></a></li>
          </ul>
        </div>
      </div>
    </div>
     {$field.hidden}
    {/eju:screening} 
    <!-- 筛选栏 E -->
    <div class="main clearfix"> 
      <!-- 二手房列表 S-->
      <div class="houseList_wrap leftArea cm_leftArea">
        <div class="lp_count">
          <div class="lp_con"><a class="allHouses hover" href="{$eJu.field.typeurl}">全部房源</a></div>
          <div class="sort">
            <p id="sortParam"> 
             {eju:orderlist id='field' addfields='total_price' currentstyle='hover' upstyle='up' downstyle='down' alltxt='默认排序' }
              {eju:volist name='$field.list' id='vo'} 
              <a href="javascript:;" {$vo.onClick} class="{eju:neq name='$i' value='1'}sort_jg{/eju:neq} {$vo.currentstyle} {$vo.classstyle}">{$vo.title}</a> 
              {/eju:volist}
              {$field.hidden}
              {/eju:orderlist} 
             </p>
          </div>
          <div class="cl"></div>
        </div>
        <div class="cl"></div>
          <!--
          <div class="tab sort-tab fr">
            <ul>
              {eju:orderlist id='field' addfields='total_price' currentstyle='active' upstyle='down' downstyle='up' alltxt='默认排序' }
              {eju:volist name='$field.list' id='vo'}
              <li> <a href="javascript:;" {$vo.onClick} class="{$vo.currentstyle}{eju:notempty name='$vo.classstyle'}{$vo.classstyle}{/eju:notempty}">{$vo.title} </a> </li>
              {/eju:volist}
              {$field.hidden}
              {/eju:orderlist}
            </ul>
          </div>
          -->
        
        <div class="list_con sh_house_list" >
          <ul class="clearfix">
           {eju:list pagesize='6' titlelen='30' orderby='new' addfields='building_age' }
            <li>  <span class="l_img fl"> <a href="{$field.arcurl}"><img src="{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg" data-original="{$field.litpic}" class="lazy" alt="{$field.title}"> </a></span> <span class="r_con fr">
              <h3> <a href="{$field.arcurl}">{$field.title}</a></h3>
              <p class="hi"> <span class="info">{$field.room}{$field.living_room}{$field.toilet}</span> <span class="l">|</span> <span class="info">{$field.area}㎡</span> <span class="l">|</span> <span class="info">{$field.aspect}</span> <span class="l">|</span> <span class="info">{$field.fitment}</span> </p>
              <p class="hi"> <span class="address">{eju:arcview aid='$field.joinaid' id='field2'}<a href="{$field2.arcurl}">{$field2.title}</a>{/eju:arcview}</span> <span class="address">{$field.address}</span> </p>
              <p class="user-info hi"> <span><i class="iconfont">&#xe605;</i>置业顾问：{$field.sale_name}</span> </p>
              <span class="label_list clearfix"> 
              {eju:volist name="$field.characteristic" id="vo"}
              <i class="item item{$i}">{$vo}</i> 
              {/eju:volist}
              </span> <span class="price">
              <h5><strong>{eju:notempty name="$field.total_price"}{$field.total_price}<i>{$field.total_price_unit}</i>{eju:else /}暂无{/eju:notempty}</strong></h5>
              <h2>{eju:notempty name="$field.average_price"}{$field.average_price}{$field.average_price_unit}{eju:else /}暂无{/eju:notempty}</h2>
              </span> </span>  </li>
           {/eju:list}
          </ul>
        </div>
        <div style="display: none" id="countlist_none" data-count="{eju:countlist /}"></div>
        <script  type="text/javascript">
              $(function(){
                  var count = $("#countlist_none").data("count");
                  $("#search_count").html(count);
              });
          </script>
        <div class="page_list clearfix">
        <ul class="pagination">
          {eju:pagelist listitem="index,end,pageno,pre,next" listsize="10"/}
        </ul>
        </div>
      </div>
      <!-- 二手房列表 E--> 
      <!-- 右边内容 S -->
      <div class="cm_rightArea rightArea"> 
        <!-- 我要卖房 S --> 
        {eju:user type='login'}
        <a href="{$field.url}" class="sale_btn mt_25">我要卖房</a> 
        {$field.hidden}
        {/eju:user}
        <a href="#" class="sale_btn ">我要求购</a> 
        <!-- 我要卖房 E --> 
        <!-- 最新房源 S -->
        <div class="rcmd_house new_house ">
          <div class="title"><span></span>
            <h3>推荐房源</h3>
          </div>
          <div class="con_box">
            <ul class="clearfix">
            {eju:arclist channelid='12' screen='0' orderby='new' row='3' id='field'}
              <li> <a href="{$field.arcurl}"  target="_blank">
                <div class="img"> <img src="{$field.litpic}" alt="{$field.title}"> </div>
                <div class="con">
                  <div class="row clearfix">
                    <p class="name fl">{$field.title}</p>
                    <p class="price fr">{eju:notempty name="$field.total_price"}{$field.total_price}{$field.total_price_unit}{eju:else /}暂无{/eju:notempty}</p>
                  </div>
                  <div class="row clearfix">
                    <p class="type fl">{$field.room}{$field.living_room}</p>
                    <p class="area fr">{$field.area}㎡</p>
                  </div>
                </div>
                </a> </li>
              {/eju:arclist}    
            </ul>
          </div>
        </div>
        <!-- 最新房源 E --> 
        <!-- 购房知识 S -->
        <div class="buy_way house_klg mt_25">
          <div class="title"><span></span>
            <h3>购房知识</h3>
          </div>
          <div class="con_box">
            <ul class="list">
             {eju:arclist typeid='5' screen='0' orderby='new' row='10' id='field'}
              <li class="clearfix"><a href="{$field.arcurl}">{$field.title}</a></li>
             {/eju:arclist}      
            </ul>
          </div>
        </div>
        <!-- 购房知识S --> 
      </div>
      <!-- 右边内容 E --> 
    </div>
  </div>
</div>
<!-- 楼盘列表 S--> 

<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/laytpl.js"></script> 
<script type="text/javascript">
    $(function(){
        if($(".select-no").length > 0) {
            $("#emptySearch").show();
        }
    });
</script>
<script type="text/javascript">
    $(function(){
        $("#select select").on('change',function(){
            var uri = $(this).find("option:selected").data('uri');
            window.location.href = uri;
        });
        $("#keyword").on('keyup click',function(e){
            e.preventDefault();
            e.stopPropagation();
            var keyword = $(this).val(),url = $(this).data('uri'),box = $('#search-box');
            $.get(url,{keyword: $.trim(keyword)},function(result){
                if(result.code == 1)
                {
                    var gettpl = document.getElementById('template').innerHTML;
                    laytpl(gettpl).render(result.data, function(html){
                        $('#search-box').html(html);
                    });
                    box.show();
                }else{
                    box.hide();
                }
            });
        });
        $('body').on('click',function(){
            $('#search-box').hide();
        });
    })
</script>
{eju:include file="footer.htm"/}
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>