<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/jingjiren.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 搜索栏 S -->
<div class="searBar ">
  <div class="comWidth clearfix">
    <div class="sear_box fl"> {eju:searchform channelid='12' type='default' typeid='11'}
      <form  method="get" action="{$field.action}">
        <div class="ipt_area fl">
          <input type="text" name="keywords" id="keywords" autocomplete="off" placeholder="输入房源名称" class="ipt">
          <span class="placeholder">输入房源名称</span>
          <ul id="search-box">
          </ul>
        </div>
        <div class="btn_area fl">
          <input type="submit" class="sbm_btn" value="搜索">
        </div>
        {$field.hidden}
      </form>
      {/eju:searchform} </div>
    <a href="{eju:diyurl type='mapershou' /}" class="map_btn fr">地图找房</a> </div>
</div>
<!-- 搜索栏 E --> 
<!-- 楼盘列表 S-->
<div class="cm_house">
  <div class="comWidth"> 
    <!-- 页面标识 S-->
    <div class="page_tit"> <a href="javascript:;" rel="nofollow">您的位置：</a> {eju:position style='' /} </div>
    <div class="about">
      <div class="information">
        <div>
          <h1 style="float: left;">刘春明</h1>
        </div>
        <p>以诚感人者 人亦诚而应 愿以我全力以赴 换来您乐享生活</p>
        <div>
          <p class="tel_1">13555770260</p>
          <div class="agentSignIcon"> </div>
        </div>
      </div>
      <img class="touxiang" src="https://images1.fangxiaoer.com/oss_images/memberavatar/2019/12/27/2019122711013732393.jpg/big?x-oss-process=image/auto-orient,1" alt="刘春明" data-bd-imgshare-binded="1"> </div>
    <div>
      <div class="contentTop"> <a href="/agent/second/151064" class="hover">二手房</a> <a href="/agent/info/151064">个人信息</a> </div>
    </div>
    <!-- 页面标识 E-->
    
    <div class="main clearfix"> 
      <!-- 二手房列表 S-->
      <div class="houseList_wrap leftArea cm_leftArea">
        <div class="contentCtn">
          <div class="my_xl">
            <input name="hidden0" type="hidden" id="hidden0" class="my_xl_input" value="">
            <div class="my_xl_txt" id="zongjia">总价</div>
            <div class="my_xl_btn"></div>
            <ul class="my_xl_list">
              <a href="/agent/second/151064/">
              <li data-key="PriceBase" value="">全部</li>
              </a><a href="/agent/second/151064/p0">
              <li data-key="PriceBase" value="0">50万以下</li>
              </a><a href="/agent/second/151064/p1">
              <li data-key="PriceBase" value="1">50-80万</li>
              </a><a href="/agent/second/151064/p2">
              <li data-key="PriceBase" value="2">80-100万</li>
              </a><a href="/agent/second/151064/p3">
              <li data-key="PriceBase" value="3">100-120万</li>
              </a><a href="/agent/second/151064/p4">
              <li data-key="PriceBase" value="4">120-150万</li>
              </a><a href="/agent/second/151064/p5">
              <li data-key="PriceBase" value="5">150-200万</li>
              </a><a href="/agent/second/151064/p6">
              <li data-key="PriceBase" value="6">200-300万</li>
              </a><a href="/agent/second/151064/p7">
              <li data-key="PriceBase" value="7">300万以上</li>
              </a>
            </ul>
          </div>
          <div class="my_xl">
            <input name="Hidden1" type="hidden" id="Hidden1" class="my_xl_input" value="">
            <div class="my_xl_txt" id="mianji">面积</div>
            <div class="my_xl_btn"></div>
            <ul class="my_xl_list">
              <a href="/agent/second/151064/">
              <li data-key="BuildArea" value="">全部</li>
              </a><a href="/agent/second/151064/a0">
              <li data-key="BuildArea" value="0">50m²以下</li>
              </a><a href="/agent/second/151064/a1">
              <li data-key="BuildArea" value="1">50-70m²</li>
              </a><a href="/agent/second/151064/a2">
              <li data-key="BuildArea" value="2">70-90m²</li>
              </a><a href="/agent/second/151064/a3">
              <li data-key="BuildArea" value="3">90-110m²</li>
              </a><a href="/agent/second/151064/a4">
              <li data-key="BuildArea" value="4">110-130m²</li>
              </a><a href="/agent/second/151064/a5">
              <li data-key="BuildArea" value="5">130-150m²</li>
              </a><a href="/agent/second/151064/a6">
              <li data-key="BuildArea" value="6">150-200m²</li>
              </a><a href="/agent/second/151064/a7">
              <li data-key="BuildArea" value="7">200-300m²</li>
              </a><a href="/agent/second/151064/a8">
              <li data-key="BuildArea" value="8">300m²以上</li>
              </a>
            </ul>
          </div>
          <div class="my_xl">
            <input name="Hidden2" type="hidden" id="Hidden2" class="my_xl_input" value="">
            <div class="my_xl_txt" id="huxing">户型</div>
            <div class="my_xl_btn"></div>
            <ul class="my_xl_list">
              <a href="/agent/second/151064/">
              <li data-key="roomType" value="">全部</li>
              </a><a href="/agent/second/151064/l1">
              <li data-key="roomType" value="1">一居</li>
              </a><a href="/agent/second/151064/l2">
              <li data-key="roomType" value="2">二居</li>
              </a><a href="/agent/second/151064/l3">
              <li data-key="roomType" value="3">三居</li>
              </a><a href="/agent/second/151064/l4">
              <li data-key="roomType" value="4">四居</li>
              </a><a href="/agent/second/151064/l5">
              <li data-key="roomType" value="5">五居以上</li>
              </a>
            </ul>
          </div>
          <div class="houseSearch">
            <input type="text" id="xiaoquid" class="searchInput" value="" autocomplete="off" placeholder="请输入查询的小区">
            <input name="button" id="bottonss" type="button" class="searchBtn" value="">
          </div>
          <p onclick="qingchu()"><i></i>清空筛选条件</p>
          <!--<span>小二为你找到<i th:text="${#strings.isEmpty(msg)? '': msg}">55</i>个符合条件的房源</span>--> 
        </div>
        <div class="cl"></div>
        <!--
          <div class="tab sort-tab fr">
            <ul>
              {eju:orderlist id='field' addfields='total_price' currentstyle='active' upstyle='down' downstyle='up' alltxt='默认排序' }
              {eju:volist name='$field.list' id='vo'}
              <li> <a href="javascript:;" {$vo.onClick} class="{$vo.currentstyle}{eju:notempty name='$vo.classstyle'}{$vo.classstyle}{/eju:notempty}">{$vo.title} </a> </li>
              {/eju:volist}
              {$field.hidden}
              {/eju:orderlist}
            </ul>
          </div>
          -->
        
        <div class="list_con sh_house_list" >
          <ul class="clearfix">
            {eju:list pagesize='6' titlelen='30' orderby='new' addfields='building_age' }
            <li> <a href="{$field.arcurl}" title="{$field.title}"> <span class="l_img fl"> <img src="{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg" data-original="{$field.litpic}" class="lazy" alt="{$field.title}"> </span> <span class="r_con fr">
              <h3>{$field.title}</h3>
              <p> <span class="info">{$field.room}室{$field.living_room}厅{$field.toilet}卫</span> <span class="l">|</span> <span class="info">{$field.area}㎡</span> <span class="l">|</span> <span class="info">{$field.aspect}</span> <span class="l">|</span> <span class="info">{$field.fitment}</span> </p>
              <p> <span class="tit">{eju:arcview aid='$field.joinaid' id='field2'}{$field2.title}{/eju:arcview} </span> <span class="address">{$field.address}</span> </p>
              <p class="user-info"> <span><i class="iconfont">&#xe605;</i>置业顾问：{$field.sale_name}</span> </p>
              <span class="label_list clearfix"> {eju:volist name="$field.characteristic" id="vo"} <i class="item item{$i}">{$vo}</i> {/eju:volist} </span> <span class="price">
              <h5><strong>{eju:notempty name="$field.total_price"}{$field.total_price}<i>{$field.total_price_unit}</i>{eju:else /}暂无{/eju:notempty}</strong></h5>
              </span> </span> </a> </li>
            {/eju:list}
          </ul>
        </div>
        <div style="display: none" id="countlist_none" data-count="{eju:countlist /}"></div>
        <script  type="text/javascript">
              $(function(){
                  var count = $("#countlist_none").data("count");
                  $("#search_count").html(count);
              });
          </script>
        <div class="page_list clearfix">
          <ul class="pagination">
            {eju:pagelist listitem="index,end,pageno,pre,next" listsize="10"/}
          </ul>
        </div>
      </div>
      <!-- 二手房列表 E--> 
      <!-- 右边内容 S -->
      <div class="cm_rightArea rightArea"> 
        <!-- 我要卖房 S --> 
        {eju:user type='login'} <a href="{$field.url}" class="sale_btn mt_25">我要卖房</a> {$field.hidden}
        {/eju:user} <a href="#" class="sale_btn ">我要求购</a> 
        <!-- 我要卖房 E --> 
        <!-- 最新房源 S -->
        <div class="rcmd_house new_house ">
          <div class="title"><span></span>
            <h3>推荐房源</h3>
          </div>
          <div class="con_box">
            <ul class="clearfix">
              {eju:arclist channelid='12' screen='0' orderby='new' row='3' id='field'}
              <li> <a href="{$field.arcurl}"  target="_blank" title="{$field.title}">
                <div class="img"> <img src="{$field.litpic}" alt="{$field.title}"> </div>
                <div class="con">
                  <div class="row clearfix">
                    <p class="name fl">{$field.title}</p>
                    <p class="price fr">{eju:notempty name="$field.total_price"}{$field.total_price}{$field.total_price_unit}{eju:else /}暂无{/eju:notempty}</p>
                  </div>
                  <div class="row clearfix">
                    <p class="type fl">{$field.room}室{$field.living_room}厅</p>
                    <p class="area fr">{$field.area}㎡</p>
                  </div>
                </div>
                </a> </li>
              {/eju:arclist}
            </ul>
          </div>
        </div>
        <!-- 最新房源 E --> 
        <!-- 购房知识 S -->
        <div class="buy_way house_klg mt_25">
          <div class="title"><span></span>
            <h3>购房知识</h3>
          </div>
          <div class="con_box">
            <ul class="list">
              {eju:arclist typeid='5' screen='0' orderby='new' row='10' id='field'}
              <li class="clearfix"><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></li>
              {/eju:arclist}
            </ul>
          </div>
        </div>
        <!-- 购房知识S --> 
      </div>
      <!-- 右边内容 E --> 
    </div>
  </div>
</div>
<!-- 楼盘列表 S--> 

<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/laytpl.js"></script> 
<script type="text/javascript">
    $(function(){
        $("#select select").on('change',function(){
            var uri = $(this).find("option:selected").data('uri');
            window.location.href = uri;
        });
        $("#keyword").on('keyup click',function(e){
            e.preventDefault();
            e.stopPropagation();
            var keyword = $(this).val(),url = $(this).data('uri'),box = $('#search-box');
            $.get(url,{keyword: $.trim(keyword)},function(result){
                if(result.code == 1)
                {
                    var gettpl = document.getElementById('template').innerHTML;
                    laytpl(gettpl).render(result.data, function(html){
                        $('#search-box').html(html);
                    });
                    box.show();
                }else{
                    box.hide();
                }
            });
        });
        $('body').on('click',function(){
            $('#search-box').hide();
        });
    })
</script> 
{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/form_xl.js"></script> 
<script>
        function qingchu() {
            setTimeout(function () {
                location.href = "/agent/second/"+"197642";
            },500);
        }
        $(function() {
            $("#bottonss").click(function() {
                var dd = $("#hidden0").val();
                var dd1 = $("#Hidden1").val();
                var dd2 = $("#Hidden2").val();
                //模糊搜索字段
                var dds = $("#xiaoquid").val();
                // var sou = "68680";
                if (dd != null && dd !="") {
                    dd = "-p"+dd;
                }
                if (dd1 != null && dd1 != "") {
                    dd1 = "-a"+dd1;
                }
                if (dd2 != null && dd2 != "") {
                    dd2 = "-l"+dd2;
                }
                var search ;
                if (dds == null || dds == undefined || dds == '') {
                    search = ""
                }else {
                    search = "-search="+dds;
                }
                var url = "/agent/second/"+"197642"+'/' + dd + dd1 + dd2 +search;
//                setCookie("searchKey",dds,10);
                location.href = url;

            });
        });
        $(function() {
            var hr = window.location.href;
            var str=hr.split("_");
            var zj = str[1];
            getData(zj, "#hidden0", "#zongjia");
            var mj = str[2];
            getData(mj, "#Hidden1", "#mianji");
            var hx = str[3];
            getData(hx, "#Hidden2", "#huxing");
            var xq = str[4];
            if (xq != "" && xq != null) {
                $("#xiaoquid").val(decodeURIComponent(xq));
            }

            //var name0 = $("#hidden0").pasaleHouse(".my_xl").find(".my_xl_list li[value=" + mj + "]").html();
            //$("#zongjia").html(name0);
        })
        function getData(name, num, adds) {
            if (name != -1 && name != "" && name != null) {
                $(num).val(name);
                var bb = $(num).pasaleHouse(".my_xl").find(".my_xl_list li[value=" + name + "]").html();
                $(adds).html(bb);
                var container = $("body"),
                    scrollTo = $('.content');
                container.scrollTop(0);
                container.scrollTop(
                    scrollTo.offset().top - container.offset().top + container.scrollTop()
                );
            }
        }
    </script>
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>