<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/home.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S --> <div class="headindex">
    <div class="fivindexcont">
        <a href="{eju:global name='web_cmsurl' /}" class="maxindexlogo"></a>
        	<div class="gjhb"><a href="{eju:global name='web_cmsurl' /}"><img id="hearAdImg" src="{eju:global name='web_templets_pc' /}/skin/img/142154749886.jpg" alt="" ></a></div>
    </div>
</div>
<div class="fivindexcont">
    <div class="cityip fjcity">
    	<a href="#section-four" class="dwcity">请选择城市</a>
        <p id="roundcity"></p>
    </div>
</div>
<div class="cityss clearfix" id="section-four">
	<div class="citysscont">
    	<strong>快速搜索城市</strong>
        <div class="search-wrap" id="city-search">
            <input type="text" placeholder="请输入城市名称" class="city-inp">
        </div>
    </div>
    <div class="rmcity">
    	<strong>热门城市</strong>
        <a href="http://bj.eju.com">北京</a>
        <a href="http://sh.eju.com">上海</a>
        <a href="http://sz.eju.com">深圳</a>
        <a href="http://gz.eju.com">广州</a>
        <a href="http://cd.eju.com">成都</a>
        <a href="http://cs.eju.com">长沙</a>
        <a href="http://wh.eju.com">武汉</a>
        <a href="http://xa.eju.com">西安</a>
        
        <a href="http://cq.eju.com">重庆</a>
        <a href="http://zz.eju.com">郑州</a>
        <a href="http://nj.eju.com">南京</a>
        <a href="http://qingdao.eju.com">青岛</a>
    </div>
    <a href="http://open.eju.com/?keywords=city" target="_blank" class="openeju">加盟易居</a>
</div>
<div class="fivindexcont citymar">
		<h3 class="cityqy">华东</h3>
		<dl class="newscity">
		        <dt>山东</dt>
				<dd>
			        	<a href="http://jn.eju.com">济南</a>
			        	<a href="http://qingdao.eju.com">青岛</a>
			        	<a href="http://yantai.eju.com">烟台</a>
			        	<a href="http://dongying.eju.com">东营</a>
			        	<a href="http://weihai.eju.com">威海</a>
			        	<a href="http://zibo.eju.com">淄博</a>
			        	<a href="http://weifang.eju.com">潍坊</a>
			        	<a href="http://liaocheng.eju.com">聊城</a>
			        	<a href="http://heze.eju.com">菏泽</a>
			        	<a href="http://rizhao.eju.com">日照</a>
			        	<a href="http://linyi.eju.com">临沂</a>
			        	<a href="http://dezhou.eju.com">德州</a>
			        	<a href="http://jining.eju.com">济宁</a>
			        	<a href="http://zaozhuang.eju.com">枣庄</a>
			        	<a href="http://binzhou.eju.com">滨州</a>
			        	<a href="http://taian.eju.com">泰安</a>
			        	<a href="http://laiwu.eju.com">莱芜</a>
			        	<a href="http://laiyang.eju.com">莱阳</a>
			        	<a href="http://xintai.eju.com">新泰</a>
		        </dd>
		        <dt>安徽</dt>
				<dd>
			        	<a href="http://hf.eju.com">合肥</a>
			        	<a href="http://liuan.eju.com">六安</a>
			        	<a href="http://anqing.eju.com">安庆</a>
			        	<a href="http://xuancheng.eju.com">宣城</a>
			        	<a href="http://ahsuzhou.eju.com">宿州</a>
			        	<a href="http://chaohu.eju.com">巢湖</a>
			        	<a href="http://chizhou.eju.com">池州</a>
			        	<a href="http://huainan.eju.com">淮南</a>
			        	<a href="http://chuzhou.eju.com">滁州</a>
			        	<a href="http://wuhu.eju.com">芜湖</a>
			        	<a href="http://bengbu.eju.com">蚌埠</a>
			        	<a href="http://tongling.eju.com">铜陵</a>
			        	<a href="http://fuyang.eju.com">阜阳</a>
			        	<a href="http://maanshan.eju.com">马鞍山</a>
			        	<a href="http://huangshan.eju.com">黄山</a>
			        	<a href="http://huaibei.eju.com">淮北</a>
			        	<a href="http://bozhou.eju.com">亳州</a>
			        	<a href="http://tongcheng.eju.com">桐城</a>
			        	<a href="http://dangtu.eju.com">当涂</a>
			        	<a href="http://huoqiu.eju.com">霍邱</a>
		        </dd>
		        <dt>上海</dt>
				<dd>
			        	<a href="http://sh.eju.com">上海</a>
		        </dd>
		        <dt>浙江</dt>
				<dd>
			        	<a href="http://hz.eju.com">杭州</a>
			        	<a href="http://ningbo.eju.com">宁波</a>
			        	<a href="http://shaoxing.eju.com">绍兴</a>
			        	<a href="http://taizhou.eju.com">台州</a>
			        	<a href="http://jinhua.eju.com">金华</a>
			        	<a href="http://wenzhou.eju.com">温州</a>
			        	<a href="http://jiaxing.eju.com">嘉兴</a>
			        	<a href="http://lishui.eju.com">丽水</a>
			        	<a href="http://huzhou.eju.com">湖州</a>
			        	<a href="http://zhoushan.eju.com">舟山</a>
			        	<a href="http://quzhou.eju.com">衢州</a>
		        </dd>
		        <dt>江苏</dt>
				<dd>
			        	<a href="http://nj.eju.com">南京</a>
			        	<a href="http://suzhou.eju.com">苏州</a>
			        	<a href="http://wuxi.eju.com">无锡</a>
			        	<a href="http://xuzhou.eju.com">徐州</a>
			        	<a href="http://changzhou.eju.com">常州</a>
			        	<a href="http://nantong.eju.com">南通</a>
			        	<a href="http://huaian.eju.com">淮安</a>
			        	<a href="http://changshu.eju.com">常熟</a>
			        	<a href="http://kunshan.eju.com">昆山</a>
			        	<a href="http://yx.eju.com">宜兴</a>
			        	<a href="http://yangzhou.eju.com">扬州</a>
			        	<a href="http://jiangyin.eju.com">江阴</a>
			        	<a href="http://tz.eju.com">泰州</a>
			        	<a href="http://zhenjiang.eju.com">镇江</a>
			        	<a href="http://suqian.eju.com">宿迁</a>
			        	<a href="http://lyg.eju.com">连云港</a>
			        	<a href="http://taicang.eju.com">太仓</a>
			        	<a href="http://yancheng.eju.com">盐城</a>
			        	<a href="http://zhangjiagang.eju.com">张家港</a>
			        	<a href="http://liyang.eju.com">溧阳</a>
			        	<a href="http://donghai.eju.com">东海</a>
			        	<a href="http://baoying.eju.com">宝应</a>
			        	<a href="http://rugao.eju.com">如皋</a>
			        	<a href="http://yizheng.eju.com">仪征</a>
			        	<a href="http://jiangdu.eju.com">江都</a>
			        	<a href="http://haian.eju.com">海安</a>
			        	<a href="http://haimen.eju.com">海门</a>
			        	<a href="http://gaoyou.eju.com">高邮</a>
			        	<a href="http://qidong.eju.com">启东</a>
			        	<a href="http://rudong.eju.com">如东</a>
			        	<a href="http://xinghua.eju.com">兴化</a>
			        	<a href="http://jingjiang.eju.com">靖江</a>
			        	<a href="http://taixing.eju.com">泰兴</a>
		        </dd>
		        <dt>江西</dt>
				<dd>
			        	<a href="http://nc.eju.com">南昌</a>
			        	<a href="http://ganzhou.eju.com">赣州</a>
			        	<a href="http://shangrao.eju.com">上饶</a>
			        	<a href="http://jxfc.eju.com">丰城</a>
			        	<a href="http://jiujiang.eju.com">九江</a>
			        	<a href="http://jingan.eju.com">靖安</a>
			        	<a href="http://yichun.eju.com">宜春</a>
			        	<a href="http://xinyu.eju.com">新余</a>
			        	<a href="http://ruijin.eju.com">瑞金</a>
			        	<a href="http://jian.eju.com">吉安</a>
			        	<a href="http://pingxiang.eju.com">萍乡</a>
			        	<a href="http://jingdezhen.eju.com">景德镇</a>
			        	<a href="http://fuzhou.eju.com">抚州</a>
			        	<a href="http://yingtan.eju.com">鹰潭</a>
			        	<a href="http://ys.eju.com">玉山</a>
		        </dd>
		        <dt>福建</dt>
				<dd>
			        	<a href="http://quanzhou.eju.com">泉州</a>
			        	<a href="http://fz.eju.com">福州</a>
			        	<a href="http://xiamen.eju.com">厦门</a>
			        	<a href="http://zhangzhou.eju.com">漳州</a>
			        	<a href="http://putian.eju.com">莆田</a>
			        	<a href="http://longyan.eju.com">龙岩</a>
			        	<a href="http://nanping.eju.com">南平</a>
			        	<a href="http://sanming.eju.com">三明</a>
			        	<a href="http://ningde.eju.com">宁德</a>
		        </dd>
    	</dl>
		<h3 class="cityqy">华南</h3>
		<dl class="newscity">
		        <dt>广东</dt>
				<dd>
			        	<a href="http://gz.eju.com">广州</a>
			        	<a href="http://sz.eju.com">深圳</a>
			        	<a href="http://foshan.eju.com">佛山</a>
			        	<a href="http://zhongshan.eju.com">中山</a>
			        	<a href="http://dongguan.eju.com">东莞</a>
			        	<a href="http://zhuhai.eju.com">珠海</a>
			        	<a href="http://shantou.eju.com">汕头</a>
			        	<a href="http://zhaoqing.eju.com">肇庆</a>
			        	<a href="http://jiangmen.eju.com">江门</a>
			        	<a href="http://huizhou.eju.com">惠州</a>
			        	<a href="http://jieyang.eju.com">揭阳</a>
			        	<a href="http://meizhou.eju.com">梅州</a>
			        	<a href="http://heyuan.eju.com">河源</a>
			        	<a href="http://qingyuan.eju.com">清远</a>
			        	<a href="http://zhanjiang.eju.com">湛江</a>
			        	<a href="http://yangjiang.eju.com">阳江</a>
			        	<a href="http://shaoguan.eju.com">韶关</a>
			        	<a href="http://maoming.eju.com">茂名</a>
			        	<a href="http://yunfu.eju.com">云浮</a>
			        	<a href="http://chaozhou.eju.com">潮州</a>
			        	<a href="http://shanwei.eju.com">汕尾</a>
			        	<a href="http://puning.eju.com">普宁</a>
		        </dd>
		        <dt>海南</dt>
				<dd>
			        	<a href="http://sanya.eju.com">三亚</a>
			        	<a href="http://hn.eju.com">海南</a>
			        	<a href="http://dongfang.eju.com">东方</a>
			        	<a href="http://lingshui.eju.com">陵水</a>
			        	<a href="http://hk.eju.com">海口</a>
			        	<a href="http://qionghai.eju.com">琼海</a>
			        	<a href="http://ledong.eju.com">乐东</a>
			        	<a href="http://baoting.eju.com">保亭</a>
			        	<a href="http://wuzhishan.eju.com">五指山</a>
			        	<a href="http://danzhou.eju.com">儋州</a>
			        	<a href="http://wanning.eju.com">万宁</a>
			        	<a href="http://wenchang.eju.com">文昌</a>
		        </dd>
		        <dt>广西</dt>
				<dd>
			        	<a href="http://guilin.eju.com">桂林</a>
			        	<a href="http://nn.eju.com">南宁</a>
			        	<a href="http://liuzhou.eju.com">柳州</a>
			        	<a href="http://beihai.eju.com">北海</a>
			        	<a href="http://qinzhou.eju.com">钦州</a>
			        	<a href="http://laibin.eju.com">来宾</a>
			        	<a href="http://yulin.eju.com">玉林</a>
			        	<a href="http://fangchenggang.eju.com">防城港</a>
			        	<a href="http://guigang.eju.com">贵港</a>
			        	<a href="http://wuzhou.eju.com">梧州</a>
			        	<a href="http://chongzuo.eju.com">崇左</a>
			        	<a href="http://hechi.eju.com">河池</a>
			        	<a href="http://baise.eju.com">百色</a>
			        	<a href="http://hezhou.eju.com">贺州</a>
			        	<a href="http://hengxian.eju.com">横县</a>
			        	<a href="http://by.eju.com">宾阳</a>
		        </dd>
    	</dl>
		<h3 class="cityqy">华中</h3>
		<dl class="newscity">
		        <dt>湖北</dt>
				<dd>
			        	<a href="http://wh.eju.com">武汉</a>
			        	<a href="http://yichang.eju.com">宜昌</a>
			        	<a href="http://huangshi.eju.com">黄石</a>
			        	<a href="http://jingzhou.eju.com">荆州</a>
			        	<a href="http://lhk.eju.com">老河口</a>
			        	<a href="http://yicheng.eju.com">宜城</a>
			        	<a href="http://zaoyang.eju.com">枣阳</a>
			        	<a href="http://shiyan.eju.com">十堰</a>
			        	<a href="http://xianning.eju.com">咸宁</a>
			        	<a href="http://xiaogan.eju.com">孝感</a>
			        	<a href="http://jingmen.eju.com">荆门</a>
			        	<a href="http://xiangyang.eju.com">襄阳</a>
			        	<a href="http://huanggang.eju.com">黄冈</a>
			        	<a href="http://ezhou.eju.com">鄂州</a>
			        	<a href="http://suizhou.eju.com">随州</a>
			        	<a href="http://xiantao.eju.com">仙桃</a>
			        	<a href="http://tianmen.eju.com">天门</a>
			        	<a href="http://qianjiang.eju.com">潜江</a>
			        	<a href="http://enshi.eju.com">恩施</a>
			        	<a href="http://shennongjia.eju.com">神农架</a>
		        </dd>
		        <dt>河南</dt>
				<dd>
			        	<a href="http://zz.eju.com">郑州</a>
			        	<a href="http://luoyang.eju.com">洛阳</a>
			        	<a href="http://jiaozuo.eju.com">焦作</a>
			        	<a href="http://xinyang.eju.com">信阳</a>
			        	<a href="http://nanyang.eju.com">南阳</a>
			        	<a href="http://shangqiu.eju.com">商丘</a>
			        	<a href="http://anyang.eju.com">安阳</a>
			        	<a href="http://pingdingshan.eju.com">平顶山</a>
			        	<a href="http://ruzhou.eju.com">汝州</a>
			        	<a href="http://xinxiang.eju.com">新乡</a>
			        	<a href="http://wugang.eju.com">舞钢</a>
			        	<a href="http://zhumadian.eju.com">驻马店</a>
			        	<a href="http://kaifeng.eju.com">开封</a>
			        	<a href="http://xuchang.eju.com">许昌</a>
			        	<a href="http://luohe.eju.com">漯河</a>
			        	<a href="http://hebi.eju.com">鹤壁</a>
			        	<a href="http://sanmenxia.eju.com">三门峡</a>
			        	<a href="http://zhoukou.eju.com">周口</a>
			        	<a href="http://puyang.eju.com">濮阳</a>
			        	<a href="http://yuzhou.eju.com">禹州</a>
			        	<a href="http://yongcheng.eju.com">永城</a>
			        	<a href="http://jiyuan.eju.com">济源</a>
			        	<a href="http://changge.eju.com">长葛</a>
			        	<a href="http://yanling.eju.com">鄢陵</a>
		        </dd>
		        <dt>湖南</dt>
				<dd>
			        	<a href="http://cs.eju.com">长沙</a>
			        	<a href="http://xiangtan.eju.com">湘潭</a>
			        	<a href="http://zhuzhou.eju.com">株洲</a>
			        	<a href="http://changde.eju.com">常德</a>
			        	<a href="http://chenzhou.eju.com">郴州</a>
			        	<a href="http://hengyang.eju.com">衡阳</a>
			        	<a href="http://huaihua.eju.com">怀化</a>
			        	<a href="http://loudi.eju.com">娄底</a>
			        	<a href="http://yiyang.eju.com">益阳</a>
			        	<a href="http://yongzhou.eju.com">永州</a>
			        	<a href="http://yueyang.eju.com">岳阳</a>
			        	<a href="http://zjj.eju.com">张家界</a>
			        	<a href="http://shaoyang.eju.com">邵阳</a>
			        	<a href="http://xiangxi.eju.com">湘西</a>
		        </dd>
    	</dl>
		<h3 class="cityqy">东北</h3>
		<dl class="newscity">
		        <dt>黑龙江</dt>
				<dd>
			        	<a href="http://heb.eju.com">哈尔滨</a>
			        	<a href="http://hailin.eju.com">海林</a>
			        	<a href="http://daqing.eju.com">大庆</a>
			        	<a href="http://zhaoyuan.eju.com">肇源</a>
			        	<a href="http://zhaozhou.eju.com">肇州</a>
			        	<a href="http://mudanjiang.eju.com">牡丹江</a>
			        	<a href="http://qiqihaer.eju.com">齐齐哈尔</a>
			        	<a href="http://suihua.eju.com">绥化</a>
			        	<a href="http://jixi.eju.com">鸡西</a>
			        	<a href="http://jiamusi.eju.com">佳木斯</a>
			        	<a href="http://heihe.eju.com">黑河</a>
			        	<a href="http://hljyichun.eju.com">伊春</a>
			        	<a href="http://zhaodong.eju.com">肇东</a>
			        	<a href="http://anda.eju.com">安达</a>
			        	<a href="http://shuangyashan.eju.com">双鸭山</a>
			        	<a href="http://hegang.eju.com">鹤岗</a>
			        	<a href="http://qitaihe.eju.com">七台河</a>
		        </dd>
		        <dt>辽宁</dt>
				<dd>
			        	<a href="http://sy.eju.com">沈阳</a>
			        	<a href="http://dl.eju.com">大连</a>
			        	<a href="http://anshan.eju.com">鞍山</a>
			        	<a href="http://panjin.eju.com">盘锦</a>
			        	<a href="http://yingkou.eju.com">营口</a>
			        	<a href="http://huludao.eju.com">葫芦岛</a>
			        	<a href="http://wafangdian.eju.com">瓦房店</a>
			        	<a href="http://zhuanghe.eju.com">庄河</a>
			        	<a href="http://jinzhou.eju.com">锦州</a>
			        	<a href="http://dandong.eju.com">丹东</a>
			        	<a href="http://chaoyang.eju.com">朝阳</a>
			        	<a href="http://benxi.eju.com">本溪</a>
			        	<a href="http://liaoyang.eju.com">辽阳</a>
			        	<a href="http://fushun.eju.com">抚顺</a>
			        	<a href="http://fuxin.eju.com">阜新</a>
			        	<a href="http://tieling.eju.com">铁岭</a>
		        </dd>
		        <dt>吉林</dt>
				<dd>
			        	<a href="http://cc.eju.com">长春</a>
			        	<a href="http://jl.eju.com">吉林</a>
			        	<a href="http://huadian.eju.com">桦甸</a>
			        	<a href="http://yanbian.eju.com">延边</a>
			        	<a href="http://siping.eju.com">四平</a>
			        	<a href="http://baishan.eju.com">白山</a>
			        	<a href="http://baicheng.eju.com">白城</a>
			        	<a href="http://songyuan.eju.com">松原</a>
			        	<a href="http://dehui.eju.com">德惠</a>
			        	<a href="http://tonghua.eju.com">通化</a>
			        	<a href="http://nongan.eju.com">农安</a>
			        	<a href="http://liaoyuan.eju.com">辽源</a>
			        	<a href="http://jlys.eju.com">榆树</a>
			        	<a href="http://gongzhuling.eju.com">公主岭</a>
		        </dd>
    	</dl>
		<h3 class="cityqy">西南</h3>
		<dl class="newscity">
		        <dt>贵州</dt>
				<dd>
			        	<a href="http://gy.eju.com">贵阳</a>
			        	<a href="http://zunyi.eju.com">遵义</a>
			        	<a href="http://bijie.eju.com">毕节</a>
			        	<a href="http://qianxinan.eju.com">黔西南</a>
			        	<a href="http://qiandongnan.eju.com">黔东南</a>
			        	<a href="http://qiannan.eju.com">黔南</a>
			        	<a href="http://tongren.eju.com">铜仁</a>
			        	<a href="http://anshun.eju.com">安顺</a>
			        	<a href="http://lps.eju.com">六盘水</a>
		        </dd>
		        <dt>四川</dt>
				<dd>
			        	<a href="http://cd.eju.com">成都</a>
			        	<a href="http://mianyang.eju.com">绵阳</a>
			        	<a href="http://leshan.eju.com">乐山</a>
			        	<a href="http://nanchong.eju.com">南充</a>
			        	<a href="http://meishan.eju.com">眉山</a>
			        	<a href="http://yibin.eju.com">宜宾</a>
			        	<a href="http://bazhong.eju.com">巴中</a>
			        	<a href="http://guangyuan.eju.com">广元</a>
			        	<a href="http://luzhou.eju.com">泸州</a>
			        	<a href="http://guanghan.eju.com">广汉</a>
			        	<a href="http://renshou.eju.com">仁寿</a>
			        	<a href="http://deyang.eju.com">德阳</a>
			        	<a href="http://neijiang.eju.com">内江</a>
			        	<a href="http://anyue.eju.com">安岳</a>
			        	<a href="http://suining.eju.com">遂宁</a>
			        	<a href="http://guangan.eju.com">广安</a>
			        	<a href="http://dazhou.eju.com">达州</a>
			        	<a href="http://ziyang.eju.com">资阳</a>
			        	<a href="http://panzhihua.eju.com">攀枝花</a>
			        	<a href="http://zigong.eju.com">自贡</a>
			        	<a href="http://yaan.eju.com">雅安</a>
			        	<a href="http://liangshan.eju.com">凉山</a>
			        	<a href="http://ganzi.eju.com">甘孜</a>
			        	<a href="http://abazhou.eju.com">阿坝州</a>
		        </dd>
		        <dt>重庆</dt>
				<dd>
			        	<a href="http://cq.eju.com">重庆</a>
			        	<a href="http://hechuan.eju.com">合川</a>
		        </dd>
		        <dt>云南</dt>
				<dd>
			        	<a href="http://km.eju.com">昆明</a>
			        	<a href="http://dali.eju.com">大理</a>
			        	<a href="http://qujing.eju.com">曲靖</a>
			        	<a href="http://yuxi.eju.com">玉溪</a>
			        	<a href="http://xishuangbanna.eju.com">西双版纳</a>
			        	<a href="http://lijiang.eju.com">丽江</a>
			        	<a href="http://baoshan.eju.com">保山</a>
			        	<a href="http://dehong.eju.com">德宏</a>
			        	<a href="http://zhaotong.eju.com">昭通</a>
			        	<a href="http://wenshan.eju.com">文山</a>
			        	<a href="http://chuxiong.eju.com">楚雄</a>
			        	<a href="http://honghe.eju.com">红河</a>
			        	<a href="http://puer.eju.com">普洱</a>
			        	<a href="http://lincang.eju.com">临沧</a>
			        	<a href="http://diqing.eju.com">迪庆</a>
		        </dd>
		        <dt>西藏</dt>
				<dd>
			        	<a href="http://lasa.eju.com">拉萨</a>
			        	<a href="http://rkz.eju.com">日喀则</a>
			        	<a href="http://changdu.eju.com">昌都</a>
			        	<a href="http://linzhi.eju.com">林芝</a>
		        </dd>
    	</dl>
		<h3 class="cityqy">华北</h3>
		<dl class="newscity">
		        <dt>山西</dt>
				<dd>
			        	<a href="http://ty.eju.com">太原</a>
			        	<a href="http://yuncheng.eju.com">运城</a>
			        	<a href="http://huairen.eju.com">怀仁</a>
			        	<a href="http://linfen.eju.com">临汾</a>
			        	<a href="http://datong.eju.com">大同</a>
			        	<a href="http://jinzhong.eju.com">晋中</a>
			        	<a href="http://changzhi.eju.com">长治</a>
			        	<a href="http://yangquan.eju.com">阳泉</a>
			        	<a href="http://lvliang.eju.com">吕梁</a>
			        	<a href="http://shuozhou.eju.com">朔州</a>
			        	<a href="http://jc.eju.com">晋城</a>
			        	<a href="http://xinzhou.eju.com">忻州</a>
		        </dd>
		        <dt>内蒙古</dt>
				<dd>
			        	<a href="http://hhht.eju.com">呼和浩特</a>
			        	<a href="http://eerduosi.eju.com">鄂尔多斯</a>
			        	<a href="http://baotou.eju.com">包头</a>
			        	<a href="http://wlcb.eju.com">乌兰察布</a>
			        	<a href="http://byne.eju.com">巴彦淖尔</a>
			        	<a href="http://chifeng.eju.com">赤峰</a>
			        	<a href="http://xam.eju.com">兴安盟</a>
			        	<a href="http://wuhai.eju.com">乌海</a>
			        	<a href="http://tl.eju.com">通辽</a>
			        	<a href="http://hlbe.eju.com">呼伦贝尔</a>
			        	<a href="http://xlglm.eju.com">锡林郭勒盟</a>
			        	<a href="http://alsm.eju.com">阿拉善盟</a>
		        </dd>
		        <dt>河北</dt>
				<dd>
			        	<a href="http://sjz.eju.com">石家庄</a>
			        	<a href="http://tangshan.eju.com">唐山</a>
			        	<a href="http://baoding.eju.com">保定</a>
			        	<a href="http://qinhuangdao.eju.com">秦皇岛</a>
			        	<a href="http://handan.eju.com">邯郸</a>
			        	<a href="http://zhangjiakou.eju.com">张家口</a>
			        	<a href="http://hengshui.eju.com">衡水</a>
			        	<a href="http://xingtai.eju.com">邢台</a>
			        	<a href="http://langfang.eju.com">廊坊</a>
			        	<a href="http://chengde.eju.com">承德</a>
			        	<a href="http://sanhe.eju.com">三河</a>
			        	<a href="http://yuxian.eju.com">蔚县</a>
			        	<a href="http://cangzhou.eju.com">沧州</a>
			        	<a href="http://wenan.eju.com">文安</a>
			        	<a href="http://yanjiao.eju.com">燕郊</a>
			        	<a href="http://dachang.eju.com">大厂</a>
			        	<a href="http://zhuozhou.eju.com">涿州</a>
			        	<a href="http://guan.eju.com">固安</a>
			        	<a href="http://xianghe.eju.com">香河</a>
			        	<a href="http://yongqing.eju.com">永清</a>
			        	<a href="http://hbbz.eju.com">霸州</a>
			        	<a href="http://dingzhou.eju.com">定州</a>
			        	<a href="http://gaobeidian.eju.com">高碑店</a>
			        	<a href="http://changli.eju.com">昌黎</a>
			        	<a href="http://xiongan.eju.com">雄安新区</a>
		        </dd>
		        <dt>北京</dt>
				<dd>
			        	<a href="http://bj.eju.com">北京</a>
		        </dd>
		        <dt>天津</dt>
				<dd>
			        	<a href="http://tj.eju.com">天津</a>
			        	<a href="http://wuqing.eju.com">天津武清</a>
		        </dd>
    	</dl>
		<h3 class="cityqy">西北</h3>
		<dl class="newscity">
		        <dt>新疆</dt>
				<dd>
			        	<a href="http://wlmq.eju.com">乌鲁木齐</a>
			        	<a href="http://bazhou.eju.com">巴州</a>
			        	<a href="http://yili.eju.com">伊犁</a>
			        	<a href="http://kashi.eju.com">喀什</a>
			        	<a href="http://akesu.eju.com">阿克苏</a>
			        	<a href="http://changji.eju.com">昌吉</a>
			        	<a href="http://kzls.eju.com">克孜勒苏</a>
			        	<a href="http://hami.eju.com">哈密</a>
			        	<a href="http://klmy.eju.com">克拉玛依</a>
		        </dd>
		        <dt>甘肃</dt>
				<dd>
			        	<a href="http://lz.eju.com">兰州</a>
			        	<a href="http://gannan.eju.com">甘南</a>
			        	<a href="http://tianshui.eju.com">天水</a>
			        	<a href="http://qingyang.eju.com">庆阳</a>
			        	<a href="http://dingxi.eju.com">定西</a>
			        	<a href="http://pingliang.eju.com">平凉</a>
			        	<a href="http://zhangye.eju.com">张掖</a>
			        	<a href="http://jiuquan.eju.com">酒泉</a>
			        	<a href="http://wuwei.eju.com">武威</a>
			        	<a href="http://longnan.eju.com">陇南</a>
			        	<a href="http://yongdeng.eju.com">永登</a>
			        	<a href="http://baiyin.eju.com">白银</a>
			        	<a href="http://yuzhong.eju.com">榆中</a>
			        	<a href="http://jinchang.eju.com">金昌</a>
			        	<a href="http://jiayuguan.eju.com">嘉峪关</a>
		        </dd>
		        <dt>青海</dt>
				<dd>
			        	<a href="http://xn.eju.com">西宁</a>
			        	<a href="http://haidong.eju.com">海东</a>
			        	<a href="http://guoluo.eju.com">果洛</a>
			        	<a href="http://haibei.eju.com">海北</a>
			        	<a href="http://haixi.eju.com">海西</a>
			        	<a href="http://yushu.eju.com">玉树</a>
			        	<a href="http://huangnan.eju.com">黄南</a>
		        </dd>
		        <dt>宁夏</dt>
				<dd>
			        	<a href="http://yc.eju.com">银川</a>
			        	<a href="http://guyuan.eju.com">固原</a>
			        	<a href="http://wuzhong.eju.com">吴忠</a>
			        	<a href="http://zhongwei.eju.com">中卫</a>
			        	<a href="http://shizuishan.eju.com">石嘴山</a>
		        </dd>
		        <dt>陕西</dt>
				<dd>
			        	<a href="http://xa.eju.com">西安</a>
			        	<a href="http://xianyang.eju.com">咸阳</a>
			        	<a href="http://baoji.eju.com">宝鸡</a>
			        	<a href="http://weinan.eju.com">渭南</a>
			        	<a href="http://hanzhong.eju.com">汉中</a>
			        	<a href="http://ankang.eju.com">安康</a>
			        	<a href="http://tongchuan.eju.com">铜川</a>
			        	<a href="http://shangluo.eju.com">商洛</a>
			        	<a href="http://yl.eju.com">榆林</a>
			        	<a href="http://yanan.eju.com">延安</a>
		        </dd>
    	</dl>
</div>

{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script> 
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>