<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/about.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/zfform.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body class="new">
<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 资讯详情 S-->
<div class="flash">
  <div class="con_wrap comWidth clearfix"> 
    <div class="bnzf-kuang">

<div class="title" style="font-size: 30px;color: #333;">为您提供求租房源信息发布<div style="font-size: 16px;color:  #333;">免费咨询电话：{eju:global name='web_attr_2' /}</div></div>
<div class="bnzf-kuangBg">



<div class="cl"></div>
{eju:form formid="6"}
<form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
<div class="ids_1" style="">
    <!--区域-->
    <div class="form_h">
        <div class="form_l"><i>*</i>您想在哪里租</div>
        <div class="form_r">
            <div class="my_xl xx">
                <input type="text" id="{$field.attr_20}" name="{$field.attr_20}" class="my_xl_input qy" value="" style="position:absolute;top:-9999px;">
                <div class="my_xl_txt">请选择区域</div>
                <div class="my_xl_btn"></div>
                <ul class="my_xl_list" style="display: none;">
                   {eju:volist name="$field.options_20" id="attr"}
                    <li class="">{$attr.value}</li>
                   {/eju:volist}
                </ul>
            </div>
            <div class="error error_qy">请选择区域</div>
        </div>
        <div class="cl"></div>
    </div>
    <!--方式-->
    <div class="form_h">
        <div class="form_l"><i>*</i>您的租房方式</div>
        <div class="form_r">
            <div class="my_xl xx">
                <input type="text" id="{$field.attr_21}" name="{$field.attr_21}" class="my_xl_input lx" value="" style="position:absolute;top:-9999px;">
                <div class="my_xl_txt">请选择租房方式</div>
                <div class="my_xl_btn"></div>
                <ul class="my_xl_list" style="display: none;">
                   {eju:volist name="$field.options_21" id="attr"}
                    <li class="">{$attr.value}</li>
                   {/eju:volist}
                    <!--<li class="">床位</li>-->
                </ul>
            </div>
            <div class="error error_lx">请选择租房方式</div>
        </div>
        <div class="cl"></div>
    </div>
    
    <!--价格-->
    <div class="form_h">
        <div class="form_l"><i>*</i>您的价格预算</div>
        <div class="form_r">
            <div class="my_xl xx">
                <input type="text" id="{$field.attr_22}" name="{$field.attr_22}" class="my_xl_input jg" value="" style="position:absolute;top:-9999px;">
                <div class="my_xl_txt">请选择价格</div>
                <div class="my_xl_btn"></div>
                <ul class="my_xl_list" style="display: none;">
                   {eju:volist name="$field.options_22" id="attr"}
                    <li class="">{$attr.value}</li>
                   {/eju:volist}
                </ul>
            </div>
            <div class="error error_jg">请选择价格</div>
        </div>
        <div class="cl"></div>
    </div>
    <!--户型-->
    <div class="form_h">
        <div class="form_l"><i>*</i>您想租几居室</div>
        <div class="form_r">
            <div class="my_xl xx">
                <input type="text" id="{$field.attr_23}" name="{$field.attr_23}" class="my_xl_input hx" value="" style="position:absolute;top:-9999px;">
                <div class="my_xl_txt">请选择户型</div>
                <div class="my_xl_btn"></div>
                <ul class="my_xl_list" style="display: none;">
                   {eju:volist name="$field.options_23" id="attr"}
                    <li class="">{$attr.value}</li>
                   {/eju:volist}
                </ul>
            </div>
            <div class="error error_hx">请选择户型</div>
        </div>
        <div class="cl"></div>
    </div>
    <!--手机-->
    <div class="form_h">
        <div class="form_l"><i>*</i>您的手机号码</div>
        <div class="form_r">
            <input type="text" class="" maxlength="11" id="{$field.attr_19}" name="{$field.attr_19}" placeholder="请输入手机号码">
            <div class="error error_tel">请输入手机号码</div>
        </div>
        <div class="cl"></div>
    </div>
    
    <!--手机-->
    <div class="form_h">
        <div class="form_l">描　　　　述</div>
        <div class="form_r">
            <textarea class="ms" rows="5" cols="10" id="{$field.attr_24}" name="{$field.attr_24}" placeholder="补充说点什么吧..."></textarea>
        </div>
        <div class="cl"></div>
    </div>
</div>


<div class="cl"></div>
<div class="form_btn"><a id="submit"  onclick="document.getElementById('{$field.form_name}').onsubmit();" >
            提交
        </a></div>
{$field.hidden}
    </form>
    {/eju:form}
</div>




<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/my_xiala.js"></script>
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.datetimepicker.js"></script>





<div class="cl"></div>
</div>
  </div>
</div>

{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script> 
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>