<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$eju.field.seo_title}</title>
    <meta name="description" content="{$eju.field.seo_description}" />
    <meta name="keywords" content="{$eju.field.seo_keywords}" />
    <link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
    <link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
    <link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
    <link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/jingjiren.css">
    <script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S -->
{eju:include file="header.htm"/}
<!-- topBar E -->

<!-- 搜索栏 S -->
<div class="searBar ">
    <div class="comWidth clearfix">
        <div class="sear_box fl">
            {eju:searchform type='default' typeid='20'}
            <form  method="get" action="{$field.action}">
                <div class="ipt_area fl">
                    <input type="text" name="keywords" id="keywords" value="{$Request.param.keywords}" autocomplete="off" placeholder="请输入姓名、手机号、所属公司名称查找经纪人" class="ipt">
                    <span class="placeholder">请输入姓名</span>
                    <ul id="search-box">
                    </ul>
                </div>
                <div class="btn_area fl">
                    <input type="submit" class="sbm_btn" value="搜索">
                </div>
                {$field.hidden}
            </form>
            {/eju:searchform}
        </div>
        </div>
</div>
<!-- 搜索栏 E -->
<!-- 楼盘列表 S-->
<div class="cm_house">
    <div class="comWidth">
        <!-- 页面标识 S-->
        <div class="page_tit"> <a href="javascript:;" rel="nofollow">您的位置：</a> {eju:position style='' /} </div>
        <!-- 页面标识 E-->
        
        <div class="main clearfix">
            <!-- 二手房列表 S-->
            <div class="leftArea cm_leftArea">
                <div class="jjr_bot">
                   
                    <div class="cl"></div>
                </div>
                <div class="cl"></div>

                <div class="list_jjr sh_house_list" >
                    <ul class="clearfix">
                        {eju:userslist pagesize='20' is_saleman='1' titlelen='30' infolen='160' orderby='add_time'}
                        <li>
                            <a href="{$field.arcurl}" class="agentImge" target="_blank"><img src="{$field.litpic}" alt=""></a>
                            <div>
                                <div>
                                    <a href="{$field.arcurl}" target="_blank" style="border-right:none;"><h4>{$field.true_name}</h4></a>
                                    <!--<s class="icon-xy level-icon1" style="float: left;width: 80px;">
                                        {$field.level_name}
                                    </s>-->
                                </div>
                                <p>所属门店：<span>{$field.company}</span> </p>
                                <p class="xq">主营小区：
                                    {eju:volist name="$field.service_xiaoqu" id="vo"}
                                    <a href="{$vo.arcurl}" target="_blank">{$vo.title}</a>
                                    {/eju:volist}
                                </p>
                                <p>主营区域：
                                    {eju:volist name="$field.service_area" id="vo"}
                                    <span>{$vo.name}</span>
                                    {/eju:volist}
                                </p>
                            </div>
                            <span><i class="organePhone"></i>{$field.mobile}</span>
                        </li>
                        {/eju:userslist}
                    </ul>
                </div>

                <div class="page_list clearfix">
                    <ul class="pagination">
                        {eju:pagelist listitem="index,end,pageno,pre,next" listsize="10"/}
                    </ul>
                </div>
            </div>
            <!-- 二手房列表 E-->
            <!-- 右边内容 S -->
            <div class="cm_rightArea rightArea">
                <!-- 我要卖房 S -->
                {eju:user type='login'}
                <a href="{$field.url}" class="sale_btn ">我要卖房</a>
                {$field.hidden}
                {/eju:user}
                {eju:type typeid='31'}
				<a href="{$field.typeurl}" class="sale_btn ">我要求购</a> 
				{/eju:type}
                <!-- 我要卖房 E -->
                <!-- 最新房源 S -->
                <div class="rcmd_house new_house ">
                    <div class="title"><span></span>
                        <h3>推荐房源</h3>
                    </div>
                    <div class="con_box">
                        <ul class="clearfix">
                            {eju:arclist channelid='12' screen='0' orderby='new' row='3' id='field'}
                            <li> <a href="{$field.arcurl}"  target="_blank" title="{$field.title}">
                                <div class="img"> <img src="{$field.litpic}" alt="{$field.title}"> </div>
                                <div class="con">
                                    <div class="row clearfix">
                                        <p class="name fl">{$field.title}</p>
                                        <p class="price fr">{eju:notempty name="$field.total_price"}{$field.total_price}{$field.total_price_unit}{eju:else /}暂无{/eju:notempty}</p>
                                    </div>
                                    <div class="row clearfix">
                                        <p class="type fl">{$field.room}室{$field.living_room}厅</p>
                                        <p class="area fr">{$field.area}㎡</p>
                                    </div>
                                </div>
                            </a> </li>
                            {/eju:arclist}
                        </ul>
                    </div>
                </div>
                <!-- 最新房源 E -->
                <!-- 购房知识 S -->
                <div class="buy_way house_klg mt_25">
                    <div class="title"><span></span>
                        <h3>购房知识</h3>
                    </div>
                    <div class="con_box">
                        <ul class="list">
                            {eju:arclist typeid='5' screen='0' orderby='new' row='10' id='field'}
                            <li class="clearfix"><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></li>
                            {/eju:arclist}
                        </ul>
                    </div>
                </div>
                <!-- 购房知识S -->
            </div>
            <!-- 右边内容 E -->
        </div>
    </div>
</div>
<!-- 楼盘列表 S-->

<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/laytpl.js"></script>
<script type="text/javascript">
    $(function(){
        $("#select select").on('change',function(){
            var uri = $(this).find("option:selected").data('uri');
            window.location.href = uri;
        });
        $("#keyword").on('keyup click',function(e){
            e.preventDefault();
            e.stopPropagation();
            var keyword = $(this).val(),url = $(this).data('uri'),box = $('#search-box');
            $.get(url,{keyword: $.trim(keyword)},function(result){
                if(result.code == 1)
                {
                    var gettpl = document.getElementById('template').innerHTML;
                    laytpl(gettpl).render(result.data, function(html){
                        $('#search-box').html(html);
                    });
                    box.show();
                }else{
                    box.hide();
                }
            });
        });
        $('body').on('click',function(){
            $('#search-box').hide();
        });
    })
</script>
{eju:include file="footer.htm"/}
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script>
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script>
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
        $('.follow').on('click',function(){
            var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
            $.post(url,{house_id:house_id,model:model},function(result){
                if(result.code == 1)
                {
                    layer.msg(result.msg,{icon:1});
                    if(me.hasClass('on'))
                    {
                        me.removeClass('on').text(result.text);
                    }else{
                        me.addClass('on').text(result.text);
                    }
                }else{
                    layer.msg(result.msg,{icon:2});
                }
            });
        });
    });
</script>
</body>
</html>