<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}-详情</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 楼盘详情 S-->
<div class="newhouse_detail"> 
 {eju:include file="main_xinfang.htm"/}
  <div class="comWidth clearfix house_detail">
    <div class="con_wrap" id="main"> 
      <!-- 楼盘详情 S -->
      <div class="build_detail floor">
        <div class="title clearfix">
          <h2>楼盘详情</h2>
        </div>
        <div class="con_box clearfix">
          <table cellpadding="0" cellspacing="1" border="0" width="100%">
            <tr>
              <td width="33.33%"><span class="tit">项目地址：</span> <span class="txt">{$eju.field.address}</span></td>
              <td width="33.33%"><span class="tit">开 发 商：</span> <span class="txt">{$eju.field.developer}</span></td>
              <td width="33.33%"><span class="tit">售楼处地址：</span> <span class="txt">{$eju.field.sales_address}</span></td>
            </tr>
            <tr>
              <td width="33.33%"><span class="tit">物业公司：</span> <span class="txt">{$eju.field.manage_company}</span></td>
              <td width="33.33%"><span class="tit">开盘时间：</span> <span class="txt">{$eju.field.opening_time|MyDate='Y-m-d',###}</span></td>
              <td width="33.33%"><span class="tit">交房时间：</span> <span class="txt">{$eju.field.complate_time|MyDate='Y-m-d',###}</span></td>
            </tr>
            <tr>
              <td width="33.33%"><span class="tit">产权年限：</span> <span class="txt">{$eju.field.property}</span></td>
              <td width="33.33%"><span class="tit">楼盘类型：</span> <span class="txt">{eju:volist name="$eju.field.manage_type" id="vo"}{$vo} {/eju:volist}</span></td>
              <td width="33.33%"><span class="tit">车位情况：</span> <span class="txt">{$eju.field.carport}{$eju.field.carport_unit}</span></td>
            </tr>
            <tr>
              <td width="33.33%"><span class="tit">建筑类型：</span> <span class="txt">{eju:diyfield type='checkbox' id='building_type' name='$eju.field.building_type'}{$building_type.value}&nbsp;&nbsp;{/eju:diyfield}</span></td>
              <td width="33.33%"><span class="tit">计划户数：</span> <span class="txt">{$eju.field.households}</span></td>
              <td width="33.33%"><span class="tit">占地面积：</span> <span class="txt">{$eju.field.floor_area}</span></td>
            </tr>
            <tr>
              <td width="33.33%"><span class="tit">物业费用：</span> <span class="txt">{$eju.field.property_fee}</span></td>
              <td width="33.33%"><span class="tit">建筑面积：</span> <span class="txt">{$eju.field.building_area}</span></td>
              <td width="33.33%"><span class="tit">装修情况：</span> <span class="txt">{eju:diyfield type='checkbox' id='fitment' name='$eju.field.fitment'}{$fitment.value}{/eju:diyfield}</span></td>
            </tr>
            <tr>
              <td width="33.33%"><span class="tit">容 积 率：</span> <span class="txt">{$eju.field.plot_ratio}</span></td>
              <td width="33.33%"><span class="tit">绿 化 率：</span> <span class="txt">{$eju.field.greening_rate}</span></td>
              <td width="33.33%"><span class="tit">楼栋数量：</span> <span class="txt">{$eju.field.building_num}</span></td>
            </tr>
          </table>
          <div class="house-content">
            <table>
              <tbody>
                <tr class="firstRow">
                  <td valign="top" style="padding: 5px 12px; border: rgb(0, 0, 0); border-image: none; -ms-word-break: break-all; background-color: transparent;">{$eju.field.content}</td>
                </tr>
              </tbody>
            </table>
            <p><br/>
            </p>
          </div>
        </div>
      </div>
      <!-- 楼盘详情 E --> 
    </div>
  </div>
</div>
<!-- 楼盘详情 E-->

{eju:include file="footer.htm"/}
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>