<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}-详情</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/wenda.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 楼盘详情 S-->
<div class="newhouse_detail"> {eju:include file="main_xinfang.htm"/}
  <div class="comWidth clearfix house_detail">
    <div class="con_wrap" id="main"> 
      <!-- 楼盘详情 S -->
      <div class="con_left">
        <div class="housesLeft">
          <div class="housesTitle">关于
            首创光和城
            的
            58
            个问题
            <div class="remark_btn"> <a target="_blank" data-toggle="modal" href="#login">我要提问</a> </div>
          </div>
          <ul class="houseAnswer">
            <li>
              <div class="houseAnswerTitle">附近有地铁吗</div>
              <div class="houseAnswerPhone"><b>176****3061</b><span>2019-05-13 18:30:21</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 你好，首创光和城项目位于浑南区沈中大街与白塔河南路交汇处东南侧，距离地铁2号线白塔河路站步行15分钟左右。 </div>
            </li>
            <li>
              <div class="houseAnswerTitle">离哪个地铁口比较近？</div>
              <div class="houseAnswerPhone"><b>131****4292</b><span>2019-02-12 16:25:05</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 你好，首创光和城项目位于浑南区沈中大街与白塔河南路交汇处东南侧，距离地铁2号线白塔河路站步行15分钟左右。 </div>
            </li>
            <li>
              <div class="houseAnswerTitle">项目适合投资吗，有升值空间吗</div>
              <div class="houseAnswerPhone"><b>158****8892</b><span>2019-01-22 14:25:41</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 你好，首创光和城项目作为国企首创置业在沈匠心打造的无忧住宅产品，位于全运板块核心位置，坐享自贸区、新市府、新南站等优质资源，现二期新品约85-128㎡全通透成长户型，无论是投资还是自住都是不错的选择。 </div>
            </li>
            <li>
              <div class="houseAnswerTitle">请问配套设施如何</div>
              <div class="houseAnswerPhone"><b>182****5290</b><span>2018-12-11 15:12:51</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 您好，首创周边配套较为便利。交通方面，项目门前有轻轨及公交，另外距离地铁口也不是特别远，出行比较方便；商业配套更是全，周边底商丰富，包括临近的中海康城底商都可共享，各类底商满足生活全方位诉求。 </div>
            </li>
            <li>
              <div class="houseAnswerTitle">有什么优惠</div>
              <div class="houseAnswerPhone"><b>155****2236</b><span>2018-11-17 14:52:45</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 您好，首创光和城目前可享受全款96折，贷款97折优惠。具体以售楼处为准！ </div>
            </li>
            <li>
              <div class="houseAnswerTitle">多钱一平米</div>
              <div class="houseAnswerPhone"><b>188****7896</b><span>2018-11-17 14:41:05</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 您好，首创光和城项目高层均价9300元/平，具体以销售中心为准！欢迎您到销售中心或电话详细咨询了解。 </div>
            </li>
            <li>
              <div class="houseAnswerTitle">具体多少钱一平，楼下地铁多远？</div>
              <div class="houseAnswerPhone"><b>139****3571</b><span>2018-11-17 14:18:28</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 您好，首创光和城目前高层均价9300元/平。距离地铁2号线步行10分钟左右。 </div>
            </li>
            <li>
              <div class="houseAnswerTitle">多钱一平</div>
              <div class="houseAnswerPhone"><b>138****4561</b><span>2018-11-17 13:57:27</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 您好，首创光和城项目高层均价9300元/平，具体以销售中心为准！欢迎您到销售中心或电话详细咨询了解。 </div>
            </li>
            <li>
              <div class="houseAnswerTitle">这个房子现在多钱？</div>
              <div class="houseAnswerPhone"><b>176****8601</b><span>2018-11-17 13:04:03</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 您好，首创光和城项目高层均价9300元/平，具体以销售中心为准！欢迎您到销售中心或电话详细咨询了解。 </div>
            </li>
            <li>
              <div class="houseAnswerTitle">项目具体位置在哪</div>
              <div class="houseAnswerPhone"><b>139****3847</b><span>2018-11-17 13:02:20</span> </div>
              <div class="houseAnswerContent"><span>房小二网客服回复：</span> 您好，首创光和城位于浑南区沈中大街与白塔河南路交汇处东南侧。欢迎您前来参观。 </div>
            </li>
          </ul>
          <div class="cl"></div>
          <div>
            <div class="page"> 
              <!--分页-->
              <div id="Pager1"> 
                <!--<a th:if="${number eq 1}" disabled="disabled" style="margin-right:5px;cursor: pointer">首页</a>--> 
                
                <!--<a th:if="${number eq 1}" disabled="disabled" style="margin-right:5px;cursor: pointer;">上一页</a>--> 
                
                <span style="margin-right:5px;font-weight:Bold;color:red;">1</span> <a href="/house/ask/214-1-n2" style="margin-right:5px;">2</a><a href="/house/ask/214-1-n3" style="margin-right:5px;">3</a><a href="/house/ask/214-1-n4" style="margin-right:5px;">4</a><a href="/house/ask/214-1-n5" style="margin-right:5px;">5</a><a href="/house/ask/214-1-n6" style="margin-right:5px;">6</a> <a href="/house/ask/214-1-n2" style="margin-right:5px;">下一页</a> 
                <!--<a th:if="${number eq totalPages}" disabled="disabled" style="margin-right:5px;">下一页</a>--> 
                
                <!--<a th:if="${number lt totalPages}" th:href="@{'javascript:__doPostPage(\'Pager\','+${totalPages}+')'}"--> 
                <!--style="margin-right:5px;">尾页</a>--> 
                <!--<a th:if="${number eq totalPages}" disabled="disabled" style="margin-right:5px;">尾页</a>--> 
              </div>
            </div>
          </div>
          <div class="cl"></div>
          <div class="shuoming" style="line-height: 30px;"> <b>问答说明：</b>
            <p> 1、楼盘问答是房小二网为您提供的疑难问题解答板块，在这里你可以与工作人员直接交流。<br>
              2、因提问的用户较多，可能无法及时进行回复，我们将尽力在最快的时间内为您解答。<br>
              3、当涉及广告、不实评论、恶意评论、爆粗口、危害国家安全等不当言论时，房小二网有权实施封号等管理行为。 </p>
          </div>
        </div>
        <div>
          <link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/housesright.css">
          <div class="housesRight">
            <div class="salesOffice houseRight">
              <p>售楼处电话：</p>
              <span><b>{$eju.field.sale_phone} {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}</b></span> 
              <!-- <span><b><th:block th:text="${houseInfo.sortelTel}"></th:block></b></span>--> 
              <a  data-id="12" data-model="house" data-type="1" data-uri="{eju:diyurl type='form'/}" class="houseRightBtn J_dialog" style="cursor:pointer ; display: block;margin-top: 5px">免费通话</a> </div>
            <div class="houseRight subscription">
              <div class="houseRinghtTitle">楼盘订阅</div>
              {eju:form formid="3"}
              <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
                <div class="right-form">
                  <div class="form-type">
                    <p> {eju:volist name="$field.options_8" id="attr" limit='0,2'}
                      <label>
                        <input type="checkbox" id="{$field.attr_8}" name="{$field.attr_8}" value="{$attr.value}">
                        {$attr.value} </label>
                      {/eju:volist} </p>
                    <p> {eju:volist name="$field.options_8" id="attr" limit='2,2'}
                      <label>
                        <input type="checkbox" id="{$field.attr_8}" name="{$field.attr_8}" value="{$attr.value}">
                        {$attr.value} </label>
                      {/eju:volist} </p>
                  </div>
                  <div class="form-input">
                    <p>
                      <input type="text" id="{$field.attr_6}" name="{$field.attr_6}" autocomplete="off" placeholder="您的{$field.itemname_6}" class="input-txt" />
                    </p>
                    <p>
                      <input type="text" id="{$field.attr_7}" name="{$field.attr_7}" autocomplete="off" placeholder="您的{$field.itemname_7}" class="input-txt" />
                    </p>
                  </div>
                  <div class="button">
                    <button class="subscribe-btn" type="submit">立即订阅</button>
                  </div>
                </div>
                {$field.hidden}
              </form>
              {/eju:form} </div>
          </div>
          <script type="text/javascript">
			 $(function(){ 
			   $('.J_dialog').on('click',function(){
            var me=$(this),w = 420,h = 270,house_id=me.data('id'),model = me.data('model'),type = me.data('type'),url = me.data('uri');
            url = url + '?house_id='+house_id+'&type='+type+'&model='+model;
            layer.open({
                type: 2,
                title: false,
                fix:true,
                move:false,
                area: [w+'px', h+'px'],
                shade: 0.5,
                closeBtn: 1,
                shadeClose: true,
                content: url
					});
				});
			   });
    </script> 
        </div>
      </div>
      <!-- 楼盘详情 E --> 
    </div>
  </div>
</div>
<!-- 楼盘详情 E--> 

{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>