<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>

  <script type="text/javascript">
  function showTime(tuanid, time_distance) {
  	this.tuanid = tuanid;
  	//PHP时间是秒，JS时间是微秒
      var timestamp = (new Date()).getTime();
      this.time_distance = time_distance * 1000 - timestamp;
  }
  showTime.prototype.setTimeShow = function () {
  	var timer = $("#lefttime_" + this.tuanid);
  	var btn_baoming = $("#btn_baoming_" + this.tuanid);
  	var str_time;
  	var int_day, int_hour, int_minute, int_second;
  	time_distance = this.time_distance;
  	this.time_distance = this.time_distance - 1000;
  	if (time_distance > 0) {
  		int_day = Math.floor(time_distance / 86400000);
  		time_distance -= int_day * 86400000;
  		int_hour = Math.floor(time_distance / 3600000);
  		time_distance -= int_hour * 3600000;
  		int_minute = Math.floor(time_distance / 60000);
  		time_distance -= int_minute * 60000;
  		int_second = Math.floor(time_distance / 1000);
  		if (int_hour < 10)
  			int_hour = "0" + int_hour;
  		if (int_minute < 10)
  			int_minute = "0" + int_minute;
  		if (int_second < 10)
  			int_second = "0" + int_second;
  		str_time = "<i class='iconfont af-icon-time'></i>距离报名结束还有<em class='data-day'>"+int_day + "</em>天<em class='data-hour'>" + int_hour + "</em>小时<em class='data-minute'>" + int_minute + "</em>分钟<em class='data-sec'>" + int_second + "</em>秒";
  		timer.html(str_time);
  		var self = this;
  		setTimeout(function () { self.setTimeShow(); }, 1000); //D:正确
  	} else {
  		btn_baoming.html("报名结束");
          btn_baoming.prop("class"," but201");
  		timer.text("已结束");
  		$("#submit2").attr("class","end-btn");
  		$("#submit2").attr("disabled","disabled");
  		$("#submit2").val("报名结束");
  		return;
  	}
  }
  </script>
</head>
<body>
<!-- topBar S -->
{eju:include file="header.htm"/} 
<!-- topBar E -->

<link rel="stylesheet" href="{eju:global name='web_templets_pc' /}/skin/css/group.css">
<div class="searBar ">
  <div class="comWidth clearfix">
    <div class="sear_box fl">
      {eju:searchform channelid='9' type='default' typeid='1'}
      <form  method="get" action="{$field.action}">
        <div class="ipt_area fl">
          <input type="text" name="keywords" id="keywords" autocomplete="off" placeholder="输入楼盘名称" class="ipt">
          <span class="placeholder">输入楼盘名称</span>
          <ul id="search-box">
          </ul>
        </div>
        <div class="btn_area fl">
          <input type="submit" class="sbm_btn" value="搜索">
        </div>
        {$field.hidden}
      </form>
      {/eju:searchform} </div>
    <a href="{eju:diyurl type='map' /}" class="map_btn fr">地图找房</a> </div>

</div>
<div class="comWidth"> 
  <!-- 页面标识 S-->
  <div class="page_tit position-bottom"> <a href="javascript:;">您的位置：</a> {eju:position style='' /} </div>
  <!-- 页面标识 E--> 
</div>

<div class="comWidth clearfix">
 {eju:arcview aid="$eju.field.joinaid" id="view"}
  <div class="group_show02">
    <div class="group_show02_l detail_slide">
     
      <div class="n_h_simg01 large_box">
        <ul>
          <li> <img src="{$eju.field.litpic}" width="600" height="455"> </li>
        </ul>
      </div>
    </div>
    <div class="group_show02_r">
      <div class="g_s2"> <b>{$eju.field.title}</b>
        <p>地址：{$view.address}</p>
        <p></p>
      </div>
      <div class="g_s3">
        <div class="g_tuang"><img src="{eju:global name='web_templets_pc' /}/skin/img/ico28.png" data-bd-imgshare-binded="1" width="128" height="132"></div>
        <div class="g_s3_n1"> <b> 团购价 {$eju.field.price}{$eju.field.price_unit} </b>
         
          <p><span>{$eju.field.description}</span></p>
          
        </div>
        <div class="g_s3_n2">已有<i>{$eju.field.apply_num}</i>人报名团购</div>
        <div class="g_s3_n3"> <b>距离报名结束时间倒计时</b>
          <p id="lefttime_1"></p>
          <a id="btn_baoming_1" href="javascript:;" class="J_dialog but20" data-id="29" data-model="house" data-type="4" data-uri="{eju:diyurl type='form' /}">我要报名</a>
          <script type="text/javascript">
              var st = new showTime(1,"{$eju.field.end_time}");
              st.setTimeShow();
          </script>
          </div>
        <div class="g_s3_n4">
          <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1527848286649"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到百度新首页" href="#" class="bds_bdhome" data-cmd="bdhome"></a><a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a><a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a><a title="分享到腾讯朋友" href="#" class="bds_tqf" data-cmd="tqf"></a><a title="分享到美丽说" href="#" class="bds_meilishuo" data-cmd="meilishuo"></a><a title="分享到蘑菇街" href="#" class="bds_mogujie" data-cmd="mogujie"></a><a title="分享到天涯社区" href="#" class="bds_ty" data-cmd="ty"></a></div>
          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin","bdhome","sqq","douban","tqf","meilishuo","mogujie","ty"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin","bdhome","sqq","douban","tqf","meilishuo","mogujie","ty"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
        </div>
      </div>
    </div>
  </div>
  {/eju:arcview}
  <div class="house_detail clearfix" style="margin-top:20px;">
    <div class="con_wrap clearfix">
      <div class="leftArea cm_leftArea"> 
        <!-- 房源概况 S-->
        <div class="house_general floor">
          <div class="title clearfix">
            <h2>项目介绍</h2>
          </div>
          <div class="desc">
            <p>{$eju.field.content}</p>
          </div>
        </div>
      </div>
      <div class="rightArea cm_rightArea ">
        <div class="group_body_r01">
          <h1>服务热线</h1>
          <h2>{eju:global name='web_attr_2' /}</h2>
          <p>工作时间：周一到周日8:30-18:00</p>
        </div>
        <div class="group_body_r02">
          <h2>团购服务中心</h2>
          <p><span class="group_ico group_ico_01">免费接机</span><span class="group_ico group_ico_02">旅游看房</span><span class="group_ico group_ico_03">置业顾问</span></p>
        </div>
        {eju:channelartlist typeid='1'} 
        <div class="m_t_15">
          <div class="title01"><span class="more"><a href="{eju:field name='typeurl' /}">更多 &gt;</a></span>热门楼盘</div>
          <div class="hot_h">
           {eju:arclist screen='0' orderby='click' row='6' id='field'}
            <dl class="clearfix">
              <dt><a href="{$field.arcurl}"><img src="{$field.litpic}" alt="{$field.title}" width="120" height="90"></a></dt>
              <dd class="hot_h_t1 nowarp"><a href="{$field.arcurl}">{$field.title}</a></dd>
              <dd class="hot_h_t2">{eju:notempty name="$field.average_price"}{$field.average_price}{$field.price_units}{eju:else /}暂无{/eju:notempty}</dd>
              <dd class="hot_h_t3">{$field.city_id|get_city_name}</dd>
              <dd class="hot_h_t3 nowarp">开盘时间：{$field.opening_time|MyDate='Y年m月d日',###}</dd>
            </dl>
         {/eju:arclist}       
          </div>
        </div>
        {/eju:channelartlist} 
      </div>
    </div>
  </div>
</div>

<script src="{eju:global name='web_templets_pc' /}/skin/js/carousel.min.js"></script> 
<script>
    $(function(){
        $(".detail_slide").thumbnailImg({
            large_elem: ".large_box",
            small_elem: ".small_list",
            left_btn: ".arr01",
            right_btn: ".arr02"
        });
        $('.J_dialog').on('click',function(){
            var me=$(this),w = 315,h = 270,house_id=me.data('id'),model = me.data('model'),type = me.data('type'),url = me.data('uri');
            url = url + '?house_id='+house_id+'&type='+type+'&model='+model;
            layer.open({
                type: 2,
                title: false,
                fix:true,
                move:false,
                area: [w+'px', h+'px'],
                shade: 0.5,
                closeBtn: 1,
                shadeClose: true,
                content: url
            });
        });
        setTimeout(takeCount,1000);
    });
    function takeCount() {
        setTimeout("takeCount()", 1000);
        $(".time-remain").each(function(){
            var obj = $(this);
            var tms = obj.data("down");
            if (tms>0) {
                tms = parseInt(tms)-1;
                var days = Math.floor(tms / (1 * 60 * 60 * 24));
                var hours = Math.floor(tms / (1 * 60 * 60)) % 24;
                var minutes = Math.floor(tms / (1 * 60)) % 60;
                var seconds = Math.floor(tms / 1) % 60;

                if (days < 0) days = 0;
                if (hours < 0) hours = 0;
                if (minutes < 0) minutes = 0;
                if (seconds < 0) seconds = 0;
                obj.find("[time_id='d']").html(days);

                obj.find("[time_id='h']").html(hours);
                obj.find("[time_id='m']").html(minutes);
                obj.find("[time_id='s']").html(seconds);
                obj.data("down",tms);
            }
        });
    }

</script>
{eju:include file="footer.htm"/}
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>