<strong></strong><!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}-户型</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S -->
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 楼盘详情 S-->
<div class="newhouse_detail"> 
 {eju:include file="main_xinfang.htm"/}
  <div class="con_wrap comWidth clearfix">
    <div class="houseType_wrap">
      <ul class="tab_nav clearfix">
        <li><a href="{:arcurl('home/View/index', array('dirname'=>$eju.field.dirname,'aid'=>$eju.field.aid,'column'=>'huxing','province_id'=>$eju.field.xinfang.province_id,'city_id'=>$eju.field.xinfang.city_id,'area_id'=>$eju.field.xinfang.area_id))}" class="{empty name='$eju.param.room'}active{/empty}">全部（<span>{eju:sonarccount  map="[$eju['field']['aid']]" mapkey="['aid']" table="xinfang_huxing" /}</span>）</a></li>
        {eju:fanglist type="huxing" id="field" group="huxing_room"}
		 <li><a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'huxing','room'=>$field.huxing_room,'province_id'=>$eju.field.xinfang.province_id,'city_id'=>$eju.field.xinfang.city_id,'area_id'=>$eju.field.xinfang.area_id])}" name=".tab_{$field.huxing_room}" class="{eq name='$eju.param.room' value='$field.huxing_room'}active{/eq}">{$field.huxing_room|number2chinese}居室(<span class="room-cate">{$field.count}</span>)</a></li>
       {/eju:fanglist}
      </ul>
      <ul class="list_box clearfix">
        {eju:empty name="$eju['param']['room']"} 
	    {eju:fanglist name="$eju.field.huxing_list" id="vo"}
        <li>
          <div class="img"> <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.aid,'dirname'=>$eju.field.dirname,'dirpath'=>$eju.field.dirpath,'column'=>'huxing','sid'=>$vo.huxing_id,'province_id'=>$eju.field.xinfang.province_id,'city_id'=>$eju.field.xinfang.city_id,'area_id'=>$eju.field.xinfang.area_id])}" class="imgLinkCont" title="{$vo.huxing_title}" title="{$vo.huxing_title}"> <img src="{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg" data-original="{$vo.huxing_pic}" class="lazy" alt="{$vo.huxing_title}">
            <p class="sale_state on">{$vo.sale_status}</p>
            </a> </div>
          <div class="con">
            <p>{$vo.huxing_room}室{$vo.huxing_living_room}厅{$vo.huxing_toilet}卫{$vo.huxing_kitchen}厨</p>
            <p><span>{$vo.huxing_price}万</span>建筑面积{$vo.huxing_area}㎡</p>
          </div>
        </li>
        {/eju:fanglist}
		 {eju:else /} 
		{eju:fanglist name="$eju.field.huxing_list" id="vo"} 
		{eq name="$vo.huxing_room" value="$eju['param']['room']"}
        <li>
          <div class="img"> <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.aid,'dirname'=>$eju.field.dirname,'dirpath'=>$eju.field.dirpath,'column'=>'huxing','sid'=>$vo.huxing_id,'province_id'=>$eju.field.xinfang.province_id,'city_id'=>$eju.field.xinfang.city_id,'area_id'=>$eju.field.xinfang.area_id])}" title="{$vo.huxing_title}"> <img src="{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg" data-original="{$vo.huxing_pic}" class="lazy" alt="{$vo.huxing_title}">
            <p class="sale_state on">{$vo.sale_status}</p>
            </a> </div>
          <div class="con">
            <p>{$vo.huxing_room}室{$vo.huxing_living_room}厅{$vo.huxing_toilet}卫{$vo.huxing_kitchen}厨</p>
            <p><span>{$vo.huxing_price}万</span>建筑面积{$vo.huxing_area}㎡</p>
          </div>
        </li>
        {/eq} 
		{/eju:fanglist} 
		{/eju:empty}
      </ul>
    </div>
  </div>
</div>
<!-- 楼盘详情 E--> 
<script type="text/javascript">
    var total = 0;
    $(function(){
       $(".room-cate").each(function(){
           total += parseInt($(this).text());
       });
        $("#total").text(total);
    });
</script>
{eju:include file="footer.htm"/}
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>