<!doctype html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}-动态</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/xinfangdt.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body  >
<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 楼盘详情 S-->
<div class="newhouse_detail"> {eju:include file="main_xinfang.htm"/}
  <div class="main_1200 clearfix">
    <div class="w880 clearfix fl">
      <div id="gushi_all" class="select-tab"> 
        <!-- 列表内容 -->
        <ul class="zs-list zxdt-list storyUL">
         {eju:arclist typeid="4" joinaid="$eju.field.aid" limit="0,10" titlelen="30" orderby='new' orderWay='desc'}
          <li id="xflpdt_A02_01" class="storyList">
            <div class="sLTime">{$eju.field.add_time|MyDate='Y-m-d H:i:s',###}
              <div class="sLDot"></div>
            </div>
            <h2><a class="bold" href="/{$field.arcurl}" target="_blank">{$field.title}</a></h2>
            <p class="c6_f14">{$field.seo_description|html_msubstr=###,0,100,true}
              [<a href="{$field.arcurl}" target="_blank">详情</a>]</p>
          </li>
          {/eju:arclist}   
        </ul>
      
      <!--楼盘故事 end--> 
      
     </div>
    </div>
    <div class="right-box"> 
      {eju:channelartlist typeid="6"}
      <dl class="news-window">
        <dt class="clears"> <span class="djdk">{eju:field name='typename' /}</span> 
        </dt>
        <dd style="padding: 8px 0;">
          <ul class="window-link-ul">
            {eju:arclist row='5' titlelen="30" orderby='new' orderWay='desc'}
            <li><i></i><a a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></li>
            {/eju:arclist}   
          </ul>
        </dd>
      </dl>
      {/eju:channelartlist}

      
      {eju:channelartlist typeid="13"}
      <dl class="news-window">
        <dt class="clears"> <span class="djdk">{eju:field name='typename' /}</span> 
        </dt>
        <dd style="padding: 8px 0;">
          <ul class="window-link-ul">
            {eju:arclist row='5' titlelen="30" orderby='new' orderWay='desc'}
            <li><i></i><a a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></li>
            {/eju:arclist}   
          </ul>
        </dd>
      </dl>
      {/eju:channelartlist}
    </div>
  </div>
</div>
<!-- 楼盘详情 E--> 

{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>