<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="applicable-device"content="pc">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/ershou.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.qrcode.min.js"></script>
</head>
<body>
<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E -->

<link type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/prettyphoto.css" rel="stylesheet" />
<link rel="stylesheet" href="{eju:global name='web_templets_pc' /}/skin/css/qiniuplayer.min.css">
<div class="detail-main">
  <div class="position">
    <div class="fix-width"> <a href="javascript:;" rel="nofollow">您的位置：</a> {eju:position style="" /}&gt; {$eju.field.title} </div>
  </div>
  <div class="house-title">
    <div class="fix-width clearfix">
      <div class="house-qrcode fl" id="qrcode" >
        <div class="layer_wei" style="display: none;" id="layer_wei">
          <p>手机看房<br>
            更方便</p>
        </div>
      </div>
      <script>
			$(function(){
				$('#qrcode').qrcode('{$eju.field.arcurl}');
				$("#qrcode").mouseover(function(){
					$("#layer_wei").show();
				});
				$("#qrcode").mouseleave(function(){
					$("#layer_wei").hide();
				});
			})
			

		</script>
      <div class="house-tags fl">
        <h1>{$eju.field.title}</h1>
        <div class="tags" style="padding-top:5px;"> 更新时间：{$eju.field.add_time|MyDate='Y-m-d',###} / 浏览：{eju:arcclick /} </div>
      </div>
      <!--<div class="house-follow fr"><a href="javascript:;" class="subscribe J_dialog" data-id="14" data-model="second_house" data-type="1" data-uri="{eju:diyurl type='form'/}">预约看房</a> </div>-->
    </div>
  </div>
  <div class="fix-header se">
    <div class="container">
      <div class="unstyled">
        <h4>{$eju.field.title}</h4>
        <p>{$eju.field.room}{$eju.field.living_room}{$eju.field.toilet}，{$eju.field.area}{$eju.field.area_unit}，{$eju.field.total_price}{$eju.field.total_price_unit}</p>
        <div> <i></i>
          <p>{$eju.field.sale_name}  {$eju.field.sale_phone} {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fix-width">
    <div class="detail-info clearfix">
      <div class="slides-box width600 fl">
        <div class="slides-big-box width600">
          <ul>
            {eju:volist name="$eju.field.photo_list" id="vo"}
            <li> <a href="javascript:;" title="{$eju.field.title}"> <img onerror="this.src='{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg'" src="{$vo.photo_pic}" alt="{$eju.field.title}"> </a> </li>
            {/eju:volist}
          </ul>
          <a href="javascript:;" class="slides-icon slides-big-left"></a> <a href="javascript:;" class="slides-icon slides-big-right"></a> </div>
        <div class="slides-small"> <a href="javascript:;" class="prev iconfont">&#xe62a;</a> <a href="javascript:;" class="next iconfont">&#xe9d1;</a>
          <ul class="slides-small-box width600 ">
            {eju:volist name="$eju.field.photo_list" id="vo"}
            <li> <a href="javascript:;" title="{$eju.field.title}"> <img onerror="this.src='{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg'" src="{$vo.photo_pic}" alt="{$eju.field.title}"> </a> </li>
            {/eju:volist}
          </ul>
        </div>
      </div>
      <div class="esdetail-house-info fr">
        <div class="second-box">
          <div class="house-price"> {$eju.field.total_price}<span>{$eju.field.total_price_unit}</span> </div>
          <div class="tags">{eju:diyfield type='checkbox' id='characteristic' name='$eju.field.characteristic'}<span>{$characteristic.value}</span>{/eju:diyfield}</div>
          <div class="house-first-pay"> </div>
        </div>
        <div class="basic">
          <ul>
            <li> <span>小区名称</span>
              <p> <a>{$eju.field.xiaoqu.area_id|get_area_name}</a> - <a href="{$eju.field.xiaoqu.arcurl}" target="_blank">{$eju.field.xiaoqu.title}</a> </p>
            </li>
            <li> <span>装修情况</span>
              <p>{$eju.field.fitment}</p>
            </li>
            <li> <span>所在地址</span>
              <p>{$eju.field.xiaoqu.address}<a href="{eju:diyurl type='mapershou' /}"><s></s></a></p>
            </li>
          </ul>
        </div>
        <div class="second-padding">
          <ul class="house-tag-box clearfix" style="border-top:none;">
            <li>
              <p>户型</p>
              <p class="house-tag">{$eju.field.room}{$eju.field.living_room}</p>
            </li>
            <li>
              <p>面积</p>
              <p class="house-tag">{$eju.field.area}{$eju.field.area_unit}</p>
            </li>
            <li>
              <p>朝向</p>
              <p class="house-tag">{$eju.field.aspect}</p>
            </li>
          </ul>
          <div class="broker-info clearfix" style="padding-top:20px;">
            <div class="broker-avatar fl"> <a href="javascript:;" class="clearfix" title="" target="_blank"> {notempty name="$eju.field.saleman"} <img src="{$eju.field.saleman.saleman_pic}" alt="{$eju.field.saleman.saleman_name}"> {else /} <img src="{eju:global name='web_templets_pc' /}/skin/img/noavatar.jpg" alt="头像"> {/notempty} </a> </div>
            <dl class="noyongjin">
              <dt> <a href="#" target="_blank"> <b>{$eju.field.sale_name}</b> </a> <span>置业管家</span> </dt>
              <dd class="cardTels" ><i class="iconfont">&#xe64d;</i> {$eju.field.sale_phone} {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty} </dd>
              <a href="javascript:;" class="J_dialog"  data-id="14" data-model="second_house" data-type="1" data-uri="{eju:diyurl type='form'/}">
              <div class="dialog" style=""> <img src="{eju:global name='web_templets_pc' /}/skin/img/liaobei.png" style="">
                <text style="font-size: 16px;color: #FFF;line-height: 40px;letter-spacing: 2px;">聊呗</text>
              </div>
              </a>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
    <div class="fix-width">
      <div class="detail-content clearfix">
        <div class="detail-left fl">
          <div class="detail-row">
            <div class="titlees">房源描述 </div>
            <div class="house-content">
              <p >{$eju.field.content}</p>
            </div>
          </div>
          <div class="detail-row margin-top20">
            <div class="titlees">房屋配套 </div>
            <ul class="mart-info clearfix">
              {eju:volist name="$eju.field.supporting" id="vo"}
              <li><img src="{$vo|get_supporting_icon=###}" />{$vo}</li>
              {/eju:volist}
            </ul>
          </div>
          <div class="detail-row margin-top20">
            <div class="titlees">房源相册 </div>
            <ul class="esphoto-lists clearfix" id="photo">
              {eju:fanglist name="$eju.field.photo_list" id="field"}
              <li> <a href="{$field.photo_pic}" title="{$field.photo_title}" rel="prettyPhoto[]"> <img src="{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg" data-original="{$field.photo_pic}" class="lazy" />
                <p>{$field.photo_title}</p>
                </a> </li>
              {/eju:fanglist}
            </ul>
          </div>
          <div class="detail-row margin-top20">
            <div class="titlees">小区概况 </div>
            <ul class="base-info clearfix">
              <li>
                <label>房屋户型</label>
                {$eju.field.room}{$eju.field.living_room}{$eju.field.kitchen}{$eju.field.toilet}</li>
              <li>
                <label>所属小区</label>
                {eju:notempty name="$eju.field.xiaoqu.title"}<a href="{$eju.field.xiaoqu.arcurl}">{$eju.field.xiaoqu.title}{eju:else /}暂无数据{/eju:notempty}</a></li>
              <li>
                <label>开发商</label>
                {eju:notempty name="$eju.field.xiaoqu.developer"}{$eju.field.xiaoqu.developer}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>产权年限</label>
                {eju:notempty name="$eju.field.xiaoqu.property"}{$eju.field.property}{$eju.field.property_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>规划面积</label>
                {eju:notempty name="$eju.field.xiaoqu.floor_area"}{$eju.field.xiaoqu.floor_area}{$eju.field.xiaoqu.floor_area_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>建筑面积</label>
                {eju:notempty name="$eju.field.xiaoqu.building_area"}{$eju.field.xiaoqu.building_area}{$eju.field.xiaoqu.building_area_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>绿化率</label>
                {eju:notempty name="$eju.field.xiaoqu.greening_rate"}{$eju.field.xiaoqu.greening_rate}{$eju.field.xiaoqu.greening_rate_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>容积率</label>
                {eju:notempty name="$eju.field.xiaoqu.plot_ratio"}{$eju.field.xiaoqu.plot_ratio}{$eju.field.xiaoqu.plot_ratio_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>停车位</label>
                {eju:notempty name="$eju.field.xiaoqu.carport"}{$eju.field.xiaoqu.carport}{$eju.field.xiaoqu.carport_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>小区户数</label>
                {eju:notempty name="$eju.field.xiaoqu.households"}{$eju.field.xiaoqu.households}{$eju.field.xiaoqu.households_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>物业费</label>
                {eju:notempty name="$eju.field.xiaoqu.property_fee"}{$eju.field.xiaoqu.property_fee}{$eju.field.xiaoqu.property_fee_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>物业公司</label>
                {eju:notempty name="$eju.field.xiaoqu.manage_company"}{$eju.field.xiaoqu.manage_company}{$eju.field.xiaoqu.manage_company_unit}{eju:else /}暂无数据{/eju:notempty}</li>
              <li>
                <label>物业类型</label>
                {eju:volist name="$eju.field.xiaoqu.manage_type" id="vo"}{$vo}&nbsp;{/eju:volist}</li>
              <li>
                <label>建造年代</label>
                <span>{eju:notempty name="$eju.field.xiaoqu.building_age"}{$eju.field.building_age}{$eju.field.building_age_unit}{eju:else /}暂无数据{/eju:notempty}</span></li>
            </ul>
          </div>
        </div>
        <div class="detail-right fr">
          <div class="right-row">
            <div class="esrecommend">
              <h1><i class="shugang"></i>同小区您可能感兴趣的房源</h1>
              <ul>
                {eju:arclist  channelid="12" joinaid="$eju.field.joinaid"  orderby='rand' row='6' id="field"}
                <li> <a href="{$field.arcurl}" target="_blank">
                  <div> <img src="{$field.litpic}" alt="{$field.title}"> <b>{$field.title}</b>
                    <p>{$field.room}室{$field.living_room}厅</p>
                    <s><span>{$field.total_price}</span><i>{$field.total_price_unit}</i></s> </div>
                  </a> </li>
                {/eju:arclist} 
                
                <a href="{eju:type typeid='19'}{$field.typeurl}{/eju:type}" target="_blank">查看更多房源 &gt;</a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="detail-content clearfix">
        <div class="detail-row "  id="same-estate">
          <div class="titlees">周边配套 </div>
          <div class="map-box">
            <div id="map"></div>
            {eju:surroundings field="$eju['field']" canvas="map" tag="heihei" select="active" total="total" tab="lp-map-tab" result="result"}
            <div class="map-mart">
              <div class="map-mart-title" id="map-keyword">
                {eju:volist name="$field.list" id="vo"}
                <a href="javascript:;" class="heihei" onclick="select_around({$key});">{$vo}</a>
                {/eju:volist}
              </div>
              <ul class="map-mart-lists" id="result">
              </ul>
            </div>
            {$field.hidden}
            {/eju:surroundings}
          </div>
           
        </div>
      </div>
      <div class="itr_box margin-top20">
        <ul class="lbtitle bigtit" id="js_jrtab_ul">
          <li class="hover" id="js_jrtab_0" data-index="0">猜你喜欢</li>
          <li id="js_jrtab_1" class="" data-index="1">为您推荐</li>
        </ul>
        <div class=" itr_box_con">
          <div class="huxing_cont" id="js_jrtabi_0" style="">
            <ul class="photo_album pt_h200" style="padding-top: 20px; padding-bottom: 10px;" id="divMaylikeUl">
              {eju:arclist orderby='rand' limit='0,5' id='field'}
              <li style="position:relative;">
                <div class="map_comment">
                  <div class="dh_c_alone_img">
                    <p><a href="{$field.arcurl}" target="_blank"> <img class="imgts" alt="{$field.title}" src="{$field.litpic}" border="0" width="220"></a></p>
                  </div>
                </div>
                <div class="photo_album_txt f14 text_left"> <span class="photo_album_txt_p"> <a href="{$field.arcurl}" target="_blank" title=""><b>{$field.title}</b></a> </span> <span style="width:222px;">均价：<b class="red01">{eju:notempty name="$field.total_price"}{$field.total_price}{$field.total_price_unit}{eju:else /}暂无{/eju:notempty}</b></span> </div>
              </li>
              {/eju:arclist}
            </ul>
          </div>
          <!--同价位楼盘-->
          <div class="huxing_cont " id="js_jrtabi_1" style="display: none;">
            <ul id="xfptxq_B23_02" class="photo_album pt_h200" style="padding-top: 20px; padding-bottom: 10px;">
              {eju:arclist flag='c' orderby='new' limit='0,5' id='field'}
              <li style="position:relative;">
                <div class="map_comment">
                  <div class="dh_c_alone_img">
                    <p><a href="{$field.arcurl}" target="_blank"> <img class="imgts" alt="{$field.title}" src="{$field.litpic}" border="0" width="220"></a></p>
                  </div>
                </div>
                <div class="photo_album_txt f14 text_left"> <span class="photo_album_txt_p"> <a href="{$field.arcurl}" target="_blank" title=""><b>{$field.title}</b></a> </span> <span style="width:222px;">均价：<b class="red01">{eju:notempty name="$field.total_price"}{$field.total_price}{$field.total_price_unit}{eju:else /}暂无{/eju:notempty}</b></span> </div>
              </li>
              {/eju:arclist}
            </ul>
          </div>
        </div>
      </div>
     <div class="bottom"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/jquery.superslide.2.1.1.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/qiniuplayer.min.js"></script> 
<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/jquery.prettyphoto.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/scroll_nav.js"></script> 
<script>
    $(window).scroll(function(e){
        var t = $(window).scrollTop(),
                top = $(".fix-header"),
                right = $(".detail-right > .right-row"),
                right_h = right.height(),
                b = $("#same-estate").offset().top,
                h = $(".detail-content").offset().top;
        if(t > h && t < b-right_h) {
            top.show();
        } else if(t > b - right_h){
        } else {
            top.hide();
        }
    });
    var total = 0,storage = "1",video = "" && storage == 1 ? true : false;
    $(function(){
        


        jQuery(".slides-box").slide({
            titCell:".slides-small-box li",
            mainCell:".slides-big-box ul",
            prevCell:".slides-big-left",
            nextCell:".slides-big-right",
            delayTime:200,
            effect:"left",
            autoPlay:false,
            trigger:"click",
            startFun: function(i, p) {
                if (i == 0) {
                    jQuery(".slides-small .prev").click()
                } else if (i % 4 == 0) {
                    jQuery(".slides-small .next").click()
                }
            }
        });
        jQuery(".slides-box .slides-small").slide({ mainCell:"ul",delayTime:100,vis:4,scroll:4,effect:"left",autoPage:true,prevCell:".prev",nextCell:".next",pnLoop:false });
        jQuery(".excellent-box").slide({titCell:".slide-pages ul",mainCell:".row-lists",autoPage:true,interTime:3500,effect:"left",autoPlay:true,scroll:4,vis:4,trigger:"click"});
        getBanInfo($("#ban_lists a.active").data('id'));
        $("#ban_lists a").on('click',function(){
            var id = $(this).data('id');
            $(this).addClass('active').parent().siblings().find('.active').removeClass('active');
            getBanInfo(id);
        });
        $(".ban").on('click',function(){
            var id = $(this).data('id');
            $("#ban_lists").find('.active').removeClass('active');
            $("#ban_lists").find("a[data-id='"+id+"']").addClass('active');
            getBanInfo(id);
        });
        $("#photo:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
        $("#type:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
        $(".room_count").each(function(){
            total += parseInt($(this).text());
        });
        $('#room_total').text(total);
        $('.J_dialog').on('click',function(){
            var me=$(this),w = 420,h = 270,house_id=me.data('id'),model = me.data('model'),type = me.data('type'),url = me.data('uri');
            url = url + '?house_id='+house_id+'&type='+type+'&model='+model;
            layer.open({
                type: 2,
                title: false,
                fix:true,
                move:false,
                area: [w+'px', h+'px'],
                shade: 0.5,
                closeBtn: 1,
                shadeClose: true,
                content: url
            });
        });
        
    });
    
    function getBanInfo(id)
    {
        var url   = $("#ban_lists").data('uri');
        var param = {id:id};
        if(url)
        {
            $.get(url,param,function(result){
                if(result.code == 1)
                {
                    if(result.data){
                        var gettpl = document.getElementById('template').innerHTML;
                        laytpl(gettpl).render(result.data, function(html){
                            document.getElementById('ban_info').innerHTML = html;
                        });
                    }
                }else{
                    console.log('get data error');
                }
            });
        }

    }
</script> 
{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
	$(function(){
		$('#js_jrtab_ul li').mouseover(function(){
			var index = $(this).data('index');
			$('#js_jrtabi_0,#js_jrtabi_1').hide();
			$('#js_jrtabi_'+index).show();
			$('#js_jrtab_ul li').removeClass('hover');
			$(this).addClass('hover');
		}).mouseout(function(){
			var index = $(this).data('index');
			$('#js_jrtabi_0,#js_jrtabi_1').hide();
			$('#js_jrtabi_'+index).show();
			$('#js_jrtab_ul li').removeClass('hover');
			$(this).addClass('hover');
		});
	});
</script>
</body>
</html>