<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>

<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E -->

<link type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/prettyphoto.css" rel="stylesheet" />
<link rel="stylesheet" href="{eju:global name='web_templets_pc' /}/skin/css/qiniuplayer.min.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/video.css">

<div class="detail-main" id="main"> {eju:include file="main_xinfang.htm"/}
  <div class="fix-header">
    <div class="fix-width">
      <div class="fixnav_tit">
        <h2 class="tf"><a href="{$eju.field.arcurl}">{$eju.field.title}</a></h2>
        <span id="phone400_fixnavs"> <span class="shownormalphone" style="display:inline-block;"> <span class="fixnav_num ml15">{$eju.field.sale_phone}</span>&nbsp;{eju:notempty name="$eju.field.phone_code"}<span class="tf f14">转</span>&nbsp;<span class="fixnav_num">{$eju.field.phone_code}</span> {/eju:notempty} </span> </span> </div>
      <div class="tbsearch"> {eju:searchform channelid='9' type='default' typeid='1'}
        <form target="_blank" method="get" action="{$field.action}">
          <input type="text" style="display:none">
          <div class="fl pr">
            <input name="keywords" id="keywords" autocomplete="off" placeholder="输入楼盘名称" type="text" style="color:#aaa;padding-left:10px;" class="tbsearchinput f14 tf">
          </div>
          <div class="fl">
            <input class="tf tbsearchbtns" type="submit" name="" value="搜&nbsp;索">
          </div>
          {$field.hidden}
        </form>
        {/eju:searchform} </div>
    </div>
  </div>
  <div class="fix-width clearfix">
    <div class="detail-info ">
      <div class="slides-box width600 fl">
        <div class="slides-big-box width600">
          <ul>
            {eju:notempty name="$eju.field.video"}
            <li style="height: 400px;">
              <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" width="100%" height="100%" controls webkit-playsinline preload="none"
                     poster="{$eju.field.litpic}" data-setup="{}">
                <source src="{$eju.field.video}" type="video/mp4">
                您的浏览器不支持HTML5视频
              </video>
            </li>
            {/eju:notempty}
            {eju:fanglist type="photo" id="vo" group="photo_type"}  
            {eju:fanglist name="$vo.children" id="field" limit='0,1'}
            <li> <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'photo','photo_type'=>$field.photo_type,'province_id'=>$eju.field.xinfang.province_id,'city_id'=>$eju.field.xinfang.city_id,'area_id'=>$eju.field.xinfang.area_id])}"><img src="{$field.photo_pic}" alt="{$field.photo_type}{$field.photo_title}"></a> </li>
            {/eju:fanglist}
            {/eju:fanglist}
          </ul>
          <a href="javascript:;" class="slides-icon slides-big-left"></a> <a href="javascript:;" class="slides-icon slides-big-right"></a> </div>
        <div class="slides-small"> <a href="javascript:;" class="prev iconfont">&#xe62a;</a> <a href="javascript:;" class="next iconfont">&#xe9d1;</a>
          <ul class="slides-small-box width600">
            {eju:notempty name="$eju.field.video"}
            <li>
              <a href="javascript:void(0);"><img class="zmd-index" src="{$eju.field.litpic}"></a>
              <h2>视频看房</h2>
            </li>
            {/eju:notempty}
            {eju:fanglist type="photo" id="vo" group="photo_type"}  
            {eju:fanglist name="$vo.children" id="field" limit='0,1'}
            <li> <a href="javascript:;"><img src="{$field.photo_pic}" alt="{$field.photo_type}{$field.photo_title}"></a>
              <h2>{$field.photo_type}{$field.photo_title}</h2>
            </li>
            {/eju:fanglist}
            {/eju:fanglist}
          </ul>
        </div>
      </div>
      <div class="new-house-info">
        <div class="news-house-right-top">
          <div class="house-price"> <span> 均价：</span>{eju:notempty name="$eju.field.average_price"}<em>{$eju.field.average_price}</em>{$eju.field.price_units}{eju:else /}暂无{/eju:notempty}
            <div class="house-price-tool fr"> <a href="{eju:diyurl type='jisuanqi' /}" title="" target="_blank"><i class="iconfont">&#xe752;</i> 房贷计算器</a> | <a href="javascript:;" class="J_dialog" data-id="12" data-model="house" data-type="5" data-uri="{eju:diyurl type='form'/}"><i class="iconfont">&#xe600;</i> 降价通知</a> </div>
          </div>
          <p class="house-price-timeout">价格有效期至：<span>{$eju.field.price_time|myDate='Y-m-d',###}</span></p>
        </div>
        <div class="news-house-box">
          <ul class="news-house-base">
            <li>
              <label>开盘时间 ：</label>
              {$eju.field.opening_time|myDate='Y年m月d日',###}<a href="javascript:;" class="J_dialog" data-id="12" data-model="house" data-type="6" data-uri="{eju:diyurl type='form'/}"><i class="lpt_icon "></i>开盘通知</a> </li>
            <li>
              <label>交房时间 ：</label>
              {$eju.field.complate_time|myDate='Y年m月d日',###} </li>
            <li class="clearfix">
              <label class="fl">主力户型 ：</label>
              <span class="fl">{$eju.field.main_unit}</span> </li>
            <li>
              <label>预&nbsp; 售&nbsp;证  ：</label>
              {$eju.field.licence} </li>
            <li>
              <label>开 &nbsp;发&nbsp;商  ：</label>
              {$eju.field.developer} </li>
            <li>
              <label>项目地址 ：</label>
              {$eju.field.address} <a href="{eju:diyurl type='map' /}">查看地图<i class="iconfont">&#xe9d1;</i> </a> </li>
          </ul>
          <div class="new-house-telphone clearfix">
            <div class="new-house-telbox fl">
              <div class="telx"><i>售楼处咨询电话</i>{$eju.field.sale_phone}{eju:notempty name="$eju.field.phone_code"}<b>转</b>{$eju.field.phone_code}{/eju:notempty}&nbsp;</div>
            </div>
          </div>
          <button type="button" class="J_dialog " data-id="12" data-model="house" data-type="1" data-uri="{eju:diyurl type='form'/}">预约看房</button>
          <button type="button" class="J_dialog " data-id="12" data-model="house" data-type="1" data-uri="{eju:diyurl type='form'/}">免费通话</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
    <div class="fix-width">
      <div class="detail-content clearfix">
        <div class="detail-left fl">
          <div class="detail-row">
            <div class="title">楼盘动态 <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'information','province_id'=>$eju.field.xinfang.province_id,'city_id'=>$eju.field.xinfang.city_id,'area_id'=>$eju.field.xinfang.area_id])}" class="more fr">更多</a></div>
            <ul class="news-lists">
              {eju:arclist typeid="4" joinaid="$eju.field.aid" orderby='new' limit="0,2" id="field"}
              <li> <a href="{$field.arcurl}" target="_blank" title="{$field.title}">
                <h2><em>{$field.typename}</em>{$field.title} <span>{$field.add_time|MyDate='Y-m-d',###}</span></h2>
                <p>{$field.seo_description|html_msubstr=###,0,90,true}</p>
                </a> </li>
              {/eju:arclist}
            </ul>
          </div>
        </div>
        <div class="detail-right fr">
          <div class="right-row">
            <h2>消息通知<span>（我们将为您保密个人信息）</span></h2>
            {eju:form formid="3"}
            <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
              <div class="right-form">
                <div class="form-type">
                  <p> {eju:volist name="$field.options_8" id="attr" limit='0,2'}
                    <label>
                      <input type="checkbox" id="{$field.attr_8}" name="{$field.attr_8}" value="{$attr.value}">
                      {$attr.value} </label>
                    {/eju:volist} </p>
                  <p> {eju:volist name="$field.options_8" id="attr" limit='2,2'}
                    <label>
                      <input type="checkbox" id="{$field.attr_8}" name="{$field.attr_8}" value="{$attr.value}">
                      {$attr.value} </label>
                    {/eju:volist} </p>
                </div>
                <div class="form-input">
                  <p>
                    <input type="text" id="{$field.attr_6}" name="{$field.attr_6}" autocomplete="off" placeholder="您的{$field.itemname_6}" class="input-txt" />
                  </p>
                </div>
                <div class="button">
                  <button class="subscribe-btn" type="submit">立即订阅</button>
                </div>
              </div>
              {$field.hidden}
            </form>
            {/eju:form} </div>
        </div>
      </div>
      <div class="detail-content clearfix">
        <div class="detail-row margin-top20">
          <div class="title">在售户型 <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'huxing','province_id'=>$eju.field.xinfang.province_id,'city_id'=>$eju.field.xinfang.city_id,'area_id'=>$eju.field.xinfang.area_id])}" class="more fr">更多</a>
            <div class="room-count fr"> <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'huxing','province_id'=>$eju.field.xinfang.province_id,'city_id'=>$eju.field.xinfang.city_id,'area_id'=>$eju.field.xinfang.area_id])}" title="全部户型">全部户型(<span>{$eju.field.huxing_list|count}</span>)</a> {eju:fanglist type="huxing" id="field" group="huxing_room"} <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'huxing','room'=>$field.huxing_room])}" name=".tab_{$field.huxing_room}">{$field.huxing_room}居室(<span>{$field.count}</span>)</a> {/eju:fanglist} </div>
          </div>
          <div class="room-lists" id="type"> {eju:fanglist name="$eju.field.huxing_list" id="field" row='3'}
            <div class="loan room-row clearfix" >
             <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.aid,'dirname'=>$eju.field.dirname,'dirpath'=>$eju.field.dirpath,'column'=>'huxing','sid'=>$field.huxing_id,'province_id'=>$eju.field.province_id,'city_id'=>$eju.field.city_id,'area_id'=>$eju.field.area_id])}">
              <div class="pic-box fl"> <img src="{$field.huxing_pic}" alt=""> <span>{$field.huxing_room}室{$field.huxing_living_room}厅</span> </div>
              </a>
              <div class="room-info fl">
                <h2><a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.aid,'dirname'=>$eju.field.dirname,'dirpath'=>$eju.field.dirpath,'column'=>'huxing','sid'=>$field.huxing_id,'province_id'=>$eju.field.province_id,'city_id'=>$eju.field.city_id,'area_id'=>$eju.field.area_id])}">{$field.huxing_title}</a></h2>
                <ul>
                  <li>
                    <p>面积:{$field.huxing_area}㎡</p>
                    <p>朝向:{$field.huxing_aspect}</p>
                  </li>
                </ul>
                <div class="suanjia"> <a class="view-layout-image" href="{$field.huxing_pic}" title="{$field.huxing_room}室{$field.huxing_living_room}厅{$field.huxing_toilet}卫{$field.huxing_kitchen}厨" rel="prettyPhoto[]">查看户型原图</a> </div>
              </div>
              <div class="newHouseHxRight">
                <div class="hxPrise">
                  <div><span class="yfyj">
                    <p>{$field.huxing_price}</p>
                    </span> </div>
                  <span>参考总价： </span> </div>
                <input type="button" value="获取最新价格变动" class="getChangePzBtn J_dialog" data-id="12" data-model="house" data-type="1" data-uri="{eju:diyurl type='form'/}">
              </div>
            </div>
            {/eju:fanglist} </div>
        </div>
        <div class="detail-row margin-top20">
          <div class="title">楼盘相册 <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'photo'])}" title="相册" class="more fr">更多</a>
            <div class="room-count fr"> {eju:fanglist type="photo" id="field" group="photo_type"} <a href="{:arcurl('home/Xinfang/index',['aid'=>$eju.field.xinfang.aid,'dirname'=>$eju.field.xinfang.dirname,'dirpath'=>$eju.field.xinfang.dirpath,'column'=>'photo','photo_type'=>$field.photo_type,'province_id'=>$eju.field.province_id,'city_id'=>$eju.field.city_id,'area_id'=>$eju.field.area_id])}" name=".cate_{$field.photo_type}">{$field.photo_type}({$field.count})</a> {/eju:fanglist} </div>
          </div>
          <ul class="photo-lists clearfix" id="photo">
            {eju:fanglist name="$eju.field.photo_list" id="field" row='8'}
            <li> <a href="{$field.photo_pic}" title="{$field.photo_type}" rel="prettyPhoto[]"> <img src="{eju:global name='web_templets_pc' /}/skin/img/nopic.jpg" data-original="{$field.photo_pic}" class="lazy" alt="">
              <p>{$field.photo_type}</p>
              </a> </li>
            {/eju:fanglist}
          </ul>
        </div>
        <div class="detail-row margin-top20">
          <div class="title">楼盘详情 </div>
          <ul class="base-info clearfix">
            <li>
              <label>开发商</label>
              {$eju.field.developer}</li>
            <li>
              <label>产权年限</label>
              {$eju.field.property}{$eju.field.property_unit}</li>
            <li>
              <label>占地面积</label>
              {$eju.field.floor_area}{$eju.field.floor_area_unit}</li>
            <li>
              <label>建筑面积</label>
              {$eju.field.building_area}{$eju.field.building_area_unit}</li>
            <li>
              <label>绿化率</label>
              {$eju.field.greening_rate}{$eju.field.greening_rate_unit}</li>
            <li>
              <label>容积率</label>
              {$eju.field.plot_ratio}{$eju.field.plot_ratio_unit}</li>
            <li>
              <label>车位情况</label>
              {$eju.field.carport}{$eju.field.carport_unit}</li>
            <li>
              <label>规划户数</label>
              {$eju.field.households}{$eju.field.households_unit}</li>
            <li>
              <label>物业费</label>
              {$eju.field.property_fee}{$eju.field.property_fee_unit}</li>
            <li>
              <label>物业公司</label>
              {$eju.field.manage_company}</li>
            <li>
              <label>装修情况</label>
              {$eju.field.fitment|implode=",",###}</li>
          </ul>
          <div class="house-con">
            <p>{$eju.field.content}</p>
            <p><br/>
            </p>
          </div>
        </div>
        {eju:notempty name="$eju.field.panoram"}
        <div class="detail-row margin-top20">
          <div class="title">全景看房 </div>
          <div class="map-box">
            <iframe src="{$eju.field.panoram}" width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
          </div>
        </div>
        {/eju:notempty}

        <div class="detail-row margin-top20">
          <div class="title">周边配套 </div>
          <div class="map-box">
            <div id="map"></div>
            {eju:surroundings field="$eju['field']" canvas="map" tag="heihei" select="active" total="total" tab="lp-map-tab" result="result"}
            <div class="map-mart">
              <div class="map-mart-title" id="map-keyword">
                {eju:volist name="$field.list" id="vo"}
                <a href="javascript:;" class="heihei" onclick="select_around({$key});">{$vo}</a>
                {/eju:volist}
              </div>
              <ul class="map-mart-lists" id="result">
              </ul>
            </div>
            {$field.hidden}
            {/eju:surroundings}
          </div>
        </div>
      </div>
      <div class="itr_box margin-top20" id="same-estate">
        <ul class="lbtitle bigtit" id="js_jrtab_ul">
          <li class="hover" id="js_jrtab_0" data-index="0">猜你喜欢</li>
          <li id="js_jrtab_1" class="" data-index="1">为您推荐</li>
        </ul>
        <div class=" itr_box_con">
          <div class="huxing_cont" id="js_jrtabi_0" style="">
            <ul class="photo_album pt_h200" style="padding-top: 20px; padding-bottom: 10px;" id="divMaylikeUl">
             {eju:arclist typeid='1' orderby='rand' limit='0,5' id='field'}
              <li style="position:relative;"> 
                <div class="map_comment">
                  <div class="dh_c_alone_img">
                    <p><a href="{$field.arcurl}" target="_blank"> <img class="imgts" alt="{$field.title}" src="{$field.litpic}" border="0" width="220"></a></p>
                  </div>
                </div>
                <div class="photo_album_txt f14 text_left"> <span class="photo_album_txt_p"> <a href="{$field.arcurl}" target="_blank" title=""><b>{$field.title}</b></a> </span> <span style="width:222px;">均价：<b class="red01">{eju:notempty name="$field.average_price"}{$field.average_price}{$field.price_units}{eju:else /}暂无{/eju:notempty}</b></span> </div>
              </li>
              {/eju:arclist}
            </ul>
          </div>
          <!--同价位楼盘-->
          <div class="huxing_cont " id="js_jrtabi_1" style="display: none;">
            <ul id="xfptxq_B23_02" class="photo_album pt_h200" style="padding-top: 20px; padding-bottom: 10px;">
             {eju:arclist typeid='1' flag='c' orderby='new' limit='0,5' id='field'}
              <li style="position:relative;"> 
                <div class="map_comment">
                  <div class="dh_c_alone_img">
                    <p><a href="{$field.arcurl}" target="_blank"> <img class="imgts" alt="{$field.title}" src="{$field.litpic}" border="0" width="220"></a></p>
                  </div>
                </div>
                <div class="photo_album_txt f14 text_left"> <span class="photo_album_txt_p"> <a href="{$field.arcurl}" target="_blank" title=""><b>{$field.title}</b></a> </span> <span style="width:222px;">均价：<b class="red01">{eju:notempty name="$field.average_price"}{$field.average_price}{$field.price_units}{eju:else /}暂无{/eju:notempty}</b></span> </div>
              </li>
              {/eju:arclist}
            </ul>
          </div>
        </div>
      </div>
     <div class="bottom"></div>
    </div>
  </div>
</div>
<script src="{eju:global name='web_templets_pc' /}/skin/js/qiniuplayer.min.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/sandmove.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/loan.js"></script> 
<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/jquery.superslide.2.1.1.js"></script> 
<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/laytpl.js"></script> 
<script type="text/javascript" src="{eju:global name='web_templets_pc' /}/skin/js/jquery.prettyphoto.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/scroll_nav.js"></script> 
<script>
    $(window).scroll(function(e){
        var t = $(window).scrollTop(),
                top = $(".fix-header"),
                right = $(".detail-right > .right-row"),
                right_h = right.height(),
                b = $("#same-estate").offset().top,
                h = $(".detail-content").offset().top;
        if(t > h && t < b-right_h) {
            top.show();
        } else if(t > b - right_h){
        } else {
            top.hide();
            right.removeClass('fix absolute');
        }
    });
    var total = 0,storage = "1",video = "" && storage == 1 ? true : false;
    $(function(){
        
        jQuery(".slides-box").slide({
            titCell:".slides-small-box li",
            mainCell:".slides-big-box ul",
            prevCell:".slides-big-left",
            nextCell:".slides-big-right",
            delayTime:200,
            effect:"left",
            autoPlay:false,
            trigger:"click",
            startFun: function(i, p) {
                if (i == 0) {
                    jQuery(".slides-small .prev").click()
                } else if (i % 4 == 0) {
                    jQuery(".slides-small .next").click()
                }
            }
        });
        jQuery(".slides-box .slides-small").slide({ mainCell:"ul",delayTime:100,vis:4,scroll:4,effect:"left",autoPage:true,prevCell:".prev",nextCell:".next",pnLoop:false });
        jQuery(".excellent-box").slide({titCell:".slide-pages ul",mainCell:".row-lists",autoPage:true,interTime:3500,effect:"left",autoPlay:true,scroll:4,vis:4,trigger:"click"});
        getBanInfo($("#ban_lists a.active").data('id'));
        $("#ban_lists a").on('click',function(){
            var id = $(this).data('id');
            $(this).addClass('active').parent().siblings().find('.active').removeClass('active');
            getBanInfo(id);
        });
        $(".ban").on('click',function(){
            var id = $(this).data('id');
            $("#ban_lists").find('.active').removeClass('active');
            $("#ban_lists").find("a[data-id='"+id+"']").addClass('active');
            getBanInfo(id);
        });
        $("#photo:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
        $("#type:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
        $(".room_count").each(function(){
            total += parseInt($(this).text());
        });
        $('#room_total').text(total);
        $('.J_dialog').on('click',function(){
            var me=$(this),w = 420,h = 270,house_id=me.data('id'),model = me.data('model'),type = me.data('type'),url = me.data('uri');
            url = url + '?house_id='+house_id+'&type='+type+'&model='+model;
            layer.open({
                type: 2,
                title: false,
                fix:true,
                move:false,
                area: [w+'px', h+'px'],
                shade: 0.5,
                closeBtn: 1,
                shadeClose: true,
                content: url
            });
        });
        
    });
    
    function getBanInfo(id)
    {
        var url   = $("#ban_lists").data('uri');
        var param = {id:id};
        if(url)
        {
            $.get(url,param,function(result){
                if(result.code == 1)
                {
                    if(result.data){
                        var gettpl = document.getElementById('template').innerHTML;
                        laytpl(gettpl).render(result.data, function(html){
                            document.getElementById('ban_info').innerHTML = html;
                        });
                    }
                }else{
                    console.log('get data error');
                }
            });
        }

    }
</script> 
{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
	$(function(){
		$('#js_jrtab_ul li').mouseover(function(){
			var index = $(this).data('index');
			$('#js_jrtabi_0,#js_jrtabi_1').hide();
			$('#js_jrtabi_'+index).show();
			$('#js_jrtab_ul li').removeClass('hover');
			$(this).addClass('hover');
		}).mouseout(function(){
			var index = $(this).data('index');
			$('#js_jrtabi_0,#js_jrtabi_1').hide();
			$('#js_jrtabi_'+index).show();
			$('#js_jrtab_ul li').removeClass('hover');
			$(this).addClass('hover');
		});
	});
	
</script>
</body>
</html>