<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{$eju.field.seo_title}-详情</title>
<meta name="description" content="{$eju.field.seo_description}" />
<meta name="keywords" content="{$eju.field.seo_keywords}" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/common.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/input.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/css.css">
<link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/wenda.css">
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S --> 
{eju:include file="header.htm"/} 
<!-- topBar E --> 

<!-- 楼盘详情 S-->
<div class="newhouse_detail"> {eju:include file="main_xinfang.htm"/}
  <div class="comWidth clearfix house_detail">
    <div class="con_wrap" id="main">
      <!-- 楼盘详情 S -->
      <div class="con_left">
        {eju:ask id="field" bestanswer="off" pagesize='2'}
        <div class="housesLeft">
          <div class="housesTitle">关于
            {$eju.field.title}
            的
            58
            个问题
            <div class="remark_btn"> <a target="_blank" data-toggle="modal" href="{$field.AddAskUrl}">我要提问</a> </div>
          </div>
          <ul class="houseAnswer">
            {eju:volist name="$field.AskData" id="vo"}
            <li>
              <div class="houseAnswerTitle">{$vo.content}</div>
              <div class="houseAnswerPhone"><b>{$vo.username}</b><span>{$vo.add_time}</span> </div>
              {eju:volist name="$vo.AnswerData" id="vo2"}
              <div class="houseAnswerContent">
                <span>{$vo2.username}回复：</span> {$vo2.content}
              </div>
              {/eju:volist}
            </li>
            {/eju:volist}
          </ul>
          <div class="cl"></div>
          <div>
            <div class="page_list clearfix">
              <ul class="pagination">
                {eju:pagelist listitem="pageno,pre,next" listsize="1"/}
              </ul>
            </div>
          </div>
          <div class="cl"></div>
          <div class="shuoming" style="line-height: 30px;"> <b>问答说明：</b>
            <p> 1、楼盘问答是房小二网为您提供的疑难问题解答板块，在这里你可以与工作人员直接交流。<br>
              2、因提问的用户较多，可能无法及时进行回复，我们将尽力在最快的时间内为您解答。<br>
              3、当涉及广告、不实评论、恶意评论、爆粗口、危害国家安全等不当言论时，房小二网有权实施封号等管理行为。 </p>
          </div>
        </div>
        {/eju:ask}
        <div>
          <link rel="stylesheet" type="text/css" href="{eju:global name='web_templets_pc' /}/skin/css/housesright.css">
          <div class="housesRight">
            <div class="salesOffice houseRight">
              <p>售楼处电话：</p>
              <span><b>{$eju.field.sale_phone} {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}</b></span> 
              <!-- <span><b><th:block th:text="${houseInfo.sortelTel}"></th:block></b></span>--> 
              <a  data-id="12" data-model="house" data-type="1" data-uri="{eju:diyurl type='form'/}" class="houseRightBtn J_dialog" style="cursor:pointer ; display: block;margin-top: 5px">免费通话</a> </div>
            <div class="houseRight subscription">
              <div class="houseRinghtTitle">楼盘订阅</div>
              {eju:form formid="3"}
              <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
                <div class="right-form">
                  <div class="form-type">
                    <p> {eju:volist name="$field.options_8" id="attr" limit='0,2'}
                      <label>
                        <input type="checkbox" id="{$field.attr_8}" name="{$field.attr_8}" value="{$attr.value}">
                        {$attr.value} </label>
                      {/eju:volist} </p>
                    <p> {eju:volist name="$field.options_8" id="attr" limit='2,2'}
                      <label>
                        <input type="checkbox" id="{$field.attr_8}" name="{$field.attr_8}" value="{$attr.value}">
                        {$attr.value} </label>
                      {/eju:volist} </p>
                  </div>
                  <div class="form-input">
                    <p>
                      <input type="text" id="{$field.attr_6}" name="{$field.attr_6}" autocomplete="off" placeholder="您的{$field.itemname_6}" class="input-txt" />
                    </p>
                    <p>
                      <input type="text" id="{$field.attr_7}" name="{$field.attr_7}" autocomplete="off" placeholder="您的{$field.itemname_7}" class="input-txt" />
                    </p>
                  </div>
                  <div class="button">
                    <button class="subscribe-btn" type="submit">立即订阅</button>
                  </div>
                </div>
                {$field.hidden}
              </form>
              {/eju:form} </div>
          </div>
          <script type="text/javascript">
			 $(function(){ 
			   $('.J_dialog').on('click',function(){
            var me=$(this),w = 420,h = 270,house_id=me.data('id'),model = me.data('model'),type = me.data('type'),url = me.data('uri');
            url = url + '?house_id='+house_id+'&type='+type+'&model='+model;
            layer.open({
                type: 2,
                title: false,
                fix:true,
                move:false,
                area: [w+'px', h+'px'],
                shade: 0.5,
                closeBtn: 1,
                shadeClose: true,
                content: url
					});
				});
			   });
    </script> 
        </div>
      </div>
      <!-- 楼盘详情 E --> 
    </div>
  </div>
</div>
<!-- 楼盘详情 E--> 

{eju:include file="footer.htm"/} 
<script src="{eju:global name='web_templets_pc' /}/skin/js/jquery.lazyload.js"></script> 
<script src="{eju:global name='web_templets_pc' /}/skin/js/layer.js"></script> 
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>