{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="margin-left: 30px;">
            <p style="font-size: 15px;line-height: 2em;">【标签调用方法】</p>
            <ol style="font-size: 15px;line-height: 2em;">
                <li>请先前往https://connect.qq.com/注册应用，获得appid和appkey</li>
                <li>设置回调域名为：{$qqbackpath}</li>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}