.max-wrapper {
}
.max-wrapper .wrapper {
	position: relative
}
.wrapper {
	width: 100%;
	margin: 0 auto
}
.max-wrapper .menu {
	background-color: #fff;
	width: 255px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}
.max-wrapper .menu_fixed {
	position: fixed;
	top: 15px
}
.max-wrapper .menu_abs {
	position: absolute;
	top: auto;
	bottom: 0
}
.max-wrapper .menu li {
	border-bottom: 1px solid #f5f5f5;
	line-height: 60px
}
.max-wrapper .menu li a {
	font-size: 18px;
	color: #555
}
.max-wrapper .menu li i {
	width: 21px;
	height: 21px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 3px;
	margin-left: 22px
}

.max-wrapper .menu li.hover a {
	color: #fff
}
.max-wrapper .menu li dl {
	margin-bottom: 15px
}
.max-wrapper .menu li dl dd {
	height: 30px;
	line-height: 30px;
	padding-left: 55px
}
.max-wrapper .menu li dl dd.hover {
	background-color: #4fac6a
}
.max-wrapper .menu li dl dd.hover a {
	color: #fff
}
.max-wrapper .menu li dl dd a {
	font-size: 14px;
	color: #888
}

.max-wrapper .count {
	width: 850px;
	background-color: #fff;
	padding: 30px 40px;
	position: relative;
	min-height: 400px;
	height: auto;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}
.max-wrapper .count strong {
	font-weight: bold
}
.max-wrapper .count p.cunn {
	font-weight: 700;
	padding-top: 20px
}
.max-wrapper .count .fix-top {
	position: fixed;
	top: 60%;
	right: 5%;
	display: none
}
.max-wrapper .count .fix-top a {
	display: block;
	width: 55px;
	height: 46px;
	background-color: #cdcbcb;
	color: #fff;
	font-size: 14px;
	margin-bottom: 3px;
	text-align: center;
	line-height: 46px
}
.max-wrapper .count .fix-top a.top-01 {
	line-height: 18px;
	padding: 5px 8px;
	height: 36px;
	width: 39px
}
.max-wrapper .count .title {
	font-size: 22px;
	color: #333
}
.max-wrapper .count .name {
	color: #333;
	font-size: 22px;
	height: 75px;
	border-bottom: 1px solid #f5f5f5
}
.max-wrapper .count .cunn {
	color: #555;
	font-weight: normal
}
.max-wrapper .count .cunn span {
	width: 80px;
	display: block;
	float: left;
	font-size: 16px;
	line-height: 32px;
	text-align: right;
	margin-right: 8px
}
.max-wrapper .count .cunn p {
	float: right;
	color: #555;
	width: 562px
}
.max-wrapper .count p {
	line-height: 32px;
	font-size: 16px;
	color: #555
}
.max-wrapper .count p i {
	color: red;
	display: block
}
.max-wrapper .count p span {
	margin-right: 8px;
	min-width: 80px;
	display: inline-block;
	text-align: right
}

.max-wrapper .count p span.tsp {
	margin-top: 12px;
	font-size: 14px;
	color: #999;
	width: 100%;
	text-align: left
}
.max-wrapper .count p.title {
	color: #333;
	margin: 30px 0;
	font-size: 16px
}
.max-wrapper .count p img {
	margin-top: 20px
}