.topBar { background: #ff5200;}
.topBar .sele_city .city_list a:hover {  color: #ff5200;  }
.topBar .log_link .loged .slide_tog a:hover {  color: #ff5200; }
.topBar .log_link .loged .user_info .name {
    color: #ffffff;
}
.topBar.topBar2{background-color: #ff5200;}
.navBar {  background: #ff5200; }
.navBar .nav_list li.active{background-color: rgba(0,0,0,0.1);}

.navBar .nav_list a { color: #ffffff;}

.sear_box .btn_area .sbm_btn {background: #ff5200;color:#ffffff;}

#search-box{border-color:#ff5200;}
#search-box li em{color:#ff5200;}
.map_house .sele_sear .sear .btn_area {background: #ff5200;}
.map_house .sele_sear .sear .btn_area .btn:after {border-color:#ff5200;}
.map_house .sele_sear .sele_list .btn {background: #ff5200;color:#ffffff;}
.map_house .main .r_box .house_list .hd .sale_type li .in_sale {  color: #ff5200;  }
.seleBar a.active,.seleBar a:hover,.seleBar a b {  color: #ff5200;  }

.seleBar .btn {border-color:#ff5200;background: #ff5200;}
.houseList_wrap .head {border-bottom-color:#ff5200;}
.houseList_wrap .head h2 a.active,
.houseList_wrap .head h2 a:hover {background: #ff5200;}
.houseList_wrap .head .tab a.active,
.houseList_wrap .head .tab a:hover {
    color: #ff5200;
}
.houseList_wrap .list_con .price { color: #ff5200;}
.houseList_wrap .list_con .price strong { color: #ff5200;}
.houseList_wrap .agent_list .r_con p b {
    color: #ff5200;
}
.houseList_wrap .agent_list .label_list .item {border-color:#ff5200;color: #ff5200;}
.houseList_wrap .agent_list .phone {color: #ff5200;}

.broker-tags i{border-color:#ff5200;color:#ff5200;}
.newhouse .tab_nav li a.active,
.newhouse .tab_nav li a:hover {
    color: #ff5200;
}
.house_detail .main_info .hd_box .collect_btn.on {background: #ff5200;border-color: #ff5200;color: #ffffff;}
.house_detail .main_info .con_box .rightArea .price strong {
    color: #ff5200;
}
.house_detail .main_info .con_box .rightArea .agent_info .c_con .phone {color: #ff5200;}
.house_detail .scroll_nav {background: #ffffff;border-color:#ff5200;}
.house_detail .scroll_nav li.active a,
.house_detail .scroll_nav li a:hover {
    background: #ff5200;
    color: #ffffff;
}
.house_detail .con_wrap .title .tab_hd li a.on {
    color: #ff5200;
}
.house_detail .con_wrap .title a:hover {
    color: #ff5200 !important;
}
.house_detail .con_wrap .near_support .r_box .nav {border-color:#ff5200;}
.house_detail .con_wrap .near_support .r_box .nav a.active,
.house_detail .con_wrap .near_support .r_box .nav a:hover {
    background: #ff5200;
    color: #ffffff;
}
.house_detail .con_wrap .similar_house .list .ft_con p strong {
    color: #ff5200;
}
.house_detail .con_wrap .similar_house .list .ft_con .price {
    color: #ff5200;
}
.house_detail .buildNum_info .r_con .tab_nav a.active,
.house_detail .buildNum_info .r_con .tab_nav a:hover {
    color: #ff5200;
    border-color: #ff5200;
}
.newhouse_detail .head .collect_btn.on {
    background: #ff5200;
    color: #ffffff;
    border-color: #ff5200;
}
.newhouse_detail .tab_nav li a.active,
.newhouse_detail .tab_nav li a:hover {
    color: #ff5200;
}

.house-title .house-tags span.status {
    background: #ff5200;
    border: 1px solid #ff5200;
}

.nav_house li.hover{color: #ff5200;}
.nav_house li.hover a{color: #ff5200;border-bottom:  2px solid #ff5200;}

.sub_nav a.active,
.sub_nav a:hover {
    color: #ff5200;
}
.sub_nav a.active span{
    background-color: #ff5200;
}

.artc_detail .relative_artc .title .b_l {background: #ff5200;}
.dynamic_list li .l_con .time {background: #ff5200;color: #ffffff;}
.dynamic_list li .l_con .c_l .c {background: #ff5200;}
.dynamic_list li .r_con a { color: #ff5200;}
.houseType_wrap .list_box li .con p span{ color:#ff5200;}
.houseType_detail .tab_scroll .scroll_wrap li a.active,
.houseType_detail .tab_scroll .scroll_wrap li a:hover {
    border-color: #ff5200;
}


.news-center h2 a{color:#ff5200}
/*.houseType_detail .tab_scroll .scroll_wrap li a.active p,
.houseType_detail .tab_scroll .scroll_wrap li a:hover p {
    color: #ff5200;
}*/
.houseType_detail .info_box .info_list li span strong {
    color: #ff5200;
}
.question .title a {background: #ff5200;}
.question .title .ipt_box .btn {background: #ff5200;color: #ffffff;}
.agent_info .btn_row a:hover {
    color: #ff5200;
    border-color: #ff5200;
}
.agent_info .phone {color: #ff5200;}
.agent_info .label_list .item {border-color:#ff5200;color:#ff5200;}
.cm_rightArea .title .b_l {background: #ff5200;}
.cm_rightArea .rcmd_house .row .price {
    color: #ff5200;
}
.cm_rightArea .rcmd_build .r_con b {
    color: #ff5200;
}
.cm_rightArea .hot_build .list .con p b {
    color: #ff5200;
}
.comment-head .comment-tags i.on{border-color: #ff5200;color:#ff5200;}
.send-btn{background-color: #ff5200;color:#ffffff;}
.phone-text{color:#ff5200;}
.header .sele_city .city_list a:hover {
    color: #ff5200;
}
.label_menu h3 { color: #ff5200;}
.label_menu .l { background: #ff5200;}
.label_menu .link a:hover {
    color: #ff5200;
}
.build_list li .ft .price {
    color: #ff5200;
}
.ezxld_list .list li .ft .price{color: #ff5200;}
.house_news .list h4 {color: #ff5200;}
.house_news .list h4 a{color:#ff5200;}
.build_shoppers .l_box .appoint .form_box .btn_area .sbm {
    background: #ff5200;
}
.sed_house .top_director .list .mark b {
    color: #ff5200;
}
.sed_house .top_director .ft_link a {background: #ff5200;  color: #ffffff;}
.order_modl .list li .price b,
.order_modl .list li .price_float {
    color: #ff5200;
}
.slide .switchable-nav ol li.active{background-color: #ff5200;}
.btn_area .sbm{background: #ff5200;  color: #ffffff;}
.person_center .main .menu_list a.active,
.person_center .main .menu_list a:hover {
    background: #ff5200;
    color: #ffffff;
}
.person_center .main .rightArea .title h2 a.on,
.person_center .main .rightArea .title h2 a:hover {
    border-color: #ff5200;
}
.person_center .main .base_info .form_box .check_code .get_code,
.person_center .main .add_house .form_box .check_code .get_code {
    background: #ff5200;
    color: #ffffff;
}
.J_delete{background-color: #ff5200;color:#ffffff;}
.options a.J_delete{border-color: #ff5200;color:#ff5200;background-color: #ffffff;}
.layui-btn-danger{background-color: #ff5200;}
.layui-form-radio i:hover, .layui-form-radioed i{color:#ff5200;}
.layui-form-select dl dd.layui-this{background-color: #ff5200;}
.layui-form-checked[lay-skin="primary"] i{border-color:#ff5200;background-color:#ff5200;}
.cm_rightArea .sale_btn {border-color:#ff5200;  color: #ff5200;}
.map_house .main .r_box .house_list .bd li .r_con .price { color: #ff5200;}
.question .question-pannel a.active{background-color: #ff5200;color:#ffffff;}
.question .question-pannel a:hover{background-color: #ff5200;color:#ffffff;}
.question-lists a.question-house-title{color:#ff5200;}
.question-right-title span{border-bottom-color:#ff5200;}
.question-right-lists li a:hover{color:#ff5200;}
.question-right-lists li dd span{color:#ff5200;}
.submit-btn{background-color: #ff5200;  color: #ffffff;}
.group_body_r01{background:#ff5200;}
.group_body_r03{border-top-color: #ff5200;}
.sele_city .city_list .hot a{  color:#ff5200;  }
.sele_city .city_list a:hover {  color: #ff5200;  }
.layui-form-checkbox[lay-skin="primary"]:hover i{border-color:#ff5200;}
.scroll-top span.text{background-color: #ff5200;color:#ffffff;}
.news-center a:hover{color:#ff5200;}
.index .search-type a.active{background-color: #ff5200;}
.index .search-input .search-btn{background-color: #ff5200;color:#ffffff;}
.search-tab a.active{background-color: #ff5200;color:#ffffff;}
.search-tab a.active:after{color:#ff5200;}
.cm_wrap .head .r_nav li a:hover{color:#ff5200;}
.detail-main .position a:hover{color:#ff5200;}
.detail-info .new-house-info .consult-now{background-color: #ff5200;color:#ffffff;box-shadow: 1px 1px 5px #ff5200;}
.detail-left .detail-row .room-count a:hover{color:#ff5200;}
.map-box .map-label h2{background-color: #ff5200;color:#ffffff;}
.map-box .map-mart .map-mart-title a.active{background-color: #ff5200;color:#ffffff;}
.map-box .map-mart .map-mart-title{border-bottom:2px solid #ff5200;}
.detail-right .right-form .button button{background-color: #ff5200;color:#ffffff;}
.detail-right .right-house .telphone span{background-color: #ff5200;color:#ffffff;}
.detail-left .detail-row .news-lists li a:hover h2{color:#ff5200;}


.flash_list .r_con .desc font{color:#ff5200;}
.cm_rightArea .hot_artc li:nth-child(1) .order {
  background: #ff5200;
}
.cm_rightArea .hot_artc li:nth-child(2) .order {
  background: #ff5200;
}
.cm_rightArea .hot_artc li:nth-child(3) .order {
  background: #ff5200;
}
.cm_rightArea .hot_artc li .order.on {
  background: #ff5200;
}


.aboutcopy ul li a:hover{color:#ff5200;}
.footer-v5 .linkrow .alinklist a:hover,
.footer-v5 .szdhwrap .szdh-item .szdh-list a:hover{color:#ff5200;}
.conyfiv p a:hover{color:#ff5200;}
.storyList h2 a:hover{color: #ff5200;text-decoration: underline;}
.storyList .c6_f14 a {color:#ff5200; }
.storyList .c6_f14 a:hover{color: #ff5200;text-decoration: underline;}


.window-link-ul li a:hover {color:#ff5200; }


.max-wrapper .menu li.hover {
	background-color: #ff5200;
}


/*问答中心*/
.searchBar-btn .btn-search {
	background: #ff5200;
}
.searchBox .i-ask-btn {
	background: #ff5200;
}
.questionBox .active a{
	background: #ff5200;
}
.questionBox li a:hover {
	color: #ff5200;
}
.question-item h3 a:hover {
	color: #ff5200;
}
.answer-cont a:hover {
	color: #ff5200;
}
.quick-btn {
	background: #ff5200;
}
.result .ask-btn {
	background: #ff5200;
}
.nav-item a:hover{
	color: #ff5200;
}
.nav-item .cur {
	border-bottom: 2px solid #ff5200;
	color: #ff5200;
}
.question-from a:hover{
	color: #ff5200;
}
.share a:hover {
	color: #ff5200;
}
.i-question-btn, .i-submit-btn {
	background: #ff5200;
}
.reorder .cur {
	color: #ff5200;
}
.reorder a:hover {
	color: #ff5200;
}
.Ans-Intro a:hover {
	color: #ff5200;
}
.comment a:hover {
	color: #ff5200;
}
.related li a:hover {
	color: #ff5200;
}

.loginBox li {
	background: #ff5200;
}
.loginBox .i-l-ask {
	background: #ff5200;
}
.jp-list a:hover {
	color: #ff5200;
}

.btn-submit {
	background: #ff5200;
}
.quick-text dd .num {
	color: #ff5200;
}

.footer-v5 .linkrow .alinklist a:hover,
.footer-v5 .szdhwrap .szdh-item .szdh-list a:hover{color:#ff5200;}


.footer-v5 .szdhwrap .szdh-item .szdh-lab,.footer-v5 .szdhwrap .szdh-item .szdh-list a{color: #ff5200;}
.footer-v5 .szdhwrap .szdh-item .szdh-list li.on > a{color: #ff5200;}

.aboutcopy ul li a:hover{color:#ff5200;}
.conyfiv p a:hover{color:#ff5200;}

.switchable-nav li.active {
	background-color: #ff5200;
}

.page_list a.on,.page_list li span,.page_list a:hover{background: #ff5200;color: #ffffff;}
.page_list a:hover{background:#ff9900;border:1px solid #ff9900;}
.page_list .pre:hover{background-color:#ff9900;background-image: url(../img/index_icon.png);
    background-repeat: no-repeat;}
.page_list .next:hover{background-color:#ff9900;background-image: url(../img/index_icon.png);
    background-repeat: no-repeat;}
.page_list li span.current{border: 1px solid #ff5200;}

.lp-pb-check2 ul li {
	border: 1px solid #ff5200;
	color: #ff5200;
}
.lp-pb-px1 li a {
	color: #ff5200;
}

.lp-pb-check2 ul li:hover {
	color: #fff;
	background: #ff5200;
}
.lp-pb-check2 ul li.rese:hover{
	color: #ff5200;
	background: none;
}
.lp-pb-check2 ul li.rese:hover a{
	color: #ff5200;
}
.lp-pb-check2 ul li a {
	color: #ff5200;
}

.detail-info .esdetail-house-info .house-price {
	color: #ff5200 !important;
}

.detail-info .zfdetail-house-info .house-price {
	color: #ff5200 !important;
}
.detail-info .new-houxq-info .houxq-price {
	color: #ff5200 !important;
}
.detail-info .spcsdetail-house-info .house-price {
	color: #ff5200 !important;
}
.detail-info .occsdetail-house-info .house-price {
	color: #ff5200 !important;
}