@charset "UTF-8";
/* CSS Document */
a{color:#333;}a:hover{color:#fe5b0e;}
.headindex{width:100%; height:240px; overflow:hidden; border-bottom:#fe5b0e 2px solid;}
.fivindexcont{width:1200px; margin:0 auto; overflow:hidden;}
.fivico{background:url(../img/fivindexico.png) no-repeat;}
.maxindexlogo{width:380px; float:left; height:190px; overflow:hidden;background: url(../img/logo.png) no-repeat  0px 80px;}
.gjhb,.gjhb img{width:800px; height:240px; overflow:hidden;}
.gjhb{float:left;}
.cityip{text-align:center; display:block; overflow:hidden;}
a.dwcity{height:46px; background:#fe5b0e; color:#fff; font-size:18px; padding:0 50px; line-height:46px; border-radius:23px; margin:40px auto 0 auto; display:inline-block; *display:inline; *zoom:1;}
.cityip p{line-height:52px; text-align:center;}
.cityip p a{padding:5px; margin:0 5px 0 0;}
.fjcity{border-bottom:#e4e4e4 1px solid; padding:0 0 20px;}
.cityss{width:1200px; height:36px; border-bottom:#e4e4e4 1px solid; margin:0 auto; padding:30px 0; position:relative;}
.citysscont{float:left; width:360px; position:relative; height:36px;}
.citysscont strong{float:left; width:100px; overflow:hidden;line-height:36px;}
.citysscont input{border:#e4e4e4 1px solid; height:34px; line-height:34px\9; padding:0 5px; width:200px;font-size:14px;outline: none;}
.citysscont input.jr{color:#333; padding:0 30px; cursor:pointer; background:#fff;height:36px; line-height:36px;border:#e4e4e4 1px solid; width:auto; margin:0; overflow:hidden;}
.citysscont input.jr:hover{background:#4ba634; border:#4ba634 1px solid; color:#fff;}
.citysscont .search-wrap{position: relative;margin:0 10px 0 0;float:left;*display: inline;}
.citysscont .search-wrap .search-list-box{width: 210px;}
.rmcity{max-width:600px; height:36px; float:left; overflow:hidden;}
.rmcity strong,.rmcity a{line-height:36px; padding:0 5px; margin-right:10px; display:inline-block;}
.rmcity strong{padding:0;}
a.openeju{background:#fe5b0e; height:36px; line-height:36px; width:90px; border-radius:2px; color:#fff; font-size:14px; text-align:center;display: block;float: left;font-weight: bold;}
.citymar{padding:20px 0 30px;}
h3.cityqy{font-size:24px; color:#ddd; line-height:48px; margin-top:10px;}
dl.newscity{width:1200px; margin:0 auto; clear:both; overflow:hidden; zoom:1; padding:0 0 5px;}
dl.newscity dt{float:left; width:60px; clear:both; font-weight:bold; margin:0; padding:0; overflow:hidden;line-height:30px; height:30px;}
dl.newscity dd{float:left; width:1140px; overflow:hidden;}
dl.newscity dd a{line-height:30px; height:30px; padding:0 5px; margin:0 10px 0 0; display:inline-block; overflow:hidden;}
.indfj{width:100%; height:536px; background:url(../img/indexfivbac.jpg) 0 center no-repeat;}
ul.fjhot{width:1220px; overflow:hidden;}
ul.fjhot li{width:285px; height:125px; float:left; overflow:hidden; margin:0 20px 20px 0; background:rgba(0,0,0,0.6);background:#000\9;}
ul.fjhot li a{display: block;}
h2.indtit,h2.indtit2{color:#fff; font-size:40px; text-align:center; line-height:126px; margin-top:15px;}
h2.indtit2{color:#333;}
.csjj{width:110px; height:110px; background:#4ba634; color:#fff; line-height:48px; float:left; overflow:hidden; padding:15px 0 0 15px; font-size:20px;}
.csjj span{font-size:12px;}
.fjzst{float:left; overflow:hidden; padding:10px; width:140px; height:105px; position:relative;}
.fjzst span{position:absolute; right:10px; bottom:10px; z-index:1; color:#fff; opacity:.5; font-size:16px; font-weight:bold;}
.fjpic{width:140px; height:105px; overflow:hidden;}
p.morefj{text-align:center; margin:25px 0 0;}
p.morefj a{color:#fff; opacity:.8; font-size:20px;}
p.morefj a:hover{color:#4ba634;}
.indjsq{width:1200px; overflow:hidden;}
.indjsq ul{width:1270px;}
.indjsq ul li{width:150px; height:110px; float:left; overflow:hidden; text-align:center; margin:0 60px 0 0;}
.indjsq ul li a{background:url(../img/fivindexico.png) no-repeat;padding:80px 0 0;font-size:16px; line-height:30px; display:block; overflow:hidden;}
.indjsq ul li a.sydk{background-position:36px -140px;}
.indjsq ul li a.gjjdk{background-position:36px -260px;}
.indjsq ul li a.zhdk{background-position:36px -379px;}
.indjsq ul li a.sf{background-position:36px -499px;}
.indjsq ul li a.tqhk{background-position:36px -619px;}
.indjsq ul li a.gfnl{background-position:36px -739px;}

.floatJoinus{display: block;position:fixed;top:140px;z-index:9999;width:60px;height:180px;background:#ddd;right: 48px;}
.floatJoinus i{position: absolute;right: 0;top: 0;width: 15px;height: 15px;cursor: pointer;}
@media screen and (max-width:1366px){
 .floatJoinus {right:0;}
}






