.jjr_bot{border-bottom: 1px solid #ededed;}
.list_jjr{}

/*找经济人列表*/
.list_jjr{
	border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 0;
}
.list_jjr ul{
    margin: 0;
}
.list_jjr ul li{
    padding: 33px 20px;
    overflow:  hidden;
    border-bottom: 1px solid #eee;
}
#option li{overflow:hidden;height: auto !important;}
#option div{
    float:  left;
    width: 93%;
}
.list_jjr ul li:hover{background: #f9f9f9;}
.list_jjr ul li .agentImge{
    float:  left;
    width: 110px;
    height: 110px;
    overflow:  hidden;
    margin-right:  40px;
}
.list_jjr ul li .agentImge img{
    width: 100%;
}
.list_jjr ul li>span{
    color: #666;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-top: 38px;
}
.list_jjr ul li>span i{
    color: #666;
    background: url(../img/phoneff520.jpg)no-repeat 0 2px;
    width:  12px;
    height: 17px;
    display:  inline-block;
    margin-right: 7px;
}
.list_jjr ul li>div{
    float:  left;
    width: 420px;
}
.list_jjr ul li>div div{
    overflow:  hidden;
}
.list_jjr ul li>div div h4{
    float:  left;
    margin: 2px 0;
	font-size: 24px;
}
.list_jjr ul li>div div .icon-xy{
    width: 25px;
    font-size: 12px;
    padding-left: 20px;
}
.list_jjr ul li>div p{
    font-size:  14px;
    color: #333;
    line-height: 24px;
}
.list_jjr ul li>div p.xq{
    white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.list_jjr ul li>div span,.list_jjr ul li>div a{
    color:  #666;
    text-decoration:none;
}
.list_jjr ul li>div a{border-right: 1px solid #666;padding-right: 10px;height: 16px;}
.list_jjr ul li>div a+a{padding-left:10px}
.list_jjr ul li>div a:last-child{border-right:none}
.list_jjr ul li>div a:hover{color:#ff5200}


.about{width:100%;height: 175px;background: url(../img/aboutBg2.jpg);margin-top: 10px;position: relative;color:  #fff;}
.about .information{float:left;text-align:left;margin-left: 201px;/* overflow: hidden; */margin-top: 40px;width: 750px;}
.information>div{
    /* overflow: hidden; */
}
.information div+p+div{
    float: left;
}
.information div .agentSignIcon{
    /* overflow:  auto; */
    float:  left;
}
.information div .agentSignIcon>i{
    position:  relative;
    cursor:  pointer;
}
.information div .agentSignIcon>i:hover i{display:block}
.information div .agentSignIcon>i i{
    position: absolute;
    top: 17px;
    /* left: -25px; */
    width: 60px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.8);
    border-radius:  4px;
    color:  #333;
    padding: 0 2px;
    height: 20px;
    line-height: 20px;
    display:  none;
}
.agent-ewm{
    width:  100px;
    height:  100px;
    position:  absolute;
    right: 30px;
    top: 30px;
    padding: 2px;
    background:  #Fff;
}
.agent-ewm img{
    width:  100%;
}
.about .information h1{/* margin-bottom: 20px; */font-size: 36px;font-weight: normal;color:  #fff;}
.about .information p{float:left;margin-right: 35px;line-height: 30px;color:  #fff;font-size: 14px;}
.about .information>p{
    width: 100%;
    overflow:  hidden;
    text-overflow:  ellipsis;
    white-space:  nowrap;
}
.about .information .tel_1{font-size: 18px;display:  inline-block;}
.agentSign{display: inline-block;width: 19px;float:  left;height: 14px;margin-right: 8px;line-height:  30px;margin-top: 8px;}


.about .touxiang{position:absolute;top:50%;margin-top: -60px;width: 88px;height: 88px;border-radius: 100%;border: 3px #fff solid;left: 48px;width: 120px;height: 120px;}

.contentTop{height:43px;line-height: 43px;border-bottom:1px #ff5200 solid;margin-top: 15px;padding-bottom: 1px;overflow: hidden;}
.contentTop a{float:left;display:block;width:90px;height:44px;line-height:43px;text-decoration:none;font-size: 13px;text-align: center;}
.contentTop a.hover{width:88px;height: 44px;line-height:41px;border-top:1px #ff5200 solid;border-right:1px #ff5200 solid;border-left:1px #ff5200 solid;border-bottom: 1px #fff solid;z-index: 50;background:  #ff5200;color: #fff;}

.contentCtn{height: 50px;padding: 15px 15px 0px 15px;border-top: 1px solid #ededed;border-left: 1px solid #ededed;border-right: 1px solid #ededed;}
.contentCtn span{float:left;font-size: 14px;line-height: 24px;color: #999999;display: block;width: 100%;text-align: left;margin-top: 15px;}
.contentCtn span i{color:#FF5200;text-decoration:none;padding:0 3px;font-style: initial;}


.my_xl{height: 25px;line-height: 30px;width: 160px;padding: 4px 6px;position:relative;font-size: 14px;background: #fff url(../img/my_xiala.gif) 145px 13px no-repeat;cursor:pointer;display: block;margin-right: 10px;float: left;}
.my_xl_txt{float:left;width: 145px;line-height: 26px;color: #666;}
.my_xl,.my_xl_list{border: 1px solid #e1e1e1;}
.my_xl_txt,.my_xl_list li{text-indent:0px;overflow:hidden;}
.my_xl_list{position:absolute;top: 39px;left:-1px;z-index:88888;border-top:none;width:100%;display:none;_top:23px;margin-left:0px !important}
.my_xl_list li{ list-style:none;height: 30px;line-height: 30px;cursor: pointer;background:#fff;padding-left: 6px;}
.my_xl_list li.focus{background:#3399FF;color:#fff}
.my_xl_list a{text-decoration:none}
.contentCtn p{float:left;line-height: 38px;overflow:hidden;cursor: pointer;}
.contentCtn p i{width: 16px;height: 18px;display:block;float:left;background: url(../img/jjr_ico.png) 0px -56px no-repeat;margin-top: 9px;padding-left: 8px;}
.houseSearch{position:relative;overflow: hidden;float: left;margin-right: 20px;}
.houseSearch .searchInput{z-index:0;height: 33px;float: left;padding: 0 0 0 10px;background-color: transparent;line-height: 30px;border-radius: 0px;outline: none;width: 171px;clear: both;margin: 0;border: 1px #e1e1e1 solid;}
.houseSearch .searchBtn{width: 35px;height: 35px;border: none; position:absolute; cursor: pointer;background: url(../img/search_btn.png) #ff5200 no-repeat center;  outline: none;right:0;border-left: 1px #e1e1e1 solid;}



.agentInfoMain{
    width: 920px;
    text-align: left;
    font-size: 14px;
    color: #333;
}
.agentInfoMain ul,.zsfw ul{
    margin-left: 0;
}
.agentInfoMain ul li ul{
    width: 400px;
    float: left;
    margin-left: 0;
}
.agentInfoMain ul li ul li a{
    color: #0f6ac8;
}
.agentInfoMain ul li{
    overflow: hidden;
    line-height: 34px;
}
.agentInfoMain ul li h4{
    font-size: 16px;
    color: #ff5200;
    line-height: 48px;
}
.agentInfoMain ul li h4 i{
    display: block;
    background: #ff5200;
    width: 70px;
    height: 2px;
}
.agentInfoMain ul li span{
    float: left;
}
.agentInfoMain ul li p{
    float: left;
    color: #666;
    width: 780px;
}
.agentInfoMain ul li p s{
    text-decoration: none;
}
.agentInfoRz{
    float: left;
    margin-right: 20px;
    border: 1px solid #e6e0e0;
}
.agentInfoRz img{}
#right .zsfw .btn{width: 195px;}

