html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, i{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}



.con_left{margin-top: 10px; float:left;width: 1200px;}

.housesLeft{
    width: 920PX;
    background:  #fff;
    margin:  0 auto;
    border:  1px solid #ededed;
    overflow:  hidden;
}
.housesLeft .title{
    /* padding: 0 20px; */
    padding-left: 0px;
    margin-top: 5px;
    padding-left: 15px;
}

.housesLeft .title a{
    padding-right: 30px;
    padding-right: 0px;
    margin-right: 30px;
    background-image: url(../img/right_arrw.png);
    background-repeat: no-repeat;
    background-position: 64px center;
    padding-right: 15px;
}

.housesLeft .title a:hover{color:#ff5200 !important;
    background-image: url(../img/hover.png);
    background-size:5px 9px}
.titleAskbtn{
    overflow: hidden;
    margin-right: 30px;
    width:  95%;
    margin: 0 auto;
    border-bottom:  1px solid #ededed;
    padding: 10px 0;
    line-height:  30px;
}
.titleAskbtn>span{
    width: 130px;
    height: 30px;
    background-color: #ff6100;
    display: block;
    font-size: 14px;
    float: right;
    color: #fff;
    border: none;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
}
.housesLeft .seeMoreAsk{
    float:  right;
    color: #666;
    margin-top: 0px;
    font-size: 14px;
}
.titleAskbtn p{
    float:  right;
    line-height: 41px;
    margin-right: 15px;
}
.titleAskbtn>div{}

.question_r{
    border-left:  none;
    width: 100%;
    padding-bottom:  20px;
    border-top:  1px solid #ededed;
    margin-top:  30px;
    padding-top: 10px;
    padding-left: 45px;
    float:  none;
}
.referesult-title a{
    color: #666;
    font-size:14px;
    float:right;
    margin-right: -146px;
    margin-top: -72px;
    background-image: url(../img/right_arrw.png);
    background-repeat: no-repeat;
    background-position: 64px center;
    padding-right: 15px;
    background-size: 5px 9px;
}
.referesult-title a:hover{
    background-image: url(../img/hover.png);
}
.nmaptitle {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    padding-right: 20px;
}
.nmaptitleleft {
    background: none;
    height: 50px;
    margin: 5px auto;
    padding-left: 15px;
}
.nmaptitleleft p{
    border-bottom: none;
    color: #333;
}
#online{
    position:  relative;
}
.zxxf_r .more{
    position:  absolute;
    right:  0;
    top: 7px;
    color:  #666;
}

.hj-col-lg-22{border:none}

.housesLeft .housesTitle{
    padding: 0 25px;
    font-size:  18px;
    color: #333333;
    line-height: 55px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}
.housesLeft .housesTitle span,.housesLeft .housesTitle a{
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: right;
    display: block;
    background: #ff5200;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 11px;
}
.housesLeft .houseAnswer{
    margin-top: -20px;
    padding: 0 30px;
}
.housesLeft .houseAnswer>li{}
.housesLeft .houseAnswer>li .houseAnswerTitle{
    font-size: 18px;
    font-weight: bold;
    padding-left: 40px;
    background: url(../img/houseAnswer.png) no-repeat 0 30px;
    padding-top: 30px;
}
.housesLeft .houseAnswer>li .houseAnswerPhone{
    line-height: 50px;
    overflow: hidden;
    padding-left: 40px;
}
.housesLeft .houseAnswer>li .houseAnswerPhone b{
    font-weight: 400;
    float: left;
}
.housesLeft .houseAnswer>li .houseAnswerPhone span{
    float: right;
    color: #666;
}
.housesLeft .houseAnswer>li .houseAnswerContent{
    background: #f7f7f7;
    padding: 20px 28px;
    margin-left: 40px;
}
.housesLeft .houseAnswer>li .houseAnswerContent span{
    display: block;
}
.housesLeft .shuoming{
    margin: 0 0 0 36px;
    padding-left: 4px;
    line-height: 30px;
    border-top: 1px solid #eee;
    padding-top: 26px;
    padding-bottom: 10px;
    width: 828px;
}
.housesLeft .shuoming b{
    font-weight:400
}

.houseAskNoList{
    margin:  50px auto;
    text-align:  center;
    overflow:  hidden;
    width: 415px;
    line-height: 30px;
}
.houseAskNoList p{
    color:  #999;
    float:  left;
}
.housesLeft .houseAskNoList a{
    float:  left;
    width:  120px;
    height:  30px;
    background:  #ff5200;
    line-height:  30px;
    color:  #fff;
    border-radius: 4px;
    margin-left: 26px;
    cursor:  pointer;
}
.housesLeft .housesTitle .remark_btn,.housesLeft .remark_btn{float: right;margin-top:0}
.disclaimer{width: 1130px;}



.housesLeft .seeMoreAsk:hover{color:#ff5200}
.synthesize .title a:hover{color:#ff5200;}
.layoutTypeR a:hover{background-image: url(../img/hover.png);
    background-size:5px 9px}
.main{width:1170px;margin:0 auto;margin-top: 30px;}
.sub-comment {
    float: right;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.but11 {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f25045;
    display: block;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
}
.overflow_h {
    overflow: hidden;
    height: auto;
    padding-left: 20px;
}
.p_w {
    width: 650px;
}
.float_l, .fl {
    float: left;
}
.pingjia01 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.text10 {
    font-size: 30px;
    color: #d10100;
}
.md_l03 i {
    display: block;
    float: left;
    margin-right: 15px;
}
dl.dl_p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
dl.dl_p dt {
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 10px;
    display: block;
    padding-top:10px;
}
dl.dl_p dd {
    float: right;
    display: block;
    width: 800px;
}
dl.dl_p i {
    display: block;
    float: left;
    margin-right: 16px;
    color: #999;
    line-height: 25px;
    height: 25px;
}
em, cite, i, b {
    font-style: normal;
}
.text11 {
    color: #999;
    font-size: 16px;
}
.dl_p .com_star {
    display: inline-block;
    width: 112px;
    height: 17px;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: 0 -25px;
    display: block;
    margin-right: 5px;
    float: left;
}
.mt8 {
    margin-top: 8px;
}
.dl_p .com_star.integral {
    background-position: 0 0;
}
.dl_p .com_star {
    display: inline-block;
    width: 112px;
    height: 17px;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: 0 -25px;
    display: block;
    margin-right: 5px;
    float: left;
}
.i_mar {
    margin-top: 5px;
}
.dl02 {
    line-height: 22px;
    font-size: 12px;
    color: #575757;
    margin-top: 5px;
}