@charset "utf-8";
/*公用样式*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body,button,input,select,textarea{font:14px/1.5 'Microsoft YaHei',Verdana,Arial,san-serif;*font-family: 'Microsoft YaHei';color: #666;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input,textarea,button,select,a{outline:0 none;border: none;}
pre{white-space: normal;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}
a{text-decoration:none; color:#333;outline: none;}
i,em{ font-style:normal}
/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}	
.comWidth{width:1200px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display:none;}
.show{display:block;}
.margin-top20{margin-top:20px;}
.margin-bot20{margin-bottom: 20px;}
.bg-gray{background-color: #f5f8fb;}