@import "iconfont.css";
@font-face {
	font-family: 'dinot-bold';   /*字体名称*//*/font/*/
	src: url('../fonts/dinot-bold.woff');       /*字体源文件*/
}
.fix-header .container {
	overflow: hidden;
	padding-top: 15px;
}
.fix-header .container .unstyled {
	width: 1200px;
	margin: 0 auto;
	color: #fff;
}
.fix-header .container h4 {
	float: left;
	font-size: 18px;
	width: 650px;
}
.fix-header .container div>p {
	font-size: 16px;
	float: left;
}
.fix-header .container div div {
	float: right;
}
.fix-header .container div i {
	background: url(../img/fixbkb-phone.png)no-repeat;
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	margin-right: 15px;
}
.fix-header .container div>p {
	font-size: 16px;
	float: left;
}
.detail-main .se {
	background-color: #ff5200;
}
.detail-info .zfdetail-house-info {
	width: 536px;
	height: 590px;
}
.detail-info .zfdetail-house-info .second-box {
	border-bottom: 1px solid #e4e4e4;
}
.detail-info .zfdetail-house-info .house-price {
	font-size: 14px;
	color: #D32F2F;
}
.detail-info .zfdetail-house-info .house-price .price-btn {
	display: inline-block;
	float: right;
	background-color: #fff;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #e91c35;
	font-size: 18px;
	margin-top: 5px;
	border-radius: 5px;
}
.detail-info .zfdetail-house-info .house-price span, .detail-info .zfdetail-house-info .house-price i {
	font-size: 14px;
    margin-left: 32px;
    color: #ff5200;
}
.detail-info .zfdetail-house-info .house-price a {
	float: right;
	font-size: 12px;
	color: #7699cc;
	margin-top: 20px;
}
.detail-info .zfdetail-house-info .house-price a.blue {
	font-size: 14px;
	color: #7699cc;
}
.detail-info .zfdetail-house-info .house-price a.blue.active {
	font-size: 14px;
	color: #e91c35;
}
.detail-info .zfdetail-house-info .house-price a i {
	font-size: 12px;
}
.detail-info .zfdetail-house-info .house-price b{
	font-size: 46px;
	font-weight: bold;
}
.detail-info .zfdetail-house-info .house-first-pay {
	margin-top: 20px;
}
.detail-info .zfdetail-house-info .tags span {
	background-color: #fff1f1;
	color: #fb7475;
	font-size: 12px;
	padding: 2px 5px;
	margin-right: 5px;
}
.detail-info .zfdetail-house-info .basic {
	border-bottom: 1px solid #e4e4e4;
}
.detail-info .zfdetail-house-info .basic ul {
	padding-top: 16px;
	padding-bottom: 16px;
}
.detail-info .zfdetail-house-info .basic ul li {
	overflow: hidden;
	line-height: 40px;
	font-size: 14px;
}
.detail-info .zfdetail-house-info .basic ul li span {
	display: block;
	float: left;
	color: #999;
}
.detail-info .zfdetail-house-info .basic ul li p {
	display: block;
	float: left;
	margin-left: 40px;
	width: 388px;
	color: #333;
}
.detail-info .zfdetail-house-info .basic ul li p a {
	color: #698ae8;
}
.detail-info .zfdetail-house-info .basic ul li p a:hover {
	color: #ff5200;
}
.detail-info .zfdetail-house-info .basic ul li s {
	background: url(../img/ico_map.gif);
	width: 13px;
	height: 18px;
	display: inline-block;
	margin-left: 4px;
	cursor: pointer;
}
.detail-info .new-house-info {
	width: 580px;
	float: right;
	box-sizing: border-box;
	padding: 20px 10px 20px 0px;
	border: 1px solid #ededed;
}
.detail-info .new-house-info .house-price {
	font-size: 18px;
	color: #e91c35;
}
.detail-info .news-house-right-top {
	padding-left: 30px;
}
.detail-info .new-house-info .house-price span {
	font-size: 16px;
}
.detail-info .new-house-info .house-price em {
	font-size: 30px;
}
.detail-info .new-house-info .house-price-timeout {
	font-size: 12px;
	padding-top: 10px;
	color: #a9b6ca;
}
.detail-info .new-house-info .house-price-timeout span {
	font-size: 14px;
}
.detail-info .new-house-info .house-price-tool {
	text-align: right;
	font-size: 14px;
	color: #999;
	padding-top: 20px;
}
.detail-info .new-house-info .house-price-tool a {
	color: #999;
	font-size: 13px;
}
.detail-info .new-house-info .news-house-box {
	padding: 0 30px;
	margin-top: 5px;
	width: 490px;
	height: auto;
}
.detail-info .new-house-info .news-house-box .time {
	font-size: 16px;
	color: #e91c35;
	margin-top: 20px;
}
.detail-info .new-house-info .news-house-box .time i {
	background-color: #e91c35;
	padding: 1px 2px;
	color: #fff;
	margin: 0 2px;
}
.detail-info .new-house-info .news-house-base {
	margin-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}
.detail-info .new-house-info .news-house-base li {
	height: 29px;
	line-height: 29px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333;
	font-size: 14px;
}
.detail-info .new-house-info .news-house-base li label {
	color: #999;
}
.detail-info .new-house-info .news-house-base li a {
	color: #999;
	margin-left: 8px;
}
.detail-info .new-house-info .news-house-base li a .lpt_icon {
	background: url(../img/icon_tixing.png) no-repeat 0 0;
	display: inline-flex;
	width: 14px;
	height: 14px;
	margin-right: 4px;
	_margin-right: 2px;
	overflow: hidden;
}
.detail-info .new-house-info .news-house-base li span {
	width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.detail-info .new-house-info .news-house-base li span a {
	color: #6d798c;
}
.detail-info .new-house-info .new-house-telphone {
	margin-top: 10px;
}
.detail-info .new-house-info .new-house-telbox {
	color: #D32F2F;
	font-size: 28px;
}
.detail-info .new-house-info .new-house-telbox .telx {
	float: left;
	width: auto;
	font-family: dinot-bold;
	color: #333;
	font-size: 30px;
}
.detail-info .new-house-info .new-house-telbox .telx i {
	font-size: 14px;
	color: #a6a6a6;
	font-weight: normal;
	margin-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.detail-info .new-house-info .new-house-telbox .telx b {
	font-size: 14px;
}
.detail-info .new-house-info .new-house-telbox span {
	padding: 2px 5px;
	margin-right: 20px;
	border-radius: 2px;
}
.detail-info .new-house-info .new-house-telbox span i {
	font-size: 30px;
}
.detail-info .new-house-info .new-house-telqrcode {
	position: relative;
	margin-top: 10px;
}
.detail-info .new-house-info .new-house-telqrcode span {
	border-radius: 2px;
	border: 1px solid #CEE2F7;
	color: #5186ff;
	font-size: 14px;
	box-shadow: 1px 1px 2px #EEF2FB;
	padding: 5px 15px;
}
.detail-info .new-house-info .new-house-qrcode {
	position: absolute;
	display: none;
	color: #425571;
	text-align: center;
	padding-top: 20px;
	top: 27px;
	left: 0;
	width: 115px;
	height: 117px;
	background-image: url(../img/qrcode-tel-bg.png);
	background-repeat: no-repeat;
}
.detail-info .new-house-info .new-house-qrcode img {
	width: 110px;
	height: 110px;
	margin-top: 3px;
}
.detail-info .new-house-info .new-house-telqrcode:hover .new-house-qrcode {
	display: block;
}
.detail-info .new-house-info button {
	margin-top: 30px;
	text-align: center;
	cursor: pointer;
	width: 180px;
	float: left;
	border-radius: 3px;
	font-size: 16px;
	height: 44px;
	line-height: 44px;
	background: #ffefe7;
	border: none;
	margin-right: 15px;
	color: #ff6600;
	box-shadow: none;
}
.detail-info .new-house-info button+button {
	background: #ff5200;
	color: #fff;
}
.detail-info .new-house-info .consult-now.special {
	margin-top: 18px;
	height: 50px;
	line-height: 50px;
}
.detail-info .new-house-info .news-house-base.special li {
	height: 35px;
	overflow: hidden;
}
.detail-info .zfdetail-house-info .broker-info .address {
	font-size: 14px;
	color: #425571;
	padding-bottom: 15px;
	line-height: 30px;
	line-height: 1;
}
.detail-info .zfdetail-house-info .broker-info .address i {
	font-size: 20px;
	color: #e91c35;
}
.detail-info .zfdetail-house-info .broker-info .address span {
	display: inline-block;
	width: 290px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.detail-info .zfdetail-house-info .broker-info .address a {
	color: #688cc1;
}
.detail-info .zfdetail-house-info .house-tag-box {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin-top: 10px;
	padding-top: 20px;
}
.detail-info .zfdetail-house-info .house-tag-box li {
	width: 33.33%;
	float: left;
	text-align: center;
	margin-bottom: 25px;
	font-size: 14px;
	color: #666;
}
.detail-info .zfdetail-house-info .house-tag-box li .house-tag {
	font-size: 18px;
	color: #333;
	padding-top: 18px;
	font-weight: bold;
}
.detail-info .zfdetail-house-info .broker-info {
	padding-top: 30px;
}
.detail-info .zfdetail-house-info .broker-info .broker-avatar {
	width: 137px;
}
.detail-info .zfdetail-house-info .broker-info .broker-avatar img {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	float: left;
	border-radius: 50%;
}
.detail-info .zfdetail-house-info .broker-info dl {
	float: left;
	width: 399px;
	overflow: hidden;
}
.noyongjin dt {
	margin-top: 15px
}
.detail-info .zfdetail-house-info .broker-info dl dt {
	font-size: 14px;
	line-height: 36px;
	color: #999;
}
.detail-info .zfdetail-house-info .broker-info dl dd {
	display: block;
	float: left;
	margin-top: 10px;
	font-size: 22px;
	line-height: 22px;
	color: #ff5200;
	font-weight: bold;
}
.detail-info .zfdetail-house-info .broker-info dl dd .iconfont {
	font-size: 22px;
}
.detail-info .zfdetail-house-info .broker-info dl ddd {
	line-height: 30px;
	color: #999;
}
.detail-info .zfdetail-house-info .broker-info dl b {
	line-height: 38px;
	font-size: 22px;
	color: #333;
	margin-right: 10px;
}
.detail-info .zfdetail-house-info .broker-info .dialog {
	width: 85px;
	height: 40px;
	background-color: rgb(50, 163, 242);
	display: block;
	float: left;
	margin-bottom: 5px;
	margin-left: 20px;
	cursor: pointer;
}
.detail-info .zfdetail-house-info .broker-info .dialog img {
	width: 20px;
	height: 18px;
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 0px;
}
.detail-info .zfdetail-house-info .broker-info .broker-avatar p {
	color: #425571;
}
.detail-info .zfdetail-house-info .broker-info .broker-avatar .broker-name {
	font-size: 18px;
	padding: 5px 0 10px;
}
.detail-info .zfdetail-house-info .broker-info .broker-qrcode-phone {
	width: 100px;
	color: #425571;
	font-size: 12px;
	text-align: center;
}
.detail-info .zfdetail-house-info .broker-info .broker-qrcode-phone img {
	width: 100px;
	height: 100px;
}
.detail-info .zfdetail-house-info .house-telphone {
	font-size: 20px;
	color: #e91c35;
	padding-left: 10px;
	margin-top: 10px;
}
.detail-info .zfdetail-house-info .house-telphone i {
	font-size: 20px;
}
.detail-info .zfdetail-house-info .house-consult {
	padding: 0 10px;
	margin-top: 20px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.detail-info .zfdetail-house-info .house-consult a {
	display: block;
	background-color: #e91c35;
	color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #ccc;
	font-size: 18px;
}
.detail-info .zfdetail-house-info .house-first-pay em {
	display: inline-block;
	padding: 0 8px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid #D32F2F;
	border-radius: 25px;
	color: #D32F2F;
}
.detail-content .detail-row .titlezf {
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 400;
	color: #222;
	border-bottom: 1px solid #f2f2f2;
}
.detail-content .detail-row .zfphoto-lists {
	font-size: 0;
	padding-bottom: 20px;
	width: 900px;
	margin: 0 auto;
}
.detail-content .detail-row .zfphoto-lists li {
	width: 210px;
	height: 190px;
	margin-top: 20px;
	float: left;
	text-align: center;
	font-size: 12px;
	margin-right: 20px;
	display: inline-block;
}
.detail-content .detail-row .zfphoto-lists li img {
	width: 100%;
	height: 160px;
}
.detail-content .detail-row .zfphoto-lists li:nth-child(4n) {
	margin-right: 0;
}
.right-row .esrecommend>h1 {
	padding-left: 20px;
	/* padding-top: 16px; */
	padding-bottom: 14px;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	border-bottom: 1px solid #eaeaea;
	height: 30px;
	line-height: 37px;
}
.right-row .esrecommend>h1 .shugang {
	display: inline-block;
	width: 4px;
	height: 18px;
	background: #ff5200;
	line-height: 55px;
	margin-right: 5px;
	float: left;
	margin-top: 11px;
}
.right-row .esrecommend ul {
}

.right-row .esrecommend ul li {
	overflow: hidden;
	height: 80px;
	font-size: 16px;
	padding: 10px 20px 0px 20px;
	padding-right: 0;
}
.right-row .esrecommend ul li a {
	text-decoration: none;
}
.right-row .esrecommend ul li a:hover div {
	color: #333
}
.right-row .esrecommend ul li dl {
	overflow: hidden;
	width: 372px;
	line-height: 38px;
}
.right-row .esrecommend ul li dl dt {
	float: left;
	width: 151px;
}
.right-row .esrecommend ul li dl dd {
	float: left;
	width: 96px;
	color: #999;
}
.right-row .esrecommend ul li dl dd span {
	color: #ff5200;
}
.right-row .esrecommend ul li div {
	overflow: hidden;
	font-size: 14px;
}
.right-row .esrecommend ul li div img {
	display: block;
	float: left;
	width: 95px;
	height: 75px;
	margin-right: 15px;
}
.right-row .esrecommend ul li div p {
	text-align: left;
	line-height: 21px;
	color: #888787;
	font-size: 14px;
	width: 110px;
	float: left;
}
.right-row .esrecommend ul li div span {
	font-size: 16px;/* font-weight: bold; */
	color: #ff5200;
	float: left;
}
.right-row .esrecommend ul li div s {
	text-decoration: none;
}
.right-row .esrecommend ul li div i {
	font-size: 14px;
	color: #ff5200;
}
.right-row .esrecommend ul li div b {
	color: #333;
	font-weight: normal;
	width: 110px;
	display: inline-block;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
	white-space: nowrap;
}
.right-row .esrecommend ul>a {
	text-align: center;
	display: block;
	color: #ff5200;
	line-height: 30px;
	border-top: 1px solid #eaeaea;
	margin-top: 5px;
}

