{include file="public/layout" /}
<body>
	<div class="layui-fluid" id="LAY-component-layer-list">
		<div class="layui-row">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="web-system">
						<div class="layui-tab layui-tab-card">
							{include file="system/bar" /}
							<div class="layui-tab-content" style="padding:10px 0">
								<div class="layui-tab-item layui-show">
									<div class="layui-row layui-col-space15">

										<div class="layui-col-md12">
											<div class="layui-card">
												<div class="layui-card-body" pad15>
													<div class="layui-form" wid100 lay-filter="">
														<div class="layui-card-header">微信支付配置</div>
														<div class="layui-form-item layadmin-layer-demo">
															<label class="layui-form-label">支付方式</label>
															<div class="layui-input-inline">
																<input type="checkbox" lay-filter="wechat[is_open_wechat]" lay-skin="switch" lay-text="开启|关闭" {if condition="isset($wechat.is_open_wechat) AND $wechat.is_open_wechat eq 0"}checked{/if}>
																<input type="hidden" name="wechat[is_open_wechat]" value="{$wechat.is_open_wechat|default='0'}" />

															</div>
														</div>
														<div class="layui-form-item">
															<label class="layui-form-label"><b>*</b>微信AppId</label>
															<div class="layui-input-inline">
																<input id="appid" name="wechat[appid]"  lay-verify="required" value="{$wechat.appid|default=''}" class="layui-input" type="text"/>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的微信公众平台中的微信AppId，用于微信支付。</div>
														</div>
														<div class="layui-form-item">
															<label class="layui-form-label"><b>*</b>微信商户号</label>
															<div class="layui-input-inline">
																<input id="mchid" name="wechat[mchid]"  lay-verify="required" value="{$wechat.mchid|default=''}" class="layui-input" type="text"/>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的微信公众平台中的微信商户号，用于微信支付。</div>
														</div>
														<div class="layui-form-item">
															<label class="layui-form-label"><b>*</b>微信KEY值</label>
															<div class="layui-input-inline">
																<input id="key" name="wechat[key]"  lay-verify="required" value="{$wechat.key|default=''}" class="layui-input" type="text"/>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的微信公众平台中的微信KEY值，用于微信支付。</div>
														</div>


														<div class="layui-form-item">
															<div class="layui-input-block">
																<button class="layui-btn" lay-submit lay-filter="formSubmitWechat">确认提交</button>
																<a href="https://www.eyoucms.com/plus/view.php?aid=8829" target="_blank" style="font-size: 12px;padding-left: 10px;top: 30px">不会配置？</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="layui-col-md12">
											<div class="layui-card">
												<div class="layui-card-body" pad15>
													<div class="layui-form" wid100 lay-filter="">
														<div class="layui-card-header">支付宝支付配置</div>
														<div class="layui-form-item layadmin-layer-demo">
															<label class="layui-form-label">支付方式</label>
															<div class="layui-input-inline">
																<input type="checkbox" lay-filter="alipay[is_open_alipay]" lay-skin="switch" lay-text="开启|关闭" {if condition="isset($alipay.is_open_alipay) AND $alipay.is_open_alipay eq 0"}checked{/if}>
																<input type="hidden" name="alipay[is_open_alipay]" value="{$alipay.is_open_alipay|default='0'}" />
															</div>
														</div>
														<div class="layui-form-item layadmin-layer-demo">
															<label class="layui-form-label">使用支付宝版本</label>
															<div class="layui-input-inline">
																<input type="radio" lay-filter="version" name="alipay[version]" {if condition="empty($php_version) && empty($alipay.version)"}checked="checked"{/if} value="0"  title="新版接口">
																<input type="radio" lay-filter="version" name="alipay[version]" {if condition="$alipay.version == 1 || $php_version == 1"}checked="checked"{/if} value="1"  title="旧版接口">
															</div>
														</div>
														<div class="layui-form-item "  >
															<label class="layui-form-label"><b>*</b>支付宝APPID</label>
															<div class="layui-input-inline">
																<input id="app_id" name="alipay[app_id]"   value="{$alipay.app_id|default=''}" class="layui-input" type="text"/>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的支付宝APPID，用于支付宝支付。</div>
														</div>
														<div  class="layui-form-item "  >
															<label class="layui-form-label"><b>*</b>商户私钥</label>
															<div class="layui-input-inline">
																<textarea rows="5" cols="50" id="merchant_private_key" name="alipay[merchant_private_key]" style="height:120px;">{$alipay.merchant_private_key}</textarea>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的商户私钥，用于支付宝支付。</div>
														</div>
														<div class="layui-form-item " >
															<label class="layui-form-label"><b>*</b>支付宝公钥</label>
															<div class="layui-input-inline">
																<textarea rows="5" cols="50" id="alipay_public_key" name="alipay[alipay_public_key]" style="height:106px;">{$alipay.alipay_public_key}</textarea>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的支付宝公钥，用于支付宝支付。</div>
														</div>

														<div class="layui-form-item old_version"  {if condition="empty($php_version) && empty($alipay.version)"}style="display:none;"{/if}>
															<label class="layui-form-label"><b>*</b>支付宝账号</label>
															<div class="layui-input-inline">
																<input id="account" name="alipay[account]"   value="{$alipay.account|default=''}" class="layui-input" type="text"/>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的支付宝账号，用于支付宝支付。</div>
														</div>
														<div class="layui-form-item old_version"  {if condition="empty($php_version) && empty($alipay.version)"}style="display:none;"{/if}>
															<label class="layui-form-label"><b>*</b>交易安全校验码</label>
															<div class="layui-input-inline">
																<input id="code" name="alipay[code]"  value="{$alipay.code|default=''}" class="layui-input" type="text"/>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的交易安全校验码，用于支付宝支付。</div>
														</div>
														<div class="layui-form-item old_version"  {if condition="empty($php_version) && empty($alipay.version)"}style="display:none;"{/if}>
															<label class="layui-form-label"><b>*</b>合作者身份ID</label>
															<div class="layui-input-inline">
																<input id="id" name="alipay[id]"  value="{$alipay.id|default=''}" class="layui-input" type="text"/>
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">请输入您的合作者身份ID，用于支付宝支付。</div>
														</div>

														<div class="layui-form-item">
															<div class="layui-input-block">
																<button class="layui-btn" lay-submit lay-filter="formSubmitAlipay">确认提交</button>
															</div>
														</div>
													</div>
										<div class="layui-col-md12">
											<div class="layui-card">
												<div class="layui-card-body" pad15>
													<div class="layui-card-header">邮件配置</div>
													<div class="layui-form" wid100 lay-filter="">
														<div class="layui-form-item layadmin-layer-demo">
															<label class="layui-form-label">邮件模板</label>
															<div class="layui-input-inline">
																<a id="smtp_tpl_list" style="cursor:pointer;color:#3db9b2;line-height: 34px;">模板设置</a>
															</div>
														</div>
														<div class="layui-form-item">
															<label class="layui-form-label"><b>*</b>SMTP服务器</label>
															<div class="layui-input-inline">
																<input type="text" name="smtp_server" value="{$config.smtp_server|default=''}" lay-verify="required"
																 class="layui-input">
															</div>
															<div class="layui-form-inline2">发送邮箱的smtp地址，如: smtp.qq.com或smtp.gmail.com</div>
														</div>
														<div class="layui-form-item">
															<label class="layui-form-label"><b>*</b>SMTP端口号</label>
															<div class="layui-input-inline">
																<input type="text" name="smtp_port" lay-verify="required|number" value="{$config.smtp_port|default=465}"
																 class="layui-input">
															</div>
															<div class="layui-form-mid layui-word-aux ey_helptips"></div>
															<div class="layui-form-inline2 ey_helptips_txt">smtp的端口，默认为465，具体请参看各STMP服务商的设置说明。</div>
															<div class="layui-form-inline2"><span style="color: red;">注意：如果使用阿里云服务器或Gmail，请将端口设为465，其他的可以尝试端口设为25</span></div>
														</div>
														<div class="layui-form-item">
															<label class="layui-form-label"><b>*</b>邮箱账号</label>
															<div class="layui-input-inline">
																<input type="text" name="smtp_user" lay-verify="required|email" value="{$config.smtp_user|default=''}"
																 class="layui-input">
															</div>
														</div>
														<div class="layui-form-item">
															<label class="layui-form-label"><b>*</b>邮箱授权码</label>
															<div class="layui-input-inline">
																<input type="text" name="smtp_pwd" value="{$config.smtp_pwd|default=''}" lay-verify="required" class="layui-input">
															</div>
															<div class="layui-input-inline layui-btn-container">
																<a href="http://www.ejucms.com/index.php?m=plugins&c=Ask&a=details&ask_id=8" target="_blank" style="border-color:#eee"
																 class="layui-btn-sm fl">如何获取？</a>
															</div>
														</div>
														<div class="layui-form-item">
															<label class="layui-form-label"><b>*</b>测试邮箱</label>
															<div class="layui-input-inline">
																<input type="text" name="smtp_from_eamil" lay-verify="required|email" value="{$config.smtp_from_eamil|default=''}"
																 class="layui-input">
															</div>
															<div class="layui-input-inline">
																<button class="layui-btn layui-btn-sm" lay-submit lay-filter="sendEmail">发送</button>
															</div>
														</div>
														<div class="layui-form-item">
															<div class="layui-input-block">
																<button class="layui-btn" lay-submit lay-filter="formSubmit">确认提交</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="layui-col-md12">
										    <div class="layui-card">
										        <div class="layui-card-body" pad15>
										            <div class="layui-form" wid100 lay-filter="">
									                  <div class="layui-card-header">短信配置</div>
										                <div class="layui-form-item layadmin-layer-demo">
										                    <label class="layui-form-label">短信模板</label>
										                    <div class="layui-input-inline">
										                        <a id="sms_tpl_list" style="cursor:pointer;color:#3db9b2;line-height: 34px;">模板设置</a>
										                    </div>
										                </div>
										                <div class="layui-form-item">
										                    <label class="layui-form-label"><b>*</b>选择短信平台</label>
										                    <div class="layui-input-inline">
																<select name="sms_platform" id="sms_platform">
																	<option value="1" {if condition="isset($config.sms_platform) && $config.sms_platform eq 1"}selected="selected"{/if}>阿里云短信</option>
																</select>
										                    </div>
										                </div>
										                <div class="layui-form-item">
										                    <label class="layui-form-label"><b>*</b>短信平台[appkey]</label>
										                    <div class="layui-input-inline">
										                        <input id="sms_appkey" name="sms_appkey"  lay-verify="required" value="{$sms_config.sms_appkey|default=''}" class="layui-input" type="text"/>
										                    </div>
										                    <div class="layui-form-mid layui-word-aux ey_helptips"></div>
										                    <div class="layui-form-inline2 ey_helptips_txt">短信平台配置appkey/keyid</div>
										                </div>
										                <div class="layui-form-item">
										                    <label class="layui-form-label"><b>*</b>短信平台[secretKey]</label>
										                    <div class="layui-input-inline">
										                        <input id="sms_secretkey" name="sms_secretkey"  lay-verify="required" value="{$sms_config.sms_secretkey|default=''}" class="layui-input" type="text"/>
										                    </div>
										                    <div class="layui-form-mid layui-word-aux ey_helptips"></div>
										                    <div class="layui-form-inline2 ey_helptips_txt">短信平台配置secretKey</div>
										                </div>
										                <div class="layui-form-item">
										                    <label class="layui-form-label">公司名/品牌名/产品名</label>
										                    <div class="layui-input-inline">
										                        <input id="sms_product" name="sms_product" value="{$sms_config.sms_product|default=''}" class="layui-input" type="text"/>
										                    </div>
										                    <div class="layui-form-mid layui-word-aux ey_helptips"></div>
										                    <div class="layui-form-inline2 ey_helptips_txt">公司名/品牌名/产品名</div>
										                </div>
										                <div class="layui-form-item">
										                    <label class="layui-form-label"><b>*</b>短信码超时时间</label>
										                    <div class="layui-input-inline">
										                        <select id="sms_time_out" name="sms_time_out">
										                            <option value="60" {if condition="isset($sms_config.sms_time_out) && $sms_config.sms_time_out eq 60"}selected="selected"{/if}>1分钟</option>
										                            <option value="120"{if condition="isset($sms_config.sms_time_out) && $sms_config.sms_time_out eq 120"}selected="selected"{/if}>2分钟</option>
										                            <option value="300"{if condition="isset($sms_config.sms_time_out) && $sms_config.sms_time_out eq 300"}selected="selected"{/if}>5分钟</option>
										                            <option value="600"{if condition="isset($sms_config.sms_time_out) && $sms_config.sms_time_out eq 600"}selected="selected"{/if}>10分钟</option>
										                            <option value="1200"{if condition="isset($sms_config.sms_time_out) && $sms_config.sms_time_out eq 1200"}selected="selected"{/if}>20分钟</option>
										                            <option value="1800"{if condition="isset($sms_config.sms_time_out) && $sms_config.sms_time_out eq 1800"}selected="selected"{/if}>30分钟</option>
										                        </select>
										                    </div>
										                    <div class="layui-form-mid layui-word-aux ey_helptips"></div>
										                    <div class="layui-form-inline2 ey_helptips_txt">发送短信验证码间隔时间</div>
										                </div>
										                <div class="layui-form-item">
										                    <label class="layui-form-label"><b>*</b>测试接收的手机号码</label>
										                    <div class="layui-input-inline">
										                        <input value="{$sms_config.sms_test_mobile|default=''}" name="sms_test_mobile" id="sms_test_mobile" class="layui-input" type="text">
										                    </div>
										                    <div class="layui-input-inline">
										                        <button class="layui-btn layui-btn-sm" lay-submit lay-filter="sendMobile">发送</button>
										                    </div>
										                </div>
										                <div class="layui-form-item">
										                    <div class="layui-input-block">
										                        <button class="layui-btn" lay-submit lay-filter="formSubmitSms">确认提交</button>
										                    </div>
										                </div>
										            </div>
										        </div>
										    </div>
										</div>
										<div class="layui-col-md12">
											<div class="layui-card">
												<div class="layui-card-body" pad15>
													<div class="layui-form" wid100 lay-filter="">
														<div class="layui-card-header">图片加速配置</div>
															<div class="layui-form-item">
																<label class="layui-form-label">加速配置</label>
																<div class="layui-input-block">
																	<input type="checkbox" lay-filter="speed_open" lay-skin="switch" lay-text="开启|关闭" {if condition="isset($speed.speed_open) && $speed.speed_open eq 1"}checked{/if}>
																	<input type="hidden" id="speed_open" name="speed_open" value="{$speed.speed_open|default='0'}" />
																</div>
															</div>
															<div class="layui-form-item">
																<label class="layui-form-label"><b>*</b>选择加速平台</label>
																<div class="layui-input-inline">
																	<select name="speed_platform" id="speed_platform">
																		<option value="1" {if condition="isset($speed.speed_platform) && $speed.speed_platform eq 1"}selected="selected"{/if}>七牛云</option>
																	</select>
																</div>
															</div>
															<div class="layui-form-item ey-text">
																<label class="layui-form-label"><b>*</b>AccessKey</label>
																<div class="layui-input-inline">
																	<input type="text" id="access_key" name="access_key" value="{$Qiniuyun.access_key|default=''}" class="layui-input ey-input" >
																</div>
																<div class="layui-form-mid layui-word-aux ey_helptips"></div>
																<div class="layui-form-inline2 ey_helptips_txt">七牛云个人中心-》密钥管理-》AK</div>
															</div>
															<div class="layui-form-item ey-text">
																<label class="layui-form-label"><b>*</b>SecretKey</label>
																<div class="layui-input-inline">
																	<input type="text" id="secret_key" name="secret_key" value="{$Qiniuyun.secret_key|default=''}" class="layui-input ey-input">
																</div>
																<div class="layui-form-mid layui-word-aux ey_helptips"></div>
																<div class="layui-form-inline2 ey_helptips_txt">七牛云个人中心-》密钥管理-》SK</div>
															</div>
															{notempty name="$Qiniuyun.bucket"}
															<div class="layui-form-item">
																<label class="layui-form-label"><b>*</b>存储空间名</label>
																<div class="layui-input-inline">
																	<select name="bucket" id="bucket"  onchange="SelectDomain()">
																		{volist name='$ListBucket' id='vo'}
																		<option value="{$vo}" {eq name="$vo" value="$Qiniuyun.bucket"} selected="selected" {/eq}>{$vo}</option>
																		{/volist}
																	</select>
																</div>
																<div class="layui-form-mid layui-word-aux ey_helptips"></div>
																<div class="layui-form-inline2 ey_helptips_txt">要修改此项，请先到七牛云创建存储空间名，再选择对应的存储空间名。</div>
															</div>
															<div class="layui-form-item">
																<label class="layui-form-label"><b>*</b>访问域名</label>
																<div class="layui-input-inline">
																	<select name="domain" id="domain">
																		{volist name='$ListDomain' id='vo'}
																		<option value="{$vo}" {eq name="$vo" value="$Qiniuyun.domain"} selected="selected" {/eq}>{$vo}</option>
																		{/volist}
																	</select>
																</div>
																<div class="layui-form-mid layui-word-aux ey_helptips"></div>
																<div class="layui-form-inline2 ey_helptips_txt">要修改此项，请先到七牛云绑定域名等待生效后，再选择对应七牛云中已保存的外链默认域名。</div>
															</div>
															{/notempty}
															<div class="layui-form-item">
																<div class="layui-input-block">
																	<input type="hidden" name="tcp" value="3">
																	<input type="hidden" name="tabase" value="{$Request.param.tabase}">
																	<button class="layui-btn" lay-submit lay-filter="formSubmitQiniu">确认提交</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			layui.config({
				base: '__SKIN__/' //静态资源所在路径
					,
				version: '{$version}'
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'form'], function() {
				var $ = layui.$,
					layer = layui.layer,
					form = layui.form;
                // 监听开关
                form.on('switch', function(data){
                    var elemId = data.elem.attributes['lay-filter']['nodeValue'];
                    if (data.elem.checked) {
                        this.value = 1;
                    } else {
                        this.value = 0;
                    }
                    $("#"+elemId).val(this.value);
                });
				$('#smtp_tpl_list').click(function() {
					var iframes = layer.open({
						type: 2,
						title: '邮件模板',
						fixed: true, //不固定
						shadeClose: false,
						shade: 0.3,
						area: ['800px', '400px'],
						content: "{:url('System/smtp_tpl')}"
					});
				});
				
				$('#sms_tpl_list').click(function(){
				    var iframes = layer.open({
				        type: 2,
				        title: '短信模板',
				        fixed: true, //不固定
				        shadeClose: false,
				        shade: 0.3,
				        area: ['900px', '450px'],
				        content: "{:url('System/sms_tpl')}"
				    });
				});
				//监听版本  version  radio
                form.on('radio(version)', function(data){
                    console.log(data);
                    var switch_set = data.value;
                    if (switch_set == 0) {
                        if (php_version(true)) {
//                            $(".new_version").show();
                            $(".old_version").hide();
                        }
                    }else if (switch_set == 1) {
//                        $(".new_version").hide();
                        $(".old_version").show();
                    }
                    form.render();
                });
				// 监听开关
                form.on('switch', function(data){
                    var elemId = data.elem.attributes['lay-filter']['nodeValue'];
                    if (data.elem.checked) {
                        this.value = 1;
                    } else {
                        this.value = 0;
                    }
                    $("input[name='"+elemId+"']").val(this.value);
                });
				form.on('submit(sendEmail)', function(data) {
					if (data.field.smtp_from_eamil == '') {
						showErrorMsg('接收邮箱的地址不能为空！');
						$('input[name=smtp_from_eamil]').focus();
						return false;
					} else {
						var that = this;
						var load = layer_loading();
						var txt = $(that).html();
						$(that).html('发送中…');

						data.field._ajax = 1;
						$.ajax({
							type: "post",
							data: data.field,
							dataType: 'json',
							url: "{:url('System/send_email')}",
							success: function(res) {
								layer.close(load);
								$(that).html(txt);
								if (res.code == 1) {
									layer.msg(res.msg, {
										icon: 1,
										time: 1000
									});
								} else {
									if (res.data.icon && res.data.icon == 4) {
										layer.alert(res.msg, {
											icon: res.data.icon,
											title: false,
											closeBtn: false
										});
									} else {
										showErrorMsg(res.msg);
									}
								}
							},
							error: function() {
								layer.close(load);
								$(that).html(txt);
								showErrorAlert('发送超时！');
							}
						})
					}
					return false;
				});
				//监听微信提交
                form.on('submit(formSubmitWechat)', function(data) {
                    var load = layer_loading();
                    data.field._ajax = 1;
                    $.ajax({
                        type: 'post',
                        url: "{:url('System/wechat_set')}",
                        data: data.field,
                        dataType: 'json',
                        success: function(res) {
                            layer.close(load); //关闭loading
                            if (res.code == 1) {
                                layer.msg(res.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function() {
                                    window.location.reload();
                                });
                            } else {
                                if (res.data.icon && res.data.icon == 4) {
                                    layer.alert(res.msg, {
                                        icon: res.data.icon,
                                        title: false,
                                        closeBtn: false
                                    }, function() {
                                        window.location.reload();
                                    });
                                } else {
                                    showErrorMsg(res.msg);
                                }
                            }
                        },
                        error: function(e) {
                            layer.close(load); //关闭loading
                            showErrorAlert();
                        }
                    });
                    return false;
                });
                //监听支付宝支付提交
                form.on('submit(formSubmitAlipay)', function(data) {
                    var load = layer_loading();
                    data.field._ajax = 1;
                    $.ajax({
                        type: 'post',
                        url: "{:url('System/alipay_set')}",
                        data: data.field,
                        dataType: 'json',
                        success: function(res) {
                            layer.close(load); //关闭loading
                            if (res.code == 1) {
                                layer.msg(res.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function() {
                                    window.location.reload();
                                });
                            } else {
                                if (res.data.icon && res.data.icon == 4) {
                                    layer.alert(res.msg, {
                                        icon: res.data.icon,
                                        title: false,
                                        closeBtn: false
                                    }, function() {
                                        window.location.reload();
                                    });
                                } else {
                                    showErrorMsg(res.msg);
                                }
                            }
                        },
                        error: function(e) {
                            layer.close(load); //关闭loading
                            showErrorAlert();
                        }
                    });
                    return false;
                });
				//监听邮件提交
				form.on('submit(formSubmit)', function(data) {
					var load = layer_loading();
					data.field._ajax = 1;
					$.ajax({
						type: 'post',
						url: "{:url('System/smtp')}",
						data: data.field,
						dataType: 'json',
						success: function(res) {
							layer.close(load); //关闭loading
							if (res.code == 1) {
								layer.msg(res.msg, {
									icon: 1,
									time: 1000
								}, function() {
									window.location.reload();
								});
							} else {
								if (res.data.icon && res.data.icon == 4) {
									layer.alert(res.msg, {
										icon: res.data.icon,
										title: false,
										closeBtn: false
									}, function() {
										window.location.reload();
									});
								} else {
									showErrorMsg(res.msg);
								}
							}
						},
						error: function(e) {
							layer.close(load); //关闭loading
							showErrorAlert();
						}
					});
					return false;
				});
				//测试手机发送
                form.on('submit(sendMobile)', function(data){
                    if (data.field.sms_test_mobile == '') {
                        showErrorMsg('测试手机号码不能为空！');
                        $('input[name=sms_test_mobile]').focus();
                        return false;
                    } else {
                        var that = this;
                        var load = layer_loading();
                        var txt = $(that).html();
                        $(that).html('发送中…');
                        data.field._ajax = 1;
                        $.ajax({
                            type: "post",
                            data: data.field,
                            dataType: 'json',
                            url: "{:url('System/send_mobile')}",
                            success: function (res) {
                                layer.close(load);
                                $(that).html(txt);
                                if (res.code == 1) {
                                    layer.msg('发送成功', {icon: 1, time:1000});
                                } else {
                                    showErrorMsg(res.msg);
                                }
                            },
                            error: function(){
                                layer.close(load);
                                $(that).html(txt);
                                showErrorAlert('发送超时！');
                            }
                        })
                    }
                    return false;
                });
                //监听提交短信
                form.on('submit(formSubmitSms)', function(data) {
                    var load = layer_loading();
                    data.field._ajax = 1;
                    $.ajax({
                        type: 'post',
                        url: "{:url('System/sms')}",
                        data: data.field,
                        dataType: 'json',
                        success: function(res) {
                            layer.close(load); //关闭loading
                            if (res.code == 1) {
                                layer.msg(res.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function() {
                                    window.location.reload();
                                });
                            } else {
                                if (res.data.icon && res.data.icon == 4) {
                                    layer.alert(res.msg, {
                                        icon: res.data.icon,
                                        title: false,
                                        closeBtn: false
                                    }, function() {
                                        window.location.reload();
                                    });
                                } else {
                                    showErrorMsg(res.msg);
                                }
                            }
                        },
                        error: function(e) {
                            layer.close(load); //关闭loading
                            showErrorAlert();
                        }
                    });
                    return false;
                });
                //监听图片提交
                form.on('submit(formSubmitQiniu)', function(data) {
                    var load = layer_loading();
                    data.field._ajax = 1;
                    $.ajax({
                        type: 'post',
                        url: "{:url('System/qiniu')}",
                        data: data.field,
                        dataType: 'json',
                        success: function(res) {
                            layer.close(load); //关闭loading
                            if(res.code == 1){
                                layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                                    window.location.reload();
                                });
                            }else{
                                showErrorMsg(res.msg);
                            }
                        },
                        error: function(e) {
                            layer.close(load); //关闭loading
                            showErrorAlert();
                        }
                    });
                    return false;
                });
			});
            // 查询选中的存储空间名对应的访问域名
            function SelectDomain(){
                layer_loading('正在获取访问域名');
                $.ajax({
                    url: "{:weapp_url('Qiniuyun/Qiniuyun/select_domain')}",
                    data: $('#post_form').serialize(),
                    type:'post',
                    dataType:'json',
                    success:function(res){
                        layer.closeAll();
                        if ('1' == res.code) {
                            // $('#domain').val(res.data);
                            $('#domain').empty().html(res.data);
                        }else{
                            layer.alert(res.msg, {icon:0});
                        }
                    }
                });
            }
            //判断php版本
            function php_version(is){
                var php_version = 0;
                // php_version=1，表示php本版低于5.5.0，不可用新版支付方式
                if (php_version == 1) {
                    if (is == true) {
                        layer.alert('PHP版本低于5.5.0，不可用新版支付方式，请使用旧版！', {icon: 2, title:false});
                    }
                    $("#postAlipayForm input[name='alipay[version]'][value=1]").attr("checked","checked");
                    return false;
                }
                return true;
            }

		</script>

		{include file="public/footer" /}
