@charset "UTF-8";
.ui-center{display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}
.ui-bottom{display:-webkit-box;display:flex;-webkit-box-pack:end;justify-content:flex-end;-webkit-box-align:end;align-items:flex-end;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}
.arround-map-address,.details-info .lp-name,.diary-list .diary-lp h2,.head .top h1,.hot-adv a,.list-house .discount-tag,.list-house-bd .address,.list-house-bd .house-name,.list-house-bd .time,.list-lp .discount-tag,.list-lp-bd .address,.list-lp-bd .house-name,.list-lp-bd .time,.tour-house h3,.ui-active p,.ui-discount .subtit,.ui-discount h4,.ui-discount-main h4,.ui-head h1,.ui-nowrap{max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.diary-box .txt,.new-dynamic-wrap .new-dynamic .new-txt,.ui-nowrap-multi{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.clearfix:after,.clearfix:before,.ui-box-bd:after,.ui-box-bd:before,.vertical-list-lp:after,.vertical-list-lp:before{content:"";display:table}
.clearfix:after,.ui-box-bd:after,.vertical-list-lp:after{clear:both}
.pop-share-wx{position:fixed!important;left:0;right:0;max-width:750px;margin:0 auto;z-index:999;top:0}
.building-info-pic,.img-default,.list-house-hd,.list-lp-hd{background:url(../img/icon.png?v5.5) center center no-repeat;background-size:30px 30.5px}
.ui-active,.ui-border-t-style{border-top:1px dashed #eee}
.building-info-bd .building-base-info,.details-info .address,.details-info .time-wrap,.ui-border-t,.ui-pop-foot{border-top:1px solid #eee}
.diary-list>li,.group-wrap .group-list>li,.ui-border-b,.ui-head{border-bottom:1px solid #eee}
.details-info .full-hs,.m-login-bd .code,.ui-border-l,.ui-pop-foot a,.ui-pop-warp .ui-pop-body .login-box .code{border-left:1px solid #eee}
.ui-border-r{border-right:1px solid #eee}
.ui-border-tb{border-top:1px solid #eee;border-bottom:1px solid #eee}
.btn-gray-bor-l,.btn-orange-bor-l,.btn-orange-bor-m,.btn-orange-bor-s,.btn-orange-ss,.building-info-bd li,.bunner-lp .lp-icon-box a,.city-warp .city-tag a,.details-info .label span,.details-info .time-wrap .btn,.label-box dd,.list-reviews .list-reviews-pic,.m-login-bd .flex-1,.top-download .download,.ui-border-all,.ui-border-radius,.ui-discount-main .btn,.ui-form-item .phone-code,.ui-pop-warp .ui-pop-body .login-box li,.ui-voucher-back li{border:none;position:relative}
.btn-gray-bor-l:after,.btn-orange-bor-l:after,.btn-orange-bor-m:after,.btn-orange-bor-s:after,.btn-orange-ss:after,.building-info-bd li:after,.bunner-lp .lp-icon-box a:after,.city-warp .city-tag a:after,.details-info .label span:after,.details-info .time-wrap .btn:after,.label-box dd:after,.list-reviews .list-reviews-pic:after,.m-login-bd .flex-1:after,.top-download .download:after,.ui-border-all:after,.ui-border-radius:after,.ui-discount-main .btn:after,.ui-form-item .phone-code:after,.ui-pop-warp .ui-pop-body .login-box li:after,.ui-voucher-back li:after{content:'';position:absolute;box-sizing:border-box;pointer-events:none;left:0;top:0;width:200%;height:200%;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:left top;transform-origin:left top;border:1px solid #eee;border-radius:4px}
@media screen and (-webkit-min-device-pixel-ratio:2){.btn-gray-bor-l,.btn-orange-bor-l,.btn-orange-bor-m,.btn-orange-bor-s,.btn-orange-ss,.building-info-bd .building-base-info,.building-info-bd li,.bunner-lp .lp-icon-box a,.city-warp .city-tag a,.details-info .address,.details-info .full-hs,.details-info .label span,.details-info .time-wrap,.details-info .time-wrap .btn,.diary-list>li,.group-wrap .group-list>li,.label-box dd,.list-reviews .list-reviews-pic,.m-login-bd .code,.m-login-bd .flex-1,.top-download .download,.ui-active,.ui-border-all,.ui-border-b,.ui-border-l,.ui-border-r,.ui-border-radius,.ui-border-t,.ui-border-t-style,.ui-border-tb,.ui-discount-main .btn,.ui-form-item .phone-code,.ui-head,.ui-pop-foot,.ui-pop-foot a,.ui-pop-warp .ui-pop-body .login-box .code,.ui-pop-warp .ui-pop-body .login-box li,.ui-voucher-back li{border:none;position:relative}
.building-info-bd .building-base-info:after,.details-info .address:after,.details-info .full-hs:after,.details-info .time-wrap:after,.diary-list>li:after,.group-wrap .group-list>li:after,.m-login-bd .code:after,.ui-active:after,.ui-border-b:after,.ui-border-l:after,.ui-border-r:before,.ui-border-t-style:after,.ui-border-t:after,.ui-border-tb:after,.ui-border-tb:before,.ui-head:after,.ui-pop-foot a:after,.ui-pop-foot:after,.ui-pop-warp .ui-pop-body .login-box .code:after{content:'';position:absolute;box-sizing:border-box;pointer-events:none}
.ui-active:after,.ui-border-t-style:after{left:0;right:0;top:0;height:100%;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:left top;transform-origin:left top;border-top:1px dashed #eee}
.building-info-bd .building-base-info:after,.details-info .address:after,.details-info .time-wrap:after,.ui-border-t:after,.ui-border-tb:after,.ui-pop-foot:after{left:0;right:0;top:0;height:1px;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:left top;transform-origin:left top;background:#eee}
.diary-list>li:after,.group-wrap .group-list>li:after,.ui-border-b:after,.ui-border-tb:before,.ui-head:after{left:0;right:0;bottom:0;height:1px;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:left bottom;transform-origin:left bottom;background:#eee}
.details-info .full-hs:after,.m-login-bd .code:after,.ui-border-l:after,.ui-pop-foot a:after,.ui-pop-warp .ui-pop-body .login-box .code:after{left:0;top:0;width:1px;height:100%;-webkit-transform:scaleX(.5);transform:scaleX(.5);-webkit-transform-origin:left top;transform-origin:left top;background:#eee}
.ui-border-r:before{right:0;top:0;width:1px;height:100%;-webkit-transform:scaleX(.5);transform:scaleX(.5);-webkit-transform-origin:left top;transform-origin:left top;background:#eee}
}
@media screen and (-webkit-min-device-pixel-ratio:3){.btn-gray-bor-l,.btn-orange-bor-l,.btn-orange-bor-m,.btn-orange-bor-s,.btn-orange-ss,.building-info-bd .building-base-info,.building-info-bd li,.bunner-lp .lp-icon-box a,.city-warp .city-tag a,.details-info .address,.details-info .full-hs,.details-info .label span,.details-info .time-wrap,.details-info .time-wrap .btn,.diary-list>li,.group-wrap .group-list>li,.label-box dd,.list-reviews .list-reviews-pic,.m-login-bd .code,.m-login-bd .flex-1,.top-download .download,.ui-border-all,.ui-border-b,.ui-border-l,.ui-border-r,.ui-border-radius,.ui-border-t,.ui-border-tb,.ui-discount-main .btn,.ui-form-item .phone-code,.ui-head,.ui-pop-foot,.ui-pop-foot a,.ui-pop-warp .ui-pop-body .login-box .code,.ui-pop-warp .ui-pop-body .login-box li,.ui-voucher-back li{border:none;position:relative}
.building-info-bd .building-base-info:after,.details-info .address:after,.details-info .full-hs:after,.details-info .time-wrap:after,.diary-list>li:after,.group-wrap .group-list>li:after,.m-login-bd .code:after,.ui-border-b:after,.ui-border-l:after,.ui-border-r:before,.ui-border-t:after,.ui-border-tb:after,.ui-border-tb:before,.ui-head:after,.ui-pop-foot a:after,.ui-pop-foot:after,.ui-pop-warp .ui-pop-body .login-box .code:after{content:'';position:absolute;box-sizing:border-box;pointer-events:none}
.building-info-bd .building-base-info:after,.details-info .address:after,.details-info .time-wrap:after,.ui-border-t:after,.ui-border-tb:after,.ui-pop-foot:after{left:0;right:0;top:0;height:1px;-webkit-transform:scaleY(.33);transform:scaleY(.33);-webkit-transform-origin:0 0;transform-origin:0 0;background:#eee}
.diary-list>li:after,.group-wrap .group-list>li:after,.ui-border-b:after,.ui-border-tb:before,.ui-head:after{left:0;right:0;bottom:0;height:1px;-webkit-transform:scaleY(.33);transform:scaleY(.33);-webkit-transform-origin:0 100%;transform-origin:0 100%;background:#eee}
.details-info .full-hs:after,.m-login-bd .code:after,.ui-border-l:after,.ui-pop-foot a:after,.ui-pop-warp .ui-pop-body .login-box .code:after{left:0;top:0;width:1px;height:100%;-webkit-transform:scaleX(.33);transform:scaleX(.33);-webkit-transform-origin:0 0;transform-origin:0 0;background:#eee}
.ui-border-r:before{right:0;top:0;width:1px;height:100%;-webkit-transform:scaleX(.33);transform:scaleX(.33);-webkit-transform-origin:0 0;transform-origin:0 0;background:#eee}
}
.pop-share-wx,.tour-house a{display:-webkit-box!important;display:flex!important;flex-wrap:wrap}
.tour-house a{-webkit-box-align:center;align-items:center}
.pop-share-wx{-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center}
.tour-house h3{display:block;-webkit-box-flex:1;flex:1}
article,aside,blockquote,body,button,code,dd,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0;box-sizing:border-box}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;background-color:#F5F5F5!important;max-width:750px;height:100%;margin:0 auto;overflow-x:hidden}
body{font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;line-height:1.5;font-size:14px;color:#333;-webkit-user-select:none;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;outline:0;height:100%}
a{color:#333}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
fieldset,img{border:0;vertical-align:middle;width:100%;max-width:100%}
li{list-style:none}
ins{text-decoration:none}
del{text-decoration:line-through}
button,input,optgroup,option,select,textarea{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;outline:0;-webkit-appearance:none}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
input::-ms-clear,input::-ms-reveal{display:none}
input::-webkit-inner-spin-button{-webkit-appearance:none}
button{-webkit-appearance:none;border:0;background:0 0}
a{-webkit-touch-callout:none;text-decoration:none}
:focus{outline:0;-webkit-tap-highlight-color:transparent}
em,i{font-style:normal}
input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif,'微软雅黑';font-size:16px!important;outline:0;color:#333;border:none;border-radius:0;-webkit-appearance:none;-webkit-tap-highlight-color:transparent}
textarea{word-wrap:break-word;resize:none}
input[type=button],input[type=submit]{cursor:pointer}
input[placeholder]{color:#555}
input[type=text]:focus,select:focus,textarea:focus{color:#222}
input[type=text]::-ms-clear{display:none}
input[disabled=disabled]{cursor:not-allowed}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
html .hide{display:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
select::-ms-expand{display:none}
::-ms-check{display:none}
html .hide{display:none!important}
h1{font-size:18px;font-weight:500}
.c666{color:#666}
.c999{color:#999}
.corange{color:#ff611b}
.corange .ic-prev:after{color:#ff611b}
.cFC4E41{color:#FC4E41}
.cnight-orange{color:#FF9934}
.cred{color:#E44444!important}
.cgreen{color:#91d22b}
.ui-bottom{overflow:hidden!important}
.ui-tr{text-align:right}
.ui-tl{text-align:left}
.ui-tc{text-align:center}
.fl{float:left}
.fr{float:right}
.bgfff{background:#fff}
.bggray{background:#f5f5f5!important}
.mt0{margin-top:0!important}
.mb0{margin-bottom:0!important}
.mt20{margin-top:10px!important}
.pr0{padding-right:0!important}
.pt92{padding-top:44px!important}
.bg-pale-orange{background:#fde7e0}
.bg-whilte{background:#fff}
.fixed{position:fixed!important;width:100%;max-width:750px;z-index:1000;top:3.6rem!important}
.line{display:inline-block;height:10px;width:1px;margin:0 5px;vertical-align:middle;background:#d8d8d8}
@font-face{font-family:fdd;src:url(../fonts/fang.eot?v5.5);src:url(../fonts/fang.eot?v5.5#iefix) format("embedded-opentype"),url(../fonts/fang.woff?v5.5) format("woff"),url(../fonts/fang.ttf?v5.5) format("truetype"),url(../fonts/fang.svg?v5.5) format("svg")}
.consultant .introduce:after,.consultant .introduce:before,.details-info .address:before,.details-info .new .more-link:after,.fdd,.home .news .content:before,.ui-box-hd-link:before,.ui-check:checked+.checkbox-status:after,.ui-form-link:before,.ui-link:before,.ui-list-link li:before,.ui-radio-s:checked+.radiobox-s-status:after,.ui-txt-link span:before,[class*=" ic-"],[class^=ic-],input[type=checkbox]:checked+.radiobox-status:after{font-family:fdd!important;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block}
.details-info .address:before,.details-info .new .more-link:after,.home .news .content:before,.ui-box-hd-link:before,.ui-form-link:before,.ui-link:before,.ui-list-link li:before,.ui-txt-link span:before{position:absolute;right:8px;top:50%;content:"\f050";color:#999;-webkit-transform:rotate(-180deg) translateY(50%);transform:rotate(-180deg) translateY(50%);font-size:11px}
.ic-return:after{content:"\f050";color:#454545;margin-right:12px;font-size:21px}
.ic-share:after{content:"\2004";color:#454545;font-size:22px}
.ic-person:after{content:"\f048";color:#454545;font-size:21px}
.ic-download:after{content:"\f04a";color:#ff611b;font-size:21px}
.ic-phone:after{content:"\f052";color:#ff611b;font-size:20px}
.ic-d-notice:after{content:"\f03a";color:#ff611b;font-size:21px}
.ic-close:after{content:"\f056";font-size:19px}
.ic-bor-close:after{content:"\f071";font-size:19px}
.ic-search-close:after{content:"\f070";color:#999;font-size:19px}
.ic-sucess:after{content:"\2000";color:#80CA27;font-size:60px;line-height:1}
.ic-fail:after{content:"\f058";color:#D8D8D8;font-size:21px}
.ic-search:after{content:"\f04b";color:#666;font-size:21px}
.ic-help:after{content:"\f055";color:#999;font-size:18px}
.ic-quan:after{content:"\f060";color:#fff;font-size:18px}
.ic-video:after{content:"\f049";color:#fff;font-size:18px}
.ic-slideup:after{position:absolute;right:7px;top:15px;content:"\f050";color:#999;-webkit-transform:rotate(-90deg) translateY(50%);transform:rotate(-90deg) translateY(50%);font-size:10px}
.ic-slidedown:after{position:absolute;right:-4px;top:15px;content:"\f050";color:#999;-webkit-transform:rotate(90deg) translateY(50%);transform:rotate(90deg) translateY(50%);font-size:10px}
.ic-lp:after{content:"\f061";color:#999;font-size:16px}
.ic-address:after{content:"\f062";color:#999;font-size:14px}
.ic-notice-dyn:after{content:"\f072";color:#ff611b;font-size:21px}
.ic-notice-open:after{content:"\2005";color:#ff611b;font-size:21px}
.ic-notice-sale:after{content:"\2006";color:#08af3b;font-size:21px}
.ic-address-map:after{content:"\2007";color:#ff611b;font-size:21px}
.ic-car:after{content:"\200a";color:#fff;font-size:21px}
.ic-dai:after{content:"\202f";color:#fff;font-size:21px}
.ic-chou:after{content:"\f054";color:#fff;font-size:21px}
.ic-follow:after{content:"\f04d";font-size:21px}
.ic-follow-sucess:after{content:"\f039";font-size:21px}
.ic-calculator:after{content:"\f059";font-size:17px}
.ic-group:after{content:"\2008";color:#08af3b;font-size:21px}
.ic-voucher:after{content:"\f054";color:#08af3b;font-size:21px}
.ic-exit:after{content:"\f04c";color:#08af3b;font-size:21px}
.ic-map:after{content:"\f063";color:#ff611b;font-size:21px}
.ic-nav:after{content:"\f064";color:#454545;font-size:21px}
.ic-tight:after{content:"\f065";color:#999;font-size:19px}
.ic-loan:after{content:"\f066";color:#fff;font-size:21px}
.ic-file:after{content:"\f067";color:#999;font-size:21px}
.ic-right:after{content:"\f053";color:#999;font-size:21px}
.ic-home-lp:after{content:"\f068";color:#999;font-size:15px;line-height:1}
.ic-home-address:after{content:"\f069";color:#999;font-size:15px;line-height:1}
.ic-home-price:after{content:"\f06a";color:#999;font-size:15px;line-height:1}
.ic-home-house:after{content:"\f081";color:#999;font-size:15px;line-height:1}
.ic-next:after{content:"\f050";color:#999;font-size:11px}
.ic-prev:after{content:"\f073";color:#999;font-size:11px}
.ic-up:after{content:"\f075";color:#999;font-size:11px}
.ic-down:after{content:"\f074";color:#999;font-size:11px}
.ic-benefit:after{content:"\f077";color:#999;font-size:21px}
.ic-question:after{content:"\f076";color:#999;font-size:21px}
.ic-comment:after{content:"\f078";color:#999;font-size:21px}
.ic-return-top:after{content:"\f079";color:#fff;font-size:15px}
.ic-adviser:after{content:"\f080";color:#ff611b;font-size:30px}
.ic-message:after{content:"\f088";color:#fff;font-size:21px}
.ic-fdd:before{content:"\f091";color:#ff611b;font-size:21px}
.ic-alert:before{content:"\f094";color:#d8d8d8;font-size:12px}
.ic-heart:before{content:"\f095";color:#999;font-size:18px}
.consultant .introduce:after,.consultant .introduce:before,.ic-quote,.ic-quote-end{content:"\f096";color:#dedede;font-size:22px}
.consultant .introduce:after,.ic-quote-end{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.ic-time:after{content:"\f097";color:#f90;font-size:55px;line-height:1}
.ic-vip:after{content:"\f098";color:#666;font-size:15.5px;line-height:1}
.ic-filter:after{content:"\f099";color:#333;font-size:11px;line-height:1}
.ic-c-policy:after{content:"\f100";font-size:11px;line-height:1}
.ic-c-vip:after{content:"\f101";font-size:10px;line-height:1}
.ic-c-back:after{content:"\f102";font-size:11px;line-height:1}
.ic-photo:after{content:"\f103";font-size:16px}
.ic-date:after{content:"\f104";font-size:13px}
.ic-redbag:after{content:"\f105";font-size:18.5px;color:#FF991F;line-height:1}
.ic-s-price:after{content:"\f106";font-size:18px;line-height:1}
.ic-s-car:after{content:"\f107";font-size:17px;line-height:1}
.ic-s-back:after{content:"\f108";font-size:19px;line-height:1}
.ic-map-gj:after{content:"\f082";color:#999;font-size:25px}
.ic-map-dt:after{content:"\f083";color:#999;font-size:25px}
.ic-map-jy:after{content:"\f084";color:#999;font-size:25px}
.ic-map-yy:after{content:"\f085";color:#999;font-size:25px}
.ic-map-yh:after{content:"\f086";color:#999;font-size:25px}
.ic-map-gw:after{content:"\f087";color:#999;font-size:25px}
.ic-weibo:after{content:"\f089";color:#df4d69;font-size:25px;vertical-align:middle}
.ic-weixin:after{content:"\f090";color:#3eb135;font-size:25px;vertical-align:middle}

.select{position:relative}
.select .select-txt{max-width:50%;position:relative;display:inline-block;padding-right:25px}
.select .select-txt:after{content:'';display:inline-block;margin-top:-5px;position:absolute;right:0;top:50%;width:13px;height:13px;border-left:1px solid #454545;border-bottom:1px solid #454545;-webkit-transform:rotate(-45deg) translateY(-50%);transform:rotate(-45deg) translateY(-50%)}
.select .select-list{line-height:40px;font-size:14px;position:absolute;left:50%;margin-left:-75px;top:60px;width:150px;color:#fff;font-weight:400;background:rgba(0,0,0,.7);border-radius:4px}
.select .select-list ul{padding:0 15px;max-height:250px;overflow:hidden;overflow-y:auto}
.select .select-list li{border-bottom:1px solid rgba(255,255,255,.2)}
.select .select-list li:last-child{border:none}
.select .select-list .on{color:#F25824}
.select .select-list:after{content:'';position:absolute;top:-10px;left:50%;margin-left:-5px;border:5px solid transparent;border-bottom-color:rgba(0,0,0,.7)}
.ui-head-l{position:absolute;left:10px;top:0}
.ui-head-r{position:absolute;right:10px;top:0}
.ui-head-r a{margin-left:10px}
.ui-head .ui-search{overflow:hidden;-webkit-box-align:center;align-items:center;display:-webkit-box;display:flex;-webkit-box-flex:1;flex:1;position:relative;height:34px;margin-right:12px;background:#f2f2f2;border-radius:34px}
.ui-head .ui-search .inp-search{-webkit-box-flex:1;flex:1;padding:9px 0;vertical-align:middle;line-height:normal;background:0 0;font-size:14px!important}
.ui-head .ui-search .ic-search:after{font-size:17px;margin:0 10px}
.ui-head .city{position:relative;padding-right:15px;margin-right:13px;font-size:16px}
.ui-head .city:after{content:"";position:absolute;width:9px;height:9px;border-left:1px solid #333;border-top:1px solid #333;right:2px;top:14px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);-webkit-transition:color .25s ease 0s;transition:color .25s ease 0s}
.ui-main{padding:0 0 70px 0}
.ui-warp{position:relative;min-height:100%}
.tab-nav{background:#fff;display:-webkit-box;display:flex;text-align:center}
.tab-1 li,.tab-2 li,.tab-4 li,.tab-5 li{line-height:40px;height:40px;-webkit-box-flex:1;flex:1;position:relative;overflow:hidden}
.tab-1 li a,.tab-2 li a,.tab-4 li a,.tab-5 li a{color:#333;display:block;width:100%;height:100%}
.tab-1{font-size:15px}
.tab-1 .tab-nav li:after{border-left:1px solid #dadada;content:"";height:100%;left:0;position:absolute;top:0;-webkit-transform:scale(.5);transform:scale(.5)}
.tab-1 .tab-nav i{box-sizing:border-box;display:inline-block;padding-right:15px;position:relative;max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.tab-1 .tab-nav i:after{display:block;width:7px;height:7px;border-left:1px solid #eee;border-top:1px solid #eee;content:"";position:absolute;right:2px;top:14px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);-webkit-transition:color .25s ease 0s;transition:color .25s ease 0s}
.tab-1 .tab-nav .on{color:#ff611b}
.tab-1 .tab-nav .on i:after{top:18px;border-top-color:#ff611b;border-left-color:#ff611b;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.tab-1 .filter{display:-webkit-box;display:flex;text-align:center;font-size:12px;background:#FFF5EC}
.tab-1 .filter li{line-height:35px;height:35px;color:#666;-webkit-box-flex:1;flex:1}
.tab-1 .filter .on{color:#ff611b}
.tab-1 .filter .triangle{padding-right:12px;position:relative}
.tab-1 .filter .triangle:after,.tab-1 .filter .triangle:before{display:block;width:4px;height:4px;border-left:1px solid #eee;border-top:1px solid #eee;content:"";position:absolute;right:2px;top:5px;-webkit-transition:color .25s ease 0s;transition:color .25s ease 0s}
.tab-1 .filter .triangle:after{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.tab-1 .filter .triangle:before{top:7px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
.tab-1 .filter .up .triangle:after{border-top-color:#ff611b;border-left-color:#ff611b}
.tab-1 .filter .down .triangle:before{border-top-color:#ff611b;border-left-color:#ff611b}
.tab-2{font-size:16px}
.tab-2 li{line-height:50px;height:50px;overflow:initial}
.tab-2 a{color:#666}
.tab-2 .on a{color:#D32F2F}
.tab-2 .on:after{height:3px;background-color:#D32F2F}
.tab-3{padding:10px 30px;line-height:32px;text-align:center;color:#F25824}
.tab-3 ul{display:-webkit-box;display:flex;border-radius:3px;overflow:hidden}
.tab-3 ul:after{border-radius:5px;border-color:#F25824}
.tab-3 li{-webkit-box-flex:1;flex:1}
.tab-3 .on{background:#F25824;color:#fff}
.tab-4{font-size:14px}
.tab-4 .tab-nav{background-color:#fafafa}
.tab-4 .tab-nav .filter-item{width:45px;-webkit-box-flex:0;flex:none}
.tab-4 .tab-nav .filter-item:after{content:"";left:0;position:absolute;top:50%;width:1px;height:12px;margin-top:-6px;background-color:#dadada}
.tab-4 .tab-nav .filter-item i{padding-right:0}
.tab-4 .tab-nav .filter-item i:after{border:0}
.tab-4 .tab-nav i{box-sizing:border-box;display:inline-block;padding-right:15px;position:relative;max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.tab-4 .tab-nav i:after{content:"";position:absolute;right:2px;top:50%;width:0;height:0;overflow:hidden;margin-top:-2px;border-style:solid;border-width:4px 4px 0;border-color:#999 transparent transparent;-webkit-transition:-webkit-transform .3s ease-out;transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out}
.tab-4 .tab-nav .on{color:#ff611b}
.tab-4 .tab-nav .on i:after{border-top-color:#ff611b;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.tab-4 .tab-nav .on .ic-filter:after{color:inherit}
.tab-5{font-size:14px;border-color:#d8d8d8}
.tab-5.fixed{top:44px!important}
.tab-5:after{background-color:#d8d8d8}
.tab-5 li{line-height:40px;height:40px}
.tab-5 .on i{position:relative;display:inline-block;height:100%}
.tab-5 .on i:after{content:'';position:absolute;left:0;bottom:0;width:100%;height:3px;border-radius:1px;background-color:#ff611b}
.tab-5 .on a{color:#ff611b}

.ui-box{overflow:hidden;margin-top:10px}
.ui-box-other-hd{color:#666;padding:0 10px;background:#f8f8f8}
.ui-box-other{background:#f8f8f8;line-height:14px;border-top:1px solid #D8D8D8;text-align:center;height:30px;margin:30px 10px 0 10px;position:relative}
.ui-box-other span{position:absolute;left:50%;top:-8px;-webkit-transform:translateX(-50%);transform:translateX(-50%);display:inline-block;padding:0 15px;background:#f8f8f8}
.ui-box-hd{background:#fff;position:relative;padding:18px 10px;font-size:14px;line-height:20px}
.ui-box-hd:after{left:10px}
.ui-box-hd h2{font-size:16px;font-weight:500}
.ui-box-hd .ui-txt{position:absolute;right:10px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);font-size:14px;color:#999}
.ui-box-hd .ui-txt .ic-help:after{margin-left:5px;font-size:14px}
.ui-box-hd .ui-flex{padding-right:25px}
.ui-box-hd .ui-flex h2{-webkit-box-flex:1;flex:1}
.ui-box .fixed+.ui-box-bd{margin-top:30px}
.ui-box-bggray{font-size:14px;color:#999;background:#f5f5f5}
.ui-box-timetip{padding:0 10px;line-height:30px;font-size:13px;color:#999;background:#f5f5f5}
.ui-box-bd{background:#fff}
.ui-box-info{line-height:20px;padding:15px 10px 15px 10px}
.ui-box-ft{background:#fff}
.ui-list .ui-column{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;font-size:14px}
.ui-list h4{font-size:15px!important}
.ui-date{color:#999;font-size:12px;padding:5px 0 4px 0}
.ui-date .corange{padding-left:10px}
.ui-flex{width:100%;display:-webkit-box;display:flex}
.flex-1{-webkit-box-flex:1;flex:1}
.ui-list li{display:-webkit-box;display:flex;padding:14px 10px}
.ui-list li:after{left:10px}
.ui-list li:last-child{border:none}
.ui-list li:last-child:after{height:0}
.ui-list li.selected a{color:#ff611b}
.ui-list-info{display:-webkit-box;display:flex;-webkit-box-flex:1;flex:1;-webkit-box-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}
.ui-list-info .ui-txt{font-size:12px;color:#999}
.ui-list-info .num{padding-right:17px;color:#333}
.ui-list-info h4{font-size:15px!important}
.ui-list-info h4 .label-orange{margin-left:4px;vertical-align:middle}
.align-center{-webkit-box-align:center;align-items:center}
.ui-list-icon{margin-right:7px;background:#ccc;width:30px;height:30px;border-radius:50%;text-align:center;line-height:30px}
.ui-avatar{display:block;margin-right:7px;background:#ccc;width:40px;height:40px;border-radius:50%;overflow:hidden}
.ui-list-link h4,.ui-list-text h4{font-size:16px;-webkit-box-flex:1;flex:1}
.ui-list-link .c999,.ui-list-text .c999{font-size:15px}
.ui-list-link li{position:relative;padding-right:25px}
.ui-list-link li:active:not(.no-link){background:#eee}
.ui-list-link .no-link{padding-right:10px!important}
.ui-list-link .no-link:before{content:''}
.ui-link-txt{font-size:15px;color:#999}
.ui-list-hasicon li:after{left:48px}
.ui-list-hasicon .tuans-l{padding-right:50px}
.ui-link{position:relative}
.ui-link .ui-txt{position:absolute;right:27px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);font-size:14px;color:#999}
.ui-link .ui-txt strong{font-weight:400}
.ui-list-l{line-height:35px}
.ui-list-l h2{-webkit-box-flex:1;flex:1;font-size:17px}
.ui-list-l .corange{font-size:14px}
.ui-list-l .corange strong{font-size:20px}
.ui-txt-link{display:block;text-align:center;line-height:45px;color:#666}
.ui-txt-link span{display:inline-block;position:relative;padding-right:20px}
.ui-txt-link span:after{right:0}
.ui-txt-link em{color:#ff611b}
.ui-txt-orange-link{display:inline-block;line-height:1.5;color:#ff611b}
.ui-txt-orange-link span:before{color:#ff611b}
.ui-more{display:block;text-align:center;padding:11px 0 20px;color:#ff611b;font-size:14px}
.btn-warp{-webkit-box-flex:1;flex:1;padding:8px 10px;text-align:center}
.btn-warp-bggray{background:#F5F5F5}
.btn-disable-l,.btn-disable-m,.btn-disable-s,.btn-gray-bor-l,.btn-orange-bor-l,.btn-orange-bor-m,.btn-orange-bor-s,.btn-orange-l,.btn-orange-m,.btn-orange-s{display:inline-block;border-radius:4px;text-align:center;box-sizing:border-box;-webkit-transition:all .1s ease 0s;transition:all .1s ease 0s}
.btn-orange-l:visited,.btn-orange-m:visited,.btn-orange-s:visited{color:#fff}
.btn-disable-l,.btn-disable-m,.btn-disable-s{cursor:not-allowed}
.btn-disable-l:visited,.btn-disable-m:visited,.btn-disable-s:visited{color:#999}
.btn-orange-bor-l:visited,.btn-orange-bor-m:visited,.btn-orange-bor-s:visited{color:#ff611b}
.btn-disable-m,.btn-orange-bor-m,.btn-orange-m{width:70px;height:28px;line-height:28px;font-size:14px}
.btn-disable-s,.btn-orange-bor-s,.btn-orange-s{width:280px;height:40px;line-height:40px;font-size:15px}
.btn-disable-l,.btn-gray-bor-l,.btn-orange-bor-l,.btn-orange-l{display:block;line-height:44px;font-size:18px}
.btn-orange-bor-l,.btn-orange-bor-m,.btn-orange-bor-s{border-color:#ff611b;color:#ff611b}
.btn-orange-bor-l:after,.btn-orange-bor-m:after,.btn-orange-bor-s:after{border-color:#ff611b;border-radius:8px}
.btn-orange-bor-l:active,.btn-orange-bor-m:active,.btn-orange-bor-s:active{background:#ff611b;color:rgba(255,255,255,.3)}
.btn-orange-l{background:#D32F2F;color:#fff}
.btn-orange-s{color:#fff;background:#ff611b}
.btn-orange-m{background:#ff611b;color:#fff}
.btn-orange-ft{display:block;background:#ff611b;color:#fff!important}
.btn-orange-ft:active,.btn-orange-l:active,.btn-orange-m:active,.btn-orange-s:active{background:#D32F2F}
.btn-gray-bor-l{border-color:#666;color:#666}
.btn-gray-bor-l:after{border-color:#666;border-radius:8px}
.btn-disable-l,.btn-disable-m,.btn-disable-s{background:#F5F5F5;color:#999}
.btn-orange-ss{width:75px;height:22px;border-color:#FF9934;color:#FF9934!important;font-size:12px;text-align:center;line-height:22px;display:inline-block;border-radius:2px}
.btn-orange-ss:after{border-color:#FF9934;border-radius:4px}
.swiper-container{margin:0 auto;overflow:hidden;position:relative}
.swiper-wrapper{box-sizing:content-box;display:-webkit-box;display:flex;height:100%;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;width:100%}
.swiper-slide{flex-shrink:0;height:100%;position:relative;width:100%}
.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;flex-direction:column}
.ui-form{font-size:16px}
.ui-form textarea{display:block;width:100%;height:150px;font-size:14px!important;padding:10px 0}
.ui-form-box{margin-top:10px}
.ui-form .ui-unit{position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);color:#999}
.ui-form-agreement{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;padding:10px 0;line-height:15px}
.ui-form li{background:#fff;position:relative;padding:0 10px;display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;line-height:45px;min-height:45px}
.ui-form .ui-form-info{display:block;line-height:1.5;background:#F5F5F5;padding:10px;font-size:13px;color:#999}
.m-safe{font-size:13px;color:#999;display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center}
.ui-form .ui-form-info a{color:#6697CF}
.ui-form .ui-form-info .btn-orange-l{color:#fff}
.ui-form .ui-form-link{padding-right:19px}
.ui-form .ui-form-link select{position:absolute;right:0;top:0;text-align:right;height:43px;background:#fff;box-sizing:border-box;direction:rtl;max-width:70%}
.ui-form .ui-form-link select option{direction:ltr}
.ui-form .ui-label{position:absolute;left:10px;top:0;display:inline-block;min-width:75px;font-size:16px}
.ui-form-item{width:100%;height:43px;position:relative;padding-left:100px;overflow:hidden}
.ui-form-item .inp-l{padding-right:32px;width:100%}
.ui-form-item .inp-2{width:100%}
.ui-form-item .img-code,.ui-form-item .phone-code{position:absolute;right:0;top:8px;width:90px;font-size:14px;line-height:28px;text-align:center}
.ui-form-item .img-code img{width:100%}
.ui-form-item .phone-code{color:#ff611b;-webkit-transition:all .25s ease 0s;transition:all .25s ease 0s}
.ui-form-item .phone-code:after{border-color:#ff611b}
.ui-form-item .phone-code:active:not(.phone-disable-code){background:#ff611b;color:rgba(255,255,255,.3)}
.ui-form-item .phone-disable-code{color:#999}
.ui-form-item .phone-disable-code:after{border-color:#999}
.ui-checkbox{height:15px;margin-right:10px;position:relative;display:inline-block}
.ui-checkbox .checkbox-status{position:absolute;left:0;top:0;width:15px;height:15px;display:inline-block;background:#fff;border:none;position:relative;text-align:center}
.ui-checkbox .checkbox-status:after{content:'';position:absolute;box-sizing:border-box;pointer-events:none;left:0;top:0;width:200%;height:200%;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:left top;transform-origin:left top;border:1px solid #999;border-radius:4px}
.ui-checkbox input{position:absolute;left:0;top:0;z-index:1;width:15px;height:15px;background:0 0;-webkit-appearance:none;appearance:none;outline:0;margin-right:4px;vertical-align:middle;opacity:0}
.ui-check:checked+.checkbox-status:after{line-height:25px;content:"\f053";color:#999}
.ui-radiobox h4{position:relative;-webkit-box-flex:1;flex:1}
.ui-radiobox .ui-radio{opacity:0;position:absolute;left:0;top:0;z-index:1;width:100%;height:100%}
.ui-radio:checked+.radiobox-status{color:#D32F2F}
input[type=checkbox]:checked+.radiobox-status:after{position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);line-height:1.4;padding-left:2.5px;content:"\f053";color:#ff611b}
.ui-radiobox-s{margin-left:5px;display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;position:relative}
.ui-radiobox-s .ui-radio-s{opacity:0;position:absolute;left:0;top:0;width:100%;height:100%}
.ui-radiobox-s .radiobox-s-status{position:relative;border-radius:50%;margin-right:4px;width:20px;height:20px;display:inline-block;vertical-align:middle;border:1px solid #D8D8D8}
.ui-radiobox-s .radiobox-s-status:after{-webkit-transition:all .3s ease 0s;transition:all .3s ease 0s}
.ui-radio-s:checked+.radiobox-s-status{background:#D32F2F;border-color:#D32F2F}
.ui-radio-s:checked+.radiobox-s-status:after{font-size:15px;position:absolute;line-height:1.3;padding-left:2px;content:"\f053";color:#fff}
.loan-warp{padding-bottom:10px}
.loan-warp .my-items{padding:5px 12px 0 12px;color:#999}
.loan-result{padding:20px 0;font-size:13px}
.loan-result li{display:-webkit-box;display:flex;padding:0 10px;line-height:23px}
.loan-result li p{color:#666;-webkit-box-flex:1;flex:1}
.loan-result li .corange{font-size:18px}