body{background:#F1F3F5;}
.body_box{background:#F1F3F5;}


/*头部图片*/
.m_headImg_box{position:relative;width:100%;height:270px;}
.m_headImg_box .m_headImg_img{width:100%;height:100%;}

.m_headImg_ul{position:absolute;bottom:21%;right:10px;}
.m_headImg_ul_li{display: flex;justify-content: flex-end;}
.m_headImg_ul_li p{width:14%;height:30px;margin-right:5px;border: 2px solid #ffebeb;}
.m_headImg_ul_li p img{width:100%;height:100%;}




/*楼盘信息*/
.m_esdatav2_box{width:100%;margin:auto;position:relative;z-index:10;background:#FFF;padding:15px 15px;box-shadow:0px 2px 20px 0px rgba(202, 202, 202, 0.49);}

.m_esdatav2_title em{max-width:100%;font-size:1.3125rem;font-weight:600;color:#2F383F;display:block;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.m_esdatav2_title i{font-size:0.75rem;color:#88AFFF;padding:2px 6px;background:#F3F7FF;position:relative;top:4px;margin-left:5px;float:left;}
.m_esdatav2_title a{background:#FFF6F0;height:27px;line-height:27px;padding:0 10px;border-radius:50px;float:right;position:relative;right:5px;}
.m_esdatav2_title a img{width:17px;}
.m_esdatav2_title a span{font-size:0.75rem;color:#FB6F12;}

.m_esdatav2_style{margin-top:15px;}
.m_esdatav2_style i{font-size:0.625rem;color:#898989;padding:0 8px;background:#F8F8F8;margin-right:5px;height:20px;line-height:20px;display:block;float:left;}






.m_esdatav2_b{border-bottom:1px solid #E9E9E9;margin-top:5px;padding:10px 0 15px 0;}

.m_esdatav2_jg{border-bottom:1px solid #E9E9E9;padding-bottom:10px;}
.m_esdatav2_jg span{font-size:0.8125rem;color:#F9662D;}
.m_esdatav2_jg span i{font-size:1.3125rem;font-weight:600;margin-right:5px;}
.m_esdatav2_jg em{font-size:0.5rem;color:#888;margin-right:15px;}

.m_esdatav2_zk{margin:15px 0;}
.m_esdatav2_zk p:nth-child(1){font-size:0.625rem;color:#F9662D;border:1px solid #F9662D;float:left;padding:1px 8px;border-radius:3px;}
.m_esdatav2_zk p:nth-child(2){position:relative;max-width:56%;background:#F9662D;border-radius:3px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;height:18px;line-height:18px;float:left;margin-left:10px;margin-top:1px;padding:0 9px;font-size:0.625rem;color:#fff;}
.m_esdatav2_zk p:nth-child(2) .m_l{width:8px;height:8px;border-radius:50px;background:#FFF;position:absolute;top:5px;left:-4px;display:block;}
.m_esdatav2_zk p:nth-child(2) .m_r{width:8px;height:8px;border-radius:50px;background:#FFF;position:absolute;top:5px;right:-4px;display:block;}

.m_esdatav2_zk a{display:block;font-size:0.6875rem;color:#888;float:right;position:relative;top:3px;}
.m_esdatav2_zk a img{width:6px;position:relative;top:-1px;}

.m_esdatav2_dz{margin-top:10px;line-height:28px;height:28px;}
.m_esdatav2_dz span{font-size:0.8125rem;color:#9FA7AD;float:left;}
.m_esdatav2_dz i{font-size:0.8125rem;color:#43474D;margin-right:15px;display:block;max-width:60%;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.m_esdatav2_dz img{width:57px;height:26px;float:right;display:block;margin-right:10px;position:relative;right:5px;}

.m_esdatav2_dh{margin-top:20px;background:#FEF9F9;padding:10px 10px;}
.m_esdatav2_dhtext{width:81%;float:left;}
.m_esdatav2_dh span{font-size:0.8125rem;color:#39465F;font-weight:600;}
.m_esdatav2_dh span em{font-size:1.125rem;color:#39465F;font-weight:600;}
.m_esdatav2_dh i{display:block;font-size:0.625rem;color:#43474D;margin-top:8px;}


.m_esdatav2_dhimg{width:38px;height:38px;border-radius:50px;background:#FF7019;float:right;margin-top:5px;box-shadow:0px 0px 10px 0px #FF731E;position:relative;right:4px;
     background:-webkit-linear-gradient(top,#FF7019,#FF9648);             
                -moz-linear-gradient(top,#FF7019,#FF9648); 
                -o-linear-gradient(top,#FF7019,#FF9648); 
}
.m_esdatav2_dhimg img{width:25px;display:block;margin:auto;margin-top:6px;}

.m_esdatav2_bm{margin-top:20px;}

.m_esdatav2_bm a{width:50%;height:30px;display:block;text-align:center;line-height:30px;float:left;}
.m_esdatav2_bm a img{width:18px;height:18px;position:relative;top:-2px;}
.m_esdatav2_bm a span{font-size:0.9375rem;color:#7FA4F1;margin-left:3px;}

/*人气榜*/
.m_Popularity{width:95%;margin:auto;margin-top:10px;display:block;padding:10px 15px;border-radius:3px;
  background: linear-gradient(left, #F9E5B7, #ECD495);
  background: -webkit-linear-gradient(left, #F9E5B7, #ECD495);      左右渐变色
  background: -o-linear-gradient(left, #F9E5B7, #ECD495);
  background: -moz-linear-gradient(left, #F9E5B7, #ECD495);
}

.m_Popularity_l{float:left;height:25px;line-height:25px;}
.m_Popularity_l img{width:18px;position:relative;top:-2px;}
.m_Popularity_l span{font-size:1rem;color:#685429;margin-left:3px;}

.m_Popularity_r{float:left;height:25px;line-height:25px;margin-left:10px;}
.m_Popularity_r span{font-size:0.95rem;color:#685429;margin-right:10px;}
.m_Popularity_r span i{color:#C9961A;font-weight:600;}
.m_Popularity_r img{width:7px;position:relative;top:-1px;}

.m_Popularity_gd{float:right;height:25px;line-height:25px;}
.m_Popularity_gd span{font-size:0.8rem;color:#685429;margin-right:5px;}
.m_Popularity_gd img{width:7px;position:relative;top:-1px;}

/*户型*/
.m_lphomehx_main{width:95%;margin:auto;margin-top:10px;background:#FFF;padding:20px 10px;border-radius:5px;}
.m_lphome_h{font-size:1.125rem;color:#43474D;font-weight:600;}
.m_lphomehx_cent{ margin-top: 15px;}
/*轮播 三张*/
#m_lphomehx_cent li{width:44%;float: left;margin-right: 10px;margin-top: 10px;}
#m_lphomehx_cent li:last-child{margin-right:0;}
#m_lphomehx_cent li .m_tu{ width: 100%; height: 110px; position: relative;border:1px solid #E3E3E3;}
#m_lphomehx_cent li .m_tu .m_tuimg{ width:100%; height: 100%;}
#m_lphomehx_cent li .m_tu .m_tuimg img{ width:100%; height: 100%;}
#m_lphomehx_cent li .m_text{padding:8px;border: 1px solid #E3E3E3;border-top:0;}
#m_lphomehx_cent li .m_text .m_textjs{line-height:20px;height:20px;}
#m_lphomehx_cent li .m_text .m_textjs em{ font-size:0.875rem;color:#101D37;font-weight:600;display: block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent li .m_text .m_textjs i{ font-size:0.6875rem;color:#43474D;float:right;}
#m_lphomehx_cent li .m_text .m_textjm{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent li .m_text .m_textjm em{ font-size:0.6875rem;color:#101D37;display: block;width: 100%; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent li .m_text .m_textjm i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}
#m_lphomehx_cent li .m_text .m_textmj{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent li .m_text .m_textmj em{ font-size:0.6875rem;color:#101D37;display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent li .m_text .m_textmj i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}



/*户型一张图片*/ 
#m_lphomehx_cent1 li{width:100%;margin-right: 10px;margin-top: 10px;}
#m_lphomehx_cent1 li:last-child{margin-right:0;}
#m_lphomehx_cent1 li .m_tu{ width: 100%; height: 180px; position: relative;border:1px solid #E3E3E3;}
#m_lphomehx_cent1 li .m_tu .m_tuimg{ width:100%; height: 100%;}
#m_lphomehx_cent1 li .m_tu .m_tuimg img{ width:100%; height: 100%;}
#m_lphomehx_cent1 li .m_text{padding:8px;border: 1px solid #E3E3E3;border-top:0;}
#m_lphomehx_cent1 li .m_text .m_textjs{line-height:20px;height:20px;}
#m_lphomehx_cent1 li .m_text .m_textjs em{ font-size:0.875rem;color:#101D37;font-weight:600;display: block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent1 li .m_text .m_textjs i{ font-size:0.6875rem;color:#43474D;float:right;}
#m_lphomehx_cent1 li .m_text .m_textjm{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent1 li .m_text .m_textjm em{ font-size:0.6875rem;color:#101D37;display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent1 li .m_text .m_textjm span{ font-size:0.6875rem;color:#A8A8A8;float: right;}
#m_lphomehx_cent1 li .m_text .m_textjm span i{color:#101D37;float:left; padding-right: 5px;}
#m_lphomehx_cent1 li .m_text .m_textmj{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent1 li .m_text .m_textmj em{ font-size:0.6875rem;color:#101D37;display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent1 li .m_text .m_textmj i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}


/*户型两张图片*/ 

#m_lphomehx_cent2 li{width:48%;float: left;margin-right: 4%;margin-top: 10px;}
#m_lphomehx_cent2 li:last-child{margin-right:0;}
#m_lphomehx_cent2 li .m_tu{ width: 100%; height: 110px; position: relative;border:1px solid #E3E3E3;}
#m_lphomehx_cent2 li .m_tu .m_tuimg{ width:100%; height: 100%;}
#m_lphomehx_cent2 li .m_tu .m_tuimg img{ width:100%; height: 100%;}
#m_lphomehx_cent2 li .m_text{padding:8px;border: 1px solid #E3E3E3;border-top:0;}
#m_lphomehx_cent2 li .m_text .m_textjs{line-height:20px;height:20px;}
#m_lphomehx_cent2 li .m_text .m_textjs em{ font-size:0.875rem;color:#101D37;font-weight:600;display: block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent2 li .m_text .m_textjs i{ font-size:0.6875rem;color:#43474D;float:right;}
#m_lphomehx_cent2 li .m_text .m_textjm{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent2 li .m_text .m_textjm em{ font-size:0.6875rem;color:#101D37;display: block;width: 100%; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent2 li .m_text .m_textjm i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}
#m_lphomehx_cent2 li .m_text .m_textmj{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent2 li .m_text .m_textmj em{ font-size:0.6875rem;color:#101D37;display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent2 li .m_text .m_textmj i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}




.m_hotlP_gd{width:100%;height:30px;line-height:30px;margin:auto;background:#F5F8FE;text-align:center;margin-top:20px;}
.m_hotlP_gd a{font-size:0.875rem;color:#5477BB;display:block;}


/*楼盘详情*/
.m_details_box{width:100%;margin:auto;margin-top:10px;background:#FFF;padding:20px 10px;}
.y_lpjbxx_cent{ margin-top: 5px;border-bottom:1px solid #E9E9E9;padding-bottom:20px;}
.house-info{margin-top: 1.3125rem;overflow: hidden;}
.house-info li{width: 50%;float: left;padding-left: 2.8125rem;color: #869099;font-size: .9375rem;margin-bottom: 1.05rem;position: relative;line-height: 1.25rem;}
.house-info li.words3{padding-left: 3.75rem;}
.house-info li.words4{padding-left: 4.6875rem;}
.house-info li span{color: #3b4144;position: absolute;top:0;left: 0;}
.house-info li.full_w{width:100%;}
.house-info li.full_w a{display: block;}
.house-info li.sv{padding-left: 3.8125rem;}
.house-info li.sw{padding-left: 4.8125rem;}
.house-info li.sw i{margin-left: 5px;}
.house-info li a i.ads{display: inline-block;width: .625rem;height: .625rem;background: url(../img/icons.png) -1.125rem 0 no-repeat;background-size: 2.8125rem auto;margin-left: .625rem;vertical-align: top;}
.house-info li a.acheck{display: inline-block;color: #14be46;font-size: .9375rem;width: 5.325rem;text-align: right;background: url(../img/ellipsis_bg.png) 0 0 no-repeat;background-size: 5.325rem 1.5rem;position: absolute;right: 2rem;bottom: 0;}
.house-info li a.acheck:before{content: "...";color: #869099;position: absolute;left:1.625rem;bottom: 0;}
.house-info li a.acheck:after{content: "";display: block;width: 2rem;height: 100%;background: #fff;position: absolute;right: -2rem;bottom: 0;}
.house-info li a.acheck.unfold{position: static;width: auto;padding: 0 .5rem;}

/*免费咨询*/
.free-call{padding:1.25rem;background-color: #fff;margin-top: 10px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;margin-bottom: -1px;position: relative;}
.free-call .tel{
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 0.2rem;
	}
.free-call .txt{color: #3b4144;
    font-size: 0.750rem;

	}
.free-call .tel span {
    font-size: 0.750rem;
}
.free-call .call_btn{    
	width: auto;
    height: 2.125rem;
    color: #fff;
    border-radius: 0.125rem;
    display: block;
    text-align: center;
    line-height: 2.125rem;
    font-size: 1rem;
    position: absolute;
    right: 1.250rem;
    top: 50%;
    margin-top: -1.063rem;
    padding: 0 0.781rem;
    font-size: 0.875rem;}
.free-call .call_btn:before{content: "";width: .9375rem;height: .9375rem;display: inline-block;background: url(../img/tel3.gif) 0 0 no-repeat;background-size: 100% 100%;vertical-align: middle;margin-right: 0.3125rem;position: relative;top:-0.125rem;display: none;}
/*房源描述*/
.house-comment{width: 100%;margin: auto;margin-top: 10px;background: #FFF;padding: 20px 10px;}
.dianp{display: block;overflow: hidden;}
.dianp ul li{display: block;overflow: hidden;padding-bottom: 1.40625rem; border-bottom: 1px solid #e5e5e5;}
.dianp ul li.noline,.dianp ul li:last-child{border-bottom: none;padding-bottom:0;}
.house-comment .ct-head{position: relative;}
.house-comment .ct-head .p1{color: #3b4144;font-size: 1.125rem;font-weight: 700;}
.house-comment .ct-head .p2{color: #869099;font-size: .75rem;margin-top: .375rem;}
.house-comment .avatar-frame{width: 2.5rem;height: 2.5rem;border-radius: 50%;overflow: hidden;position: absolute;top:0;right: 0;}
.house-comment .ct-con{color: #3b4144;font-size: .9375rem;line-height: 1.5rem;margin-top: 1.3125rem;}
.avatar-frame img{width: 100%;position: absolute;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}


/*小区介绍*/
.xiaoqu-box{width: 100%;margin: auto;margin-top: 10px;background: #FFF;padding: 20px 10px;}

.xiaoqu-box .title {
	height: 2.4375rem;
	line-height: 2.4375rem;
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.125rem;
	font-weight: 700;
	background: #fff;
}
.xiaoqu-box .title a {
	font-size: 1.125rem;
	color: #43474D;
	font-weight: 600;
}
.xiaoqu-box .title a .title-remark {
	color: #869099;
	font-size: 0.75rem;
	font-weight: normal;
	float: right;
	margin-right: 1.375rem;
}
.xiaoqu-box .title a .title-remark:after {
	content: "";
	width: 0.438rem;
	height: 0.438rem;
	display: inline-block;
	border-right: 1px solid #869099;
	border-bottom: 1px solid #869099;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-left: 0.125rem;
	position: relative;
	top: -0.06rem;
}
.xiaoqu-box .title{border-bottom: none;}
.xiaoqu-box .subcon{position: relative;}
.xiaoqu-box .subcon .price{color: #f74a27;font-size: .9375rem;font-weight: 700;}
.xiaoqu-box .subcon .price span{color: #3b4144;}
.xiaoqu-box .subcon p{margin-top: .75rem;color: #3b4144;font-size: .75rem;}
.xiaoqu-box .subcon p:nth-child(2){margin-top: .9375rem;}
.xiaoqu-box .subcon p span{color: #869099;}
.xiaoqu-box .subcon .media{width: 7.125rem;height: 4.75rem;border-radius: .125rem;overflow: hidden;position: absolute;top:0;right: 1.25rem;background: #f0f0f0;}
.xiaoqu-box .subcon .media:before{content: "";width: 3.575rem;height: 0.55rem;display: block;background-size: 5.8rem auto;position: absolute;top:50%;left: 50%;margin-top: -.275rem;margin-left: -1.7875rem;}
.xiaoqu-box .subcon .media img{width: 100%;height: 100%;position: relative;}
/*优惠通知*/
.m_Discount_bm{width:95%;margin:auto;margin-top:10px;border-radius:3px;overflow:hidden;}
.m_Discount_bm img{width:100%;display:block;}



/*房屋配套*/
.m_espeitao {
	width:100%;margin:auto;margin-top:10px;background:#FFF;padding:10px 10px;}
.m_espeitao h3 {
    border-bottom: 1px #ddd solid;
    margin: 0;
}

.m_espeitao .title {
	height: 2.4375rem;
	line-height: 2.4375rem;
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.125rem;
	font-weight: 700;
	background: #fff;
}
.m_espeitao .title a {
	font-size: 1.125rem;
	color: #43474D;
	font-weight: 600;
}
.m_espeitao .title a .title-remark {
	color: #869099;
	font-size: 0.75rem;
	font-weight: normal;
	float: right;
	margin-right: 1.375rem;
}
.m_espeitao .title a .title-remark:after {
	content: "";
	width: 0.438rem;
	height: 0.438rem;
	display: inline-block;
	border-right: 1px solid #869099;
	border-bottom: 1px solid #869099;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-left: 0.125rem;
	position: relative;
	top: -0.06rem;
}
a.af-head {
    padding: .75rem 1rem;
    display: block;
    color: #666;
    font-size: 1.5rem;
}
.house-confi-point2 {
	padding: 1.25rem 0;
	height: auto;
	overflow: hidden;
}
.house-confi-point2 li {
    float: left;
    color: #686868;
    font-size: 1.5rem;
    width: 3.6rem;
    text-align: center;
    margin-bottom: .8rem;
    white-space: nowrap;
}
.house-confi-point2 li .ico_img{
	height: 2.5rem;
}
.house-confi-point2 li .ico_img img{
	height: 2.5rem;
}
.house-confi-point2 li p{
    font-size: 0.8rem;
}
/*动态通知*/
.y_lpyhtz{margin-top: 10px;width:100%;padding:15px 0;}
.y_lpyhtz_main{width:92%;margin:auto;}
.y_lpyhtz_main .y_lpyhtz_input{ padding-left:10px; width:66%; height:30px; font-size:0.6875rem; color: #666; border: none; border-radius:3px;}
.y_lpyhtz_main button{ height: 30px; line-height: 30px; width: 26%; display: inline-block; background:#FF6F53; margin-left: 2%; text-align: center; font-size:0.8125rem; color: #fff; border-radius:3px;border: none;}
.y_lpyhtz_main span{font-size:0.77rem;color:#434343;display:block;margin-top:10px;}
.y_lpyhtz_main span img{width:13px;position:relative;top:1px;float: left;margin-right:5px;}
@media screen and (min-width: 300px) and (max-width: 374px) {   
  .y_lpyhtz_main span{font-size:0.5rem;text-align:left;}
}

@media screen and (min-width: 414px){  
  .y_lpyhtz_main span{font-size:0.85rem;}
}
/*报名看房*/
.m_bmkf{width:100%;margin:auto;margin-top:10px;}
.m_bmkf img{width:100%;display:block;}

/*楼盘点评*/
.m_Comment_box{width:95%;margin:auto;margin-top:10px;background:#FFF;border-radius:5px;padding:20px 10px;}

.CommentList{margin-top:20px;}
.CommentList_main ul li .list_left{float: left; width: 45px; height: 45px; border-radius: 100%; overflow: hidden;}
.CommentList_main ul li .list_left img{width: 100%; height: 100%;}
.CommentList_main ul li .list_right{ position: relative; float: left; width: 83%; margin-left:2.5%;}
.CommentList_main ul li{ border-bottom: 1px solid #E9E9E9; padding-bottom: 20px; margin-bottom: 20px;}
.list_right .list_top{margin-top: 5px;}
.list_right .topList{ float: left;  width: 75%;}
.list_right .topList .telMain{ font-size: 1rem; color: #101D37; }
.list_right .topList .cemm_li{ margin-top: 5px;}
.list_right .topList .cemm_li span{ display: block; float: left; font-size: 0.752rem; color: #101D37;}
.list_right .topList .cemm_li span+span{ margin-left: 5px;}
.list_right .topList .cemm_li span i{ display: inline-block; color: #FE4A01; margin-left: 3px;}
.list_right .topRight{ position: absolute;right: 0px; top: 6px; width: 30%; text-align: right;}
.list_right .topRight p.fengshu{ font-size: 0.95rem; color: #FE4A01;}
.list_right .topRight p.xingon i{ width: 10px;height: 10px; display: inline-block;line-height: 13px; text-align: right;margin-right:3px;}
.list_right .topRight p.xingon i img{ width: 100%; height: 100%;}
.list_right .topRight p.xingon i+i{margin-left: 0px;}

.cemm_center{ margin-top: 13px;}
.cemm_center p{ font-size: 0.9rem; color: #101D37; line-height: 22px; }

.cemm_bottom{ margin-top: 10px;}
.cemm_bottom .date_sj{ float: left; font-size: 0.7rem; color: #A9A9A9;}
.cemm_bottom .dianz{ float: right;}
.cemm_bottom .dianz i{ display: inline-block; width: 13px; height: auto; margin-right: 3px;}
.cemm_bottom .dianz i img{ width: 100%; height: auto;}
.cemm_bottom .dianz span{ display: inline-block;  font-size: 0.85rem; color: #979797;}

.dianping_ap{margin-top: 30px;}
.dianping_ap a{display: block; height: 40px; line-height: 40px; width: 100%; text-align: center; font-size: 1.1rem; color: #FF8C52; border-radius: 50px; border:1px solid #FF8C52; background: #fff;}

/*媒体查询*/
@media only screen and (min-width: 320px) and (max-width: 374px){
  .CommentList_main ul li .list_right{ width:80%;}
  .list_right .topList{ width:100%;float:none;}
  .list_right .topRight{ width: 35%;position:static;text-align:left;margin-top:5px;}


  .m_esdatav2_dz i{max-width: 55%;}

  .m_esdatav2_title a{padding: 0px 5px;}

}





/*底部推荐*/
.m_information_box{width:95%;margin:auto;margin-top:30px;overflow:hidden;background:#FFF;}
.m_lpqh_box span{border-bottom:1px solid #f1f1f1;width:33.33%;display:block;float:left;height:40px;text-align:center;line-height:40px;font-size:1rem;color:#2F383F;font-weight:600;}
.m_lpqh_box span img{width:22px;position:relative;top:-10px;left:3px;}
.m_lpqh_box span.on{background:#F9F7F5;color:#B05637;border-bottom:1px solid #F9F7F5;}
.m_zx_lunbo_box{margin-top:35px;padding-bottom:10px;height:242px;}
.m_zx_lunbo{width:100%;}
.m_zx_lunbo ul{width:100%;}
.m_zx_lunbo ul li{float:left;width:70%;position:relative;top:16px;}
.m_zx_lunbo ul li .m_zx_lunbo_bj{display:block;width:100%;height:100%;position: absolute;top:0;z-index:20;}
.m_zx_lunbo ul li .m_zx_lunbo_img{width:100%;height:150px;border-radius:5px;overflow:hidden;position: relative;}
.m_zx_lunbo ul li .m_zx_lunbo_img:before {content:"";display:block;width:100%;height:100%;background:rgba(51, 51, 51, 0.5);position:absolute;top:0;left:0;}
.m_zx_lunbo ul li .m_zx_lunbo_img img{width:100%;height:100%;}

.m_zx_lunbo_text{width:93%;background:#FFF;padding:10px 15px;position:relative;z-index:10;margin:auto;margin-top:-37px;}
.m_zx_lunbo_text:before {content:"";display:block;width:100%;height:100%;background:rgba(51, 51, 51, 0.5);position:absolute;top:0;left:0;}
/*.m_zx_lunbo_text em{display:block;font-size:0.875rem;color:#2F383F;line-height:20px;font-weight:600;}*/
.m_lpqh_title{height:22px;line-height:22px;}
.m_lpqh_title em{max-width:64%;font-size:0.875rem;color:#2F383F;display:block;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; }
.m_lpqh_title span{font-size:0.5625rem;color:#88AFFF;background:#F3F7FF;padding:0 5px;display:block;height:22px;line-height:22px;margin-left:10px;float:left;}
.m_lpqh_title i{font-size:0.625rem;color:#9BA0AB;float:right;}

.m_zx_lunbo_b{margin-top:6px;}
.m_zx_lunbo_b em{font-size:0.5625rem;color:#F9662D;}
.m_zx_lunbo_b em i{font-size:0.875rem;font-weight:600;}
.m_zx_lunbo_b span{float:right;position:relative;top:3px;font-size:0.4375rem;color:#A8A8A8;}

.m_zx_lunbo .swiper-slide-active{     /*选中的效果*/
   position:relative;top:0;
   transition: all .4s;

}

.m_zx_lunbo .swiper-slide-active .m_zx_lunbo_img{     /*选中的效果*/
   height:183px;
   border-radius:0;
   transition: all .4s;
}

.m_zx_lunbo .swiper-slide-active .m_zx_lunbo_img:before {    /*选中的效果*/
	background:none;
	transition: all .4s;
}

.m_zx_lunbo .swiper-slide-active .m_zx_lunbo_text:before {    /*选中的效果*/
	background:none;
	box-shadow:0px 2px 4px 0px rgba(211, 209, 209, 0.438);
	   transition: all .4s;
}


.m_esdatav2_box .point-data{     padding: 1.25rem 0;
    font-size: 0;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    position: relative;
    margin-top: 15px;}
.m_esdatav2_box .point-data:before,.m_esdatav2_box .point-data:after{    content: "";
    border-top: 1px solid #e5e5e5;
    position: absolute;
    left: 1.25rem;
    right: 1.25rem;
    top: 0;}
.m_esdatav2_box .point-data:after{top:auto;bottom:0;}
.m_esdatav2_box .point-data .data-cell{width: 33.33%;display: inline-block;border-right: 1px solid #e5e5e5;padding-left: 1.25rem;}
.m_esdatav2_box .point-data .data-cell:last-child{border-right: none;}
.m_esdatav2_box .point-data .data-cell .lab{display: block;color: #3b4144;font-size: .75rem;}
.m_esdatav2_box .point-data .data-cell .num{display: block;color: #f74a27;font-size: 1.125rem;margin-top: .5rem;white-space: nowrap;font-weight: 700;}

.oneline,.twoline,.threeline,.fourline{overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;line-height: normal;}
.fourline{-webkit-line-clamp: 4;}
.threeline{-webkit-line-clamp: 3;}
.twoline{-webkit-line-clamp: 2;}
.fang-list{margin-top: 10px;background-color: #fff;padding-bottom: 1.25rem;}
.fang-list .title{height: 3.4375rem;line-height: 3.4375rem;padding: 0 1.25rem;font-size: 1.125rem;font-weight: 700;background: #fff;}
.fang-list .check-link-default{margin-left: 1.25rem;margin-right: 1.25rem;}
.flexbox{display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;}
.nloupan{background: #fff;padding: 0 1.25rem;}
.house-list li{padding:1.40625rem 0;border-bottom:1px solid #e5e5e5;position:relative;}
.house-list li:last-child{border-bottom:none;}
.house-list li .abox .media{width:7.125rem;height:4.75rem;position: relative;border-radius: .125rem;overflow: hidden;background: #f0f0f0;}
.house-list li .abox .media:before{content: "";width: 3.575rem;height: 0.55rem;display: block;background: url(../img/default.png) 0 0 no-repeat;background-size: 5.8rem auto;position: absolute;top:50%;left: 50%;margin-top: -.275rem;margin-left: -1.7875rem;}
.house-list li .abox .media img{width: 100%;height: 100%;position: relative;z-index: 1;}
.house-list li .abox .text{display: block;-webkit-box-flex: 1;-webkit-flex: 1;-moz-box-flex: 1;-ms-flex: 1;flex: 1;padding-left: 1.09375rem;overflow: hidden;}
.house-list li .abox .text-name{color:#3b4144;font-size:1rem;font-weight:700;line-height:1.3125rem;}
.house-list li .abox .text-name strong{width: 8rem;overflow: hidden;text-overflow:ellipsis; white-space:nowrap;display: inline-block;}
.house-list li .abox .text-name i{font-size: .6875rem;font-weight: normal;background-color: #e7f8ec;color: #14be46;border-radius: .125rem;height: 1rem;line-height: 1rem;padding:0 .25rem;display: inline-block;margin:5px 0 0 5px;vertical-align:top;}
.house-list li .abox .text-loc{color:#3b4144;font-size:.6875rem;margin-top: .25rem;}
.house-list li .abox .text-price{color:#869099;font-size:.75rem;margin-top:.25rem;font-weight:700; vertical-align:top;}
.house-list li .abox .text-price .avg{font-size:.6875rem;margin-left:.46875rem;font-weight: normal;}
.house-list li .abox .text-tags{margin-top:.375rem;font-size:0;line-height:100%;margin-bottom: -.25rem;}
.house-list li .abox .text-tags span{color:#869099;font-size:.6875rem;display:inline-block;padding:0 .21875rem;line-height:.9375rem;border:1px solid #e5e5e5;border-radius: .125rem;margin-right:.25rem;margin-bottom:.25rem;}
.check-more-default,.check-link-default,.btn-default{display: block;height: 2.75rem;line-height: 2.75rem;text-align: center;border-radius: .125rem;border: 1px solid #ff5200;background-color: #f1f3f5;color: #ff5200;font-size: .9375rem;}
.check-more-default:after,.check-link-default:after{content: "";width: .4375rem;height: .4375rem;display: inline-block;border-right: 1px solid #ff5200;border-bottom: 1px solid #ff5200;-webkit-transform: rotate(45deg);transform: rotate(45deg);margin-left: .375rem;vertical-align: text-top;position: relative;top:.25rem;}
.check-link-default:after{-webkit-transform: rotate(-45deg);transform: rotate(-45deg);vertical-align: middle;top: -.0625rem;margin-left: .1875rem;}
.check-more-default.fold:after{-webkit-transform: rotate(-135deg);transform: rotate(-135deg);vertical-align: middle;top:0;}

.fixed-btns{width: 100%;height: 3.75rem;position: fixed;left:0;bottom: 0;box-shadow: 0px -3px 5px 0px rgba(0,0,0,.06);font-size: 0;background-color: #fff;z-index: 99;}
.fixed-btns a{height: 100%;}
.fixed-btns a.btn-left{-webkit-box-flex: 9;-webkit-flex: 9;-ms-flex: 9;flex: 9;align-items:center;min-width: 0;}
.fixed-btns a.btn-left .avatar-frame,.xq-house-jjr .avatar-frame{width: 2.5rem;height: 2.5rem;border-radius: 50%;overflow: hidden;position: relative;margin-left: 1.25rem;}
.fixed-btns a.btn-left .text,.xq-house-jjr .text{margin-left: .625rem;-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;min-width: 0;}
.fixed-btns a.btn-left .text span{overflow: hidden;white-space: nowrap;text-overflow:ellipsis;display: block;}
.fixed-btns a.btn-left .text .name,.xq-house-jjr .text .name{color: #3b4144;font-size: .9375rem;font-weight: 700;}
.fixed-btns a.btn-left .text .shop,.xq-house-jjr .text .shop{color: #869099;font-size: .6875rem;margin-top: .3125rem;}
.fixed-btns a.btn-right{display: block;-webkit-box-flex: 11;-webkit-flex: 11;-ms-flex: 11;flex: 11;color: #fff;font-size: 1rem;font-weight: 700;text-align: center;line-height: 3.75rem;box-shadow: 0px -3px 5px 0px rgba(0,0,0,.1);}
.fixed-btns a.tel-call:before{content: "";width: 1.125rem;height: 1.125rem;display: inline-block;background: url(../img/icons.png) -3.09375rem -17.53125rem no-repeat;background-size: 4.21875rem auto;vertical-align: middle;margin-right: 0.625rem;position: relative;top:-.125rem;}
.fixed-btns a.btn-middle{display: block;-webkit-box-flex: 11;-webkit-flex: 11;-ms-flex: 11;flex: 11;background-color: #fff;color: #14be46;border-left: 1px solid #ddd;font-size: 1rem;font-weight: 700;text-align: center;line-height: 3.75rem;}
.fixed-btns a.online-talk:before{content: "";width: 1.125rem;height: 1.125rem;display: inline-block;background: url(../img/icons.png) -1.6875rem -9.0625rem no-repeat;background-size: 2.8125rem auto;vertical-align: middle;margin-right: 0.625rem;}
.fixed-btns-talk a.btn-left{-webkit-box-flex: 11;-webkit-flex: 11;-ms-flex: 11;flex: 11;}
.fixed-btns a.favor{-webkit-box-flex: 3;-webkit-flex: 3;-ms-flex: 3;flex: 3;color: #14be46;font-size: 0.6875rem;font-weight: 700;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;align-items:center;justify-content: center;flex-direction: column;}
.fixed-btns a.favor:before{content: "";width: 1.0rem;height: 0.875rem;display: block;background: url(../img/icons.png) -1.8125rem -10.5rem no-repeat;background-size: 2.8125rem auto;margin-bottom: 0.3125rem;}
.fixed-btns a.favor ~ a.btn-middle{-webkit-box-flex: 8;-webkit-flex: 8;-ms-flex: 8;flex: 8;}
.fixed-btns a.favor ~ a.orangeBg{background: #ff8827;line-height: 3.75rem; color: #fff;}
.fixed-btns a.xys{background:#f74a27; color:#fff;}