
body{background:#F4F4F4;}

.hu_nav{position:fixed;top:55px;z-index:100;}

.y_lphome_h2 {padding:4px 5px 4px 0px;background:url(../img/m_details01.png) no-repeat 0 0/ 100% 100%;width:80px;text-align:center;position:relative;right:10px;}
.y_lphome_h2 span{ font-size:0.9rem; color: #fff;font-weight:600;}
/*基本信息*/
.y_lpjbxx{ background: #fff;width: 100%;margin: auto;margin-bottom:10px;}

.y_lpjbxx_main{ margin: 0 10px;padding:15px 0;}


.y_lpjbxx_cent{ margin-top: 5px;}
.y_lpjbxx_cent ul li{font-size: 16px; color: #333; padding: 10px 0;}
.y_lpjbxx_cent ul li span{ color: #83868f; display: inline-block; float: left;}
.y_lpjbxx_cent ul li em{ display:  inline-block; width: 75%; float: left; color: #333;}
.y_lpjbxx_cent ul li.tese em i{ display: inline-block; font-size: 0.85rem;margin-right:5px;}
/*.y_lpjbxx_cent ul li.tese em i+i{ margin-left: 8px;}

.y_lpjbxx_cent ul li.tese em i:nth-child(1){ background: #EBF3FE; color:#638EC9;}
.y_lpjbxx_cent ul li.tese em i:nth-child(2){ background: #F8EAE6; color:#E3957E;}
.y_lpjbxx_cent ul li.tese em i:nth-child(3){ background: #E2F8E1; color:#75AB78;}
.y_lpjbxx_cent ul li.tese em i:nth-child(4){ background: #FFF3E2; color:#F9A321;}*/


/*.y_lpjbxx_cent ul li+li{ border-top: 1px solid #e4e3e3;}*/



.y_lpjbxx_cent ul li{ position: relative;}
.y_lpjbxx_cent ul li a.y_ckysz{ display: inline-block;font-size: 16px; color: #fb6537;}




.m_licence {
    position: relative;
    width: 95%;
    margin: 0 auto;
    background: #fff;
    border-radius:5px;
    padding:0 10px;
    margin-bottom:10px;
}

.m_licencemain {height:130px;overflow:hidden;;}
#m_licencemain{height:auto !important;}

.m_licence_zk{height:40px;line-height:40px;text-align:center;font-size:0.875rem;color:#ABABAB;}
.m_licence_zk img{width:10px;}

.m_licence_sq{height:40px;line-height:40px;text-align:center;font-size:0.875rem;color:#ABABAB;display:none;}
.m_licence_sq img{width:10px;transform:rotate(180deg);}

.m_licence table.m_tabtop13 {
    width: 100%;
    height: auto;
}
.m_licence table.m_tabtop13 tr {
    width: 100%;
}
.m_licence table.m_tabtop13 tr:nth-child(1){
	border-bottom:1px solid #f0f0f0;

}

.m_licence table.m_tabtop13 tr th {
    word-break: break-all;
    vertical-align: inherit;
    padding: 15px 0px;
    font-size: 0.9rem;
    color: #A77A5E;
    width: 33.3%;
    text-align: center;
}


.m_licence table.m_tabtop13 tr td {
    border-bottom: 1px solid #f0f0f0;
    word-break: break-all;
    padding: 15px 10px;
    background-color: #ffffff;
    vertical-align: inherit;
    font-size: 0.875rem;
    color: #27324A;
    width: 33.3%;
    text-align: center;
    max-height:82px;
}








/*媒体查询*/
@media (max-width: 320px){
.y_lpjbxx_cent ul li em{ width: 68%;}
.y_lpjbxx_cent ul li.tese em i+i{ margin-left: 5px;}
} 

