body{background:#F1F3F5;}
.body_box{background:#F1F3F5;}


/*楼盘首页导航*/
.xungua{position: fixed;left: 0px; top: 50px; z-index: 100;}
.y_lpindexnav{ background:#fff; width: 100%; display: none;box-shadow:0px 9px 20px 0px rgba(218, 218, 218, 0.38);}
.y_lpindexnav_main ul li{ float: left; width:20%; text-align: center; padding: 15px 0;}
.y_lpindexnav_main ul li a{ font-size:0.9375rem; color:#27324A; display: block;}
.y_lpindexnav_main ul li a i{ display:block; height: 4px; border-radius: 10px; width: 50%; margin: 0 auto; position: relative; top: 8px;}
.y_lpindexnav_main ul li.on a i{ background-color: #0075FF;}


/*头部图片*/
.m_headImg_box{position:relative;width:100%;height:270px;}
.m_headImg_box .m_headImg_img{width:100%;height:100%;}

.m_headImg_ul{position:absolute;bottom:21%;right:10px;}
.m_headImg_ul_li{display: flex;justify-content: flex-end;}
.m_headImg_ul_li p{width:14%;height:30px;margin-right:5px;border: 2px solid #ffebeb;}
.m_headImg_ul_li p img{width:100%;height:100%;}




/*楼盘信息*/
.m_lpdatav2_box{width:100%;margin:auto;position:relative;z-index:10;background:#FFF;padding:15px 15px;box-shadow:0px 2px 20px 0px rgba(202, 202, 202, 0.49);}

.m_lpdatav2_title em{max-width:55%;font-size:1.3125rem;font-weight:600;color:#2F383F;display:block;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.m_lpdatav2_title i{font-size:0.75rem;color:#88AFFF;padding:2px 6px;background:#F3F7FF;position:relative;top:4px;margin-left:5px;float:left;}
.m_lpdatav2_title a{background:#FFF6F0;height:27px;line-height:27px;padding:0 10px;border-radius:50px;float:right;position:relative;right:5px;}
.m_lpdatav2_title a img{width:17px;}
.m_lpdatav2_title a span{font-size:0.75rem;color:#FB6F12;}

.m_lpdatav2_style{margin-top:15px;}
.m_lpdatav2_style i{font-size:0.625rem;color:#898989;padding:0 8px;background:#F8F8F8;margin-right:5px;height:20px;line-height:20px;display:block;float:left;}


.m_lpdatav2_b{border-bottom:1px solid #E9E9E9;margin-top:5px;padding:10px 0 15px 0;}

.m_lpdatav2_jg{border-bottom:1px solid #E9E9E9;padding-bottom:10px;}
.m_lpdatav2_jg span{font-size:0.8125rem;color:#F9662D;}
.m_lpdatav2_jg span i{font-size:1.3125rem;font-weight:600;margin-right:5px;}
.m_lpdatav2_jg em{font-size:0.5rem;color:#888;margin-right:15px;}

.m_lpdatav2_zk{margin:15px 0;}
.m_lpdatav2_zk p:nth-child(1){font-size:0.625rem;color:#F9662D;border:1px solid #F9662D;float:left;padding:1px 8px;border-radius:3px;}
.m_lpdatav2_zk p:nth-child(2){position:relative;max-width:56%;background:#F9662D;border-radius:3px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;height:18px;line-height:18px;float:left;margin-left:10px;margin-top:1px;padding:0 9px;font-size:0.625rem;color:#fff;}
.m_lpdatav2_zk p:nth-child(2) .m_l{width:8px;height:8px;border-radius:50px;background:#FFF;position:absolute;top:5px;left:-4px;display:block;}
.m_lpdatav2_zk p:nth-child(2) .m_r{width:8px;height:8px;border-radius:50px;background:#FFF;position:absolute;top:5px;right:-4px;display:block;}

.m_lpdatav2_zk a{display:block;font-size:0.6875rem;color:#888;float:right;position:relative;top:3px;}
.m_lpdatav2_zk a img{width:6px;position:relative;top:-1px;}

.m_lpdatav2_dz{margin-top:10px;line-height:28px;height:28px;}
.m_lpdatav2_dz span{font-size:0.8125rem;color:#9FA7AD;float:left;}
.m_lpdatav2_dz i{font-size:0.8125rem;color:#43474D;margin-right:15px;display:block;max-width:60%;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.m_lpdatav2_dz img{width:57px;height:26px;float:right;display:block;margin-right:10px;position:relative;right:5px;}

.m_lpdatav2_dh{margin-top:20px;background:#FEF9F9;padding:10px 10px;}
.m_lpdatav2_dhtext{width:81%;float:left;}
.m_lpdatav2_dh span{font-size:0.8125rem;color:#39465F;font-weight:600;}
.m_lpdatav2_dh span em{font-size:1.125rem;color:#39465F;font-weight:600;}
.m_lpdatav2_dh i{display:block;font-size:0.625rem;color:#43474D;margin-top:8px;}


.m_lpdatav2_dhimg{width:38px;height:38px;border-radius:50px;background:#FF7019;float:right;margin-top:5px;box-shadow:0px 0px 10px 0px #FF731E;position:relative;right:4px;
     background:-webkit-linear-gradient(top,#FF7019,#FF9648);             
                -moz-linear-gradient(top,#FF7019,#FF9648); 
                -o-linear-gradient(top,#FF7019,#FF9648); 
}
.m_lpdatav2_dhimg img{width:25px;display:block;margin:auto;margin-top:6px;}

.m_lpdatav2_bm{margin-top:20px;}

.m_lpdatav2_bm a{width:50%;height:30px;display:block;text-align:center;line-height:30px;float:left;}
.m_lpdatav2_bm a img{width:18px;height:18px;position:relative;top:-2px;}
.m_lpdatav2_bm a span{font-size:0.9375rem;color:#7FA4F1;margin-left:3px;}

/*人气榜*/
.m_Popularity{width:95%;margin:auto;margin-top:10px;display:block;padding:10px 15px;border-radius:3px;
  background: linear-gradient(left, #F9E5B7, #ECD495);
  background: -webkit-linear-gradient(left, #F9E5B7, #ECD495);      左右渐变色
  background: -o-linear-gradient(left, #F9E5B7, #ECD495);
  background: -moz-linear-gradient(left, #F9E5B7, #ECD495);
}

.m_Popularity_l{float:left;height:25px;line-height:25px;}
.m_Popularity_l img{width:18px;position:relative;top:-2px;}
.m_Popularity_l span{font-size:1rem;color:#685429;margin-left:3px;}

.m_Popularity_r{float:left;height:25px;line-height:25px;margin-left:10px;}
.m_Popularity_r span{font-size:0.95rem;color:#685429;margin-right:10px;}
.m_Popularity_r span i{color:#C9961A;font-weight:600;}
.m_Popularity_r img{width:7px;position:relative;top:-1px;}

.m_Popularity_gd{float:right;height:25px;line-height:25px;}
.m_Popularity_gd span{font-size:0.8rem;color:#685429;margin-right:5px;}
.m_Popularity_gd img{width:7px;position:relative;top:-1px;}

/*户型*/
.m_lphomehx_main{width:95%;margin:auto;margin-top:10px;background:#FFF;padding:20px 10px;border-radius:5px;}
.m_lphome_h{font-size:1.125rem;color:#43474D;font-weight:600;}
.m_lphomehx_cent{ margin-top: 15px;}
/*轮播 三张*/
#m_lphomehx_cent li{width:44%;float: left;margin-right: 10px;margin-top: 10px;}
#m_lphomehx_cent li:last-child{margin-right:0;}
#m_lphomehx_cent li .m_tu{ width: 100%; height: 110px; position: relative;border:1px solid #E3E3E3;}
#m_lphomehx_cent li .m_tu .m_tuimg{ width:100%; height: 100%;}
#m_lphomehx_cent li .m_tu .m_tuimg img{ width:100%; height: 100%;}
#m_lphomehx_cent li .m_text{padding:8px;border: 1px solid #E3E3E3;border-top:0;}
#m_lphomehx_cent li .m_text .m_textjs{line-height:20px;height:20px;}
#m_lphomehx_cent li .m_text .m_textjs em{ font-size:0.875rem;color:#101D37;font-weight:600;display: block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent li .m_text .m_textjs i{ font-size:0.6875rem;color:#43474D;float:right;}
#m_lphomehx_cent li .m_text .m_textjm{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent li .m_text .m_textjm em{ font-size:0.6875rem;color:#101D37;display: block;width: 100%; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent li .m_text .m_textjm i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}
#m_lphomehx_cent li .m_text .m_textmj{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent li .m_text .m_textmj em{ font-size:0.6875rem;color:#101D37;display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent li .m_text .m_textmj i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}



/*户型一张图片*/ 
#m_lphomehx_cent1 li{width:100%;margin-right: 10px;margin-top: 10px;}
#m_lphomehx_cent1 li:last-child{margin-right:0;}
#m_lphomehx_cent1 li .m_tu{ width: 100%; height: 180px; position: relative;border:1px solid #E3E3E3;}
#m_lphomehx_cent1 li .m_tu .m_tuimg{ width:100%; height: 100%;}
#m_lphomehx_cent1 li .m_tu .m_tuimg img{ width:100%; height: 100%;}
#m_lphomehx_cent1 li .m_text{padding:8px;border: 1px solid #E3E3E3;border-top:0;}
#m_lphomehx_cent1 li .m_text .m_textjs{line-height:20px;height:20px;}
#m_lphomehx_cent1 li .m_text .m_textjs em{ font-size:0.875rem;color:#101D37;font-weight:600;display: block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent1 li .m_text .m_textjs i{ font-size:0.6875rem;color:#43474D;float:right;}
#m_lphomehx_cent1 li .m_text .m_textjm{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent1 li .m_text .m_textjm em{ font-size:0.6875rem;color:#101D37;display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent1 li .m_text .m_textjm span{ font-size:0.6875rem;color:#A8A8A8;float: right;}
#m_lphomehx_cent1 li .m_text .m_textjm span i{color:#101D37;float:left; padding-right: 5px;}
#m_lphomehx_cent1 li .m_text .m_textmj{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent1 li .m_text .m_textmj em{ font-size:0.6875rem;color:#101D37;display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent1 li .m_text .m_textmj i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}


/*户型两张图片*/ 

#m_lphomehx_cent2 li{width:48%;float: left;margin-right: 4%;margin-top: 10px;}
#m_lphomehx_cent2 li:last-child{margin-right:0;}
#m_lphomehx_cent2 li .m_tu{ width: 100%; height: 110px; position: relative;border:1px solid #E3E3E3;}
#m_lphomehx_cent2 li .m_tu .m_tuimg{ width:100%; height: 100%;}
#m_lphomehx_cent2 li .m_tu .m_tuimg img{ width:100%; height: 100%;}
#m_lphomehx_cent2 li .m_text{padding:8px;border: 1px solid #E3E3E3;border-top:0;}
#m_lphomehx_cent2 li .m_text .m_textjs{line-height:20px;height:20px;}
#m_lphomehx_cent2 li .m_text .m_textjs em{ font-size:0.875rem;color:#101D37;font-weight:600;display: block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent2 li .m_text .m_textjs i{ font-size:0.6875rem;color:#43474D;float:right;}
#m_lphomehx_cent2 li .m_text .m_textjm{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent2 li .m_text .m_textjm em{ font-size:0.6875rem;color:#101D37;display: block;width: 100%; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent2 li .m_text .m_textjm i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}
#m_lphomehx_cent2 li .m_text .m_textmj{margin-top: 5px;line-height:20px;height:20px;}
#m_lphomehx_cent2 li .m_text .m_textmj em{ font-size:0.6875rem;color:#101D37;display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left;}
#m_lphomehx_cent2 li .m_text .m_textmj i{ font-size:0.6875rem;color:#A8A8A8;float:left; padding-left: 5px;}




.m_hotlP_gd{width:100%;height:30px;line-height:30px;margin:auto;background:#F5F8FE;text-align:center;margin-top:20px;}
.m_hotlP_gd a{font-size:0.875rem;color:#5477BB;display:block;}


/*楼盘详情*/
.m_details_box{width:100%;margin:auto;margin-top:10px;background:#FFF;padding:15px 15px;}
.y_lpjbxx_cent{ margin-top: 5px;border-bottom:1px solid #E9E9E9;padding-bottom:20px;}
.y_lpjbxx_cent ul li{ font-size:0.8125rem;position: relative;margin-top:15px;}
.y_lpjbxx_cent ul li span{display: inline-block; float: left;color:#9BA0AB;}
.y_lpjbxx_cent ul li em{display: inline-block; float: left; width: 70%;color:#101D37;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.y_lpjbxx_cent ul li .y_ckysz{border:1px solid #F4AA7E;font-size:0.75rem; color:#FFA26A;padding:0px 9px;border-radius:50px;}
.y_lpjbxx_cent ul li.hide{ display: none;}


/*优惠通知*/
.m_Discount_bm{width:100%;margin:auto;margin-top:10px;overflow:hidden;}
.m_Discount_bm img{width:100%;display:block;}

/*楼盘动态*/
.m_dynamic_box{width:100%;margin:auto;margin-top:10px;background:#FFF;padding:15px 15px;}

.m_hotnews_list{margin-top:20px;}
.m_hotnews_list ul li+li{margin-top: 10px;}
.m_hotnews_list ul li{border-bottom:1px solid #E9E9E9;padding-bottom:15px;}
.m_hotnews_list ul li.style1 .m_style1_tu{ width:26%;height: 60px; float: left;}
.m_hotnews_list ul li.style1 .m_style1_tu img{width: 100%; height: 100%;}
.m_hotnews_list ul li.style1 .m_style1_text{float: left; width:70%; position: relative; left: 3%;height:60px;} 
.m_hotnews_list ul li.style1 .m_style1_text .m_title{ font-size:0.9375rem; color:#101D37; line-height: 20px;}
.m_hotnews_list ul li.style1 .m_style1_text .m_sjll{height:20px;line-height:20px;position:absolute;bottom:0;width:100%;}
.m_hotnews_list ul li.style1 .m_style1_text .m_sjll span{display: inline-block; font-size:0.5625rem; color:#A8A8A8;}
.m_hotnews_list ul li.style1 .m_style1_text .m_sjll span i{display: inline-block; width:13px; height: auto; position: relative;top:-2px; margin-right: 5px;}
.m_hotnews_list ul li.style1 .m_style1_text .m_sjll span i img{width:100%;}
.m_hotnews_list ul li.style1 .m_style1_text .m_sjll span.m_sj{float: right;}

/*动态通知*/
.y_lpyhtz{margin-top: 10px;width:100%;padding:15px 0;}
.y_lpyhtz_main{width:92%;margin:auto;}
.y_lpyhtz_main .y_lpyhtz_input{ padding-left:10px; width:66%; height:30px; font-size:0.6875rem; color: #666; border: none; border-radius:3px;}
.y_lpyhtz_main button{ height: 30px; line-height: 30px; width: 26%; display: inline-block; background:#FF6F53; margin-left: 2%; text-align: center; font-size:0.8125rem; color: #fff; border-radius:3px;border: none;}
.y_lpyhtz_main span{font-size:0.77rem;color:#434343;display:block;margin-top:10px;}
.y_lpyhtz_main span img{width:13px;position:relative;top:1px;float: left;margin-right:5px;}
@media screen and (min-width: 300px) and (max-width: 374px) {   
  .y_lpyhtz_main span{font-size:0.5rem;text-align:left;}
}

@media screen and (min-width: 414px){  
  .y_lpyhtz_main span{font-size:0.85rem;}
}
/*报名看房*/
.m_bmkf{width:95%;margin:auto;margin-top:10px;}
.m_bmkf img{width:100%;display:block;}

/*楼盘点评*/
.m_Comment_box{width:95%;margin:auto;margin-top:10px;background:#FFF;border-radius:5px;padding:20px 10px;}

.CommentList{margin-top:20px;}
.CommentList_main ul li .list_left{float: left; width: 45px; height: 45px; border-radius: 100%; overflow: hidden;}
.CommentList_main ul li .list_left img{width: 100%; height: 100%;}
.CommentList_main ul li .list_right{ position: relative; float: left; width: 83%; margin-left:2.5%;}
.CommentList_main ul li{ border-bottom: 1px solid #E9E9E9; padding-bottom: 20px; margin-bottom: 20px;}
.list_right .list_top{margin-top: 5px;}
.list_right .topList{ float: left;  width: 75%;}
.list_right .topList .telMain{ font-size: 1rem; color: #101D37; }
.list_right .topList .cemm_li{ margin-top: 5px;}
.list_right .topList .cemm_li span{ display: block; float: left; font-size: 0.752rem; color: #101D37;}
.list_right .topList .cemm_li span+span{ margin-left: 5px;}
.list_right .topList .cemm_li span i{ display: inline-block; color: #FE4A01; margin-left: 3px;}
.list_right .topRight{ position: absolute;right: 0px; top: 6px; width: 30%; text-align: right;}
.list_right .topRight p.fengshu{ font-size: 0.95rem; color: #FE4A01;}
.list_right .topRight p.xingon i{ width: 10px;height: 10px; display: inline-block;line-height: 13px; text-align: right;margin-right:3px;}
.list_right .topRight p.xingon i img{ width: 100%; height: 100%;}
.list_right .topRight p.xingon i+i{margin-left: 0px;}

.cemm_center{ margin-top: 13px;}
.cemm_center p{ font-size: 0.9rem; color: #101D37; line-height: 22px; }

.cemm_bottom{ margin-top: 10px;}
.cemm_bottom .date_sj{ float: left; font-size: 0.7rem; color: #A9A9A9;}
.cemm_bottom .dianz{ float: right;}
.cemm_bottom .dianz i{ display: inline-block; width: 13px; height: auto; margin-right: 3px;}
.cemm_bottom .dianz i img{ width: 100%; height: auto;}
.cemm_bottom .dianz span{ display: inline-block;  font-size: 0.85rem; color: #979797;}

.dianping_ap{margin-top: 30px;}
.dianping_ap a{display: block; height: 40px; line-height: 40px; width: 100%; text-align: center; font-size: 1.1rem; color: #FF8C52; border-radius: 50px; border:1px solid #FF8C52; background: #fff;}

/*媒体查询*/
@media only screen and (min-width: 320px) and (max-width: 374px){
  .CommentList_main ul li .list_right{ width:80%;}
  .list_right .topList{ width:100%;float:none;}
  .list_right .topRight{ width: 35%;position:static;text-align:left;margin-top:5px;}


  .m_lpdatav2_dz i{max-width: 55%;}

  .m_lpdatav2_title a{padding: 0px 5px;}

}





/*底部推荐*/
.m_information_box{width:100%;margin:auto;margin-top:30px;overflow:hidden;background:#FFF;}
.m_lpqh_box span{border-bottom:1px solid #f1f1f1;width:100%;display:block;float:left;height:40px;text-align:center;line-height:40px;font-size:1rem;color:#2F383F;font-weight:600;}
.m_lpqh_box span img{width:22px;position:relative;top:-10px;left:3px;}
.m_lpqh_box span.on{background:#F9F7F5;color:#B05637;border-bottom:1px solid #F9F7F5;}
.m_zx_lunbo_box{margin-top:35px;padding-bottom:10px;height:242px;}
.m_zx_lunbo{width:100%;}
.m_zx_lunbo ul{width:100%;}
.m_zx_lunbo ul li{float:left;width:70%;position:relative;top:16px;}
.m_zx_lunbo ul li .m_zx_lunbo_bj{display:block;width:100%;height:100%;position: absolute;top:0;z-index:20;}
.m_zx_lunbo ul li .m_zx_lunbo_img{width:100%;height:150px;border-radius:5px;overflow:hidden;position: relative;}
.m_zx_lunbo ul li .m_zx_lunbo_img:before {content:"";display:block;width:100%;height:100%;background:rgba(51, 51, 51, 0.5);position:absolute;top:0;left:0;}
.m_zx_lunbo ul li .m_zx_lunbo_img img{width:100%;height:100%;}

.m_zx_lunbo_text{width:93%;background:#FFF;padding:10px 15px;position:relative;z-index:10;margin:auto;margin-top:-37px;}
.m_zx_lunbo_text:before {content:"";display:block;width:100%;height:100%;background:rgba(51, 51, 51, 0.5);position:absolute;top:0;left:0;}
/*.m_zx_lunbo_text em{display:block;font-size:0.875rem;color:#2F383F;line-height:20px;font-weight:600;}*/
.m_lpqh_title{height:22px;line-height:22px;}
.m_lpqh_title em{max-width:64%;font-size:0.875rem;color:#2F383F;display:block;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; }
.m_lpqh_title span{font-size:0.5625rem;color:#88AFFF;background:#F3F7FF;padding:0 5px;display:block;height:22px;line-height:22px;margin-left:10px;float:left;}
.m_lpqh_title i{font-size:0.625rem;color:#9BA0AB;float:right;}

.m_zx_lunbo_b{margin-top:6px;}
.m_zx_lunbo_b em{font-size:0.5625rem;color:#F9662D;}
.m_zx_lunbo_b em i{font-size:0.875rem;font-weight:600;}
.m_zx_lunbo_b span{float:right;position:relative;top:3px;font-size:0.4375rem;color:#A8A8A8;}

.m_zx_lunbo .swiper-slide-active{     /*选中的效果*/
   position:relative;top:0;
   transition: all .4s;

}

.m_zx_lunbo .swiper-slide-active .m_zx_lunbo_img{     /*选中的效果*/
   height:183px;
   border-radius:0;
   transition: all .4s;
}

.m_zx_lunbo .swiper-slide-active .m_zx_lunbo_img:before {    /*选中的效果*/
	background:none;
	transition: all .4s;
}

.m_zx_lunbo .swiper-slide-active .m_zx_lunbo_text:before {    /*选中的效果*/
	background:none;
	box-shadow:0px 2px 4px 0px rgba(211, 209, 209, 0.438);
	   transition: all .4s;
}
